@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

div#nav{
    float: left;

}

header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.blackHeart {
    width: 20px;
    margin-right: 1rem;
  }

  nav {
    width: 600px;
  }
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
nav a {
    text-decoration: none;
    color: black;
}
.header2{
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}

#search-and-go{
  display: flex;
  
  
}
#logo-image{
  width: 50px;
  height: 16px;
  padding-top: 10px;
}

#glass{
  background-color: #f2f2f2;
  padding: 10px 4px 0px 16px;
}

#glass > img{
  width: 18px;
  height: 18px;
}

input{
  width: 600px;
  background-color: #f2f2f2;
  border-style: none;  
  padding: 10px 4px 0px 16px;
  font-family: "Fira Mono", "Andale Mono", "Consolas", monospace;

}

#search-field{
  background-color: #f2f2f2;
}

#search-go{
  background-color: rgb(226, 78, 78);
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;
  width: auto;
  border: 1px solid #f2f2f2;
}

#search-go > a{
  text-decoration: none;
}

span#search-go-text{
  color: white;
  font-weight: light;
}

#join-and-login{
  display: flex;
  justify-items: end;
}

#join > a{
  text-decoration: none;
  color: black;
}

#join {
  border: 1px solid #f2f2f2;
  padding: 4px 10px 4px 10px;
}

#login > a{
  text-decoration: none;
  color: black;
}

#login{
  padding: 4px 10px 4px 10px;

}

#sec1{
  height: 600px;
  background-color: rgba(232, 217, 217, .3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


}

h1{
  font-size: 80px;
  font-weight: 900;
}

p{
  width: 400px;
  text-align: center;
}

#call-to-action{
  display: flex;
  margin-top: 30px;
  padding-bottom: 60px;
}

#plans{
  background-color: #FB3B49;
  box-shadow: 8px 8px 0 rgba(251,59,73,.2);
  padding: 10px 50px; 
  margin-right: 20px;
}

#plans > a{
  text-decoration: none;
}

span#plans-text{
  color: white;
  font-weight: bold;
}

#join-for-free{
  background-color: white;
  padding: 10px 50px;
  margin-left: 20px;
}

#join-for-free > a{
  text-decoration: none;
}

span#join-for-free-text{
  color: black;
  font-weight: bold;
}


#sec2{
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#sec2 > img{
  height: 160px;
  margin-bottom: 50px;
}

h2{
  background-color: rgba(255,204,53,.4);
  transform: skew(9deg,0deg);
  font-style: italic;
  padding-left: 30px;
  padding-right: 30px;
}

p#tool{
  width: 600px;
}

#sec3{
  display: flex;
  justify-content: space-between;
  height: 600px;
  padding-left: 100px;
  padding-right: 100px;
}
#sec3_1,
#sec3_2,
#sec3_3,
#sec3_4  > img{
  width: 30px;
  height: 30px;
}

#sec3_1,
#sec3_2,
#sec3_3,
#sec3_4 > p{
  text-align: left;
}

#sec3_1,
#sec3_2,
#sec3_3,
#sec3_4{
  display:flex;
  flex-direction: column;
}




#sec3_1,
#sec3_2,
#sec3_3,
#sec3_4
 > h3{
  color:#FB3B49;
}

#sec4{
  display: flex;
  justify-content: center;
}

#create{
  font-size: 24px;
  background-color: black;
  box-shadow: 8px 8px 0 rgba(128,83,35,.2);
  color: white;
}