@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@100;300;700&display=swap");

html,
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    line-height: 3.5em;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto Condensed", sans-serif;
}

h1 {
    font-size: 9em;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-size: 5em;
    text-align: center;
    text-transform: uppercase;
    line-height: 4em;
}

h3 {
    font-size: 4.2em;
    text-align: center;
    line-height: 1em;
}

h4 {
    font-size: 1.5em;
    letter-spacing: 0.4px;
    line-height: 1em;
    margin-bottom: 14px;
}

h5 {
    font-size: 1.2em;
    line-height: 1em;
}

.nav-bar {
    background-color: rgb(25, 33, 41);
    padding: 14px 0;
}

.nav-bar a {
    color: #fff;
    text-decoration: none;
    font-size: 2em;
}

.nav-bar-ul {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

.nav-bar-ul li {
    list-style-type: none;
    text-align: center;
}

.header {
    background: url(https://s3-eu-west-1.amazonaws.com/ih-materials/uploads/ironhack-skydive-background.jpg) no-repeat 0 0 / cover;
    height: 650px;
    padding-top: 50px;
    position: relative;
}

.header h2 {
    color: #fff;
    text-shadow: #020819 8px -20px 9px;
}

.quote {
    font-size: 2.5em;
    position: absolute;
    left: 10%;
    bottom: 100px;
}

.dark-background {
    background-color: rgb(25, 33, 41);
    color: #fff;
}

.text {
    font-size: 2em;
    font-weight: 100;
    text-align: center;
    margin: 20px auto;
}

.link-btn {
    background-color: rgb(67, 163, 230);
    color: #fff;
    font-family: Roboto Condensed;
    font-size: 2em;
    letter-spacing: 0.5px;
    text-align: center;
    text-decoration: none;
    padding: 10px 30px;
}

.service-box {
    font-size: 1.7em;
    text-align: center;
    border: 2px of width, solid #eee;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px 0 #eee;
    margin: 50px 5% 0 5%;
    padding: 20px;
    width: 40%;
}

#general-information {
    display: flex;
    justify-content: space-evenly;
}

#general-information .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 370px;
}

.service-box img {
    width: 125px;
}

#structure>div {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

#team {
    padding: 75px 0;
    margin: 0 auto;
}

#team .section-text {
    font-size: 1.9em;
    text-align: center;
}

#team .member-name {
    font-size: 1.5em;
    font-weight: 700;
}

#team img {
    width: 250px;
    height: 180px;
}

#team p {
    width: 60%;
    margin: 10px auto;
}

#team hr {
    margin: 20px auto 30px auto;
    width: 40%;
}

#team>div {
    display: flex;
    justify-content: space-evenly;
}

#team>div>article {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.schedule-table {
    margin: 0 auto 40px auto;
    font-size: 1.5em;
}

.schedule-table th,
td {
    border-bottom: solid 1px #000;
    padding: 5px 10px;
    text-align: center;
}

.address {
    font-style: normal;
    font-size: 0.8em;
    margin-bottom: 30px;
}

.footer {
    text-align: center;
    font-size: 1.9em;
    padding: 40px 100px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer a {
    color: rgb(67, 163, 230);
    text-decoration: none;
}

.footer h5 {
    margin: 0 auto;
}

.map-frame {
    height: 375px;
    width: 60%;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 75px 0;
}

.slot-form-container {
    width: 40%;
    margin: 18px auto 0;
    auto;
    font-size: 1.5em;
    text-align: center;
}

.slot-form-container label {
    line-height: 15px;
    margin: 5px;
}

.slot-form-container input,
.slot-form-container select {
    height: 20px;
    outline: none;
    padding: 3px;
    width: 100%;
}

.slot-form-container button {
    border: 1px solid #000;
    color: #000;
    background-color: #fff;
    padding: 9px;
    margin-top: 15px;
}