@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  background-color: white;
  font-family: 'Poppins';

}

header>div {
  padding: 10px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;

}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

.blackHeart {
  width: 20px;
  margin-right: 1rem;
}

.logo1 {
  width: 60px;
  margin-right: 1rem;

}

form {
  display: flex;
  margin: 0;

}

form input {
  background-color: #f2f2f2;
}



div {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;



}



.box {
  width: 1200px;
  background-color: white;
  display: flex;



}

.icon {
  position: absolute;
  color: #777;
  width: 20px;
  padding-top: 12px;
  padding-left: 5px;

}

.box>input {
  flex: 1;
  height: 40px;
  border: none;
  outline: none;
  font-size: 20px;
  padding-left: 30px;
}

.box>button {
  background: red;
  font-size: 20px;
  border: 0;
  color: #fff;
  padding: 0 10px;
}




.section {
  text-align: center;
  padding-top: 100px;
}

.section h1 {
  font-size: 80px;

}

.section p {
  font-size: 20px;
  text-align: center;

}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f6f6f6;
}

.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}

.features .feat {
  padding: 20px;
  text-align: center;
}

.features .feat img {
  color: black;
  font-size: 35px;
}

.features .feat h3 {
  font-weight: 800px;
  margin: 30px 0;
}

.features .feat p {
  line-height: 1, 8;
  color: #777;
  font-size: 17px;
}