@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

:root {
    --brand-primary: rgb(248, 62, 78);
    --brand-primary-transparent: rgba(248, 62, 78, 0.2);
    --black: #000;
    --white: #fff;
    --yellow: #feebb8;
    --pink: #f8f4f4;
    --grey-light: #eaeaea;
    --grey-medium: #cfcfcf;
    --text-color: var(--black);

    --font-std: 'Poppins', sans-serif;
}

body {
  font-family: var(--font-std);
  margin: 0;
  padding: 0;
}


/*--- TYPOGRAPHY---*/

h1, h2, h3 {
    font-weight: bold;
    margin-top: 0;
    line-height: 1.1;
}

h1 {
    font-size: 6rem;
}

h2 {
    display: inline-block;
    font-size: 2.5rem;
    background: var(--yellow);
}

h3 {
    color: var(--brand-primary);
    line-height: 1.3;
}

.bg-pink {
    background-color: var(--pink);
}


/*--- HEADER---*/

header {
    box-shadow: 0 0 10px var(--grey-medium);
    position: relative;
}

header > div {
    display: flex;
    justify-content: space-between;
}

header .top {
    padding: 30px 30px 10px;
}

header .bottom {
    align-items: center;
    border-top: 1px solid var(--grey-light);
    padding: 5px 30px;
}

header form.search {
    display: flex;
    flex: 1 1 100%;
}

header form.search input[type="search"] {
    flex: 1 1;
    font-size: 0.9rem;
}

form.search button[type="submit"] {
    padding: 10px;
}

.pre {
    align-items: center;
    display: flex;
}

.pre .icon {
    margin: 0 30px 0 -6px;
}

/*--- LOGO ---*/

.logo {
    display: block;
    margin-right: 20px;
}


/*--- NAVS ---*/

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    color: var(--text-color);
    text-decoration: none;
}

nav a:hover,
nav a:focus,
nav a:visited {
    color: var(--brand-primary);
}


/*--- NAV MAIN---*/

#nav_main ul {
    font-size: 0.9rem;
    font-weight: 600;
    justify-content: space-between;
}

#nav_main a {
    padding: 0 0.5rem;
}

#nav_main li:last-child > a {
    padding-right: 0;
}


/*--- SECTIONS---*/

main > section {
    padding: 80px 100px;
    text-align: center;
}


/*--- BUTTONS---*/

button {
    font-family: var(--font-std);
}

[class^="btn"] {
    border: none;
    color: var(--text-color);
    cursor: pointer;
    padding: 20px;
    text-decoration: none;
}

main [class^="btn"] {
    font-weight: bold;
    padding: 20px 40px;
    min-width: 250px;
}

.btn-red {
    background-color: var(--brand-primary);
    color: var(--white);
}

main .btn-red {
    box-shadow: 10px 10px 0 var(--brand-primary-transparent);
    margin-right: 10px;
}

.btn-white {
    background-color: var(--white);
}

.btn-black {
    background-color: var(--black);
    color: var(--white);
}


/*--- FORMS ---*/

input {
    background-color: var(--grey-light);
    border: none;
    padding: 10px;
}

input[type="search"] {
    background: var(--grey-light) url(../img/icon-magnifying-glass.png) no-repeat 5px center;
    background-size: 20px 20px;
    font-family: monospace;
    padding: 0 0 0 30px;
}


/*--- TEASERS---*/

.teaser-group {
    display: flex;
    gap: 2rem;
    justify-content: space-around;
}

.teaser {
    text-align: left;
}

.teaser .icon {
    max-width: 30px;
    max-height: 30px;
}