@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    font-size: 16px;
}

header {
    box-shadow: 0 1px 4px #bbb;
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

nav {
    width: 600px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: black;
}

.blackHeart {
    width: 20px;
    margin-right: 1rem;
}

/*Mis códigos*/

.npm-logo {
    width: 50px;
    margin-right: 1rem;
}

form {
    display: flex;
    margin: 0.5rem 0;
    width: calc(100% - 220px);
}

form input {
    background-image: url("../images/magnifying-glass.png");
    background-color: #eeeeee;
    background-position: 10px center;
    background-size: 14px;
    background-repeat: no-repeat;
    border: 0 none;
    margin: 0;
    padding: 0 1rem 0 2rem;
    font-family: monospace;
    font-size: 0.7rem;
    line-height: 3;
    outline: none;
    width: calc(100% - 30px);
}

form button {
    font-family: 'Poppins', sans-serif;
    border: 0 none;
    background-color: #ff4444;
    color: white;
    font-size: 80%;
    margin: 0;
    cursor: pointer;
    outline: none;
}

.section1 {
    display: flex;
    justify-content: center;
    background-color: rgba(232, 217, 217, .3);
    height: 400px;
    align-items: center;
    flex-direction: column;
}

.section1 h1 {
    font-size: 4rem;
    margin: 0;

}

.section1 article {
    width: 400px;
    text-align: center;
    margin: 2rem 0;

}

.section1 .links {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.button {
    display: inline-block;
    width: 10rem;
    text-align: center;
    text-decoration: none;
    font-size: 80%;
    font-weight: bold;
    line-height: 3;
}

.button.red {
    background-color: #ff4444;
    color: white;
    box-shadow: 4px 4px 0 #ffbbbb;
}

.button.white {
    background-color: white;
    color: black;
}

.button-join {
    background-color: white;
    color: black;
    border: 1px solid black;
    display: inline-block;
    padding: 0.1rem 0.6rem;
    font-size: 80%;
    text-decoration: none;
    font-weight: bold;
}

a.login {
    text-decoration: none;
    color: black;
    font-size: 80%;
    font-weight: bold;
}

.section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section2 h1 {
    font-size: 2rem;
    background-color: #ffebb5;
    margin: 0;

}

.section2 article {
    width: 630px;
    text-align: center;
    margin-top: 40px;
    font-size: 0.8rem;

}

.hexagon {
    margin: 70px 0;
    height: 13rem
}

.section3 {
    display: flex;
    justify-content: space-around;
    margin-top: 130px;
    margin-right: 90px;
    margin-left: 90px;

}

.section3 h1 {
    color: #ff4444;
    margin: 8px 0;
    font-size: 0.9rem;
}
.section3 p {
    width: 250px;
    margin-top: 30px;
}
.section3 div {
    margin: 0 30px;
    align-items: baseline;
}
.icons {
    height: 1.6rem;
}
.links {
    display: flex;
    justify-content: center;
}
.button.black {
    width: 23rem;
    margin: 50px 0;
    line-height: 4;
    color: white;
    background-color: black;
    box-shadow: 5px 5px 0 #e5ddd4;
}