@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

h1{
    font-size: 80px;
}


header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }



  .begin-bar{
     background-color: #fff;
     padding: auto 32px auto;
     box-sizing: border-box;
     height: 3.5em;  
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
  }

  .npm-logo{
     width:80px;
     padding-left: 0;
     padding-right: 0;
     margin-right: 32px;
     margin-top: 16px;
     left:32px;
     top: 79px;
     bottom: 79px;
  }
  
  .search-box{
     background-color: rgb(198,190,238) transparent;
     box-sizing: border-box;
     padding-top: 1rem;
     padding-bottom: 1rem;
     display: flex;
     flex-direction:row;
     align-items: center;
  }

  .search-packages{
    display: flex;
    flex-direction:row;
  }

  .search-text{
     background-color: rgba(0,0,0,0.1);
     border: none ;
     text-align:left;
     font-size: 15px;
     width: 75em;
     height: 2em;
     padding-left: 3em;
  }

  .magnifing{
    width: 20px;
    position:absolute;
    margin-right: 1rem;
    padding-top: 8px;
    margin-left: 1rem;;
  }

 .search-button{
    background-color:#fb3e44 ;
    color:white;
    height: 2.3em;
    border: none;
 }

 .join{
    border:1px solid rgba(0,0,0,1);
    text-align: center;
    text-decoration: none;
    padding:0.3em 1em;
    font-size: 15px;
    color: rgba(0,0,0,1);
    margin-left: 2em;
    margin-right: 1em;    
 }

 .log-in{
    text-align: center;
    text-decoration: none;
    padding:0em 0.5em;
    font-size: 15px;
    color: rgba(0,0,0,1);
    margin-left: 0.5em;
 }



 #box1{
    height:500px;
    background-color: rgba(232,217,217,.3);
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
 }

 #box1 h1{
    margin-top: 54px;
    margin-bottom: 30px;

 }

 #box1 p{    
   text-align: center;
   width:440px;
   height: 72px;
   margin-top: 0;
   margin-bottom: 50px;
 }

 #box1 a{
   text-decoration: none;
   font-size: 15px;   
 }

 .box1-link1{
  color:#fff;
  border:none;
  background-color: #FB3B49;
  padding: 6px 30px;
  margin-right: 1em;
  box-shadow: 8px 8px 0 rgba(251,59,73,.2)
 } 

 .box1-link2{
  border:none;
  background-color: white;
  padding: 6px 30px;
  margin-left: 1em;
  color: black;
 }


 #box2{
  height:500px;
  display:flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
} 

#box2 img{
  height: 20%;
  width: 20%;
  margin-bottom: 50px;
}

#box2 h2{
  background-color: rgba(255,204,53,.4);
  font-style: italic;
  transform: skew(9deg,0deg);
  padding:3px 20px;
}

#box2 p{
  width:50%;
  text-align: center;
}


#box3{
  margin-left: 200px;
  margin-right: 200px;
  height:500px;
  display:flex;
  flex-direction: column;
  align-items: center;  
}

.pic{
  height: 15%;
  width: 15%;
}

.arti{
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.elem{
  height:200px;
  width: 180px;
  padding-left: 10px;
  margin-left: 12px;
  margin-right: 8px;
}

.elem p{
  font-size: 10px;
}

#box3 h4{
  color: #ED1C24;
}

#box3 a{
  text-decoration: none;
  font-size: 13px; 
  padding: 8px 80px;
  color: #fff;
  box-shadow: 8px 8px 0 rgba(128,83,35,.2);
  background-color: black;
  text-align: center;
}
