@import url('https://fonts.googleapis.com/css?family=Poppins');

/*
COLORS
nude-background: rgb(248, 244, 244);
red-color: rgb(251, 59, 73);
mark-text: rgb(255, 235, 181);
*/

body {
    margin: auto;
    padding: 0;
    font-family: 'Poppins';
    font-size: 12px;
    line-height: 3.5em;
    font-weight: 300;
    max-width: 1200px;

}

h1{
  font-size: 6em;
  text-align: center;
}

h3{
  font-size: 2.5em;
  letter-spacing: 0.4px;
  line-height: 1em;
  margin-bottom: 20px;

}

h5{
  font-size: 1.2em;
  line-height: 1em;
  margin-top: 0px;
  margin-bottom: 0px;
}

.button{
    text-decoration: none;
}

/*----------  HEADER ----------*/
.header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

/*---------- NAV HEADER ----------*/
.nav-bar {
    width: 600px;
}
  
.nav-bar-ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.nav-bar a {
    text-decoration: none;
    color: black;
}
  
.blackHeart {
    width: 20px;
    margin-right: 1rem;
}

/*---------- SEARCH HEADER ----------*/ 
.npm{
    width: 50px;
    margin-right: 2%;
}

.buttons-bar {
    width: 15%;
}
  
.buttons-bar-ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.buttons-bar a {
    text-decoration: none;
    color: black;
}

form{
    width: 80%;
    display: contents;
}

form input {
    padding: 10px;
    font-size: 1em;
    border: 0px;
    float: left;
    width: 80% ;
    background: #f2f2f2;
}
  
form button {
    float: left;
    width: 10%;
    padding: 10px 15px;
    background: #fb3b49;
    color: white;
    font-size: 1em;
    border: 0px;
    border-left: none;
}

/*---------- SECTION 1 ---------*/
#plans{
    background-color: rgb(248, 244, 244);
    margin: 0 auto;
    padding: 75px 0;
    text-align: center;
}

#plans article{
    width: 40%;
    margin: 20px auto 30px auto;
    line-height: 1.5em;
    font-size: 1.5em;
}

/*---------- SECTION 2 ---------*/
#information{
    text-align: center;
    padding: 75px 0 15px 0;
}

.triangle-hexagon{
    width: 200px;
}

#information article{
    width: 50%;
    margin: 20px auto 30px auto;
    line-height: 1.5em;
    font-size: 1.1em;
}
  

/*---------- SECTION 3 ---------*/
#organization{
    padding: 75px 0;
    margin: 0 auto;
}

#organization h5{
    font-size: 1em;
    color:  rgb(251, 59, 73);
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: 15px;
}
  
#organization img {
    width: 30px;
}

#organization > div{
    display: flex;
    justify-content: space-evenly;
  }

#organization > div > article {
    display: flex;
    justify-content: first baseline;
    flex-direction: column;
    padding: 0 20px;
  }

#organization > div > article >p {
    line-height: 2em;
    font-size: 1.1em;
}