@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins', sans-serif;
}

/* HEADER (main) */
header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* HEADER (first div): Icon, phrase and nav-bar*/
header .first-div {
    border-bottom: 1px solid lightgray;
    /* margin-bottom: 5px; */
}

.blackHeart {
    width: 20px;
    margin-right: 1rem;
}

nav {
    width: 600px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: smaller;
}

/* HEADER (second div): logo and search bar*/
header .second-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.npm-logo {
    position: relative;
    top: 10px;
    width: 70px;
}

/* Form */
header form {
    padding: 0;
}

.magnifying-glass-img {
    background-color: rgba(0,0,0,.05);
    box-sizing: border-box;
    height: 30px;
    padding: 5px;
    position: relative;
    left: 4px;
    top: 11px;
    width: 30px;
}

/* OJO: Revisar pseudo selector hover */
.search-bar {
    background-color: rgba(0,0,0,.05);
    border-width: 0px;
    box-sizing: border-box;
    height: 30px;
    margin: auto 0px;
    width: 1000px;
}

.search-button {
    background-color: #fb3e44;
    border-width: 0px;
    box-sizing: border-box;
    color: white;
    font-size: small;
    height: 30px;
    width: 60px;
    position: relative;
    right: 5px;
}

.login-link {
    color: grey;
    text-decoration: none;
    position: relative;
    top: 10px;
}

.join-link {
    border: 0.7px;
}




