/* all page */
@import url("https://fonts.googleapis.com/css?family=Poppins");

body {
  font-family: "Poppins";
  margin: 2vh 2vw;
}
.icono {
  max-height: 4rem;
}
img {
  max-width: 900px;
}

/* HEADER */
header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

header > div > div {
  display: inline-flex;
  margin: 0.5rem;
  height: 4rem;
  align-items: center;
  justify-content: center;
}
header > div > div img {
  height: 2vh;
}

header span {
  align-items: center;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
  letter-spacing: 0.015625em;
  font-weight: bolder;
  font-size: unset;
}

header > div > img {
  width: 8vw;
  padding: 0.5rem;
}

form {
  display: flex;
  background-color: rgba (0, 0, 0, 0.05);
}

form > input {
  background-image: url(../images/magnifying-glass.png);
  box-sizing: border-box;
  border: 2px solid lightgrey;
  border-radius: 4px;
  font-size: 1.5rem;
  background-color: rgba (0, 0, 0, 0.05);
  background-repeat: no-repeat;
  background-size: 4vh;
  text-indent: 47px;
  color: dimgrey;
  width: 70vw;
  height: 4vh;
}

form > button {
  background-color: #fb3e44;
  color: white;
  border: 2px solid #fb3e44;
  height: 4vh;
  font-size: larger;
}

.surHeader {
  justify-content: space-between;
}

.aJoinLogIn {
  width: 10vw;
  height: 4rem;
  align-items: center;
  justify-content: space-evenly;
}

div > a:first-child {
  margin-right: 1rem;
}

div > a {
  text-decoration: none;
  color: black;
  letter-spacing: 0.015625em;
  font-weight: bolder;
  font-size: unset;
  height: 1rem;
  padding: 1rem;
}

div > a:focus,
div > a:hover {
  transition: opacity 0.15s ease-in;
  border: 1px solid lightgrey;
}
/* MAIN */
