@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  #headerdiv2 {
    padding: 0;
    display: flex;
    justify-content: baseline;
  }

  nav {
    width: 600px;
    position: inherit;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }
  .logo {
    width: 60px;
  }
  .lupa {
    width: 15px;
  }

  .title {
    margin: 20px;
    font-size: 80px;
    font-weight: bold;
  }

  form {
    width: 80%;
    margin: 0%;
    padding: 0%;
  }

  form > input {
    width: 90%;
    height: 1.8rem;
    margin: 0;
    padding: 0;
  }

  form > button {
    height: 2.4rem;
    width: 7.5%;
    background-color: red;
    color: white;
    border: grey;
    margin: 0;
    padding: 0;
    font-size: large;
    font-weight: bold;
  }
.hexagono {
    margin: 40px;
    width: 240px;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

#section1 {
    margin-top: 120px;
    height: 600px;
    background-color: rgba(232,217,217,0.3)
    padding: 200px;
}

#section2 {
    margin: 160px 0px 290px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#section3 {
    background-color: rgb(255, 249, 249);;
}
.linkbutton {
    width: 80px;
    height: 40px;
    border: 2px solid rgba(110, 110, 110, 0.198);
    padding: 2px;
    background-color: rgba(255, 255, 255);
    color: grey;
    text-decoration: none;
    text-align: center;
    font-size: large;
  }

#containerdivlink {
    margin: 15px;
    padding: 15px;
    display: flex;
    justify-content: space-between; 
    width: 400px;
}

.containerlink {
    height: 40px;
    text-align: center;
    width: 180px;
    background-color: #FB3B49;
    border: 2px solid grey;
    text-shadow: 8px 8px 0 rgba(251,59,73,.2);
}

.containerlink:hover {
    background-color: rgb(249, 36, 36, 0.8);
    box-shadow: 5px 10px grey;
}

.linkrel {
    color: white;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
}

#sect2title2 {
    background-color: rgba(255,204,53,0.4);
    transform: skew(9deg,0deg);
    font-style: italic;
    font-size: xx-large;
    font-weight: bold;
}

#containersect2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 40px;
}

#divArticle1 {
    max-width: 600px;
}

.imglogo {
    width: 25px;
}

#containerlastsection {
    display: flex;
    justify-content: baseline;
}

.divlastsection {
    padding: 15px;    
}

#lastbutton {
    margin: 120px 0px 200px 0px;
    height: 60px;
    width: 200px;
    background-color: black;
    color: white;
    font-weight: bold;
    box-shadow: 8px 8px 0 rgba(128,83,35,.2);
    font-size: 20px;
}

h4 {
    color: #ED1C24;
}