@import url('https://fonts.googleapis.com/css?family=Poppins');


body{
  font-family: 'Poppins';
  padding:0 40px;
}

*{
  margin:0;
  padding:0;
}


/*header container*/
.header-container{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray; 
  align-items: center;
  padding: 30px 25px 15px 25px;
}

.header-container img{
  width: 20px;
  margin-right: 1rem;
}

nav{
  width: 600px;
}


nav ul{
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a{
  text-decoration: none;
  color:black;
}

/*header search-bar ontainer*/
.search-bar{
  display: flex;
  margin:10px 1.5%;
  text-align: center; 
}

.logo img{
  width:80px;
  height:28px;
  margin-top:8px;
}

.search{
  margin-left:20px;
  background-color: rgba(0,0,0,.05);
  height: 40px;
  position: relative;
}

.search img{
  width: 25px;
  height: 25px;
  position: absolute;
  top:7px;
  left:10px;
}

.search input{
  width: 860px;
  margin:0;
  height: 30px;
  border:none;
  background-color: rgba(0,0,0,.0) ;
  margin-left: 50px;
}

.search button{
  margin:0;
  height: 40px;
  width: 100px;
  border:none;
  background-color: #fb3e44;
  color:white;
}

.btn{
  margin:0;
  margin-left: 40px;
}

.btn button{
  margin-left: 5px;
  height: 40px;
}

.join{
  background-color: white;
  width: 75px;
}

.login{
  border:none;
  width: 75px;
  background-color: white;
}

/*Main info*/
#main-info{
  height: 600px;
  background-color: rgba(232,217,217,.3);
  text-align: center;
  border-top: 1px solid lightgray; 
}

#main-info h1{
  font-size:70px;
  font-weight:900;
  padding-top:150px;
}

#main-info p{
  padding:50px 0;
}

.see{
  background-color: #FB3B49;
  box-shadow: 8px 8px 0 rgba(251,59,73,.2);
  text-decoration: none;
  color:white;
  padding:15px 60px;
  margin-right: 50px;
}

 .main-join{
  padding:15px 60px;
  background-color: white;
  text-decoration: none;
  color:black;
}


/*about*/
#about{
  text-align: center;
}

#about img{
  width:300px;
  margin:80px 0;
}

#about h2{
  font-size:40px;
  background-color: rgba(255,204,53,.4);
  transform: skew(9deg,0deg);
  font-style: italic;
  width: 1000px;
  margin: 0 auto;
  margin-bottom:30px;
}


/*detail*/
.detail-container{
  display: flex;
  margin-top:80px;
  justify-content: space-evenly ;
}

article{
  width:18%;
}

article img{
  width:30px;
}

article h4{
  margin: 20px 0;
  color:#ED1C24;
}

#detail a{
  display: block;
  text-align: center;
  text-decoration: none;
  background-color: black;
  color:white;
  width:300px;
  padding:10px 20px;
  margin: 80px auto;
  box-shadow: 8px 8px 0 rgba(128,83,35,.2);
}
