/*colors
pale pink: rgb(248, 244, 244)
orange red: rgb(247, 59, 74)
yellow: rgb(253, 235, 181) */

/*general*/

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Poppins, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: grey;
}

.container {
    display: flex;
    align-items: baseline;
}


/*nav bar*/

.subtitle {
    font-family: 'Source Code Pro', monospace;
}

.nav-bar-ul {
    list-style: none;
    display: flex;
}

.nav-item {
    padding: 6px;
}

/*search bar*/

.logo-npm {
    margin-left: 40px;
    margin-right: 20px;
}

.search-bar {
    align-items: center;
    box-shadow: 5px 5px 9px gray;
}

.wrapper {
    position: relative;
    display: flex;
    width: 60vh;
  }
  
.search {
    border: none;
    height: 35px;
    width: 100%;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color: #f5f5f5;
  }
  
.search-icon {
    position: absolute;
    top: 10px;
    left: 8px;
    width: 14px;
  }
    

/*search bar buttons*/

.container .button-search {
    background-color:rgb(247, 59, 74);
    color: white;
    padding: 13px 25px;
    margin: 15px 10px 15px 0px;
}

.container button {
    border: none;
}

.container .button-join {
    padding: 13px 25px;
    margin: 15px 10px;
    border: 2px solid black;
    background-color: white;
}

.container .button-log {
    padding: 13px 25px;
    margin: 15px 10px;
    background-color: white;
}



/*header*/

.header {
    background-color: rgb(248, 244, 244);
    text-align: center;
    padding: 10%;
}

.header h1 {
    font-size: 5em;
}

.header .button-red {
    background-color:rgb(247, 59, 74);
    color: white;
    box-shadow: 5px 7px rgb(250, 189, 194);
}

.header button {
    padding: 15px 50px;
    border: none;
    font-size: 1.2em;
    text-emphasis: bold;
    margin: 10px;
}

.header .button-white {
    background-color: white;
    box-shadow: 0 8px 16px white;
}


/*section 1*/

.section1 {
    text-align: center;
    padding: 10%;
}

.section1 span {
    background-color: rgb(253, 235, 181);
    margin-top: 10%;
}

/*section 2*/

.section2 img {
    width: 15%;
}

.section2 h3 {
    color: red;
    text-emphasis: bold;
}

.section2 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: baseline;
    margin: 20px 80px;
}

.service {
    padding: 3%;
    width: 60%;
}


/* last button */

.last-section button {
    background-color: black;
    color: white;
    padding: 10px 110px;
    font-size: 1.5em;
    box-shadow: 5px 7px rgb(189, 188, 188);
}

.last-section {
    display: flex;
    justify-content: center;
    padding: 40px;
    font-size: 0.8em;
    text-emphasis: bold;
}


