
@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 6em;
    margin: 0;
    font-weight:bolder;
}

p{
    font-size: 1.5em;
}

header div {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

header .nav {
    border-bottom: 1px solid lightgray;
}
  
  nav {
    margin: 0 20px;
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }

  section {
      padding: 100px;
      height: 450px;
      background-color: rgba(232,217,217,.3);
  }


  #search-packages {
     width: 100%;
     margin: 8px 10px;
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     align-items: center;
     justify-content: space-between;
 } 

 #search-packages .search .search-bar-style{
     margin: 0 -5px;
     
 }


input.search-bar-style{
    font-size: 0.9em;
    text-indent: 20px;
    color:rgba(0,0,0,.05);
    border-style: none;
    height: 41px;
    width: 800px;
    background: #E5E7E9 url(/lab-html-exercise/images/magnifying-glass.png);
    padding: 0 20px;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position: 10px;
}

.search button {
padding: 0;
background-color: #fb3e44;
color: white;
border-style: none;
height: 40px;
width: 70px;
letter-spacing: 0.5px;
}

  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .logo {
      margin-top: 8px;
      margin-left: 15px;
      width: 70px;
  }


  .join{
      background-color: transparent;
      font-size: 0.9em;
      height: 30px;
      width: 60px;
      border-width: 1px;
      border-color: black;
  }

  .login{
    background-color: transparent;
    font-size: 0.9em;
    height: 20px;
    width: 60px;
    border-style: none;
    margin-right: 20px;
  }


#sec-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-items: center;
}

.art-1 p{
     width: 670px; 
     height: 150px;
     text-align: center;
  }

  .links {
      width: 600px;
      height: 200px;
      text-align: center;

  }

  .see{
    padding: 10px 50px; 
    margin: 0 15px;
    background-color: #fb3e44;
    color: white;
    font-size: 1.5em;
    text-decoration: none;
    box-shadow: 5px 5px #F5B7B1;
  }

  .free{
    padding: 10px 50px;
    margin: 0 15px;
    background-color: white;
    color: black;
    font-size: 1.5em;
    font-weight:bolder;
    text-decoration:none;
  }



@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 6em;
    margin: 0;
    font-weight:bolder;
}

p{
    font-size: 1.5em;
}

header div {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

header .nav {
    border-bottom: 1px solid lightgray;
}
  
  nav {
    margin: 0 20px;
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }

  section {
      padding: 100px;
      height: 450px;
      background-color: rgba(232,217,217,.3);
  }


  #search-packages {
     width: 100%;
     margin: 8px 10px;
     display: flex;
     flex-direction: row;
     flex-wrap: nowrap;
     align-items: center;
     justify-content: space-between;
 } 

 #search-packages .search .search-bar-style{
     margin: 0 -5px;
     
 }


input.search-bar-style{
    font-size: 0.9em;
    text-indent: 20px;
    color:rgba(0,0,0,.05);
    border-style: none;
    height: 41px;
    width: 800px;
    background: #E5E7E9 url(/lab-html-exercise/images/magnifying-glass.png);
    padding: 0 20px;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position: 10px;
}

.search button {
padding: 0;
background-color: #fb3e44;
color: white;
border-style: none;
height: 40px;
width: 70px;
letter-spacing: 0.5px;
}

  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .logo {
      margin-top: 8px;
      margin-left: 15px;
      width: 70px;
  }


  .join{
      background-color: transparent;
      font-size: 0.9em;
      height: 30px;
      width: 60px;
      border-width: 1px;
      border-color: black;
  }

  .login{
    background-color: transparent;
    font-size: 0.9em;
    height: 20px;
    width: 60px;
    border-style: none;
    margin-right: 20px;
  }


#sec-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-items: center;
}

.art-1 p{
     width: 670px; 
     height: 150px;
     text-align: center;
  }

  .links {
      width: 600px;
      height: 200px;
      text-align: center;

  }

  .see{
    padding: 10px 50px; 
    margin: 0 15px;
    background-color: #fb3e44;
    color: white;
    font-size: 1.5em;
    text-decoration: none;
    box-shadow: 5px 5px #F5B7B1;
  }

  .free{
    padding: 10px 50px;
    margin: 0 15px;
    background-color: white;
    color: black;
    font-size: 1.5em;
    font-weight:bolder;
    text-decoration:none;
  }



