 @import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }
 
  form input {
    color: rgba(0,0,0,.05);
  }
 form label {
    color: rgba(0,0,0,.05);
 }

  form button {
    background-color: #fb3e44;
    color: white;
  }

  .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logo {
    width: 150px;
    height: auto;
  }

 #first-section {
    text-align: center;
    height: 600px;
    background-color: rgba(232,217,217,.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
 }


#second-section {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    direction: ltr;
}
 .section_logo {
width: 200px;
height: 200px;
padding: 50px;
}

 #second-section header{
    background-color: rgba(255,204,53,.4);
    transform: skew(9deg,0deg);
    font-style: italic;
 }

 #third-section {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction:row;
    padding: 50px;
    margin: 50px 50px 50px;
 }
#third-section header{
    color:#ED1C24 ;
}

 .third-section-photo {
    width: 50px;
    height: 50px;
    padding-right: 100px;
 }
 
  .search-form {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 75%;
    margin-bottom: 0px;
  }
  
  .search-input-container {
    position: relative;
    width: 100%;
  }
  
  .search-input {
    width: 100%;
    padding: 10px;
    padding-left: 40px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    width: 20px;
    height: 20px;
  }
  
  .search-submit {
    padding: 10px 20px;
    background-color: #FB3B49;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
  
  .search-submit:hover {
    background-color: #fff;
    color: #FB3B49;
  }  
  .search-submit:hover {
    background-color: #fff;
    color: #FB3B49;
  }

  .auth-buttons-container {
    display: flex;
    align-items: center;
  }
  
  .create-btn-div{
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .create-btn {
    box-shadow: 8px 8px 0 rgba(128,83,35,.2);
    padding: 10px 20px;
  background-color: black;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 10px 20px;
  margin-bottom: 40px;
 }
 .create-btn:hover {
    background-color: white;
    color: black;
  }
  .sign-in-button,
  .sign-up-button {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #FB3B49;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
  
  .sign-in-button:hover,
  .sign-up-button:hover {
    background-color: #fff;
    color: #FB3B49;
  }
  .cta-buttons-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .see-plans-button,
  .join-for-free-button {
    padding: 10px 20px;
    background-color: #FB3B49;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin: 15px;
  }
  
  .see-plans-button:hover,
  .join-for-free-button:hover {
    background-color: #fff;
    color: #FB3B49;
   
  }