@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
  font-family: 'Poppins';
}
.flex {
    display: flex;
}
.white {
    color: white;
}
header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
} 
nav {
    width: 600px;
}  
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a {
    text-decoration: none;
    color: black;
}
.padding-div {
    padding: 15px 15px;
}
.btn-sign {
    padding: 15px;
    text-decoration: none;
    color: black;
}
.a-section {
    box-shadow: 0px 10px 30px rgb(0 0 0 / 40%);
    font-family: Poppins,sans-serif;
    padding: 23px 40px 23px 40px;
    font-weight: 700;
    border-radius: 50px;
    box-sizing: border-box;
    text-decoration: none;
}
#signup-section {
    background: #FFC329;
    color: #000000;
}
#learnabout-section {
    background: #ff5b29;
    color: white;
    margin-left: 40px;
    border: 1px solid white;
}
.footer-columns {
    width: 30%;
}
.ul-footer {
    list-style-type: none;
    padding-left: 0;
}
/* IMAGES */
#black-heart {
    width: 30px;
    margin-right: 1rem;
}
#npm-logo {
    width: 80px;
    margin-right: 1rem;
}
#search-glass {
    /*width: 30px;*/
}
