@import url('https://fonts.googleapis.com/css?family=Poppins');
body {
  font-family: 'Poppins';
}
body {
    background-color: rgb(250, 244, 244);
  }
  header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }

  .topnav {
    overflow: hidden;
    background-color: #e9e9e9;
  }



  input[type=button], input[type=submit], input[type=reset] {
    background-color: rgba(0,0,0,.05)


  }

  /* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: rgba(0,0,0,.05);
}

/* Style the submit button */
form.example button {
  width: 20%;
  padding: 10px;
  background: #fb3e44;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

h2 {
  background-color: rgb(208, 255, 0);
  align-self: center;
}

h1{
  font-size: 40px;
  font-weight: bold;
}

.linha{
  display: flex;
  flex-flow: row wrap;
  }
  
.coluna-25 {
  width: 25%;
}

.centro{
  text-align: center;
  }