@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}
header{
    font-size: 12px;
}
header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .black-heart {
    width: 20px;
    margin-right: 1rem;
  }



  .nifty-logo{
    width: 60px;
    margin-right: 1rem;
  }

  .search-icon{
    width: 20px;
    height: 20px;
    margin-right: 1rem;
  }
  #search-box{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .search-bar{
    width: 80%;
    background-color: rgba(0,0,0,.05);
    display: flex;
    align-items: center;
    padding-left: 10px;
  }

  .search-bar input{
    border-style: none;
    background-color: transparent;
    width: 100%;
  }
  .search-bar a{
    background-color: #fb3e44;
    color: white;
    padding: 10px;
    text-decoration: none;
  }
#registration{
    width: 120px;
    display: flex;
    align-items: space-between;
}
  #registration a{
    padding: 10px 20px;
    text-decoration: none;
    color: rgb(0,0,0);
  }
  .join{
    box-shadow: 1px 2px 3px grey inset;
  }