/*=============================================== Section 2 ===============================================*/

#section2 {
    @include flexbox(center, center, nowrap);
    flex-direction: column;
    padding: 100px 50px;

    img {
        width: 220px;
        margin-bottom: 40px;
    }

    h2 {
        position: relative;
        font-size: 2.25rem;
        margin-bottom: 40px;
        line-height: 3rem;
        width: 70%;

        span {
            position: relative;
            z-index: 1;
            width: 100%;
            text-align: center;
            display: block;
            font-style: italic;
        }

        &:before {
            content: "";
            background-color: var(--yellow-background);
            width: 100%;
            height: 100%;
            position: absolute;
            transform: skew(9deg, 0deg);
        }
    }

    p {
        width: 70ch;
        font-size: 1.25rem;
    }
}
