/*=============================================== Variables ===============================================*/

:root {
    // Colors
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
    --form-label-color: rgba(0, 0, 0, 0.05);
    --red: rgb(251, 62, 68);
    --red-titles: rgb(237, 28, 36);
    --light-red: rgba(232, 217, 217, 0.3);
    --yellow-background: rgba(255, 204, 53, 0.4);

    // Shadows
    --button-shadow: 8px 8px 0 rgba(251, 59, 73, 0.2);
    --black-button-shadow: 8px 8px 0 rgba(128, 83, 35, 0.2);

    // Fonts
    --font-family: "Poppins", sans-serif;

    // Margins
}

// Background colors
.btn-red {
    background-color: var(--red);
    border: 1px solid transparent;
    color: var(--white);
}