@charset "UTF-8";
/* SASS Document */

/*=============================================== Imports ===============================================*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500&display=swap");
@import "mixins";
@import "reset";
@import "variables";

/*=============================================== General ===============================================*/

* {
    outline: none;
}

html,
body {
    font-family: var(--font-family);
    line-height: 1.5;
}

/*=============================================== Components ===============================================*/

@import "header";
@import "hero";
@import "section2";
@import "section3";

/*=============================================== Helpers ===============================================*/

@import "helpers";
