@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

.blackHeart {
  width: 20px;
  margin-right: 1rem;
}

.logo {
  width: 120px;
  margin-right: 1rem
}

.glass {
  width: 50px;
  margin-right: 0;
}

#general-information {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(232,217,217,.3);
  height: 600px; 
  wrap-text: center;
}

.search {
  width: 30%;
  margin-top: 18px;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  font-size: 1.2em;
  text-align: center;
}

.link-btn {
  background-color: #FB3B49;
  box-shadow: 8px 8px 0 rgba(251,59,73,.2);
  text-decoration: none;
  color: white;
  margin-right: auto;
}

h1 {
  font-size: 3em
}

p {
  justify-content: center;
  align-item: center;
  font-size: 1.1em;
  display: flex;
  wrap-text: center;
}

.buttons {
  background-color: white;
  box-shadow: 1px 1px 0 black;
  text-decoration: none;
  color: black;
}

.link-btn-one {
  background-color: white;
  box-shadow: 0.5px 0.5px 0 black;
  text-decoration: none;
  color: black;
  margin-left: 120px;
  margin-right: auto;
}

.hexagon {
  width: 170px;
  margin-right: auto;
  
}

#what-it-is {
  align-content: center;
}

h2 {
  background-color: rgba(255,204,53,.4);
  font-style: italic;
  margin: auto;
}

.click{
  width: 40px;
}

h4 {
  color: #ED1C24;

}

.team {
  width: 40px;
}

.familiar {
  width: 40px;
}

.binoculars {
  width: 40px;
}

.service-box {
    font-size: 1em;
    text-align: center;
    border-width: 1.5px;
    border-style: solid;
    border-color: #eee;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px 0 #eee;
    margin-top: 50px; 
    margin-right: 5%; 
    margin-bottom: 0; 
    margin-left: 5%;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    width: 15% 
}
  
#list > div {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap
}

h3 {
  background-color: black;
  box-shadow: 8px 8px 0 rgba(128,83,35,.2);
  color: white
}