@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
  font-family: 'Poppins';
  font-size: 14px;
}

header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
  font-weight: bold;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

.blackHeart {
  width: 25px;
  margin-right: 1rem;
}

.npm-logo {
  width: 75px;
  padding: 1.5em .5em;
}

.mag-glass {
  width: 25px;
  position: absolute;
  top: 75px;
  left: 140px;
}

.container {
  height: 60px;
  display: flex;
  align-items: center;
}

.search {
  display: flex;
  border: none;
  flex-grow: 1;
  padding-left: 0.5em;
}

form > input {
  order: 1;
  border: none;
  width: 1000px;
  font-family: "Menlo";
}

.label {
  background-color: rgba(0,0,0,.05);
  border: none;
  padding: 12px;
  text-indent: 30px;
}

.red-btn {
  background-color: #fb3e44;
  color: white;
  font-size: 1.1em;
  border: none;
  padding: 0.7em 1.2em;
  margin-left: -.5em;
}

.profil {
  display: flex;
  order: 2;
}

.join-btn {
  color: black;
  border-style: solid;
  border-width:.5px;
  border-color: black;
  text-decoration: none;
  padding: 0.3em 1em;
  margin-right: 1.5em;
}

.log-btn {
  color: black;
  text-decoration: none;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 600px;
  background-color: rgba(232,217,217,.3);
  margin-top: 0px;
  box-shadow: 0 8px 6px -6px lightgrey inset;
}

.intro h1 {
  margin-top: -1em;
  font-size: 5.8em;
  font-weight: 700;
}

.intro article {
  width: 500px;
  text-align: center;
  margin-top: -2em;
  font-size: 1.5em;
  margin-bottom: 2em;
}

.shadow {
  background-color: #FB3B49;
  box-shadow: 8px 8px 0 rgba(251,59,73,.2);
  text-decoration: none;
  color: white;
  padding: 1em 4em 1em 4em;
  margin-right: 2em;
  font-size: 1.3em;
  font-weight: bold;
}

.not-shadow {
  background-color: white;
  text-decoration: none;
  color: black;
  padding: 1em 4em 1em 4em;
  font-size: 1.3em;
  font-weight: bold;
}

.next {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 600px;
}

.next img {
  width: 250px;
  padding-top: 5em;
}

.next h3{
  background-color: rgba(255,204,53,.4);
  transform: skew(9deg,0deg);
  padding-left: 35px;
  padding-right: 35px;
  font-size: 2.5em;
  font-style: italic;
  font-weight: 700;
  margin-top: 2em;
}

.next p {
  width: 650px;
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 5em;
}

.end  h5 {
  color: #ED1C24;
  font-size: 1.2em;
  margin-top: 1em;
}


.end  img {
  width: 45px;
}

.end {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 6em;
}

.end .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.end .element {
  width: 250px;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 1.1em;
}

.btn-org {
  background-color: black;
  box-shadow: 8px 8px 0 rgba(128,83,35,.2);
  color: white;
  padding: 0.8em 7.5em 0.8em 7.5em;
  margin-top: 4em;
  margin-bottom: 2em;
  text-decoration: none;
  font-size: 1.4em;
}