@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap);
// @import url(https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap);

$font1: 'Poppins',
sans-serif;
//graisses
$regular : 400;
$semi-bold : 600;
$bold : 700;

// $font2 : 'Supermercado One',cursive;

* {
    font-family: $font1;
    font-size: 1rem;
}