/*

    - reset default element style
    - set 10px to 1rem
    - set line-height to golden ratio
    
*/

* {
    box-sizing: border-box;
    font-display: swap;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    /* pour retirer la mise en avant */
}

html {
    font-size: 62.5%;
    line-height: 1.618;
}

a {
    color: inherit;
    text-decoration: none;
    // display: block;
}

img {
    // display:block;
    // width: 100%;
    max-width: 100%;
}

ul {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5 {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    overflow-wrap: normal;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

input,
textarea,
button {
    @include btResetAppearance();
    outline: none;
    resize: none;
}

input[type="checkbox"] {
    @include brad(.3rem);
    border: .2rem solid black;
    height: 1.5rem;
    width: 1.5rem;

    &:checked {
        background-color: black;
    }
}

p {
    overflow-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}