@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}
header > article {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

.emoji {
  width: 20px;
  margin-right: 1rem;
}
.sb-input {
  display: flex;
  justify-content: space-between;
padding: 0 0 0 15px;
}
#build {
  display: flex;
  align-items: center;
  justify-content: centered;
  flex-direction: column;
  height: 600px;
  background: rgba(232,217,217,.3);
  
}
.see-plans {
  box-shadow: 8px 8px 0 rgba(251,59,73,.2);
  background-color: #FB3B49;
}
.join {
  background: white;
}
#bring {
  display: flex;
  align-items: center;
  justify-content: centered;
  flex-direction: column;
  height: 600px;
  
}
.best {
  display: flex;
  background-color: rgba(255,204,53,.4);
  transform: skew(9deg,0deg);
  font-style: italic;
  justify-content: display-evenly;  
}
#build > p {
  display: flex;
  text-alignment: center;
}
#steps > article {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;

}
.container {
  display: flex;
  justify-content: display-evenly;
  border-width: 1200px;
  margin: 0 auto;
  padding: 75ps 0;
}
#steps {
  display: flex;
  justify-content: display-evenly;
  margin: 0 5% 0 5%
}
.container{
  display: flex;
  justify-content: display-evenly;
  margin: 0 5% 0 5%; 
}
.create {
  display: flex;
  color: white;
  background-color: black;
  box-shadow: 8px 8px 0 rgba(128,83,35,.2);
}
#create-an-org {
  display: felx;
  justify-content: centered;
  
}
