@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}
a.button {
  margin-top: 30px;
  float: left;
  font-weight: 400;
  border-radius: 20px;
  padding: 7px 26px 8px 26px;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  clear: left;
}
.container {
  width: 1160px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
}
.col-half {
  width: 50%;
  margin-left: 48px;
  padding: 0 10px;
}
.button-container {
  padding-bottom: 60px;
}
nav {
  width: 600px;
}
nav a {
  color: rgba(255,255,255,0.8);
  text-decoration: none;
}
.the-top-left {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}
.top-links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-links a {
  text-decoration: none;
  color: black;
}
.blackHeart {
  width: 20px;
  margin-right: 1rem;
}
.header {
  background-color: rgb(32, 101, 136);
  background-image: url(images/hero-cityscape.svg);
  background-size: auto;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
}
.logo-bar {
  padding-top: 20px;
  width: 100%;
}
.logo-container {
  width: 130px;
}
.logo-container img {
  width: 95%;
  float: left;
  margin-right: 20px;
}
.search-bar {
  width: 69%;
  float: left;
  width: calc(100% - 350px);
}
.search-bar input {
  background-color: rgb(31, 82, 111);
  background-image: url("images/magnifier.png");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 35px;
  height: 38px;
  padding: 5px 5px 5px 15px;
  width: 100%;
  border: 1px solid rgba(255,255,255,0.2);
  font-size: 16px;
  font-family: "Open Sans","OpenSans",sans-serif;
}
.user-log {
  width: 182px;
  float: right;
  text-align: right;
  font-size: 16px;
  color: rgba(255,255,255,0.8);
}
.user-log a {
  text-decoration: none;
  color: rgba(255,255,255,0.8);
}
.user-log a:hover {
  color: rgba(255,255,255,1);
}
.user-log a img {
  width: 23%;
  vertical-align: middle;
}
.xtra-padd {
  padding-top: 35px;
  padding-bottom: 50px;
}
.orange {
  background-color: rgb(240, 146, 51);
}
#npm-plans {
  height: 600px;
  background-color: rgba(232,217,217,.3);
}
.button-sec1{
  background-color: #FB3B49;
  box-shadow: 8px 8px 0 rgba(251,59,73,.2);
}
#npm-bring {
 height: 600px;
  background-color: rgba(232,217,217,.3);
}
.npm-text {
font-position: center, justify-content, align-items;
}
.heading-sec2{
 background-color: rgba(255,204,53,.4);
 transform: skew(9deg,0deg);
 font-style: italic;
}
.collaboration {
  float: left;
}
#about-npm {
 height: 600px;
  background-color: rgba(232,217,217,.3);
}
.container what-is-npm {
  position: relative;
}
.more-about-npm {
  position: absolute;
  left: 60px;
  top: 110px;
  width: 30%;
}
.button-navy {
  font-color: #ED1C24;
}
.button-org {
  box-shadow: 8px 8px 0 rgba(128,83,35,.2);
  font-color: white;
  background-color: black;
}
