@import url('https://fonts.googleapis.com/css?family=Poppins');
body {
    font-family: 'Poppins';
}

.text {
    font-size: 30px;
    font-family: 'Poppins';
}

.service-box {
    font-size: 1.7em;
    text-align: center;
    border: 2px solid #EEE;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px 0 #EEE;
    margin: 50px 5% 0 5%;
    padding: 20px;
    width: 40%;
}

.service-box img {
    width: 20px;
    height: auto;
    size: 20px;
}

#general-information .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 370px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 75px 0;
}

.link-btn {
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: "Roboto Condensed";
    font-size: 2em;
    letter-spacing: 0.5px;
    text-align: center;
    text-decoration: none;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
}

.title {
    color: rgb(220, 20, 60);
    font: 'Poppins';
}

.heading {
    font-size: 2em;
    background-color: rgb(220, 255, 25)
}

.ul {
    display: flex;
    flex-flow: row wrap;
}

.nav {
    display: flex;
    flex-flow: row wrap;
}

.btn-link {
    background-color: rgb(255, 0, 0);
    color: white;
    font-family: "Roboto Condensed";
    font-size: 2em;
    letter-spacing: 0.5px;
    text-align: center;
    text-decoration: none;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
}