@import url('https://fonts.googleapis.com/css?family=Poppins');


header .top-nav {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.top-nav img {
    width: 20px;
}

.top-nav-logo  img {
    width: 79px;
    height: 26px;
    padding-top: 10px
}

.top-nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

nav {
  width: 600px;
}

nav ul  {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

nav a {
  text-decoration: none;
  color: black;
  font-style: none;
}

.blackHeart {
  width: 20px;
  margin-right: 1rem;
}

.top-nav-logo {
  display: flex;
  gap: 20px;
  align-items: center;
}

.search {
 flex: 1;
 position: relative;
}

.search img {
    width: 20px;
    position: absolute;
    left: 8px;
    top: 2px;
    height: 20px;
}

form {
  display: flex;
  align-items: stretch;
}

form * {
  font-size: 12px;
  font-style: normal;
  width: 100%;
  height: 16px;
  background-color: rgba(211,211,211, .3);
  border-style: none;
}

.search input {
   padding: 9px 35px;
}

.top-nav-logo ul {
   display: flex;
   gap: 16px;
   list-style: none;
   align-items: center;  
   font-size: 10px;
}

.top-nav-logo ul a {
  text-decoration: none;
  padding: 3px 20px;
  color: #000;
}

.top-nav-logo ul li:nth-of-type(1) a {
 border: .08px solid #000;
}


.button {
  background-color: #fb3e44;
  border-style: none;
  padding: 17px;
  color: white;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  font-family: 'Poppins';
}

#content .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  background-color: rgba(232,217,217,.3);
  font-style: normal;
  text-decoration: none;
  text-align: center;
  padding: 40px auto;
  Margin: 0 auto;
}

.container > h1 {
    font-size: 60px;
}

.container article {
  display: block;
  max-width: 400px;
}

#middle-section article {
  display: block;
  max-width: 650px;
}

.text-center {
  text-align: center;
}

.see-plans {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 20px;
}

.see-plans *{
  padding: 15px 40px;
  font-family: 'Poppins';
  font-size: 16px;
}

.linkjoin {
    color: black;
    text-decoration: none;
    list-style-type: none;
    background-color: #fff;
  }

  #middle-section article {
    display: block;
    max-width: 650px;
  }

#middle-section .opensource {
  background-color: rgba(255,204,53,.4);
  display: inline-block;
  font-style: italic;
}

#middle-section .article *{
font-style: normal;
}

#middle-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

#middle-section img {
  width: 250px;
  height: 180px;
  display: inline-block;
  margin-top: 50px;
  margin-bottom: 60px;
}

.button-plans {
  color: white;
  background-color: #FB3B49;
  box-shadow: 8px 8px 0 rgba(251,59,73,.2);
  border-style: none;
}


.footer-headings {
  color: red;
  font-size: 1.5em;
  font-style: normal;
  text-decoration: none;
  text-align: left;
}

.footer-text {
  font-size: 1.2em;
  font-weight: 100;
  margin: 20px;
  text-decoration: none;
  font-style: normal;
  text-align: left;
}

#footer  .div {
 display: flex;
 justify-content: space-between;
 margin-top: 75px;
 margin-bottom: 30px;
}

#footer article {
  width: 23%;
}

#footer .footer-img {
  width: 50px;
  height: 50px;
}

.service-box {
  width: 125 px;
  background-color: white;
  color: black;
  border: none;
  box-sizing: border-box;
  box-shadow: none;
  margin: 10px 5% 0 5%;
  width: 10%;
  height: 20%;
}

.button-org {
    background-color: black;
    border-style: none;
    color: white;
    width: 220px;
    height: 30px;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
    margin: 10px 5% 0 5%;
    display: inline-block;
  }