




























#section3 h3 {
    color: #ed1c24;
    font-weight: 900;
  }
  #section3 svg {
    width: 30px;
    text-align: left;
  }
  .trs{
    display: flex;
    justify-content: space-evenly;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;;
  
  }
  .trs svg, h3, p {
    text-align: left;
    margin-right: 35px;
    margin-left: 35px;
  }
  #org-butn {
    background-color: black;
    color: white;
    box-shadow: 8px 8px 0 rgba(128,83,35,.2);
    font-weight: 900;
    text-decoration: none;
    text-align: center;
    padding: 20px 100px 20px 100px;
    margin-bottom: 100px;
    align-items: center;
  }