body {
    background-color: white;
    font-family: "Poppins", 'Helvetica Neue', Helvetica;
}

header {
    width: 1000px;
    margin: 0 auto;
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

nav {
width: 600px;
}

nav ul {
list-style: none;
display: flex;
justify-content: space-between;
align-items: center;
}

nav a {
text-decoration: none;
color: black;
}

form label {
    color: rgba(0,0,0,.05);
}

form input {
    color: rgba(0,0,0,.05);
    background-color: whitesmoke;
    border: 10px;
    font-size: 1.2rem;
}

form button {
    background-color: #fb3e44;
    color: white;
    border: 10px;
    font-size: 1.2rem;
}

section > h1 {
    font-size: 4em;
}

section > h2 {
    font-size: 2em;
}

section > h3 {
    font-size: 1em;
}

section {
    height: 600px;
    background-color: rgba(232,217,217,.3);
    display: flex;
    align-items:flex-start;
}

footer {
    width: 300px;
    margin: 50px auto;
    border-color: black;
    border: 1px;
    text-align: center;
}

a {
    text-decoration: none;
}

.buscar div{
    display: flex;
    justify-content:center;
    flex-direction: row;
    align-items: center;
    border: 10px;
}

.black_heart {
width: 20px;
margin-right: 1rem;
}


#icon_search {
    background-color: whitesmoke;
    width: 25px;
}

#primary_h {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: wheat;
}



#secondary_h {
    width: 1000px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-content:flex-start;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#description_text {
    height: 300px;
    padding: 30px;
    flex-direction: row;
    display: flex;
    justify-content:center;
    align-items: flex-start;
}

#plans {
    background-color: #FB3B49;
    color: white;
    border-right: 20px;
    border: 1px;
    padding: 10px 65px;
    box-shadow: 4px 4px 0 rgba(251,59,73,.2);
}



#article_one {
    width: 400px;
    background-color: white;
    padding: 20px;
    margin: 20px;
}

#article_two {
    width: 800px;
    background-color: white;
    padding: 20px;
    margin: 20px;
}

.join {
    background-color: white;
    color: black;
    border: 1px;
    padding: 10px 65px;

}

.join_footer{
    background-color: black;
    color: white;
    border: 1px;
    padding: 10px 65px;
}

.icon {
    max-width: 20px;
    margin-right: 1rem;

}

.image_small {
    max-width: 50px;
}
.small {
    max-width: 150px;
}
