@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }


  #one{
    height: 500px;
    background-color: rgba(232,217,217,0.3);
    /* display: flex; */
    /* align-items: center; */
    flex-direction: column;
    
  } 


  /* NAV BAR */
  #navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

 

  /* IMAGENS*/
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }

  .magGlass {
    width: 20px;
    
  }

  .npmLogo {
    width: 50px;
  }

/* SEARCH BAR */

.logos{
    flex-direction: row;
    justify-content: flex-start;
    border-bottom: 1px solid #EBE7E7;
    margin: 5px;
}

.bar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 20px;
}

input {
    margin: 0 0 0 0.5rem;
    width: 100%;
    font-size: 1.2rem;
    height: 35px;
    border: none;
}

.bar button {
  background-color: #FB3B49;
  height: 35px;
  margin-left: 0;
  margin-right: 10px;
  color: white;
  border: 1px solid #F2F2F2;
  padding: 6px 12px;
}

.bar button:hover{
  background-color: rgb(49, 0, 3);
  transition: background-color 0.5s ease;
}

.bar a{
  margin: 10px;
  text-decoration: none;
  color: #2F4F4F;
}

#joinBtn {
  border: 1px solid #2F4F4F;
  padding: 0 10px;
}

#joinBtn:hover{
  background-color: #2F4F4F;
  color: white;
  transition: background-color 0.5s ease, color 0.5s ease;
}

#loginBtn:hover{
  color: #2F4F4F;
  transition: color 0.5s ease;
}

 /* BUTTONS */
  #seePlans {
    background-color: #FB3B49;
    text-decoration: none;
    color: white;
    padding: 10px 40px;
    box-shadow: 5px 5px 0 rgba(251,59,73,.2);
    font-size: smaller;
    font-weight: 950;
  }

#seePlans:hover{
  background-color: rgb(49, 0, 3) ;
  transition: background-color 0.5s ease;
}

  #joinForFree {
    text-decoration: none;
    color: black;
    font-weight: 950;
  }

  .links {
    margin: 30px 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 50px auto;
    width: 30%;
  }


/* BUILD AMAZING THINGS - PART */

  #core{
    width: 100%;
    text-align: center;
  }

h1 {
    font-size: 3em;
}

#core article {
text-align: center;
margin-left: 600px;
margin-right: 600px; 
}








/* SECTION TWO */


#triangle-hexagon {
  width: 600px;
  height: 200px;
  margin: 100px auto;
  width: 50%;
  display: block;
}

#two {
  text-align: center;
}

#two h2 {
  font-style: italic;
  background-color: rgba(255,204,53,.4);
  transform: skew(9deg,0deg);
  display: inline-block;
}

#s2article{
  text-align: center;
  margin-left: 550px;
  margin-right: 550px; 
}










/* SECTION THREE */

.boxes img{
  width: 30px;
}

.box-container{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 100px 100px 50px 200px;
  vertical-align: top;
}

.boxes{
  flex: 1;

}

.boxes p{
  width: 80%;
}

h3{
  color: #ED1C24;
}


#btnContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}

#createBtn{
margin: 50px auto 200px;
padding: 15px 130px;
color: white;
background-color: black;
font-size: 1.5rem;
font-weight: 700;
box-shadow: 8px 8px 0 rgba(70, 44, 17, 0.2);
}

#createBtn:hover{
  background-color: rgb(90, 90, 90) ;
  
  transition: background-color 1.2s ease;
}