@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: 'Poppins';
  }

  header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }


  .npmLogo {
    width: 70;
    margin-right: 1rem;
}

.magnifyingGlass {
    border-radius: 0%;
    width: 15;
    margin: 0%;
}

button {
    background-color: #fb3e44;
    color: white;
    border: 0px;
    padding: 10px 10px;
}

input {
    background-color: rgba(0,0,0,.05);
    border: 0mm;
    padding: 10px 300px
}

.firstSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px;
    background-color: rgba(232,217,217,.3);
}

.seePlans {
    background-color: #FB3B49;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
}



.secondSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.triangle-hexagon {
    width: 150;
    margin-right: 1rem;
}

h2 {
    background-color: rgba(255,204,53,.4);
    transform: skew(9deg,0deg);
    font-style: italic;
}


.zero-configuration, .team-management, .familiar-features, .npm-audit {
    display: flex;
    width: 30;
    margin-right: 1rem;
}

.thirdSection {
    display: flex;
    flex-direction: row;
    text-align: start;
    justify-content: space-between;
    align-items: center;
    height: 500px;
    
}

h3 {
    display: flex;
    color:#ED1C24
}

.createOrg {
    box-shadow: 8px 8px 0 rgba(128,83,35,.2);
    color: white;
    position: static;
}

.thirdArt, .fourthArt, .fifthArt, .sixthArt {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}