@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: 'Poppins';
    margin-top: 30px;
    margin-left: 70px;
    margin-right: 70px;
}

header>div {
    padding: 2px 0px 8px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    margin: 5px;
}

nav {
    width: 600px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: black;
}


.blackHeart {
    width: 30px;
    margin-right: 1rem;
}

/* form {
    border: 1px solid rgba(0, 0, 0, .05);
} */

form input[type="text"] {
    background-color: rgba(0, 0, 0, .05);
    color: #000;
    width: 80%;
    
    box-sizing: border-box;
    padding-top: 8px;
    padding-bottom: 8px;
}


form button[type="submit"] {
    background-color: #fb3e44;
    color: #fff;
    border: none;
    padding: 10px 20px;
    
}

.logo {
    display: flex;
    align-content: center;
    flex: 1 1 0%;
}

.forma {
    flex: 1 1 80%;
}


.logo img {
    height: 1.2em;
    margin-left: 10px;
}

#section1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px;
    background-color: rgb(239 172 172 / 30%);
}

.button-sect-1 {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    margin-left: 16px;

}

.btn-danger {
    background-color: #fb3b49;
    border-color: #fb3b49;
    color: #fff;
    font-size: 150%;
    box-shadow: 8px 8px 0 rgba(251, 59, 73, 0.2);
}

.btn-light {
    background-color: white;
    color: #111111;
    font-size: 150%;
    border: 1px solid #ffffff;
}

#p-sect-1 {
    height: 161px;
    width: 357px;
}

#sect1-h1 {
    font-size: 300%;
}

#section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px;
}

.img-sect2 {
    width: 25%;
}

#p-sect-2 {
    height: 161px;
    width: 769px;
    font-size: 14px;
    text-align-last: center;
}



#img-sect3 {
    width: 80px;
    height: 80px;
}

#section3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 70px;

}

h3 {
    color: #ED1C24;
}

#section3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 2%;
}

.button-dark {
    display: flex;
    justify-content: center;
}

.dark-button {
    background-color: black;
    color: white;
    font-size: 24px;
    padding: 16px 32px;
    box-shadow: 8px 8px 0 rgba(128, 83, 35, 0.2);
    margin-top: 30px;
    margin-bottom: 75px;
}

#section3 p {
    color: rgb(7, 7, 7);
    font-size: small;
}

#join {
    margin-right: 25px;
    margin-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #cccccc;
}

.header-buttons {
    width: 16%;
}
h2{
    font-size: 210%;
    background-color: rgba(255,204,53,.4);
    transform: skew(9deg,0deg);
    font-style: italic;
    padding-left: 9%;
    padding-right: 9%;
}
