@import url('https://fonts.googleapis.com/css?family=Poppins');
@import  url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body {
  font-family: 'Poppins';
}


header > div {
    padding: 0 25px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }

  .searchbar {
    float:left;
    overflow:hidden;
    display: flex;
    justify-items: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;  
}

#magnifyingglass {
  width: 16px;
  padding: 10px 8px 8px 8px;
  background-color: rgba(0, 0, 0, .05);
  margin-bottom: 2.5px;
  }

  header button {
    color: white;
    font-weight: lighter;
    background-color: #fb3e44;
    border-style: none;
    padding: 9px 15px 9px 15px;
    margin-right: 10px;
  }

  #searchpackages {
      background-color: rgba(0,0,0,.05);
     color: rgba(0,0,0,.05);
    border-style: none;
    width: 900px;
    height: 34px;
    margin-top: 10px;
  }


.npm-logo {
  width: 5%;
  display: flex;
    justify-content: space-between;
    align-items: center;
  }

#join {
  text-decoration: none;
  color: black;
  font-weight: lighter;
  border-style: solid;
  border-color: #E9E8E8;
  padding: 5px 14px 5px 14px;
  margin: 5px
  }

#login {
  text-decoration: none;
  font-weight: lighter;
  color: black;
  margin: 5px
  }

  .body {
    height: 600px
    }

#build-amazing-things {
  background-color: rgba(232, 217, 217, .3);
  display: flex;
  align-items:center;
  flex-direction: column;
  justify-content: center;
  
  }

h1 {
  weight: bolder;
  font-size: 4rem;
  text-align: center;
  }

#build-amazing-things > article {
  text-align: center;
  margin: 0 30% 0 30%;
  font-size: 18px;
  }

#seeplans {
  margin: 60px 0px 60px 50px;
  text-decoration: none;
  color: white;
  font-weight: 700;
  background-color: #FB3B49;
  border-style: none;
  box-shadow:rgba(251,59,73,.2) 0 8px 8px 0;
  font-size: 12px;
  padding: 13px 60px;
  }

#joinforfree {
  margin: 60px 50px 60px 50px;
  text-decoration: none;
  color: black;
  font-weight: 700;
  background-color: white;
  border-style: none;
  font-size: 12px;
  padding: 13px 60px;
  }
 
.body-links {
  display: flex;
  align-items: center;
  justify-content: center;
  }

  .trianglehexagon {
    width: 25%;
    display: flex;
    align-items: center;
    margin: 0
    }


#bring-the-best {
  height: 6oopx;
  background-color: white;
  display: flex;
  align-items:center;
  flex-direction: column;
  justify-content: center;
  justify-items: space-around;
  }

h2 {
  background-color: rgba(255,204,53,.4);
  transform: skew(9deg,0deg);
  font-style: italic;
  font-size: 26px;
  font-weight: 100 bold;
  text-align: center;
  padding: 0 20px 0 20px;
  margin: 50px 0 10px 0
  }

#bring-the-best > article {
  text-align: center;
  margin: 10px 27% 0 27%;
  font-size: 12px;
  }



#features {
  height: 6oopx;
  background-color: white;
  margin-left: 130px;
  margin-right: 130px;
  }

.feature-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-around;
  }

.feature-container div {
  text-align: left;
  margin: 30px 10px 30px 10px;
  width: 170px;
  }

#features h3 {
  font-size: 12px;
  color: #ED1C24;
  text-align: left;
  }

#features p {
  font-size: 11px;
  text-align: left;
  }

#button {
  display: flex;
  justify-content: center;
  }

#create-an-org {
  color: white;
  font-weight: bold;
  background-color: black;
  margin: 60px 0px 60px 50px;
  padding: 10px 100px 10px 100px;
  border-style: none;
  box-shadow: 8px 8px 0 rgba(128,83,35,.2);
  }