@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header>div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

nav a {
  text-decoration: none;
  color: black;
}

.blackHeart {
  width: 20px;
  margin-right: 1rem;
}

.NPM {
  width: 60px;
  margin-right: 1rem;
}

.magnifying-glass {
  width: 20px;
}

.search-button {
  background-color: #fb3e44;
  color: white;
  border: #fb3e44;
  padding: 9px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.slot-form {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.search-input {
  flex-grow: 1;
  background-image: url('https://github.com/JaviGMspain/lab-html-exercise/blob/master/images/magnifying-glass.png?raw=true');
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 10px 10px;
  padding: 12px 20px 12px 40px;
  margin: 5px 0px;
  background-color: rgba(0, 0, 0, .05);
  border: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header-link-join {
  margin: 10px 0px 10px 30px;
  color: #969191;
  border: 2px inset rgb(228, 225, 225);
  text-decoration-line: none;
  padding: 5px 15px;
}

.header-link-login {
  margin: 10px 10px 10px 10px;
  color: #969191;
  text-decoration-line: none;
  padding: 5px 0px;
}

.div-header2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.background {
  display: flex;
  height: 600px;
  justify-content: flex-start;
  flex-direction: column;
  background-color: rgba(232, 217, 217, .3);
  margin: 0px 10px 30px 20px;
  align-items: center;
  align-content: center;
  text-align: center;
}

h1 {
  font-size: 70px;
  font-weight: bold;

}

.big-slot {
  margin: 0px 370px 100px 400px;
}



.big-slot-links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: flex-start;
}

.see-plans {
  background-color: #FB3B49;
  color: white;
  box-shadow: 8px 8px #e9a5aa;
  text-decoration-line: none;
  padding: 10px 30px;
  margin-right: 40px;
}

.join-for-free {
  background-color: #FFFFFF;
  color: black;
  text-decoration-line: none;
  font-weight: bolder;
  padding: 10px 30px;
  margin-left: 40px;
}



.container {
  display: flex;
  height: 500px;
  justify-content: flex-start;
  flex-direction: column;
  margin: 100px 10px 30px 20px;
  align-items: center;
  align-content: center;
  text-align: center;
}
.container-div {
  background-color: rgba(255, 204, 53,.4);
  transform: skew(9deg, 0deg);
  margin-top: 50px;
}

h2 {
  margin: 0px 30px;
  font-style: italic;
}

.triangle-hexagon {
  width: 200px;
}

.small-slot {
  margin: 50px 200px;
}

.zero-configuration {
  width: 30px;
}

.team-management {
  width: 30px;
}

.familiar-features {
  width: 30px;
}

.npm-audit {
  width: 30px;
}

.service-box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-content: flex-start;
  text-align: start;
  margin-left: 50px;
  margin-right: 50px;
}

.service-box div {
  font-size: small;
  height: 250px;
  width: 250px;
}

h3 {
  color: #ED1C24;
  text-align: start;
}

.service-box-text {
  margin-top: 50px;
}
.create-button {
  padding: 10px 80px;
  margin-left: 500px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: black;
  color: white;
  box-shadow: 8px 8px rgba(243, 240, 240, 0.495);
}
button {
  cursor: pointer
}

