@import url('https://fonts.googleapis.com/css?family=Poppins');


/* general stuff */
html,
body {
     margin: 0;
     padding: 0;
}

/* sets global font */
body {
    font-family: 'Poppins';
}

/* resets style of links and sets search */
.nostyle a, input {
    background-color: rgba(232,217,217,.3);
    color: inherit;
    border: none;
    padding: 0px 0.5em;
    font-style: inherit;
    cursor: pointer;
    outline: none;
}


/* ------------- header stuff ------------- */

#header-top {
    /* background-color: lightskyblue; */
    padding: 5px 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

 /* header top */
.blackheart {
    width: 20px;
    margin-right: 1rem;
}

/* navigation bar */
nav {
    font-size: 0.8rem;
    width: 600px;
}

nav ul {
    margin: 0px;
    /* background-color: brown; */
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    /* background-color:darkmagenta; */
    text-decoration: none;
    
    color: black;
}
    
/* header bottom */
.header-bottom {
    /* background-color: khaki; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

/* npm logo */
.header-bottom > img {
    width: 3em;
    border: 5px;
    margin: 5px 10px 5px 15px;
}

/* log in and join buttons */
.header-bottom > div > a {
    /* background-color: darkolivegreen; */
    padding: 0.1em 0.5em;
    margin: 0 0.5em;
    color: inherit;
    font: inherit;
    cursor: pointer;
    outline: none;
    text-decoration: none;
}

/* flex for searchbar and log buttons */
.header-bottom div, form {
    margin-right: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-end;
}

/* search bar */
#search-bar {
    margin: 5px 1.2em;
    height: 2em;
    background-color:rgba(232,217,217,.3);
    flex-grow: 1;
    display: flex;
}

/* the whole searchbar */
#search-bar form {
    flex-grow: 1;
    height: fit-content;
    border: 0px;
    margin: 0px; 
    padding-left: 5px;   
}

/* magnifying glass */
#search-bar img{
    height: 1.5em;
    padding-top: 0.25em;
}

/* search bar input */
#search-bar input[type="text"] {
    flex-grow: 1;
}

.red-class {
    background-color: #fb3e44;
    border: lightgrey solid 1px;
    color: white;
    font-weight: lighter;
}

/* join button style */
.join-button {
    margin-left: 1em;
    font-weight: bold;
    border: grey solid 1px;
}


/* ---------------first section--------------- */
#first-section {
    background-color: rgba(232,217,217,.3);
    padding: 0 25px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* build amazing things */
h1 {
    text-align: center;
    font-weight: 950;
    font-size: 4em;
}

/* essential javascript devtools */
#first-section article, #first-section div {
    padding: 1.5rem 1em;
    /* background-color: gold; */
    max-width: 600px;
    text-align: center;
}

/* extra padding for the buttons */
#first-section-buttons a {
    padding: 1em 3em;
    margin-left:1em;
    margin-right:1em;
    font-family: inherit;
    font-weight: bolder;
    text-decoration: none;
}

/* fisrt section buttons style */
.red-button {
    background-color: #fb3e49;
    color: white;
    /* input 2 is blur input 3 is spread */
    box-shadow: 5px 5px 0px 0px rgba(251, 59, 73, 0.2);
}

.white-button {
    background-color: white;
    color: black;
}


/* ---------------second section--------------- */

#second-section {
    text-align: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#second-section img {
    width: 25%;
    max-height: 250px;
    margin: 50px;
}

#second-section article {
    margin: 25px;
    max-width: 800px;
}

/* "bring the best "section 2 */
h2 {
    background-color: rgb(245, 240, 179);
    transform: skew(9deg,0deg);
    font-style:italic;
    margin: 0;
    padding: 0 0.6em 0 1.6em;
    text-align: center;
    font-size: 2em;
}


/* ---------------third section--------------- */

#third-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* section 3 outer container */
.horizontal-box {
    width: 80%;
    /* background-color: thistle; */
    margin: 25px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

/* zero configuration - boxes subtitles  */
h3 {
    color: tomato;
}

/* class for the "configuration" etc boxes */
.boxy {
    padding: 25px 10px;
    max-width: 250px;
}

.boxy p {
    font-size: 0.9em;
}

/* the icons in the boxes */
#third-section img {
    width: 2em;
}

/* the final button */
.black-button {
    color: white;
    border: none;
    padding: 12px 110px;
    margin: 2em;
    background-color: black;
    box-shadow: 5px 5px rgba(0, 0, 0, .3);
    font-size: 1.1nem;
    font-family: inherit;
}