@import url('https://fonts.googleapis.com/css?family=Poppins');

html,
body {
	 margin: 0;
	 padding: 0;
}

body {
  font-family: 'Poppins';
}

header > div {
    background-color: red;
    padding: 0 25px;
    border-bottom: 1px solid lightgray;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    width: 600px
}
nav ul {
    list-style: none;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a {
    text-decoration: none;
    color: black;
}

header button, input , a {
	background-color: greenyellow;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: none;
}

.blackheart {
    width: 20px;
    margin-right: 1rem;
}

#header-bottom > div {
    height: 2em;
}

#npm-logo {
    margin: 25px;
    height: 2em;
}

#search-bar{  
    width: 1000px;
    margin: 5px;
    height:1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#search-bar img{
    height: 1em;
    margin: 1em;
}

#search-bar input[name="search"]{
    background-color: rgb(28, 130, 12);
}

.search-bar-one {
    background-color: hotpink;
}

.search-bar-two {
    background-color: khaki;
    padding: 0;
}



#join-buttons{}


#first-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#see-plans{}
#join-free{}


#second-section{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#second-section img {
    width: 30%;
}

#third-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#strong-points img {
    width: 4em;
}
