@import url('https://fonts.googleapis.com/css?family=Poppins');
/* general stuff */
html,
body {
     margin: 0;
     padding: 0;
}

/* sets global font */
body {
    font-family: 'Poppins';
}

/* build amazing things  section 1*/
h1 {
    color: royalblue;
    font-size: 4em;
}

/* bring the best section 2*/
h2 {
    background-color: wheat;
    margin: 0;
    padding: 0 0.6em 0 1.6em;
    color: seashell;
    text-align: center;
    font-size: 3em;
}

/* zero configuration */
h3 {
    color: tomato;
}

/* resets style of links and search */
/* #header-bottom > a, input, button, form {*/
.nostyle a, input {
    background-color: greenyellow;
    color: inherit;
    border: none;
    padding: 0px;
    font-style: inherit;
    cursor: pointer;
    outline: none;
}

/* ------------- header stuff ------------- */

#header-top {
    background-color: lightskyblue;
    padding: 0 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

 /* header top */
.blackheart {
    width: 20px;
    margin-right: 1rem;
}

/* navigation bar */
nav {
    width: 600px;
}

nav ul {
    background-color: brown;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    background-color:darkmagenta;
    text-decoration: none;
    color: black;
}
    
/* header bottom */
.header-bottom {
    background-color: khaki;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

/* npm logo */
.header-bottom > img {
    background-color:darkblue;
    width: 3em;
    border: 5px;
    margin: 5px 10px 5px 15px;
}

/* log in and join buttons */
.header-bottom > div > a {
    background-color: darkolivegreen;
    padding: 0em 0.3em;
    color: inherit;
    font: inherit;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    /* border: darkorange solid 1px; */
}

/* flex for searchbar and log buttons */
.header-bottom div, form {
    margin-right: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-end;
}

/* search bar */
#search-bar {
    margin: 5px 0;
    height: 2em;
    background-color:chocolate;
    flex-grow: 1;
    display: flex;
}

#search-bar form {
    flex-grow: 1;
    height: fit-content;
    border: 0px;
    margin: 0px; 
    padding-left: 5px;   
}

/* magnifying glass */
#search-bar img{
    height: 1.5em;
    padding-top: 0.25em;
}

/* search bar input */
#search-bar input[type="text"] {
    background-color: crimson;
    flex-grow: 1;
}

/* join button style */
.join-button {
    margin-left: 1em;
    font-weight: bold;
    border: darkorange solid 1px;
}

#first-section {
    background-color: mediumorchid;
    padding: 0 25px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* essential javascript devtools */
#first-section article, #first-section div {
    padding: 1.5rem 1em;
    background-color: gold;
    max-width: 600px;
    text-align: center;
}

/* extra padding for the buttons */
#first-section-buttons a {
    padding: 2rem;
    margin-left:1em;
    margin-right:1em;
}

/* fisrt section buttons style */
.red-button {
    background-color: lightgreen;
    box-shadow: 5px 5px darkslategray;
}


.white-button {
    background-color: lightpink;
}

#second-section {
    text-align: center;
    background-color: peachpuff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#second-section article {
    margin: 25px;
    max-width: 800px;
}

#second-section img {
    width: 25%;
    margin: 50px;
}

#third-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* section 3 outer container */
.horizontal-box {
    width: 80%;
    background-color: thistle;
    margin: 25px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;

}

/* class for the "configuration" etc boxes */
.boxy {
    padding: 25px 10px;
    max-width: 250px;
}

/* the icons in the boxes */
#third-section img {
    width: 2em;
}

/* the final button */

.black-button {
    color: white;
    border: none;
    padding: 1em 80px;
    background-color:mediumspringgreen;
    box-shadow: 5px 5px darkslategray;
    font-size: 1.3em;
    font-family: inherit;
    margin-bottom: 2em;
}


#third-section button {}