@import url('https://fonts.googleapis.com/css?family=Poppins');
body {
  font-family: 'Poppins';
}
header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

.blackHeart {
  width: 20px;
  margin-right: 1rem;
}
#flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; 
  height: 600px; 
  background-color: rgba(232, 217, 217, 0.3);
  margin-bottom: 20px; 
}

#centered-section {
  margin-bottom: 20px; 
}

#below-centered-section {
  background-color: rgba(232, 217, 217, 0.3); 
  padding: 20px; 
}

.button-container {
  display: flex;
  gap: 10px; 
}

.red-button,
.blue-button {
  text-decoration: none; 
  color: white; 
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.red-button {
  background-color: #FB3B49; 
  box-shadow: 8px 8px 0 rgba(251, 59, 73, 0.2); 
}

.blue-button {
  background-color: #3498db;
}
#yellow-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 400px; 
  background-color: rgba(255, 204, 53, 0.4);
  margin-bottom: 20px;
  transform: skew(9deg, 0deg); 
}

#yellow-section h2 {
  font-style: italic; 
  margin: 0; 
}

#yellow-section p {
  margin-top: 10px; 
}

#four-boxes {
  display: flex;
  justify-content: space-around;
}

.box {
  width: 200px;
  padding: 20px;
  text-align: center;
  background-color: white; /* Set background color to white */
  box-shadow: 8px 8px 0 rgba(128, 83, 35, 0.2);
}

.box img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px; /* Add margin to separate image from text */
}

.box h3 {
  color: #ED1C24; /* Set text color to red as specified */
  margin: 0;
}

#separate-org-button {
  background-color: black; 
  color: white; 
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%; 
  margin-top: 20px; 
  box-shadow: 8px 8px 0 rgba(128, 83, 35, 0.2); 
}