@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
  font-size: 16px;
}
header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    position: right;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: right;
  }
  
  nav a {
    position: right;
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }
  .detail {
    position:left;
  }
  .npm  {
    width: 25px;
    height: 20px;
    position:;
  }
  #introctudion {
    display: flex;
    justify-content: center;
    text-align:center;
    align-items: center;
    height: 600px;
    background-color:rgba(232,217,217,.3)
  }
  h1 { 
    left:45px; nav-down: 1000px;
    font-size: 55px;
  }
  .subscretion {
    background-color: #c02525;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
    color: white;
    font-weight:lighter;
  }
  .subscretion2{
    color: black;
  }
  a{
    text-decoration: none;
  }
  
  .title {
    text-align: center
    font-size: 45px ;
    font-weight: ;
  }
  .explanation {
    font-size: ;
    font-weight: ;
  }
  .h2 {
    color: white ;
  }

#reasons {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    height: 600px;

}
.top-class {
background-color: rgba(255,204,53,.4);
background-size: 15px;
 transform:skew(9deg,0deg);
}

.hexagon {
    position: center;
    left: 40%;
    width: 250px
}
#features{
display: flex;
justify-content: space-between;
flex-direction: row;
align-items: center;
margin: ;

}
h4 {
    color:#ED1C24;
}
.defenition{
    font-size: small;

}
.ilustration {
    align-items: left;
        width: 40;
        height: 20;
    }

    h5 {
        font-size: 20px;
        text-align: center;
        background-color: black;
        box-shadow: 8px 8px 0 rgba(128,83,35,.2);
        color: white;
    }
   
    