@import url("https://fonts.googleapis.com/css?family=Poppins");

body {
  font-family: "Poppins";
}
header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }
  .npm-logo {
    width: 5%;
  }
  
  #searchbox {
    display: flex;
  }
  #search-button {
    background-color: red;
  }
  #sectionOne {
    background-color: rgba(232, 217, 217, 0.3);
    height: 600px;
  }
  #headerSectionOne > h1 {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 3em;
  }
  #artSectionOne > h4 {
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    font-size: 0, 5em;
    box-sizing: content-box;
    padding: 5px;
    width: 50%;
    margin: auto;
  }
  #sectionOne > div {
    display: flex;
    justify-content: center;
    padding: 25px;
  }
  
  #see-plans {
    background-color: red;
    color: white;
    font-size: 2em;
    letter-spacing: 0.5px;
    text-align: center;
    text-decoration: none;
    padding: 10px 30px 10px 30px;
  }
  #join-for-free {
    color: black;
    font-size: 2em;
    letter-spacing: 0.5px;
    text-align: center;
    text-decoration: none;
    padding: 10px 30px 10px 30px;
  }
  .hexagon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    width: 20%;
  }
  #headerSectionTwo > h1 {
    display: flex;
    justify-content: center;
    font-size: 3em;
    background-color: bisque;
    box-sizing: border-box;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    align-items: center;
    text-align: center;
    align-content: center;
  }
  #artSectionTwo > h4 {
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    font-size: 0, 5em;
    box-sizing: content-box;
    padding: 5px;
    width: 50%;
    margin: auto;
  }
  
  #sectionTree > article > div > img {
    width: 10%;
  }
  
  #sectionTree > article {
    display: flex;
    align-items: center;
    padding: 6%;
  }
  
  #sectionTree > article > div > h1 {
    color: red;
  }
  
  #sectionTree > article > div > h4 {
    font-size: 0.7em;
  }
  
  #create-Org {
    background-color: black;
    max-width: 25%;
    max-height: 20%;
    color: white;
    font-size: 2em;
    display: flex;
    letter-spacing: 0.5px;
    text-align: center;
    align-content: center;
    justify-content: center;
    text-decoration: none;
    margin: auto;
    box-shadow: 200px;
    box-sizing: border-box;
  }
  