@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}
header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }
  .npmlogo { 
      width: 50px;
  }

  .magnifying-glass {
      width:  50px;
  }
  .triangle-hesagon {
      width: 150px;
      align-items: center;
  }
  
  .zero-configuration {
      width: 20px;
  }

 .team-management {
     width: 20px;
 }
 .familiar-features {
     width: 20px;
 } 
 .npm-audit{
     width: 20px;
 }
 .sectionI {
     background-color: rgba(232,217,217,.3);
 }
  h1{
     text-align: center;
    width: 80%;
    font-size: 5em;
}
h2{
    text-align: center;
   width: 80%;
   font-size: 3em;

 }
 h3 {
    font-size: 4.2em;
    text-align: center;
    line-height: 1em;
  }