@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
  font-family: 'Poppins';
}



header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a, .botonsUnirse a {
  text-decoration: none;
  color: black;
}

.blackHeart {
  width: 20px;
  margin-right: 1rem;
}

form input{
  color: rgba(0,0,0,0.5);
}

::placeholder {
  color:  rgba(0,0,0,0.5);
}

form button{
  background-color: #fb3e44;
  color: white;
  height: 25px;
  font-size: 17px;
  border: none;
  font-weight: lighter;
}

.searchSection {
  width: 100%;
  padding: 0%;
}

.searchSection > *, form > * {
  /* width: 100%; */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: stretch;
  
}

.logo, .botonsUnirse, .lupa{
  width: 10%;
}

.logo{
  height: 20px;
  width: 50px;
  margin-left: 30px;
}

.searchSection form{
  width: 80%;
  justify-content: center;
}
input{
  width: 90%;
  background: url(images/magnifying-glass.png) no-repeat;
  background-size: contain;
  padding-left: 38px;
  background-position-x: 5px;
  border: none;
  background-color: #f2f2f2;
  padding: 2px 38px;
  height: 25px;
}

.join{
  border: black solid 1px;
  padding: 3px 22px;
  ;
  
}

/* header fet */

#First{
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: rgba(232,217,217,.3);
  height: 600px;
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

article{
  width: 34%;
  margin: 0% 33% 0% 33%;
  padding-bottom: 20px;
  font-size: 1.3rem;
}

.build{
  font-size: 3.5rem;
  font-weight: bold;
}

.joinFree{
  text-decoration: none;
  color: black;

}

.seePlans{
  text-decoration: none;
  color: white;
  border: #FB3B49 solid 1px;
  padding: 3px 22px;
  background-color: #FB3B49;
  box-shadow: 8px 8px 0 rgba(251,59,73,.2);
}

.links{
  display: inline-block;
  width: 25%;
}

.botonsBuild {
  width: 100%;
}



/*fi seccio primera*/


#Seconth{
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: white;
  height: 600px;
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
  
}

.hexagon{
  width: 200px;
  margin: 30px;
}

.bring{
  font-size: 1.8rem;
  margin: 20px;
  background-color: rgba(255,204,53,.4);
  transform: skew(9deg,0deg);
  font-style: italic;
}

.npmIs{
  width: 800px;
  text-align: center;
  
}

/* seccio 2 feta 
*/

#third{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 200px;
  margin-right: 200px;
}



.aa{
  max-height: 30px;
  max-width: 30px;
  margin: 1px;
}

h2{
  font-size: 17px;
  font-weight: bolder;
  color: #ED1C24;

}

p{
  width:200px;
  margin: 1px;

}

.org{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
.orgBot{
  
  text-decoration: none;
  color: white;
  border: black solid 1px;
  padding: 7px 69px;
  background-color: black;
  box-shadow: 8px 8px 0 rgba(128,83,35,.2);
}