@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(41, 39, 39);
  }
  .botonsearch { 
    label color: rgba(0,0,0,.05)
   background-color:  #fb3e44;
     color: white
  }

  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }
  #seccionI {
    display:flex;
    background-color: #FEF9E7 ;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 600px;
    rgba(232,217,217,.3);
}


.botonplans  { 
    justify-content: center;
    background-color: #FB3B49;
    box-shadow: 10px 10px 0 
    rgba(251,59,73,.2);
}
.botonSign { 
    justify-content: center;
    text-align: center;
    background-color: #FB3B49;
    box-shadow: 10px 10px 0 
    rgba(251,59,73,.2);
}

#seccionII { 
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 600px;
    margin: 50 0 60 0;
}

#seccionII > img {
    width: 300px;
    height:300px;
}

#seccionII> heading {
    display: flex;
    justify-content: left;
    background-color: rgba(255,204,53,.4);
    transform: skew(9deg,0deg);
    font-style: italic;
    font-size: 25;
    margin: 40 0 40 0;
    width: 500;

}

#seccionII> article {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width:500;
    font-size: 30px;
}

#seccionIII {
    display: flex;
    justify-content: space-around;
    height: 500px;
    margin: 210 50 0 50;
}

#seccionIII> div > h3 {
    color: #ED1C24
}

#seccionIII > div > p {
    width: 200px;
}

#seccionIII > div > .boton
 {
    background-color: black;
    box-shadow: 8px 8px 0 rgba(128,83,35,.2);
    color: white
}

  .npmlogo { 
      width: 50px;
  }

  .magnifying-glass {
      width:  50px;
  }
 
  
  .zero-configuration {
      width: 10px;
  }

 .team-management {
     width: 10px;
 }
 .familiar-features {
     width: 10px;
 } 
 .npm-audit{
     width: 10px;
 }
 
  