@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
  box-sizing: border-box;
}

header > div {
    padding: 0 25px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .black-heart {
    width: 20px;
    margin-right: 1rem;
  }

  .npm-logo {
      width: 70px;
      padding-top:10px;
      
  }
  .search-form {
    padding-top:12px;
      padding-bottom:12px;

  }
  .search-form img {
      width:15px;
      height:15px;
  }
  .search-form form input {
      color: rgba(0,0,0,0.05)
  }
  .search-form button {
    color:white;
    background-color: #fb3e44;
  }
  .join-login-button #login-button {
    border-color: black;
    color: rgba(0,0,0,0.7);
    margin:10px;
    text-decoration: none;
    font-size:0.875em;
  }

  .join-login-button {
    color: rgba(0,0,0,0.7);
    font-weight:500;
    text-decoration:none;
  }

  .join-login-button #join-button {
text-decoration: none;
color: rgba(0,0,0,0.7);
font-weight:600;
padding:0.50em;
margin-right:1em;
border: 1px solid #9a9a9a;
padding: 4px 16px;
font-size:1em;
line-height:1em;

  }
/*here begins section 1 css stuff */

#section1 {
    height:600px;
    text-align:center;
    background-color: rgba(232,217,217,.3); 
    display:flex;
    justify-content:flex-start;
    flex-direction: column;
    align-items:center;
}

#section1 div {
  margin:50px;
  display:flex;
  justify-content: space-around;
  text-align: center;
  width:35%;
  font-weight: 700;
}
#section1 h1 {
    font-size: 80px;
    display:flex;
    margin-bottom: 50px;
    margin-top:85px;
   
}
#section1 article {
    width:38%;
    padding-bottom: 50px;
    font-size:1.25rem;
}

.cta-buttons .buttonred {
  background-color: #FB3B49;
  box-shadow: 8px 8px 0 rgba(251,59,73,0.2);
  padding:20px;
  color:white;
  width: 180px;
  text-decoration:none;
  font-size: 1.25rem;
 
}
.cta-buttons .buttonwhite {
  padding:20px;
  width: 180px;
  color:black;
  background-color:white;
  text-decoration: none;
  font-size:1.25rem;
}


/* section 2*/

#section-2 {
  display:flex;
  justify-content:flex-start;
  flex-direction: column;
  align-items:center;
  height:600px;
  text-align:center;

}
#section-2 img {
  height:60%;
  width:20%;
}
#section-2 h2 {
  background-color:rgba(255,204,53,.4);
  transform: skew(9deg,0deg);
  line-height: 40px;
  font-style: italic;
  width: 65%;
  font-size:38px;
}

#section-2 article {
  width: 50%;
}

/*section 3 */

.info-container > div{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2em 2em;
  width:85%;
  box-sizing: border-box;
  margin-left:auto;
  margin-right:auto;
  font-weight:bold;

}
.info-container div {
  padding-left:10px;
  padding-right:10px;
}

.info-container img {
  height: 2em;

}

#section-3 a {
  padding:20px;
  text-align: center;
  color:white;
  box-shadow:8px 8px 0 rgba(128,83,35,.2);
  background-color:black;
  text-decoration: none;
  font-weight:700;
  font-size:20px;
  width:30%;
  margin:auto;


}

.info-container h3 {
  color:#ED1C24;
  
}