@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header > div {
    padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}
  
nav {
width: 600px;
  }
  
nav ul {
list-style: none;
display: flex;
justify-content: space-between;
 align-items: center;
  }
  
nav a {
text-decoration: none;
color: black;
  }
  
.blackHeart {
width: 20px;
margin-right: 1rem;
  }

div > form {
  padding: 0px 150px; 
  display: flex;
}
.search {
  color: white;
  background-color: #fb3e44;
  border-style: none;
  padding: 10px 20px ;
}

.npm {
  width: 50px;
  margin: 10px 28.5px;
}

.lupa {
  width: 20px;
  margin: 10px 10px;
}

#build {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 600px;
  background-color: rgba(232, 217, 217, 0.3);
}

.See-plans {
  background-color: #FB3B49;
  box-shadow: 8px 8px 0 rgba(251, 59, 73, 0.2);
  border-style: none;
}

#buid div {

  font-size: 20px;
}

h1 {
  font-size: 90px;
}

#build p {
  font-size: 20px
}

#company {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#company img {
  width: 300px;
  padding-top: 30px;
  margin: 10px;
}

h2 {
  font-size: 30px;
  background-color: rgba(255, 255, 0, 0.326);
  transform: skew(9deg,0deg);
  font-style: italic;
}
#company p {
  font-style: italic;
  margin: auto;
}

#four-tags > div > img {
  margin: 70px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

}

#four-tags img {
  width: 30px;
}





h3 {
  color: #ED1C24
}



.text-section {
  text-align: left;
}

.Org {
  color:white;
  background-color: black;
  box-shadow: 8px 8px 0 rgba(128, 83, 35, 0.2);
  width: 500px; 
  padding: 50px;
  font-size: 20px;
}
