@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }

  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }

#npmlogo img {
    width: 3rem;

}

#npmlogo {
    vertical-align: middle;
}

#joinlogin li{
    width: 3rem;    
}

#npmlogo li{
    list-style-type: none;
}

.section1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px;
    background-color: rgba(232,217,217,.3);
}

.seeplans {
    background-color: #FB3B49;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
    width: 8rem;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    color: black;
    text-align: center;
    margin-top: 30px;
}

.firsth1 {
    font-size: 70px;
    text-align: center;
    

}


#search {
    width: 90%;
}
#search-form {
    width:100%
}

.magnifying {
    width: 1rem!important;
}

.joinfree{
    color: black;
    text-decoration: none;
    font-size: 25px;
    margin-top: 30px;
}

#planandjoin {
    display: flex;
    justify-content: space-evenly;
    margin: 0 5px;
    }

    .joinlogin {
        display: inline-flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        display: flex;
        justify-content: space-evenly;
        margin: 20px;
    }

    .login{
        text-decoration: none;
        color: black;

    }

    .article1{
    text-align: center;
}

.article2{
    text-align: center;
    margin-top: 60px;
}

.heading1{
   display: flex;
    background-color: rgba(255,204,53,.4);
    text-align: center;
    margin-left: 500px;
    margin-top: 80px;
    margin-bottom: 100px;
    transform: skew(9deg, 0deg);
    font-style: italic;
    margin-bottom: 100px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
    width: fit-content;
}

.hexagon {
    display: block;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 100px;
}
 

.headings img {
    width: 30px;
    height: 30px;
    display: flex;
    margin-right: 40px;
    margin-bottom: 5
    px;
}

.firstbox{
    color: #ED1C24;
    }
    
.secondbox {
    color: #ED1C24;
}
.thirdbox {
    color: #ED1C24;
}
.fourthbox {
    color: #ED1C24;
}

.createanorg{
    box-shadow: 8px 8px 0 rgba(128,83,35,.2);
    background-color: black;
    color: white;
    display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: stretch;
    font-size: 45px;
}

