

@import url('https://fonts.googleapis.com/css?family=Poppins');
body{
    font-family: 'Poppins' ;
}



header > #nav-bar {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

#nav-bar nav {
  width: 600px;
}

 nav ul {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content:space-between;  
}

nav a {
  text-decoration: none;
  color: black;
  padding: 10px;
}

#nav-bar img {
  width: 20px;
  height:10px ;
} 

.navegate{
    display: flex;
    flex-flow:row wrap ;
    justify-content:space-between ;
    width: 100%;
    height:40px ;
    align-items: baseline;
}
#logonpm{
    width: 35%;
    height: 25%;
    margin-left: 33%; 
}

.registrer form fieldset{
    width: 50%;
    height: auto;
    display: flex;
    flex-flow: column wrap ;
    justify-content: space-around;
    align-items: center;
    background:linear-gradient(rgba(235, 174, 69,0.5), rgba(0, 0, 0, 0.459));  
    margin-left: 25%;
}

#gender{
    display: flex;
    flex-flow: row wrap;  
}

#form_send{
    background-color: red;
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 20px 0px;
}
.registrer >input{
    width:200px ;
    height: auto;
}
.registrer select{
    width: 100px;
}
