@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.google.com/specimen/Fira+Mono');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body {
  font-family: 'Poppins';
}

header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

.blackHeart {
  width: 20px;
  margin-right: 1rem;
}


#title {
  height: 600px;
  background-color: rgba(232,217,217,.3);
}

.build {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

h1 {
  font-weight: bold;
  font-size: 5rem;
}

.seePlans {
  color: white;
  padding: 20px 80px;
  margin: 40px 10px;
  background-color: #FB3B49;
  box-shadow: 8px 8px 0 rgba(251,59,73,.2);
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.joinFor {
  color: black;
  padding: 20px 80px;
  margin: 40px 10px;
  background-color: white;
  text-decoration: none;
  color: black;
  font-weight: 700;
}

.artEss {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  max-width: 35rem;
}

article {
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.buttons1 {
  margin-top: 4rem;
}

.hexagon {
  height: 180px;
  padding: 30px 0px 30px 0px;
}

#title2 {
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h2 {
  font-weight: bold;
  font-size: 2.25rem;
  background-color: rgba(255,204,53,.4);
  
}


h3 {
  color: #ED1C24;
  font-weight: bold;
}

.config {
  height: 40px;
}

.npmTool {
  width: 42%;
}

.createOrg {
  color: white;
  padding: 20px 120px;
  margin: 40px 10px;
  background-color: black;
  box-shadow: 8px 8px 0 rgba(128,83,35,.2);
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

#title3 {
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tableau {
  display: flex;
  flex-direction: row;
  width: 80%;

}

.carreau {
  display: flex;
  flex-direction: column;
  margin: 50px;
  width: calc(100%/4)
}

.joinBut {
  color: black;
  text-decoration: none;
  padding: 13px 28px;
  border: 1px solid #cccccc;
  border-radius: 0;
}

.logIn {
  color: black;
  text-decoration: none;
  padding: 13px 28px;
}

.searchButton {
  padding: 13px 28px;
  background-color: #FB3B49;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  border-style: none;
  border-width: 0;
}

.searchSpace {
  font-family: 'Fira+Mono';
  height: 40px;
  padding-left: 10px;
  border-radius: 0;
  border-style: none;
  font-size: 16px;
  background: #f2f2f2;
  width: 900px;
  
}

.npmBar {
  background-color: #fff;
  padding: 10px 32px;
}

.logoNpm {
  width: 60px;
}

.search {
  padding: 10px 4px 0px 16px;
  height: 18px;
  width: 18px;
}

.headerBar {
  background: #f2f2f2;
    padding: 5px;
}

.searching {
  display: flex;
  flex-direction: row;
}