@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header>div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

.blackHeart {
  width: 20px;
  margin-right: 1rem;
}

form {}

label {
  color: rgba(0, 0, 0, .05)
}

input {
  /* color: rgba(0, 0, 0, .05); */
  /* background-color: #ffffff; */
}

h1 {
  font-weight: bold;
  font-size: 4em;
  text-align: center;
  /* size: 9em; */
  align: center;
  /* transform: uppercase */
}

h2 {
  /* size: 5em; */
  align: center;
  transform: uppercase;
  line-height: 4em
}

h3 {
  /* size: 4.2em; */
  align: center;
  line height: 1em
}

h4 {
  /* size: 1.5em; */
  letter-spacing: 0.4px;
  line height: 1em;
}

h5 {
  /* size: 1.2em; */
  line height: 1em
}

.buttonsPinkArea {
  padding: 1.6em 2.8em;
  margin: 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#btnRed {
  background-color: #fb3e44;
  color: white;
  box-shadow: 8px 8px 0 rgba(251, 59, 73, .2);
  margin: 0em 3em;
  position: relative;
  padding: 1.6em 2.8em;
  margin-top: 15px;
  /* text-decoration: none; */
  border: 0;
}

#btnWhite {
  background-color: white;
  color: black;
  box-shadow: 8px 8px 0 rgba(300, 59, 73, .2);
  position: relative;
  padding: 1.6em 2.8em;
  margin-top: 15px;
  /* text-decoration: none; */
  border: 0px;
}

.searchBtns button {
  padding: 1em 2em;
  margin-top: 10px;
  background-color: white;
}

#btnSearchArea {
  border: 1px solid black;
}

#btnSearchArea1 {
  border: 0px;
}

.searchBox {
  display: flex;
  flex-direction: row;
  /* flex-wrap: nowrap; */
  /* align-items: center;*/
  justify-content: space-around;
}

.searchContainer {
  display: inline-flex;
  position: relative;
  border: 1px solid #ccc;
  overflow: hidden;
  width: 60%;
  margin: 10px;
}

.searchContainer input {
  border: 0;
  padding: 0.5rem 0.5rem 0.5rem 0;
  flex: 1;
  color: rgba(0, 0, 0, .05);
}
/* area inside of input color change to gray */
.searchContainer input[type="text"], textarea {
  background-color : #f3f3f3;
}

.searchContainer button {
  background-color: #fb3e44;
  color: white;
  border: 0px;
  padding: 1em 2em;
}

#npmlogo {
  height: 40px;
  margin: 10px;
}

#pinkArea {
  background-color: #f7f4f4;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  /* short for flex direction and wrap */
  justify-content: center;
  height: 600px;
}

#whiteSection {
  /* background-color: #f7f4f4; */
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: 600px;
  /* padding: 10em 4em; */
}

#whiteSection img {
  width:   150px;
  padding-bottom: 4em;
}

#yellowParagraph{
  background-color: #fcebbb;
}
