@import url("https://fonts.googleapis.com/css?family=Poppins");

body {
  font-family: "Poppins";
}

label {
  color: rgba(0, 0, 0, 0.05);
}

.npm-logo {
  width: 65px;
  margin-right: 1rem;
  padding-top: 12px;
}

.subHeader {
  display: flex;
  height: 55px;
}
.search {
  background-color: lightgray;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.search img {
  width: 20px;
  height: 20px;
  padding-top: 8px;
  padding-left: 8px;
}

button {
  text-align: center;
  padding: 10px;
  border: 0;
}

.buttonred {
  background-color: #fb3e44;
  color: white;
}

.buttonred.shadow {
  font-weight: bold;
  width: 150px;
  height: 40px;
  box-shadow: 8px 8px 0 rgba(251, 59, 73, 0.2);
}

.headersecond {
  margin-right: auto;
  margin-left: auto;
  flex-wrap: 96rem;
  display: wrap;
  box-sizing: border-box;
}

.container {
  height: 600px;
  background-color: rgba(232, 217, 217, 0.3);
  padding-top: 50px;
}

.container header {
  font-weight: bold;
  font-size: 40pt;
}

.container article {
  width: 400px;
  text-align: center;
  margin: 30px;
}

.container button {
  margin: 30px;
}

.divarticle {
  display: flex;
  justify-content: center;
}

.triangle-hexagon {
  width: 200px;
  margin-right: 1rem;
  padding-top: 12px;
}

.sectiontwo {
  height: 600px;
  padding-top: 50px;
  background-color: white;
}

.sectiontwo header {
  font-weight: bold;
  font-size: 20pt;
  background-color: rgba(255, 204, 53, 0.4);
  transform: skew(9deg, 0deg);
  font-style: italic;
  margin-top: 30px;
  margin-left: 300px;
  margin-right: 300px;
}

.sectiontwo article {
  width: 570px;
  text-align: center;
  margin: 40px;
  font-size: 10pt;
}

header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

.blackHeart {
  width: 20px;
  margin-right: 1rem;
}

section {
  border: 1ch;
  background-color: rgba(232, 217, 217, 0.3);
  text-align: center;
  height: 600px;
}

heading {
  background-color: rgba(255, 204, 53, 0.4);
}
