
  @import url('https://fonts.googleapis.com/css?family=Poppins');

  body {
    font-family: 'Poppins';
  }

  header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }

  nav {
    width: 600px;
  }

  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav a {
    text-decoration: none;
    color: black;
  }

  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }

  form {}

  label {
    color: rgba(0, 0, 0, .05)
  }

  input {
    color: rgba(0, 0, 0, .05)
  }

  button {
    background-color: #fb3e44;
    color: white
  }

  h1 {
    /* size: 9em; */
    align: center;
    transform: uppercase
  }

  h2 {
    /* size: 5em; */
    align: center;
    transform: uppercase;
    line-height: 4em
  }

  h3 {
    /* size: 4.2em; */
    align: center;
    line height: 1em
  }

  h4 {
    /* size: 1.5em; */
    letter-spacing: 0.4px;
    line height: 1em;
  }

  h5 {
    /* size: 1.2em; */
    line height: 1em
  }

  #f7f4f4{
    background-color: #f7f4f4;
    text-align: center;
  }

  .search {
      display: flex;
      /* align-items: center; */
      /* justify-content: space-around; */
}
/*
  .search input {
    color: white;
    padding: 0.5rem;
  } */
/*
  input:focus {
    outline: none;
}

::-webkit-search-cancel-button {
  -webkit-appearance: none;
} */

.searchBox {
  border: 0;
  padding: 0.5rem 0.5rem 0.5rem 0;
  flex: 1;
}

#npmlogo {
  height: 40px;
  margin: 10px;
}
