@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Roboto;
}

h1 {
	font-size: 9rem;
	text-align: center;
	text-transform: uppercase;
}
h2 {
	font-size: 5rem;
	text-align: center;
	text-transform: uppercase;
	line-height: 4rem; 
} 

h4 {
	font-size: 1.5rem;
	letter-spacing: 0.4px;
	line-height: 1rem;
}

h5 {
	font-size: 1.2rem;
	line-height: 1rem;
}


.text-ceter {
	text-align: center;
}

.nav-bar {

	background-color:rgb(25, 33, 41);
	padding:14px 0px 14px 0px;
	color:white;
	text-decoration:none;
	font-size:2rem;
	text-align:center;

}
.nav-bar a {
	
	color:white;
	text-decoration:none;
	font-size:2rem; 
}
.nav-bar-ul {
	
	display:flex;
	justify-content:space-evenly;
	width:1200px;
	margin:0;
	list-style-type: none;
	


}
.nav-bar-ul {
	list-style-type: none;
	

}

.header {
	position: relative;
	background-image:url("https://s3-eu-west-1.amazonaws.com/ih-materials/uploads/ironhack-skydive-background.jpg");
	position:relative;
	background-repeat: no-repeat;
	background-size: cover; 
	height:650px;
	padding:50px;  

}

.header h1 {
	margin: 1rem 0 1rem;

}
.header h2 {
	margin: 0;
	color:white;
	text-shadow:#020819 8px -20px 9px;
}

.quote {
	bottom: 4rem;
	font-size: 2rem;
	position: absolute;
	left: 4rem;
	font-style: italic;
}



.link-btn {
	background-color:rgb(67, 163, 230);
	color: white;
	font-family: "Roboto Condensed";
	text-align: center;
	text-decoration: none;
	padding: 0.3rem 0.8rem;
	display: inline-block;
	padding: 10px 30px;
}

.service-box {
	font-size: 1.7rem;
	text-align: center;
	border: 2px solid #eee;
	border-radius: 20px;
	box-shadow: 2px 2px 10px 0 #eee;
	padding: 20px;
	width: 50%;
}

.service-box img {
	width:125px;
}

.section-text {
	font-size:1.9em;
	margin:20px auto 30px;
	width: 40%;

}
.member-name {
	font-size:1.5rem;
	font-weight:700;
}


.schedule-table {
	margin:0 auto 40px auto;
	font-size: 1.5em;
	padding:5px 10px 5px 10px;
	border-collapse: collapse;
}

.schedule-table tr {
	border-bottom: 1px solid black;
}


.footer {
	font-size:1.9em;
	text-align:center;
	background-color:rgb(25, 33, 41);
	color:white;
	text-decoration: none;
	list-style:none;
	font-style: normal;
	padding:40px 100px 40px 100px;
	margin:0 0 25px 0;


}
.address {
	font-style: normal;
	font-size: 0.8em;
	text-align:center;
	margin:0 0 30px 0;
}
.footer a {
	color:rgb(67, 163, 230);
	text-decoration: none;
	text-aligh:center;
	list-style:none;
	font-style: normal;
	font-size: 0.8em;


}
.address-header {
	margin: 0 0 1rem;
}
.unstyled-list{
	list-style-type: none;
	padding: 0; 
}

h5 {
	margin: 0;
}


.flex-container-black {
	color: white;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-content: stretch;
	align-items: flex-start;
	background-color: black;
	font-family: Roboto;
}

.flex-item-black {
	order: 0;
	flex: 0 1 auto;
	align-self: auto;
	text-align: center;
	padding: 0 2rem;
}

.flex-item-black h3 {
	font-size: 2.5rem;
	font-weight: normal;
	margin: 0;
}

.flex-item-black .text {
	font-size: 1.5rem;
	line-height: 2rem;
	opacity: 0.5;
}

.horizontal-container {
	padding: 4rem 0;
}

.flex-container-shadow {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: stretch;
	align-items: flex-start;
}

.flex-item-shadow {
	order: 0;
	flex: 0 1 auto;
	align-self: auto;
	width: 40%;
	margin-bottom: 4rem;
}



.section-header {
	text-align: center;
	margin: 0 0 5rem;
	font-size: 2.5rem;
	font-weight: 700;
}

.section-subheader {
	font-size: 1.5rem;
	text-align: center;
}

#team-section {
	background-color: black;
	color: white;
}
#team-section .divider {
	width: 60%;
	margin-bottom:1.5rem;
}
#team-section .section-header {
	margin-bottom: 1rem;

}
#team-section .img {
	width: 20rem;
}

.flex-container-team {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-content: stretch;
	align-items: flex-start;
	font-family: Roboto;
}

.flex-item-team {
	flex: 0 1 auto;
	align-self: auto;
	text-align: center;
	padding: 0 2rem;
}

#shedule-section {
	background-color: lightgray;
	font-family: Roboto;
}

#shedule-section .section-header{
	margin-bottom: 1rem;
}


#shedule-section .section-subheader{
	margin-bottom: 3rem;
}
.schedule-table th {
	font-weight: 300;
	padding-right: 1rem;
}


.slot-form {
	width: 40%;
	margin-top:18px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom:0;
	font-size: 1,5rem;
	text-align: center;
	
	

}
.slot-form-label {
	line-height: 15px;
	margin: 5px;
	margin-bottom: 10px;



}
.slot-form input, select {
	height: 20px;
	outline: none;
	padding: 3px;
	width: 100%;
}	

.slot-form-label button {
	border:1px solid black;
	background-color: white;
	padding: 9px;
	margin-top:15px;

}



#page-footer {
	font-family: Roboto;
	background-color: black;
	color: white;

}

.flex-container-footer {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-content: stretch;
	align-items: flex-start;
}

.flex-item-footer {
	flex: 0 1 auto;
	align-self: auto;
	text-align: center;
}
.contact-info {
	padding: 0 2rem;
}
.map-frame {
	border: 0;
	width: 700px;
	height: 350px;
}