@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}
/*header and nav*/

header > div {padding: 0 25px;
display: flex;
justify-content: space-between;
align-items: center;
border-bottom: 1px solid lightgray;
}
nav {width: 600px;}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {text-decoration:none;
color:black;
}

.blackHeart{
    width:20px;
    margin-right: 1rem;
}

/*search bar logo npm*/
#search-bar{width: 600px;
display: flex;
justify-content: space-between;
align-items: center;
align-content: center;
margin-top: 5px;
}

.npm-logo {
    width:50px;
}

.magnifying-glass{
    width:20px;
    background-color: rgba(0,0,0,.005);

}

#form-search button{
    border: none;
    background-color: #fb3e44;
    color: white;
    padding: 10px;
    margin-bottom:5px;
}

#search-bar input{
    background-color: rgba(0,0,0,.005);
    border:none;
    padding:10px;
    margin-bottom: 5px;
    width: 70%;
}

.btn-join{
    border-style: groove solid solid solid;
    background-color: white;
    padding: 1px 10px;

}

/*first section*/
#general-information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-color: rgba(232,217,217,.3);
}
h1{font-size: 64px;
font-weight: bolder;
}

#general-information p{
   text-align: center;
   font-size: 17px;
}

.btn-plans{
    border: none;
    background-color: #FB3B49;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
    color: white;
    font-weight: bold;
    font-size: 17px;
    padding: 15px 50px;
    margin: 10px 20px 10px 10px;

}

.btn-free{
    border: none;
    background-color: white;
    font-size: 17px;
    font-weight:bold;
    padding: 15px 50px;
    margin: 10px 10px 10px 20px;                
}

.btn-container{
    display: flex;
    flex-direction: row;
  align-items: center;
    justify-content: space-between;
}

/*second section*/
#open-source {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;

}
#open-source p{
    text-align: center;
    font-size: 17px;

}

.triangle-hexagon{
    width: 15%;
    margin-bottom: 50px;
}


h2{background-color: rgba(255,204,53,.4);
    transform:skew(9deg,0deg);
      font-style: italic;
      padding: 0 20px 0 20px;
      margin-bottom: 20px;
}
    
#open-source p{margin-bottom:0;}

/*third section*/

#structure {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: start;
    margin: 50px;
    padding: 20px 50px;
}

.org-box{
    padding: 20px;
}

.org-box img{
    width:50px;
   
}

h3{
  font-size: 17px;
  color: #ED1C24;

}

#structure p{
  font-size: 17px;
  font-weight: bold;
  text-align: inherit;
}

/*create an org*/
.create {
  display:flex;
  justify-content: center;
  margin: 60px auto 30px auto;
  
}

.btn-create{
  font-size:17px;
  text-align: center;
  font-weight: bold;
  color:white;
  border: none;
  background-color: black;
  box-shadow: 8px 8px 0 rgba(128,83,35,.2);
  padding: 10px 150px 10px 150px;
}
