
  @import url('https://fonts.googleapis.com/css?family=Poppins');

  body {
    font-family: 'Poppins';
    text-align: justify;
  }

  header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }

  .interaction {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .interaction img {
    width: 20px;
    margin-right: 1rem;
  }

  .interaction button {
    background-color: #fb3e44;
    color: white;
    border: white;
  }

  .logo {
      width: 40px;
      margin-right: 1rem;
  }

  form {
      display: flex;
  }

  .sign {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  }

  .sign a {
      margin-left: 1rem;
  }

  .join {
      border: 1px solid #17212e;
      padding: 2px 12px;
  }


 .builder {
      background-color: rgba(232,217,217,.3);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 25px auto 25px auto;
  }

  .builder h1 {
      font-size: 3em;
      font-weight: bold;
  }

  .builder article {
      width: 600px;
      text-align: center;
  }

  .builder div {
      width: 600px;
      display: flex;
      justify-content: center;
      flex-direction: row;
      align-items: flex-end;
  }

  .builder div a {
      text-decoration: none;
      border: 1px solid #17212e;
      padding: 10px 25px;
      margin-right: 20px;
      font-weight: bold;
  }

 .plans {
    background-color: #FB3B49;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
    border: 1px solid #FB3B49;
    color: white;
  }

  .bringer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px 25px 40px;
  }

  .triangle_hexagon {
      width: 250px;
      align-self: center;
      padding-bottom: 40px;
  }

  .bringer h2 {
      width: 900px;
      font-weight: bolder;
      background-color: rgba(255,204,53,.4);
      transform: skew(9deg,0deg);
      font-style: italic;
      padding: 12px;
  }

  .bringer article {
      width: 900px;
      text-align: center;
      font-size: 0.9em;
  }

  .assets {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      margin-bottom: 40px;
  }
  
  .assets h3 {
    color: #ED1C24;
    font-weight: 800;
  }

  .assets_details {
      display: flex;
      flex-direction: column;
      padding: 0 25px;
  }

  .assets_img {
    width: 40px;
    height: 40px;
    margin-right: 1rem;
  }

.further {
    display: flex;
    align-items: center;
    justify-content: center;
}

.further a {
    width: 30%;
    background-color: black;
    border-color: white;
    color: white;
    font-size: 1.4em;
    box-shadow: 8px 8px 0 rgba(128,83,35,.2);
    box-sizing: border-box;
    text-align: center;
    border-radius: 3px;
}

