@import url("https://fonts.googleapis.com/css?family=Poppins");

body {
  font-family: "Poppins";
}

header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

.blackHeart {
  width: 20px;
  margin-right: 1rem;
}

.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-bar img {
  width: 70px;
}

.search-form {
  display: flex;
  align-items: center;
  margin: 5px;
  width: 80%;
}

.search-form > label {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.05);
  height: 40px;
  width: 40px;
}

.search-form label img {
  height: 18px;
  width: 18px;
}

.search-form > button {
  border-radius: none;
  background-color: #fb3e44;
  color: white;
  height: 40px;
  width: 80px;
  border: none;
  font-weight: bold;
}

.search-form input {
  background: rgba(0, 0, 0, 0.05);
  height: 40px;
  width: 90%;
  border: none;
}

.search-bar a {
  text-decoration: none;
  color: rgb(107, 107, 107);
}

.search-join-ref {
  border: 1px solid gray;
  border-radius: 6px;
  padding: 2px 15px;
}

.essentials-container {
  display: flex;
  height: 600px;
  background-color: rgba(232, 217, 217, 0.3);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.essentials-container article {
  width: 30%;
  text-align: center;
  font-size: 1.2em;
}

#essentials-plans-ref {
  background-color: #fb3e44;
  padding: 10px 30px 10px 30px;
  text-decoration: none;
  color: white;
  font-family: Poppins;
  box-shadow:  8px 8px 0 rgba(251,59,73,.2);
}

#essentials-join-ref {
  background-color: white;
  padding: 10px 30px 10px 30px;
  text-decoration: none;
  color: black;
  font-family: Poppins;
}

.create-org-container {
  display: flex;
  height: 600px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create-org-container h3 {
  background-color: rgba(255,204,53,.4);
  font-style: italic;
  font-size: 1.5em;
  padding: 0 20px;
  transform: skew(9deg, 0deg);
}

.create-org-container img {
  height: 240px;
  width: 240px;
}

.create-org-container article {
  width: 40%;
  text-align: center;
}

.features-container {
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features-div {
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.features-div div {
  width: 25%;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

.features-div div img {
  width: 24px;
  height: 24px;
}

.features-div div h5 {
  color: #ED1C24;
  font-family: Poppins;
}

.features-div div p {
  text-align:left;
}

.features-container > a {
    text-align: center;
    background-color: black;
    box-shadow: 8px 8px 0 rgba(128,83,35,.2);
    padding: 10px 50px 10px 50px;
    color: white;
    text-decoration: none;
    font-style: bold;
}



