@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

body {
  font-family: 'Poppins';
}
#blackheart{
    width: 20px;
    margin-right: 1rem;
}
#logo{
    width: 60px;
}
#logo-left{
    border-bottom:none;
}
header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}
header a{
    font-weight: 600;
    color: black;
    text-decoration: none;
}
nav {
    width: 600px;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#search-bar{
    display: flex;
    justify-content: space-between;
}
form{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 80%;
    justify-content: center;
}
form label{
    color: rgba(0,0,0,.05);
}
form input{
    color: rgba(0,0,0,.05);
}
form #button{
    background-color: #fb3e44;
    color: white;
    border: #fb3e44;
}
form span{
    padding: 10px 0.25rem 10px 1rem;
}
#glass{
    width: 18px;
    height: 18px;
}
#searchinput{
    background-color: #F2F2F2;
    display: flex;
    width: 90%;
}
#searchinput input{
    border: none;
    background-color: #F2F2F2;
    font-family: 'Source Code Pro';
}
#search-links{
    display: flex;
}
#search-bar a{
    color: #919191;
    padding: 0.2rem 1rem 0.2rem 1rem ;
}
#join{
    border: 1px solid #919191 ;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#presentation{
    height: 600px;
    background-color: #F8F4F4;
}
h1{
    font-size: 70px;
    font-weight: 900;
    margin-bottom: 30px;
}
article{
    width: 35%;
    text-align: center;
    margin-bottom: 30px;
}
#links{
    margin: 10px;
    width: 40%;
    display: flex;
    justify-content: space-evenly;
}
.link{
    font-weight: 900;
    text-decoration: none;
    padding: 15px 50px 15px 50px ;
}
#plans{
    color: white;
    background-color: #FB3B49;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
}
#join{
    color: black;
    background-color: white;
    border: solid 1px white ;
}
#open-source img{
    width: 200px;
    margin: 50px;
    margin-bottom: 20px;
}
h2{
    background-color: rgba(255,204,53,.4);
    transform: skew(9deg,0deg);
    font-style: italic;
    padding: 0px 30px 0px 30px ;
}
#open-source article{
    width: 50%;
}
#advantages{
    margin-bottom: 100px;
}
.container{
    margin: 40px;
    display: flex;
    justify-content: space-around;
}
.box{
    width: 25%; 
    margin: 5px;
    display: flex;
    flex-direction: column;
}
.box img{
    width: 40px;
    height: 40px;
}
.box p{
    width: 80%;
}
.box h4{
    color: #ED1C24;
}
#advantages a{
    padding-left: 60px;
    padding-right: 60px;
    color: white;
    background-color: black;
    box-shadow: 8px 8px 0 rgba(128,83,35,.2);

}