@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
  padding: 0;
  margin: 0;
}

header .top-header {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }

header .top-header .black-heart img {
  width: 20px;
  margin-right: 1rem;
}

header nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }


header .bottom-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
}
  .bottom-header .logo {
    height: 34px;
    margin-left: 20px;
  }

  .bottom-header .search {

  }

  /* .bottom-header .search .magnify {
    width: 34px;
    background-color: rgba(0,0,0,.05);
  } */

  .bottom-header .search .searchbar {
    width:600px;
    height: 34px;
    background-color: rgba(0,0,0,.05);
    border: lightgray;
    font-family: 'Poppins';
  }

  .bottom-header .search button {
    height: 34px;
    padding: 0 10px;
    background-color: #fb3e44;
    color: #fff;
    border: #fb3e44;
    font-family: 'Poppins';
  }  

  .bottom-header .login {
  }

  .bottom-header .login button {
    height: 30px;
    border: lightgray;
    font-family: 'Poppins';
    color: darkgray;

  }

#first-sec {
  height: 600px;
  background-color: rgba(232,217,217,.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#first-sec h1 {
  font-size: 50px;
  font-weight: bold;
}

#first-sec article p {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 40px;
}

#first-sec .box-join {
    display: flex;
    justify-content: center;
    align-items: center;
}

#first-sec .box-join .shadow {
  background-color: rgba(251,59,73,.2);
  margin: 0 20px;
}

#first-sec .box-join .red {
  text-decoration: none;
  font-size: 20px;
  font-family: 'Poppins';
  font-weight: bold;
  color: #fff;
  width: 180px;
  height: 40px;
  background-color: red;
  border: none;
  display: block;
  transform: translate(-4px, -4px);
}

#first-sec .box-join .white {
  text-decoration: none;
  font-size: 20px;
  font-family: 'Poppins';
  font-weight: bold;
  color: black;
  width: 180px;
  height: 40px;
  border: none;
  display: block;
  margin: 0 20px;
}



#second-sec {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#second-sec div {
  width: 250px;
  height: 250px;
  background-image: url(./images/triangle-hexagon.svg);
  background-size: auto;
  background-repeat: no-repeat;
}

#second-sec h2 {
  font-style: italic;
  background-color: rgba(255,204,53,.4);
  transform: skew(9deg,0deg);
  padding: 0 20px 0
  
}

#second-sec article p {
  width: 500px;
  font-size: 10px;
}

#third-sec {
  height: 600px;
  margin-top: 10px;
}

#third-sec .container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
} 

#third-sec .container .item {
  margin: 20px;
}
#third-sec .container .item .img  {
  width: 25px;
}  
#third-sec h3 {
  color:#ED1C24;
  font-size: 15px;
}

#third-sec p {
  font-size: 12px;
  font-weight: bold;
}


#third-sec .inner {
  margin-top: 50px;
  font-weight: bold;
  display: flex;
  justify-self: center;
}

#third-sec .inner span {
  font-size: 15px;
  font-weight: bold;
  color:white;
  background-color: black;
  padding: 5px 100px;
  margin: auto;
}