@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}


#topbar {
  
}
#searchbar {
  width: 600px;
  
  
}
#introduction {
  height: 600px;
   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(232,217,217,.3);
}

#introduction p{
  width: 400px;
  padding: 20px;
  text-align: center;
    
}

#description{
  height: 600px;
  display: flex;
  flex-direction: column;
    justify-content: center;
  align-items: center;
  
  
}
#description p{
  width:750px;
  text-align: center;
}
#general-information {
  display:flex;
  align-items: space-around;
  justify-items: space-around;
}

#general-information article{
  margin:60px;
}


header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

.heartlogo {
  width: 20px;
  margin-right: 1rem;
}

.see-plans-button {
  background-color: #FB3B49;
  color: white;
  font-weight:bold;
  font-size: 1em;
  Letter-spacing:0.5pz;
  text-decoration: none;
  padding: 10px 40px;
  box-shadow: 8px 8px 0 rgba(251,59,73,.2);
  margin-right: 15px;
}
.join-for-free-button {
  background-color: white;
  font-weight: bold;
  Letter-spacing:0.5pz;
  text-decoration: none;
  color: black;
  padding: 10px 40px;
  margin-left: 15px;
}

.search-button{
  background-color: #fb3e44;
  color:white;
  border: none;
  padding: 4px 10px 4px 10px;
}

.searchbar{
  background-color: rgba(0,0,0,.05);
  border: none;
  padding: 4px 300px 4px 0px
}

.join-button{
  color: grey;
  border: 1px solid grey;
  padding: 1px 10px 1px 10px;
  font-size:0.8em;
  text-decoration: none;
  display: flex;
}
.loggin-button {
  color:grey;
  border: none;
  padding: 1px 10px 1px 10px;
  font-size:0.8em;
  text-decoration: none;
  
}
.penguin{
  margin-right: 800px;
  
}

h1 {
  font-size: 4em;
  margin:20px;
}
h2 {
  font size: 2.5em
}
.title2 {
  background-color:rgba(255,204,53,.4);
  font-style: italic;
  transform: skew(9deg,0deg);
  width:600px;
}
h3 {
  color: #ED1C24;
}
.org-button{
  background-color: black;
  color:white;
  border: none;
  padding: 5px 50px 5px 50px;
  box-shadow: 8px 8px 0 rgba(128,83,35,.2);
  text-decoration: none;
  font-weight: bold;
}
.center-text {
  text-align: center;
  display: block;
}
.searchbar-buttons{
  display: flex;
  flex-direction:row;
  
}
.npmlogo{
  width: 70px;
  height: auto;
}
.searchlogo {
  width: 20px;
  height: auto;
  background-color: rgba(0,0,0,.05);
}
.hexagonlogo {
  width: 230px;
  height: auto;
  margin-bottom: 30px;
}

.generalinformationlogo {
  width: 40px;
  height: auto;
}