@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

h1 {
    font-size: 4em;
    margin: 0;
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
nav {
    width: 600px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: black;
}

.blackHeart {
    width: 20px;
    margin-right: 1rem;
}

.npm-logo {
    height: 20px;
    margin: 10px;
}

.magnifying-glass {
    height: 18px;
    margin-left: 10px;
}

.search {
    background-color: rgba(0,0,0,.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px;
    width: 600px;
}

header input[type=text] {
    background-color: rgba(0,0,0,.0);
    float: right;
    padding: 6px;
    border: none;
    margin-right: 10px;
    font-size: 14px;
    width: 600px;
    height: 20px;
}

header button[type=button] {
    background-color: #fb3e44;
    color: white;
    border: none;
    font-size: 14px;
    width: 100px;
    height: 40px;
}

#search-nav-join {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 5px 12px;
    margin-right: 5px;
    font-size: 14px;
}

#search-nav-log-in {
    text-decoration: none;
    color: black;
    padding: 5px 15px;
    font-size: 14px;
}

#sect1 {
    height: 600px;
    background-color: rgba(232,217,217,.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#sect1 article {
    width: 400px;
    text-align: center;
    padding: 15px;
    margin-top: 15px;
}

#sect1 div {
    width: 400px;
    text-align: center;
    font-size: 1.3em;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

#btn-see-plans {
    background-color: #FB3B49;
    text-decoration: none;
    color: white;
    width: 180px;
    height: 50px;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
    display: flex;
    align-items: center;
    justify-content: center;
       
}

#btn-join-for-free {
    text-decoration: none;
    color: black;
    width: 180px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center; 
}