@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
    
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }

  h1 {
    font-size: 5em;
    text-align: center;
    padding-bottom: 0px;
   
  }
  
  h2 {
    font-size: 1.4em;
    text-align: center;
    line-height: 4em;
    background-color: rgba(255,204,53,.4);
    transform: skew(9deg,0deg); 
  
    
  }
  
  h3 {
    font-size: 1.2em;
    
    line-height: 1em;
  }
  
  h4 {
    font-size: 1.5em;
    letter-spacing: 0.4px;
    margin-bottom: 15px;
    line-height: 1em;
  }
  
  h5 {
    font-size: 1.0em;
    line-height: 1.5em;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
  }

  .active {
    background-color: #FB3B49;
    color: white;
    font-size: 1em;
    letter-spacing: 0.5px;
    text-align: center;
    padding: 10px 20px;
    border: none
  }

  .see-plans {
  background-color: #FB3B49;
  color: white;
  font-size: 1em;
  letter-spacing: 0.5px;
  text-align: center;
  padding: 10px 20px;
  border: none;
  box-shadow: 8px 8px 0 rgba(251,59,73,.2);
}

  .top-nav {
    
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: baseline;
      align-content: stretch;
    
    
  }

  .top-background {
    background-color: rgba(232,217,217,.3);
      height: 600px;
    }

    .btn { 
      background-color: white;
      color: black;
      font-size: 1em;
      letter-spacing: 0.5px;
      text-align: center;
      padding: 10px 20px;
      border: none
      
    }
  
  .search {
    width: 40%;
  }

  #top {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
    
#body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#footer {
  padding: 150px 0px;
  margin-left: 450px;
  margin-right: 250px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: left;
	align-items: left;
  align-content: space-between;
  text-align: left; 
}

#footer img {
  width: 50px;
  height: 80px;
}

#footer p {
  width: 80%;
  text-justify: auto;
}

#footer header {
color: #ED1C24;}

#footer a {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: left;
	align-items: left;
  align-content: space-between;
  text-align: left;

}

#footer article {
  flex-direction: column;
  background-color: black;
  color: white;
  font-size: 1em;
  letter-spacing: 0.5px;
  text-align: center;
  border: none;
  align-items: center;
  box-shadow: 8px 8px 0 rgba(128,83,35,.2)}

