@import url('https://fonts.googleapis.com/css?family=Poppins');

html, body {
    background-image: url(https://static.npmjs.com/abf53a31b2da4657a1a004ee9358551c.png);
    background-size: 100%;
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
}

.header-style {
    background-color: white;
}
header > div {
    margin-top: 1.5%;
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}
nav {
    width: 600px
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.black-heart{
    width: 40px;
    height: 20px;
    margin-right: 1rem;
}
nav a {
    text-decoration: none;
    color: black;
}


.form-content {
    width: 100%;
}
#web-looking{
    width: 70%;
    padding: 20px;
    border: none;
    background-color: transparent;
    text-align: start;
}
.logo-npm {
    padding: 20px 20px 20px 0px;
    width: 70px;
}
.logo-glass {
    position: absolute;
    width: 20px;
}


#welcome{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
}
#welcome > h1{
    font-size: 5rem;
    text-align: center;
    width: 600px;
    margin-bottom: 20px;
}  
#welcome > p{
    width: 600px;
}
#welcome > article{
}
#welcome > article > h4{
    display: block;
    text-align: center;
    font-size: 1.5rem;
    width: 300px;
}

  
  