@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header a:hover {
  color: darkgrey;
}

header button:hover {
  color: darkgrey;
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }

  #header-top div {
      display: flex;
      align-items: center;
  }

  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }

  .npmLogo {
      width: 5%;
  }

  .header-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 60px;
  }

  .search-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: rgba(0,0,0,.05);
      width: 78%;
      height: 75%;
  }

.glass {
  width: 2%;
  padding-left: 10px;
}

.search-bar form {
  width: 85%;
  border: none;
}

.search-bar input {
  width: 100%;
  border: none;
  background-color: transparent;
  font-size: 16px;
}

.search-bar button {
  color: white;
  font-size: 16px;
  background-color: #fb3e44;
  border: 1px solid rgba(0,0,0,.05);
  height: 100%;
  width: 10%;
}

.join {
  border: 1px solid black;
  width: 70px;
  font-size: 16px;
  padding: 5px 10px 5px 10px;
}

.login {
  border: none;
  width: 70px;
  font-size: 16px;
  padding: 5px 10px 5px 10px;
}

.intro {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(232,217,217,.3);
}

.intro h1 {
  font-size: 60px;
  width: 60%;
  text-align: center;
  text-emphasis: strong;
}

.intro article{
  width: 40%;
  text-align: center;
  font-size: 19px;
}

.intro > div {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.intro button {
  border: none;
  font-size: 19px;
  height: 58px;
  width: 232px;
}

.see-plans {
  background-color: #FB3B49;
  color: white;
  box-shadow: 8px 8px 0 rgba(251,59,73,.2);
}

.for-free {
  background-color: white;
  color: black;
}

.promo {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.promo div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hexagon {
  width: 15%;
}

.promo h2 {
  width: 60%;
  text-align: center;
  background-color: rgba(255,204,53,.4);
  transform: skew(9deg,0deg);
  font-style: italic;
}

.promo article {
  width: 50%;
  text-align: center;
}

.features {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.grid {
  width: 90%;
  display: flex;
  justify-content: baseline;
}

.grid div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 20px;
}

.grid img {
  height: 30px;
  margin-bottom: 15px;
}

.grid p {
  font-size: 15px;
}

.features heading {
  color: #ED1C24;
}

.features button {
  background-color: black;
  color: white;
  border: none;
  width: 420px;
  height: 60px;
  font-size: 20px;
  box-shadow: 8px 8px 0 rgba(128,83,35,.2);
}