@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}
header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }

.header-flex{
    width: full-width;
}

.header-flex img{
    display: flex;
    flex: none;
    justify-content: space-between;
    align-items: center;
    height:20px;
    margin:10px;
    margin-top:17px;
    margin-bottom:17px;
    margin-right:20px;
}
.header-flex form{
    display: flex;
    flex: auto;
    justify-content: space-between;
    align-items: center;
    align-self:strech; 
}
.header-flex a{
    display: flex;
    flex:none;
    justify-content: space-between;
    align-items:center;
}
  .slot-form{
      background-color: whitesmoke;
  }
  .slot-form-container{
    font-family:"poppins";
  }
  .slot-form-container input{
      margin:none;
      font-family:"poppins";
      border:none;
      text-align:center;
      background-color:whitesmoke;
  }
    
  .slot-form-container button{
      background-color:#fb3e44;
      color:white;
      text-decoration:none;
      font-family: "Poppins";
      border:none;
      padding:17px;
  }
.header-join{
    text-decoration: none;
    color:black;
    padding-top:6px;
    padding-bottom:6px;
    padding-right:15px;
    padding-left:15px;
    margin:20px;
    border:0.2px solid black;
}
.header-login{
    text-decoration: none;
    color: black;
    margin:20px;
}

#general-information{
    height:600px;
    background-color:rgba(232,217,217,.3);
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction:column;
    flex-wrap:wrap;
}
#general-information h1{
    font-size:50px;  
}

#general-information article{
     text-align:center;
     width:400px;
}    
.both-buttons{
    margin:40px;
}

.button-see-plans{
    text-decoration:none;
    background-color:#FB3B49 ;
    color:white;
    margin-left:0px;
    margin-right:50px;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:60px;
    padding-right:60px;
    box-shadow:8px 8px 0 rgba(251,59,73,.2);

}
.button-joinforfree{
    text-decoration:none;
    color:black;
    margin-left:25px;
}

