@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: 'Poppins';
  font-size: 10px;
  line-height: 3.5em;
  font-weight: 300;
}
h1 {
    font-size: 8em;
    text-align: center;
    font-weight: 700;
  }
  h2 {
    font-size: 5em;
    text-align: center;
    line-height: 4em;
  }
  h3 {
    font-size: 3.5em;
    text-align: center;
  }
  h4 {
    font-size: 1.5em;
    letter-spacing: 0.4px;
    margin-bottom: 15px;
  }
  h5 {
    font-size: 1.1em;
    color: #ED1C24;
    font-weight: bold;
  }
.npm-logo-title {
    color: red;
    width: 10px;
    height: 10px;
}
.header {
    height: 120px;
    box-shadow: 0 4px 2px -2px #eee;
}
.blackHeart {
    margin-top: 10px;
    height: 12px;
    width: 25px;
}
.header-parts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin: 10px 30px 10px;
}
.nifty-logo {
    padding: 5px 0px 5px;
    font-size: 1.5em;
    font-weight: 600;
}
.nifty-logo span {
    padding: 0 30px 0;
}
.nav-bar {
    padding: 5px 0px 5px;
  }
.nav-bar-ul {
    width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
  }
  .nav-bar a {
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 600;
    color: black;
  }
  .nav-bar-ul li {
    /* styles to be added here */
      list-style-type: none;
      text-align: center;
    }
    .header-ruler {
        color: gray;
        opacity: 0.25;
    }
    .header-parts-down {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        margin: 10px 30px 10px;
    } 
   
.npm-logo {
    height: 20px;
    width: 70px;
    padding: 5px 0px 5px;
}
.search-form {
    width: 800px;
    margin-right: 30px;
}
.search-form span{
    white-space: nowrap;
}
.search-form .fa-search {
    font-size: 1.75em;
    }
.search-form input {
    height: 25px;
    outline: none;
    padding: 3px;
    width: 100%;
    font-size: 1.5em;
    background-color: rgba(0,0,0,.05);
}

.search-form button {
    height: 2.5em;
    outline: none;
    padding: 3px;
    width: 6em;
    background-color: #fb3e44;
    color: white;
    font-size: 1.5em;
    border: 1px solid #fb3e44;
}
.join-button {
    height: 2.5em;
    width: 6em;
    padding: 5px 3px;
    margin-left: 90px;
    text-align: center;
    font-size: 1.25em;
}
.log-in {
    margin-right: 50px;
}
.log-in a{
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 600;
    color: black;
}
.banner-content {
    height: 650px;
    background-color: rgba(232,217,217,.3);
    text-align: center;
}
.main-heading {
    display: flex;
    justify-content: center;
}
.banner-description {
    text-align:center;
    font-size: 1.75em;
    width: 500px;
  margin: 0 auto; 
}
.banner-buttons {
    display: flex;
    justify-content: space-between;
    width: 400px;
    align-content: center;
    margin: 0 auto; 
}
.plans {
    background-color: #FB3B49;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
    height: 4em;
    width: 15em;
    margin: 5px 15px;
    font-size: 1.75em;
    color: white;
    font-weight: bold;
}
.join {
    background-color: white;
    /* box-shadow: 8px 8px 0 rgba(251,59,73,.2); */
    height: 4em;
    width: 15em; 
    color: black; 
    margin: 5px 15px;
    border: none;
    font-size: 1.75em;
    font-weight: bold;
}
.product-description {
    text-align: center;
    margin: 0 auto; 
    width: 700px;
    font-size: 1.5em;
    margin-top: 25px;
    line-height: 1.5em;
}
.product-description a {
    color: red;
    font-weight: bold;
}
.one-line-description {
    font-weight: 700;
}
.npm-details {
    height: 500px;
    text-align: center; 
    margin-top: 80px;
}
.npm-details img {
    height: 230.31px;
    width: 256px;
}
.npm-slogan {
    background-color: rgba(255,204,53,.4);
    transform: skew(9deg,0deg);
    font-style: italic;
    margin: 50px 250px;
}
.npm-description {
    text-align:center;
    font-size: 1.5em;
    width: 700px;
  margin: 0 auto;
  line-height: 1.25em;
}
.npm-advantage {
    height: 600px;
    text-align: center;
}
.wrapping-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row; 
}
.container {
    width: 200px;
    line-height: 1.5em;
    font-size: 1.5em;
}
.container img {
    height: 40px;
    width: 40px;
}
.create-org-button {
    width: 400px;
    height: 60px;
    box-shadow: 8px 8px 0 rgba(128,83,35,.2);
    color: white;
    background-color: black;
    display: flex;
    align-content: center;
    margin: 80px auto;
    justify-content: center;
    font-size: 1.75em;
}





