@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
  width: 100%;
  padding: auto;
  margin: auto;
}
header > div {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    font-size: 6px;
  }

  .header2 {
      display: flex;
      justify-content: center;
      flex-direction: row;
      position: relative;
      padding: 0 15px;,
  }

  .search {
      position: relative;
      width: 100%;
      margin-top: 5px;
      margin-bottom: 15px;
      height: 24px;
  }

  form input {
    color: rgba(0,0,0,.05);
    background-color: rgba(232,217,217,.3);
    border-style: none;
  }

  #search-button {
      color: white;
      background-color: #fb3e44;
      font-size: 7px;
      padding: 7px 12px;
      border-style: none;
  }

  #join {
    font-size: 7px;
    border: 1px solid black;
    width: 50px;
    padding: 5px 12px;
    margin: 7px 7px 7px 15px;
  }

  #login {
    font-size: 7px;
    width: 50px;
    padding: 5px 12px;
    margin: 5px;
    border: none;
  }
  
nav {
   font-size: 0.6em;
   line-height: 5px;
}
  
nav ul {
    list-style: none;
    float: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
nav a {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    position: relative;
    padding: 5px;
    font-size: 6px;
    font-weight: bolder;

}
  
.blackHeart {
    width: 20px;
    margin-right: 1rem;
}

#npm-logo {
      width: 40px;
      padding-right: 10px;
}

#magnify {
      width: 10px;
      background-color:rgba(232,217,217,.3);
      background-size: cover;
      padding: 9px 2px 5px 5px;
}

#section1 {
      background-color:rgba(232,217,217,.3);
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      height: 150px;
      padding: 50px 0 70px 0;
      margin: 0 10px;
      text-align: center;
    }

#section1 article {
    width: 36%;
    text-align: center;
    font-size: xx-small;
    padding: 0 0 15px 0;
    font-weight: bold;
}

#section1 h1 {
    font-size: 40px;
    font-weight: bolder;
    line-height: 30px;
}

.Plans {
    background-color: #FB3B49;
    box-shadow: 4px 4px 0 rgba(251,59,73,.2);
    padding: 10px;
    border-style: none;
    margin: 15px 10px;
    width: 115px;
    color: white;
    font-weight: bolder;
    font-size: xx-small;
    line-height: 7px;
}

.Joinfree{
    padding: 10px;
    border-style: none;
    margin: 15px 10px;
    width: 115px;
    font-weight: bolder;
    line-height: 7px;
    font-size: xx-small;

}

#section2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px 50px 0 50px;
    height: 230px;
}

#hex {
      width: 120px;
      padding: 30px 30px 5px 30px;
}

#section2 h2 {
      background-color: rgba(255,204,53,.4);
      transform: skew(9deg,0deg);
      font-style: italic;
      font-weight: bolder;
      width: 65%;
      text-align: center;
      font-size: 16px;
      line-height: 18px;
      margin-bottom: 15px;
      }

#section2 article {
     font-size: 7px;
     width: 55%;
     text-align: center;
}
    
#section3 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 40px;
    margin: 35px;
    height: 130px;
    font-size: xx-small;
}

#section3 img {
    width: 20px;
}

#section3 div {
    padding: 10px;
    width: 100%;
}

#section3 h6 {
    color: #ED1C24;
    font-weight: bolder;
    padding: 6px 0;
    margin: 0 auto;
}

.org-button {
    box-shadow: 3px 3px 0 rgba(128,83,35,.2);
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    font-size: xx-small;
    font-weight: bolder;
    padding: 8px 55px;
}