@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}
header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }
  .flex-container{
      display:flex;
      align-items: flex-start;
      flex-wrap: wrap;
      }
  .npm-logo {
      display: flex;
      align-items: flex-end;
      padding-top: 20px;
      width: 80px;
      
    
  }
  .glass{
      display: flex;
      width:35px;
      align-items:center; 
      padding: 10px 0px;
      margin-right: -25px;
  }

  .s-tab {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      
    
  }

  .tab {
      width: 110rem;
      padding-left: 0px;
      padding-top: 5px;
      padding:12px 0px;
      margin: 5px;  
      color:rgba(0,0,0,.05);
      background-color: ;
  }
  .form-button{
      color:white;
      background-color: #fb3e44;
      width:80px;
      padding: 10px 0px;
      box-sizing:border-box;
      text-align: center;
      text-decoration: none;  
    }
    .flex-container a{
        text-decoration: none;
        font-size: large;
        padding: 10px 0px;
        color: black
        }
    .flex-container button{
        font-size: large;
        padding: 8px 15px;
        margin: 5px 10px;;
    }

#build {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px;
    justify-content: space-evenly;
    background-color:rgba(232,217,217,.3) ;
}
.plans-button {
background-color:#FB3B49 ;
box-shadow:8px 8px 0 rgba(251,59,73,.2) ;
box-sizing:border-box;
padding: 14px 40px;
font-size: 30px;
text-decoration: none;
color: white;
}
.join-button {
font-size: 30px;
text-decoration: none;
color: black;
margin-left: 50px;
}
.text{
    font-size: 2em;
    margin: 0px 700px;
    text-align: center;
    
}
.hexagon {
    width: 300px;
    align-items: center;

}
#source {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px;
    justify-content: space-evenly;
    }

#source > h2 {
background-color: rgba(255,204,53,.4);
transform: skew(9deg,0deg);
font-size: 2em;
}
#source p{
    font-size: 1.5em;
    margin: 0px 500px;
    text-align: center;
}
h1 {
    text-align: center;
    font-size: 9rem;
    margin-bottom: -50px;
    margin-top: 0;
}

#zero img {
    width: 40px;
}
#zero h3 {
    color:#ED1C24;

}
#zero .heading {
    display: flex;
    flex-direction:row ;
    align-items: center;
    }
#zero p {
    padding-left: -20px;
    padding-right: -50px;
}
#zero{
    margin-top: 200px;
    margin-bottom: 200px;
}
.create-button{
    padding: 14px;
    font-size: 25px;
    box-shadow: 8px 8px 0 rgba(128,83,35,.2);
    color: white;
    background-color: black;
    text-decoration: none;
    margin-left: 900px;
    width: 400px;
    
}
.heading{
    margin-bottom: 100px;
    text-align: center;
}
.heading > div > p {
margin:0px 100px;
}
