@import url("https://fonts.googleapis.com/css?family=Poppins");

body {
  font-family: "Poppins";
}

.nav-div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

.blackHeart {
  width: 20px;
  margin-right: 1rem;
}

.search-div {
  display: flex;
  justify-content: space-between;
  padding: 10px 25px;
  width: 1170px;
  align-items: center;
  height: 40px;
}

.logo {
  max-width: 80px;
  height: auto;
  padding-right: 20px;
}

.search-bar {
  display: flex;
  flex-grow: 1;
  position: relative;
}

forms > img {
  max-width: 20px;
  height: auto;
  position: absolute;
  padding: 10px;
  opacity: 0.6;
}

input {
  background-color: #f2f2f2;
  border: none;
  letter-spacing: 0px;
  height: 40px;
  font-size: 16px;
  width: 800px;
  padding: 15px 35px;
  border-radius: 2px;
}

input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-button {
  background-color: #fb3e44;
  color: white;
  border: none;
  border-radius: 2px;
  width: 85px;
}

.log-btn a {
  text-decoration: none;
  color: black;
  margin-right: 12px;
}

.join {
  border: 1px black solid;
  padding: 6px 20px;
  margin: 10px;
  width: 400px;
}

#plans {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 600px;
  background-color: rgba(232, 217, 217, 0.3);
  justify-content: center;
}

h1 {
  font-size: 64px;
  font-weight: bolder;
  font-weight: 900;
  text-shadow: 2px 0 #000000;
  margin-top: 0;
}

#plans article {
  width: 450px;
  text-align: center;
}

.plans-links {
  margin-top: 100px;
}

#plans a {
  text-decoration: none;
  margin: 0 16px;
  padding: 12px 50px;
}

.plans-btn {
  background-color: #fb3b49;
  box-shadow: 8px 8px 0 rgba(251, 59, 73, 0.2);
  color: white;
  font-weight: 900;
}

.free-btn {
  color: black;
  background-color: white;
  font-weight: 900;
}

#marketing {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 600px;
}

#marketing img {
  height: auto;
  width: 250px;
  margin-top: -15px;
  margin-bottom: 40px;
}

h2 {
  background-color: rgba(255, 204, 53, 0.4);
  transform: skew(9deg, 0deg);
  font-style: italic;
  text-align: center;
  font-weight: bold;
  line-height: 1.2em;
  padding: 0 40px;
  font-size: 32px;
  letter-spacing: 0.5px;
  margin-left: -10px;
}

#marketing article {
  width: 750px;
  text-align: center;
  font-size: 15px;
  margin: 10px 0;
  font-weight: lighter;
}

.features-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.features-container div {
  width: 225px;
}

h3 {
  color: #ed1c24;
  font-size: 16px;
  font-weight: bold;
  
}

.features-container p {
  font-size: 14px;
}

#features img {
  height: auto;
  width: 40px;
}

.create-btn {
  box-shadow: 8px 8px 0 rgba(128, 83, 35, 0.2);
  color: white;
  background-color: black;
  border: none;
  font-size: 20px;
  padding: 20px 140px;
  margin: 50px 0 20px 0;
}

.create-div{
  display:flex;
  justify-content: center;
}