/*body */
body {
    font-family: 'Poppins';
  }

/*fonts*/
  @import url('https://fonts.googleapis.com/css?family=Poppins');


/* NAV-HEADER */
header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }

  
 /*Buttonheader*/

.npm-logo {
    width: 6em;
    padding: 15px 10px;
}

.searchIcon {
    height: 30px;
    align-content: center;
    padding: 10px;
}

.box {
    background-color: #f2f2f2;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

input {
    width: 200%;
    height: 50px;
    font-size: 120%;
    border: none;
    background-color: #f2f2f2;
}

#search1 {
    background-color: #fb3e44;
    color: #ffffff;
    border: none;
    height: 50px;
    width: 100px;
    float: left;
    margin-left: 0px;
}

#join1 {
    background-color: white;
    border: 1px solid gray;
    height: 50px;
    width: 100px;
    color: black;
    margin-left: 30px;
    font-family: 'Poppins', sans-serif;
}

#login {
    background-color: white;
    border: none;
    height: 50px;
    width: 100px;
    color: black;
    float: right;
    margin-right: 5px;
    width: 95px;
    font-family: 'Poppins', sans-serif;
}

/* section1 */
#section1 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: rgba(232,217,217,.3);
    height: 600px;
}

/* heading build && buttons*/ 

#section1  {
    background-color: rgba(232,217,217,.3);
    height: 600;

}
#build {
    font-family: 'Poppins', sans-serif;
    font-size: 80px ;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: stretch;
        align-content: stretch;
        text-align: center;
        margin-top: 100px ;
}

#buttonsheader {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: baseline;
    align-content: center;

}

#plans {
    background-color: #FB3B49;
    box-shadow: 8px 8px 0 rgba(128,83,35,.2);
    color: white ;
    padding: 15px 70px ;
    border: none;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    text-align: center;
}

#join{
    background-color: white;
    color: black;
    padding: 15px 70px ;
    border: none;
    margin-left: 20px;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

/*section 2*/
#section2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 100px ;
}

#articles {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;


    
}

/*text */

h2 {
    font-family: 'Poppins', sans-serif;
    position: center;
}

h4 {
    color: red ;
    font-style: bold ;
    text-align: center;
}

#h3 {
    background-color: rgba(255,204,53,.4);
    transform: skew(9deg,0deg);
    font-style: italic ;
    color: black ;
    text-align: center;
    margin-top: 30px ; 
}

p {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        text-align: center;
        margin-top: 20px;
        margin-left: 50px;
        margin-right: 50px ;
    }

    img { 
        text-align: center ;
        align-items: center ;
        flex-wrap: nowrap;
        display : flex ;
    }

/* footer create an org*/

#create {
    background-color: black ;
    box-shadow: 8px 8px 0 rgba(128,83,35,.2);
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 10px 164px ;
    border: none ;
    font-size: 15px;

}

#footerbutton {
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        text-align: center;
}



