@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }

  .searchbarbox {
      height: 55px;
      
  }

  .littlelogo{
      width: 50px;
  }

  .searchbar{
      
      width:85%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      height:50px;
    
  }

  .searchbar img{
      width: 40px;
      position: absolute;
      top:70px;
      left:120px;
      
  }

  .twobuttons{
      
      width: 150px;
  }

  #joinbutton{
      text-decoration: none;
      border: solid 1px grey;
      color: black;
      padding: 5px 10px;
      margin-right: 10px;
      
  }

  #login{
      text-decoration: none;
      color: black;
  }

  .searchbar input{
      background-color: rgba(0,0,0,.05);
      
      width: 110em;
      height: 40px;
      position: absolute;
      top:70px;
      left: 120px;
      border: none;
      text-align: center;
      
  }

  .searchbar button{
      position:absolute;
      top: 70px;
      right: 244px;
      background-color: red;
      color: white;
      border: none;
      padding: 12px 15px;
  }


  #sectionone{
    background-color:rgba(232,217,217,.3);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 600px;
    text-align: center;
    align-items: center;
  }

  #sectionone h1{
      font-weight: bolder;
      font-size: 80px;
  }

  #sectionone article{
    width: 35%;
  }

  #sectionone div{
      margin-top: 130px;
  }

  #plansbutton{
      text-decoration: none;
      background-color: #FB3B49;
      box-shadow: 8px 8px 0 rgba(251,59,73,.2);
      color: white;
      padding: 10px 50px;
      margin-right: 50px;
      font-weight: bolder;
  }

  #joinfreebutton{
      text-decoration: none;
      color: black;
      font-weight: bolder;
      background-color: white;
      padding: 10px 50px;

  }

  #sectiontwo{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 600px;
    text-align: center;
    align-items: center;

  }

  #sectiontwo img{
      width: 200px;
      margin-top: 70px;
  }

  #sectiontwo h2{
      font-weight: bolder;
      background-color: rgba(255,204,53,.4);
      transform: skew(9deg,0deg);
      font-style: italic;
      padding-left: 20px;
      padding-right: 20px;

  }
  #sectiontwo article{
      width: 40%;
  }

  #sectionthree{
    height: 600px;
  }

  #sectionthree img{
      width: 40px;
  }

  .boxes{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  }

  .boxes div{
      text-align: left;
      width: 350px;
  }

  .boxes h3{
      color: #ED1C24;
      font-weight: bolder;
  }

  .orgbutton{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: 150px;
      
  }

  .orgbutton a{
      text-decoration: none;
      color: white;
        background-color: black;
        box-shadow: 8px 8px 0 rgba(128,83,35,.2);
        padding:10px 70px;
  }