@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header > div {
    padding: 0 25px ;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }

  .npmLogo {
      width: 80px;
      margin-right: 1rem;
      padding: 20px;
  }

  .searchLogo {
      width: 20px;
      margin: 0;
  }

  .firstSection {
      display: flex;
      flex-direction:column;
      align-items: center;
      background-color: rgba(232,217,217,.3);
      height: 600px;
  }

  .firstSection h1 {
      font-size: 70px;
  }

  .firstSection p {
    margin-top: 1px;
    font-size: 15px;
    text-align:center;
  }

  .secaoLinks {
      padding: 50px;
  }

  .seePlans {
      border: 2px solid #FB3B49;
      background-color: #FB3B49;
      padding: 20px 80px;
      font-size: 25px;
      font-weight: bold;
      text-decoration: none;
      color: white;
      box-shadow: 8px 8px 0 rgba(251,59,73,.2);
  }

  .joinFree {
    border: 2px solid white;
    background-color: white;
    text-decoration: none;
    padding: 20px 80px;
    color: black;
    font-weight:bold;
    font-size: 25px;
    margin-left: 35px;
  }

  .seePlans:hover {
      background-color:firebrick;
      color: white;
      border: 2px solid firebrick;
  }

  .joinFree:hover {
    background-color:rgba(232,217,217,.3);
    color: black;
    border: 2px solid rgba(232,217,217,.3);
  }

  .imagem1 {
      max-width: 100%;
      width: 250px;
      padding: 35px;
  }

  .secondSection {
    display: flex;
    flex-direction:column;
    align-items: center;
    background-color: white;
    height: 600px;
    }
  
    .secondSection h1 {
        transform: skew(9deg,0deg);
        background-color:rgba(255,204,53,.4);
        padding: 0 20px;
        font-style: italic;
        font-size: 30px;
    }

.rodape {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rodape li img {
    max-width: 100%;
    width: 35px;
    margin-left: 25px;
}

.rodape li p {
    font-size: 15px;
    margin-left: 25px;
}

.rodape li h1 {
    color:red;
    font-size: 20px;
    margin-left: 25px;
}

.createOrg {
    border: 2px solid black;
    background-color: black;
    text-decoration: none;
    padding: 10px 50px;
    color: white;
    font-weight:bold;
    font-size: 25px;
    text-align: center;
    box-shadow: 8px 8px 0 rgba(128,83,35,.2);
  }


