@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}
header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    margin: 0px;
  }
  nav {
      width: 600px;
  }
  nav ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: 700;
  }
  nav a {
      text-decoration: none;
      color: black;
  }
  .blackheart {
      width: 20px;
      margin-right: 1rem;
  }
.searchbar {
    width: 1000px;
    padding: 10px 0px;
    margin-left: 0px;
    margin-right: 0px;
    border: none;
    background-color: rgba(0, 0, 0, .05);
    font-size: 15px;
    background-image: url(images/magnifying-glass.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position-y: 8px;
    background-position-x: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300;
}
.headersearchbutton {
    margin-left: 0px;
    background-color: #fb3e44;
    border: none;
    color: white;
    padding: 11px 20px 10px 20px;
}
.joinbutton {
    color: black;
    padding: 2px 15px;
    background-color: white;
    border: black solid 1px;
    text-decoration: none;
}
.loginbutton {
    color: black;
    text-decoration: none;
    margin-left: 10px;
}
.npmmargin {
    margin-right: -50px;
    margin-bottom: -5px;
}
#hero {
    display: flex;
    height: 600px;
    flex-direction: column;
    align-items: center;
    background-color: rgba(232, 217, 217, .3) ;
}
#hero h1 {
    font-size: 4.5em;
    font-weight: 700;
    margin-bottom:45px;
}

#hero p {
    width: 35%;
    text-align: center;
    font-size: 1em;
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 75px;
}
.seeplans {
    color: white;
    background-color: #FB3B49;
    padding: 10px 50px;
    text-decoration: none;
    box-shadow: 8px 8px 0px rgba(251,59,73,.2);
    margin-right: 10px;
    font-weight: 700;
}
.joinfofree {
    color: black;
    background-color: white;
    border: none;
    padding: 10px 50px;
    margin-left: 10px;
    text-decoration: none;
    font-weight: 700;
}

#main {
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#main img {
    width: 15%;
    margin: 60px 0px 30px;
}

#main h2 {
    font-size: 30px;
    font-weight: 700;
    background-color: rgba(255, 204, 53, .4);
    font-style: italic;
    transform: skew(9deg,0deg);
    padding-left: 25px;
    padding-right: 25px;
}
#main p {
    text-align: center;
    width: 650px;
}
#closing {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    margin-left: 100px;
    margin-right: 100px;
    text-align: left;
}
#closing img {
    width: 30px;
}
#closing h3 {
    font-size: 1em;
    color: #ED1C24;
}
#closing p {
    font-size: 1em;
    text-align: left;
}
#closing article {
    width: 20%;
    margin: 0px 25px 0px 25px;
}
#footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 8px 8px 0 rgba(128,83,35,.2);
}
#footer a{
    color: white;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    text-decoration: none;
    font-size: .8em;
    font-weight: 300;
}