@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: 'Poppins';
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

nav {
    width: 600px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: black;
}

.blackHeart {
    width: 20px;
    margin-right: 1rem;
}

.npm-logo {
    width: 70px;
    box-sizing: border-box;
    margin-right: 32px;
}

.npm-search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 32px;
}

.npm-search form {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.npm-search form div {
    display: flex;
    align-items: center;
    flex: 1;
    padding: 5px 0 5px 26px;
    background: #f2f2f2;
}

.npm-search form img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.npm-search form input {
    background: none;
    border: none;
    height: 40px;
    font-family: "Fira Mono", "Andale Mono", "Consolas", monospace;
    width: 50%;
    outline: none;
}

#search-button {
    background-color: rgb(35, 31, 32);
    color: white;
    border-bottom-color: rgb(221, 221, 221);
    border-style: none;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    padding: 8px 32px;
}

.register a {
    font-size: 14px;
    font-weight: 500;
    padding: 14px 28px;
    text-align: center;
}

.register {
    margin-left: 20px;
}

.register a:first-child {
    border: 1px solid #cccccc;
}

a:hover {
    opacity: 0.5;
}

#intro {
    display: flex;
    flex-direction: column;
    background-image: url("./images/Screenshot 2020-01-24 at 16.40.31.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    align-items: center;
    color: white;
}

#intro h1 {
    font-size: 80px;
    font-weight: 600;
    color: white;
    flex: 1;
}

#intro article {
    font-size: 20px;
    font-weight: 600;
    width: 50%;
    text-align: center;
    margin-bottom: 100px;
}

#plans, #join {
    text-align: center;
    padding: 16px 32px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
    font-weight: bold;
    color: white;
}

#plans {
    background-color: #c12127;
    border-bottom: solid 5px #fa8717;
    margin-right: 40px;
}

#join {
    background-color: #e81aa8;
    border-bottom: solid 5px #b30ad2;
}

.plansJoin {
    margin-bottom: 70px;
}

#info img {
    height: 250px;
    width: 200px;
}

#info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

h2 {
    font-size: 36px;
    font-weight: 600;
    background-color: rgba(255,204,53,.4);
    transform: skew(9deg,0deg);
}

#info article {
    width: 50%;
}

#learn-more div  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
}

#learn-more div > * {
    flex-basis: 18%;
    margin-right: 30px;
}

#learn-more div article:last-child {
    margin: 0;
}

#learn-more img {
    height: 68px;
    width: 68px;
}

h3 {
    color: #c707d2;
}

#learn-more p {
    font-size: 14px;
    line-height: 24px;
    text-align: left;
}

#learn-more button {
    text-align: center;
    padding: 12px 60px;
    box-shadow: 6px 6px 0 rgba(128,83,35,.2);
    color: white;
    background-color: black;
    border: none;
}

#learn-more {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 42px 0;
}