@import url('https://fonts.googleapis.com/css?family=Poppins');
 html
 body {
        background-color:aliceblue;
        font-family: 'Poppins';
        margin: 0 auto;
        font-size: 10px;
	
}
.heart-menu{
        margin: 1%;
        width: 100%;
        text-align:justify;
}
.heart{
        float: left;
}
.heart img{
        height: 6px;
}
.menu ul{
        display: flex;
        justify-content:flex-end;
       
        list-style-type: none;
}
.menu li{
        margin: 10px;      
	text-align: center;
            
}
.menu a{        
        text-decoration:none; 
}
.logo-pesquisa-login{
        width: 100%;
}
.logo-pesquisa-login img{
        height: 17px;
        margin-left: 16px;
}
.form{
        width: 105px;
        
        display: flex;
}
.input{
        
        width: 100%;
}










