@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

/*-------------------Header----------------*/

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }
  .box .npmlogo{
      width: 50px;
      margin-right: 1rem;
  }
  .search{
    flex-grow: 2;
    display: flex;
  }
  #searchbar {
      width: 100%;
      display: flex;
      margin: 8px 1rem;
  }
  #searchbar input {
      padding-top: 10px;
      padding-bottom: 10px;
      width: 100%;
      border: none;
      font-family: 'Poppins';
      background-color: whitesmoke;
  }
  #searchbar .magnifying-glass {
      background-color: whitesmoke;
      width: 20px;
      padding: 10px;
  }
  #searchbar .button {
      background-color: #fb3e44;
      color: white;
      padding: 10px;
      border: unset;
      font-family: 'Poppins'
  }
  #join {
      display: flex;
      justify-content: space-evenly;
  }
  .link-join {
    text-align: center;
    text-decoration: none;
    color: #000;
    padding: 10px;
    border: 1px solid;

  }
  .link-login{
    text-align: center;
    text-decoration: none;
    color: #000;
    padding: 10px;
  }

  /*-------------------Section 1----------------*/

  #section1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    background-color: rgba(232,217,217,.3);
  }
  h1 {
    font-size: 70px;
    font-weight: bolder;
  }
  .bat {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 430px;
  }
  #seeplanjoin {
    padding: 50px;
    display: flex;
    justify-content:center;
  }
  .link-seeplans {
    background-color: #fb3b49;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
    text-align: center;
    text-decoration: none;
    color: #000;
    padding: 10px 50px;
    border: 1px none;
    margin: 10px;
  }
  .link-joinforfree {
    text-align: center;
    text-decoration: none;
    color: #000;
    padding: 10px 50px;
    border: 1px none;
    background-color: #fff;
    margin: 10px;
  }

  /*-------------------Section 2----------------*/

  #section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
  }
  .trihexagon {
    width: 200px;
  }
  h2 {
    margin-top: 50px;
    background-color:rgba(255,204,53,.4); 
  }
  .btbostyc {
    text-align: center;
    max-width: 800px;
  }
  #section3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 80px;
  }

  /*-------------------Section 3----------------*/
  
  #section3 div {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 100rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
  }
  .config {
    display: flex;
    flex-direction: column;
  }
  h3 {
    color: #ED1C24;
  }
  #section3 p {
    text-align: left;
  }
  .zerocon {
    height: 20px;
    width: 30px;
  }
  .teaman {
    height: 20px;
    width: 30px;
  }
  .famfea {
    height: 20px;
    width: 30px;
  }
  .npmaudit {
    height: 20px;
    width: 30px;
  }
  .createanorg {
    box-shadow: 8px 8px 0 rgba(128,83,35,.2);
    color: #fff;
    background-color: #000000;
    display: flex;
    align-self: center;
    text-decoration: none;
    padding: 10px 100px;
    margin-top: 80px;
  }