body {
    font-family: sans-serif;
    color: black;
    font-size: 10px;
    font-size: 10px;
    line-height: 3.5em;
    font-weight: 300;
    background-color: white;
}

h1 {
    font-size: 6em;
}
h2 {
    font-size: 3em;
}
h3 {
    font-size: 2em;
}
h4 {
    font-size: 1.5em;
}


/*nav styling*/
.top-bar {
    display: flex;
    justify-content: space-evenly;
}
.blackHeart {
    width: 20px;
    margin-right: 1rem;
}
.pun-machine{
    width: 20%;
}
nav {
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding-right: 5%;
}
  
  nav ul {
    width: 50%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 0 20px;

}
nav a {
    text-decoration: none;
    color: black;
}
  
/*Search Bar Styling*/
.logo {
    height: 24px;
    padding: 10px 10px;
}
.icon {
    height: 30px;
    background-color: grey;
    opacity: 0.5;
    padding: 2 2px;
}
form{
    background-color: grey;
    opacity: 0.5;
    height: 34px;
    padding: 0;
    margin: 0;
    width: 75%;
}
form input {
    width: 90%;
}
#search-bar{
    display: flex;
    align-content: space-around;
}
#search-bar button {
    width: 60px;
}

/*Header Styling*/
header {
    background-color: rgb(248, 237, 224);
    padding: 10% 10%;
    text-align: center;
}
header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    flex-direction:column ;
    align-items: center;
}

/*npm tools Styling*/

#npm-tool {
    padding: 5% 20%;
    display: flex;
    justify-content: center;
    flex-direction:column;
    
}
#npm-tool img{
    width: 300px;
    padding: 0 30%;
}
.container {
    width: 20%;
    height: 50px;
    line-height: 1em;
    text-align: left;
}
.container img {
    width: 25px;
    height: 25px;
}
.subtitle {
    color: red;
    padding: 0 ;
}
  
