@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: 'Poppins';
    color: black;
    font-size: 15px;
    line-height: 3.5em;
    font-weight: 300;
    background-color: white;
}

h1 {
    font-size: 6em;
}
h2 {
    font-size: 3em;
}
h3 {
    font-size: 2em;
}
h4 {
    font-size: 1.5em;
}


/*nav styling*/
header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }
  
/*Search Bar Styling*/
.logo {
    height: 24px;
    padding: 10px 10px;
}
.icon {
    height: 20px;
    width: 20px;
}
form{
    background-color: grey;
    opacity: 0.2;
    margin: 0;
    width: 100%;
}
form input {
    color: white;
    width: 80%;
    background-color: none;
    border: 0;
}

#search-bar{
    display: flex;
    align-content: space-around;
}
#search-bar button {
    height: 34px;
    background-color: red;
    border: none;
    color: white;
    font-weight: bold;
}
#search-bar a{
    color: black;
    text-decoration: none;
    width: 75px;
    text-align: center;
    font-weight: bold;
}
#join {
    border: 1px solid black;
}
/*Section #big-message Styling*/
#big-message {
    background-color: rgba(232, 217, 217,.3);
    padding: 10% 10%;
    text-align: center;
}
#big-message > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    flex-direction:column ;
    align-items: center;
}
#big-message .buttons {
    margin: 50px;
    width: 500px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
}
#seeplans {
    color: white;
    background-color: #fb3b49;
    width: 150px;
    height: 50px;
    box-shadow: 8px 8px 0 rgba(251, 59, 73, .2);
    text-decoration: none;
    padding: 0 5%;
}
#joinfree {
    background-color: white;
    border: none;
    text-decoration: none;
    padding: 0 5%;
}

/*npm tools Styling*/

#npm-tool {
    padding: 5% 20%;
    display: flex;
    justify-content: center;
    flex-direction:column;
    text-align: center;
    line-height: 1.5;
    
}
#npm-tool h3 {
    background-color: rgba(255,204,53,.4);
    transform: skew(9deg,0deg);
    font-style: italic;

}
#npm-tool img{
    width: 300px;
    padding: 0 30%;
}
/*npm characteristics styling*/
#npm-characteristics{
    display: flex;
    justify-content: space-around;
}
.container {
    width: 20%;
    height: 50px;
    line-height: 1em;
    text-align: left;
}
.container img {
    width: 25px;
    height: 25px;
}
.subtitle {
    color: #ED1C24;
    padding: 0 ;
}
.org-btn {
    background-color: black;
    box-shadow: 8px 8px 0 rgba(128,83,35,.2);
    color: white;
    text-decoration: none;
    padding: 5px 30px;
}
footer{
    display: flex;
    justify-content: center;
}
