body {
    font-family: sans-serif;
    color: black;
    font-size: 10px;
    font-size: 10px;
    line-height: 3.5em;
    font-weight: 300;
    background-color: white;
}

h1 {
    font-size: 6em;
}
h2 {
    font-size: 3em;
}
h3 {
    font-size: 2em;
}
h4 {
    font-size: 1.5em;
}


/*nav styling*/
nav {
    width: auto;
    display: flex;
    justify-content: space-between;
}
  
  nav ul {
    width: 50%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 0 20px;

}
nav a {
    text-decoration: none;
    color: black;
}
  
.blackHeart {
    width: 20px;
    margin-right: 1rem;
}

/*Header Styling*/
header {
    background-color: rgb(248, 237, 224);
    padding: 10% 10%;
    text-align: center;
}
header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    flex-direction:column ;
    align-items: center;
}

/*npm tools Styling*/

#npm-tool {
    padding: 10% 20%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
/*
#npm-tool p {
    width: 60%;
    display: flex;
    justify-content: center;
    margin: ;
}

  
