@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
  font-family: 'Poppins';
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }

nav {
    width: 600px;
  }
  
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
nav a {
    text-decoration: none;
    color: black;
  }
  
.blackHeart {
    width: 20px;
    margin-right: 1rem;
  }

.npm-logo{
    width: 60px;
    margin-right: 1rem;
  }

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;}

input.site-search {
    color: rgba(0,0,0,.05);
    width: 2000px;
    height: 31px;
    font-size: 14px;
    
    background-image: url(./images/magnifying-glass.png) ;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
    padding-left: 40px ;
    background-color: rgba(0,0,0,.05);
    border: 1px solid lightgrey; 
   }

.search-button{
    background-color: #fb3e44;
    color: white;
    font-size: 14px;
    position: relative;
    right: 20px;
    text-align: center;
 
    border: 1px solid lightgrey;
    
    margin: 15px; 
    padding: 5px 15px 5px 15px;
   
}

#search-button nav {
    text-align: right;
    margin-left: 8px;
}

#join {
    background-color: none;
    border: 1px solid lightgrey;
    margin: 15px; 
    padding: 5px 15px 5px 15px;
}


.intro {
    height:600px;
    background-color: rgba(232,217,217,.3);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    font-weight: bold;
    }

.intro article {
    margin-bottom: 5%;
}

.link-intro {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    gap: 40px;
    margin: 50px 20px 20px 20px;
}

.link-btn{
    background-color:#FB3B49;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
    padding:15px 55px 15px 55px;
    color: white;
    text-decoration: none;  
}

.link-text{
    background-color: white;
    padding:15px 55px 15px 55px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}


.presentation img {
    width: 180px;
    padding-top: 40px;
   
}

.presentation {
    text-align: center;   
}

.presentation article{
    text-align: center;
    margin: 50px auto;
}

.container article {
    display: flex;
    margin-top: 100px;
    margin-right: 500px;
    margin-left: 500px;
    justify-content: center;
    gap: 50px;
}

.container img {
    margin: 50px auto;
    width: 40px;
}

.container a {
    display: flex;
    flex-direction: row;
    justify-content: center; 
    background-color:black;
    box-shadow: 8px 8px 0 rgba(128,83,35,.2);
    width: 350px;
    margin: 50px auto;
    padding: 10px;
    text-align: center;
    color: white;
    text-decoration: none; 
    font-weight: bold;
}

h1{
    font-size: 100px;
    font-weight: bold;
    margin: 20px auto;  
}

.titre-presentation {
    display: table;
    margin: 0px auto 0px auto;
    padding: 0px 0px 0px 0px;
    background-color: rgba(255,204,53,.4);
    transform: skew(9deg,0deg);  
}

h3{
    font-size: 30px;
    margin: 0px auto 0px auto;
    transform: skew(-9deg,0deg);
}

h5 {
    color: #ED1C24;
    font-weight: bold;
    font-size: large;
}



