@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}
.child ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding-left: 600px;
}
.child ul li{
    padding-left: 15px;
    
}
nav a {
    text-decoration: none;
    color: black;
  }
.child {
    display: inline-block;
}
.blackheart{
    width: 25px;  
    height: 10px; 
    padding-left: 20px;

}
.logo{
    width: 60px;  
    height: 25px; 
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 10px;
}
header span{
    padding-left: 20px;
}
.glass{
    padding:12px 420px 10px 420px;
    background-image: url(/Users/suni/Desktop/lab-html-exercise/images/magnifying-glass.png);
    max-width:100%;
    max-height: 100%;
    background-repeat: no-repeat;
    text-align:left;
    background-size: 20px;
    background-position: 1% 50%;
    border: 1px groove white;
    border-width:1px;
    background-color: Gainsboro;
    margin-right: 0px;
    border-right: 0px;
}

label{
    color:white;
    font-weight:bold;
    text-align: left;
    padding: 6px 40px 6px 42px;
    border: 1px solid #FB3B49;
    border-width: 0;
    background-color: #FB3B49;
    margin: 0px 20px 0px 0px;
}
.join{
    color:black;
    font-weight:bold;
    text-align: center;
    padding: 5px 20px 5px 20px;
    border: 1px groove black;
    border-width: 2px 2px 2px 2px;
    margin: 0px 0px 0px 0px;
    text-decoration:none;
}
.log{
    color:black;
    padding-left: 10px;
    text-decoration:none;
}
  .section-a{
    background-color: rgba(232,217,217,.3);
    height: 600px;
  }
  .section-a h1{
    text-align: center;
    padding: 20px 20px;
    margin: 10px 20px 0;
    position:relative;
    top:80px;
    font-size: 70px;
    font-weight: 900;
  }
  .section-a article,p{
    text-align: center;
    position:relative;
    top:30px;
  }
  #button-link{
    text-align: center;
    position:relative;
    top:100px;
    display: flex;
    justify-content:center;
  }
  .button{
    color:white;
    font-weight:bold;
    text-align: center;
    padding: 10px 40px 10px 40px;
    border: 1px solid #FB3B49;
    border-width: 2px 2px 2px 2px;
    background-color: #FB3B49;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
    margin: 0px 20px 0px 10px;
    text-decoration:none;

  }
  .button-a{
    color:black;
    font-weight:bold;
    text-align: center;
    padding: 10px 40px 10px 40px;
    border: 1px solid white;
    border-width: 2px 2px 2px 2px;
    background-color: white;
    margin: 0px 0px 0px 20px;
    text-decoration:none;

  }
  .section-b{
    width: 200px;  
    height: 200px;  
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 20px 40px 20px;
  }
  .bring{
    margin: auto;
  width: 60%;
  font-weight:bolder;
  font-style: italic;
  padding: 0px 0px 0px 0px;
  border: 0px solid rgba(255,204,53,.4);
  background-color: rgba(255,204,53,.4);
  transform: skew(9deg,0deg);

  }
  .bring h1{
    text-align: center;

  }
  .center {
    display: flex;
    justify-content:center; 
    margin: 0 20px 50px 0;
    padding: 10px 20px 100px 20px;

 }
 .column{
    display: flex;
    justify-content:space-around;
    padding: 10px 20px 10px 60px;

 }
  .column-a {
    width: 50px;  
    height: 50px; 
  }
  h2{
    color:red;
  }
  .left{
    text-align: left;
    margin: 0 0 50px 0;
    padding: 10px 20px 80px 0px;

  }
  .org{
    display:flex;
    justify-content:center;
  }
  .org a{
    color:white;
    font-weight:bold;
    padding: 10px 100px 10px 100px;
    border: 1px solid black;
    border-width: 2px 2px 2px 2px;
    background-color:black;
    box-shadow: 8px 8px 0 rgba(128,83,35,.2);
    margin: 0px 20px 0px 20px;
    text-decoration:none;
  }
  