@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

.hexagon{
    width:200px;
}
.zero-config{
    width:50px;
}
.team-mgt{
    width:50px;
}
.f-features{
    width:50px;
}
.npm-audit-img{
    width:50px;
}

.blackHeart {
    width: 20px;
    margin-right: 1rem;
  }

  .logo{
    width:80px;
    margin-right: 10px;
    margin-left: 40px;
    padding-left: 30px;
  }

  


  #intro {
	    width:100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: baseline;
        align-content: stretch;
      
    
}
.nav-bar{
    width: 800px;
    margin-left: 160px;
}

  .nav-bar ul {
    
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: stretch;
        align-content: stretch;
    
  }

  .nav-bar ul li{
    margin:0 10px;
  }

  .nav-bar a {
    text-decoration: none;
    color: black;
  }

  

header {
    
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-start;
        align-content: stretch;
    

}

.title{
    width:400px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: baseline;
        align-content: stretch;
    
}

 .search-login {
  
       
       width: 1390px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: stretch;
        align-content: stretch;
       margin-right: 0px;
     
    
 }

 #search {
    width: 900px;
    height:35px;
    background-color:rgba(202, 202, 202, 0.20);
    margin-left: 0%;
    border: 0;
    border-radius: 0%;
    margin-right: 0;
    padding-left: 40px;
   
  }

  hr{
    style: solid;
   
    background-color: black;
    width:100%;
  }
  .join{
    width: 200px;
        
        height: 40px;
        display: flex;
        justify-content: center;
    }



 
.search-bar input::placeholder{
  padding-left: 30px;
  font-size: 15px;
}

.search-bar input{
  background-color: rgb(255, 255, 255);
  height: 38px;
 padding-right: 20px;
 font-size: 15px;
 margin-left: 0%;
 padding-left: 15px;
 border: 1px solid black;
 background-color: rgba(241, 1, 49, 0.87) ;
 
 
}

#presentation{
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:rgba(198, 198, 198, 0.17) ;
  margin-top: 15px;
  margin-right: 15px;
  margin-left: 15px;
  box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.5);
}

.intro-text{
  text-align: center;
  text-justify: inter-word;
}


#presentation p{
 
  
 width: 900px;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
	align-content: flex-start;
margin-top: 0px;
}

h1{
  font-size: 50px;
}

.buttons ul{
  width: 700px;
  height: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  list-style-type: none;
  margin-top: 0%;
  }

  .see-plans{
    width: 500px;
    height: 100px;
    background-color: rgba(241, 1, 49, 0.87);
    margin-right: 70px;
    font-size: 25px;
    padding: 10px 50px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    border: 0px solid #17212e;
    box-shadow:10px 5px 5px 0px rgba(1,0,0,1); 

  }

  .buttons ul{
 
 
  
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    margin-top: 20px;
    margin-right: 5px;
  }

  .join-for-free{
    width: 500px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.87);
    margin-right: 70px;
    font-size: 25px;
    padding: 10px 50px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    border: 0px solid #17212e;
   
  }

    

  
    
.build{
  font-size: 4em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
  
#invitation {
  display: flex;
  flex-direction: column;
  
  align-items: center;
  height: 450px;
  margin-top: 60px ;



  
}

#invitation p{
  font-size: 15px;
  text-align: center;
  margin-top: 2%;
 
}

h2{
  height: 45px;
  width: 850px;
  font-size: 35px;
  text-align: center;
  margin-bottom: 0%;
  background-color: rgba(248, 224, 69, 0.36);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) inset;

}

#features {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 250px;
  padding: 0 115px;
  
  margin-top: 0%;
}

#features p {
  font-size: 13px;
  
}

#features h4{
font-size: 20px;
font-weight: 900;
color: red;
}

.create {
  height: 70px;

  display: flex;
  justify-content: center;
  padding-top: 50px;
  
}

.create a {
  color: white;
  background-color: black;
  padding: 15px 150px;
  text-decoration: none;
  box-shadow: 4px 5px 1px rgba(90, 2, 0, 0.1);
}


 


.join{
 
  width: 130px;
 

}

.login-btn{
  padding-left: 10px;
  margin-left: 10px;
}

.join-btn{
  padding: 0 10px;
}


