div.body__sectionTwoCont {
  padding-bottom: 8rem;
}
div.body__sectionTwo__engagement {
  max-width: 64rem;
  margin: 0 auto 4rem;
  padding: 4rem .5rem .5rem;
  
}
div.body__sectionTwoWrapper {
}
div.body__sectionTwo__engagementImageCont {
  max-width: 16rem;
  margin: auto;
}

div.body__sectionTwo__engagementContentCont {
  max-width: 64rem;
  width: 54rem;
  margin-right: auto;
  margin-left: auto;
  padding-top: 4rem;
  text-align: center;
  text-size-adjust: 100%;
}
div.body__sectionTwo__engagementTitle::before {
  content: "";
  position: absolute;
  width: 108%;
  height: 100%;
  z-index: -1;
  left: -5%;
  top: -6%;
  background-color: rgba(255,204,53,.4);
  transform: skew(9deg,0deg);
}
div.body__sectionTwo__engagementTitle {
  position: relative;
  margin-bottom: 2rem;
  text-align: center;
}
div.body__sectionTwo__engagementTitle span {
  font-size: 2.25rem;
  font-weight: 600;
  width: auto;
}
div.body__sectionTwo__engagementSubtitle {
  max-width: 48rem;
  text-align: center;
  margin: 0 auto;
}
div.body__sectionTwo__engagementSubtitle p {
  font-size: 1rem;
  line-height: 1.5;
}