@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
  background-color: white;
}



.blackHeart {
	width: 25px;
}
.searchLogo {
	width: 20px;
}
.npmLogo {
	width: 80px;
}



#header {
	
}
#header .divCIMA {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: auto;
	height: 40px;
	margin: 0;
}
#header .divCIMA div {
	margin-left: 2px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 22%;
	font-size: 20px;
}
#header .divCIMA nav {
	margin: 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	align-content: center;
	width: 82%;
}
#header .nav-bar-ul {
	margin-right: 20px;
	list-style: none;
	width: 55%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}
#header .nav-bar-ul a {
	margin: 0;
	font-weight: 700;
	font-style: bold;
	text-decoration: none;
	color: black;
	font-size: 18px;
}

#header .divBAIXO {
	margin: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: auto;
}
#header .divBAIXO .form {
	width: 85%;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}
#header .divBAIXO .form {
	display: flex;
	justify-content: space-between;
	width: 85%;
}
#header .divBAIXO .form > img {
	margin-left: 2%;
}
#header .divBAIXO .form div {
	margin-left: 8px;
	margin-right: 2px;
	width: 90%;
	display: flex;
	justify-content: space-between;
	background-color: lightgray;
	height: 34px;
}
#header .divBAIXO .form div input {
	width: 89%;
	margin-left: 5px;
	height: 32px;
	background-color: lightgray;
	border: none;
}
#header .divBAIXO .form div img {
	margin-left: 5px;
}
#header .divBAIXO .form div button {
	color: white;
	width: 10%;
	height: 34px;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	background-color: rgb(255,62,68);
	border: none;
}
#header .divBAIXO div {
	width: 15%;
	display: flex;
	height: 32px;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}
#header .divBAIXO .divBUTTON {
	width: 15%;
	height: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}
#header .divBAIXO .divBUTTON .button1 {
	margin-left: 5px;
	margin-right: 3px;
	width: 35%;
	height: 100%;
	background-color: white;
	font-size: 18px;
	font-style: bold;
	font-weight: 700;
	border: 1px solid gray;
}
#header .divBAIXO .divBUTTON .button2 {
	margin-left: 15px;
	width: 38%;
	height: 100%;
	background-color: white;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	font-style: bold;
	font-weight: 700;
}







#intro {
	margin-top: 10px;
	background-color: rgb(245,235,235);
	text-align: center;
	width: auto;
	display: flex;
	flex-direction: column;
	justify-conteiner: center;
	align-items: center;
}
#intro h1 {
	font-size: 4em;
	font-style: bold;
	font-weight: 900;
	text-align: center;
	width: 70%;
}
#intro p {
	margin-top: -10px;
	width: 43%;
	display: flex;
	justify-content: center;
}
#intro div {
	width: 43%;
	height: 42px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 30px;
	margin-bottom: 100px;
}
#intro .buttonPLANS {
	margin-left: 20px;
	background-color: rgb(255,59,73);
	height: 45px;
	width: 34%;
	color: white;
	font-style: bold;
	font-weight: 700;
	border: none;
}
#intro .buttonJOIN {
	margin-right: 20px;
	background-color: white;
	height: 45px;
	width: 34%;
	color: black;
	font-style: bold;
	font-weight: 700;
	border: none;
}





.dadoLogo{
	width: 20%;
}


#apresentacao {
	margin-top: 60px;
	margin-bottom: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#apresentacao img {
	margin-bottom: 20px;
}
#apresentacao div {
	margin-top: 35px;
	margin-bottom: 30px;
	background-color: rgb(255,235,181);
	width: 70%;
	height: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-transform: skew(5deg);
}
#apresentacao h2 {
	font-size: 35px;
	font-style: bold;
	font-weight: 700;
	-webkit-transform: skew(-5deg);
}
#apresentacao h3 {
	width: 58%;
	text-align: center;
	font-size: 15px;
	color: gray;
}





.imgD1 {
	width: 40px;
}
.imgD2 {
	width: 40px;
}
.imgD3 {
	width: 40px;
}
.imgD4 {
	width: 40px;
}
#itens {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: flex-start;
	width: auto;
}
#itens h3 {
	color: rgb(255,59,73);
	font-size: 18px;
	font-style: bold;
	font-weigth: 900;
}
#itens h4 {
	font-size: 18px;
	color: gray;
}
#itens .div1 {
	width: 21%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
#itens .div2 {
	width: 21%;	
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
#itens .div3 {
	width: 22%;	
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
#itens .div4 {
	width: 22%;	
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}





#rodape {
	width: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
#rodape button {
	margin-top: 50px;
	margin-bottom: 50px;
	width: 28%;
	height: 50px;
	color: white;
	background-color: black;
	font-size: 20px;
	font-style: bold;
	font-weight: 700;
	display: flex;
	justify-content: center;
	align-items: center;
}