@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=Poppins:800&display=swap');

body {
  font-family: 'Poppins';
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}
nav {
    width: 600px;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a {
    text-decoration: none;
    color: black;
}
.blackHeart {
    width: 20px;
    margin-right: 1rem;
}
.search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.npm-logo {
    width: 70px;
    padding-right: 10px;
}
.search-bar label{
    display: flex;
    justify-content: start;}
.search-logo {
    background-color: rgba(0,0,0,.05);
    width: 20px;
    padding: 10px 10px;
}
.search-bar input {
    background-color: rgba(0,0,0,.05);
    border: 0;
    height: 40px;
    font-size: 1em;
    width: 68vw;
}
.search-bar button {
    background-color: #fb3e44;
    color: white;
    font-family: 'Poppins';
    font-size: 1em;
    width: 100px;
    border: 0;
}
.search-bar a {
    text-decoration: none;
    color: black;
    margin: 15px;
}
.join {
    border: 1px solid black;
    padding: 2px 15px;
}

#presentation {
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(232,217,217,.3);
}
h1 {
    font-size: 5em;
    font-weight: bolder;
    margin-bottom: 0px;
    text-align: center;
}
#presentation article{
    text-align: center;
    width: 33%;
    margin: 30px 30px;
    font-size: 1.1em;
}
#presentation a {
    margin: 10px 30px;
    text-decoration: none;
}
.see-plans {
    background-color: #FB3B49;
    color: white;
    font-weight: bolder;
    padding: 15px 50px;
    margin: 10px 10px;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
}
.join-free {
    color: black;
    background-color: white;
    font-weight: bolder;
    padding: 15px 50px;
    margin: 10px 10px;
}

#information {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
}
#information img {
    width: 600px;
    margin-top: 60px;
}
h2 {
    font-size: 2em;
    font-weight: 510;
    background-color: rgba(255,204,53,.4);
    transform: skew(9deg,0deg);
    font-style: italic;
    padding: 0px 35px;
    margin-top: 30px auto 15px auto;
    text-align: center;
}
#information article{
    text-align: center;
    width: 55%;
    margin: 30px 30px;
    font-size: 1em;
}

#features {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
#features > div {
    display: flex;
    height: 400px;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}
.features-div{
    margin: auto 10px auto 10px;
}
#features img {
    width: 40px;
}
h3 {
    color: #ED1C24;
    font-size: 1em;
}
#features article {
    width: 80%;
}
#features a {
    color: white;
    background-color: black;
    text-decoration: none;
    padding: 15px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
}