@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }

  .logo {
      width: 100px;
      margin-right: 1rem;
  }
  
  .magnifying-glass {
      width: 20px;
      background-color:rgba(170, 170, 170, 0.315);
      border-width: 10px;


  }

 .join-login-btn {
    width: 200px;
    height: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.join {
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
    margin: 20px;
    text-align: center;
    border: solid rgb(175, 169, 169) 1px;
    width: 65px;
    height: 20px;
    color: black;
}

.login-btn {
    text-decoration: none;
    color: black; 
}

input {
    background-image: url(images/magnifying-glass.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: left;
    text-indent: 40px;
    padding-left: 20px; 
    display: inline-block;
}


.wrapper input {
    width: 1000px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 10px;
    text-align: left;
    font-family: Poppins;
    margin: 20px; 
    border-style: none;
    background-color: rgba(170, 170, 170, 0.315);
    margin: 0px;
    padding: 0px;
   
  }

  

#search button  {
    border-style: none;
    border-width: 0;
    height: 40px;
    width: 70px;
    text-align: center;
    color:white;
    background-color: #fb3b49;
    font-family: Poppins;
    margin: 0px;
    padding: 0px;
    position: absolute;

}


  #introduction {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 600px;
      background-color: rgba(232,217,217,3);

  }

  h1 {
      font-size: 5em;
      border: 0;
      margin-bottom: 0;
  }

#introduction article {
    height: 80px;
    width: 400px;
    text-align: center;
}

.introduction-buttons {
    width: 400px;
    height: 80px;
    margin-top: 40px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.plans-button {
    text-decoration: none;
    background-color: #fb3b49;
    box-shadow: 8px 8px 0 rgba(251, 59, 73, .2);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    color:white;
}

.join-button {
    text-decoration: none;
    color: black;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
}
    
#about {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 600px;
      background-color: white;
  }

  #about img {
      width: 250px;
      height: 250px; 
      margin: 50px;
  }

  #about article {
      height: 100;
      width: 780px;
      text-align: center;
  }

  h2 {
      font-size: 2em;
      font-weight: 900;
      font-style: italic;
      margin-top: 0;
      margin-bottom: 0;
      margin-right: 30px;
      margin-left: 30px;

  }

  .h2-header {
    background-color: rgba(255,204,53,.4);
    transform: skew(9deg,0deg);
    margin-top: 20px;
    margin-bottom: 20px;
    
  }

  #features {
      margin-top: 40px;
      margin-bottom: 10px;
      margin-right:70px;
      margin-left: 70px;
      display: flex;
      justify-content: center;
  }


  #features > div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
      }

      #features img {
          width: 25px;
          height: 25px; 
      }

  .container {
      display: block;
      margin-right: 20px;
      margin-left: 20px;
      padding: 75px 0;
  }
 

  h3 {
      color: #ED1C24;
      width: auto;
      height: auto;
  }


.features-btn {
    display: flex;
    justify-content: center; 
}

  .create-org {
      text-decoration: none;
      background-color: black;
      color: white;
      width: 200px;
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: center;
      width: 300px;
      box-shadow: 8px 8px 0 rgba(128,83,35,.2);
      margin-bottom: 50px;
      margin-top: 0px;
  }
