@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }

  ul {
    list-style-type: none;
   }
 
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }

  .npmLogo {
    width: 70px;
    padding-left: 1em;
  }
  
  .magnifying-glass {
    width: auto;
    height: 1em;
    padding-right: 7px;
  }

  .logo-bar {
    display: flex;
    justify-content: space-between;
  }
  
  .navbar-wrapper {
    padding: 15px;
  }
  .nav-items {
    font-weight: 500;
  }

  .search-box {
    margin: 10px 0;
    padding-left: 15px;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.05);
  }

  .search-button{
    color: white;
    background-color: #fb3e44;
    border-style: none;
    padding: 10px 15px;
  }

  .search-window {
    width: 800px;
    height: 33px;
    background-color: transparent;
    border: none;
  }

  .login{
    display: flex;
    text-decoration: none;
  }

  .join-button {
    text-decoration: none;
    color: black;
    background-color: white;
    border: 1px solid black;
    padding: 4px 19px;
  }

  .login-link {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 5px 20px;
  }

.section1{
    height: 600px;
    background-color: rgba(232,217,217,.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 50px 75px 50px;

}

.sec1-title {
    font-size: 5rem;
    font-weight: 600;
    text-align: center;
    padding-bottom: 40px;
  }

p{
  max-width: 550px;
  line-height: 1.6em;
  font-size: 1.2em;
  text-align: center;

}

.info-list{
    display: flex;
    flex-direction: row;
    gap: 2em;
    padding: 50px;
    justify-content: center;
    align-items: center;
    
}

.seeplans-button {
    text-decoration: none;
    color: white;
    background-color: #fb3e44;
    border-style: none;
    padding: 10px 25px;
    box-shadow: 8px 8px 0px 0px #ffc9ca;
  }
  
  .joinfree-button {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 10px 25px;
  }
  
  .section2{
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 50px 75px 50px;

}


  .triangle-hexagon{
    max-height: 200px;
    padding-bottom: 50px;
  }

  .sec2-title{
    background-color: rgba(255, 204, 53, 0.4);
    transform: skew(9deg, 0deg);
    font-style: italic;
    align-items: center;
    margin-bottom: 40px;

  }

