@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*,
html,
body {
  margin: 0px;
  padding: 0px;
  font-family: Poppins;
  font-size: 10px;
  line-height: 3.5em;
  font-weight: 300;
}

.nav-1 {
  display: flex;
  justify-content: left;
  height: 20px;
  margin: 25px 10px 15px 25px;
}
h6 {
  font-size: 10px;
  font-weight: 650;
}
.nifty {
  display: flex;
  align-items: center;
  height: 20px;
  width: 61.7pc;
}

.nav-list {
  display: flex;
  height: 20px;
  align-items: center;
}
.nav-item {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 10px;
  font-weight: 650;
}

.search-bar-submit {
  height: 36px;
  margin: 0;
  padding: 0px 15px 0px 15px;
  background-color: rgb(236, 80, 80);
  border: 0;
  color: white;
}

.search {
  display: flex;
  margin: 0px 15px 0px 25px;
  padding-top: 8px;
  align-items: center;
  border-top: solid lightgray 1px;
  padding-bottom: 15px;
}
.heart {
  margin-right: 0px;
}
.search-bar {
  display: flex;
}
.two-buts-nav {
  margin-left: 24px;
}
.search-box {
  border: 0;
  background-color: rgb(243, 240, 240);
  outline: none;
  height: 36px;
  width: 1100px;
  padding-left: 30px;
}
.nav-btn-1 {
  padding: 6px 12px 5px 12px;
  border-bottom: solid 1px lightgray;
  border-right: solid 1px lightgray;
  border-top: solid 1px gray;
  border-left: solid 1px gray;
  text-decoration: none;
  color: black;
}
.nav-btn-2 {
  text-decoration: none;
  color: gray;
  margin-left: 12px;
}
.build-amazing {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 900;
  font-weight: extrabold;
  font-size: 5em;
  height: 150px;
}
.entry {
  justify-content: center;
  margin: 0 15px 0 25px;
  background-color: rgb(252, 247, 246);
  flex-direction: column;
  box-shadow: inset 0 6px 7px -8px rgba(0, 0, 0, 0.4);
  padding: 40px 0px 100px 0px;
}
.entry > div {
  /*
  display: flex;
  justify-content: center;*/
  text-align: center;
  margin: 35px;
}
.see-plans {
  font-size: 1.4em;
  font-weight: bold;
  color: white;
  box-shadow: 6px 6px 0px 0px rgba(255, 207, 207, 0.889);

  background-color: rgb(236, 80, 80);
}
.large-join-btn {
  background-color: white;
  font-size: 1.4em;
  font-weight: bold;
}
.description {
  display: flex;
  line-height: 1.5em;
  text-align: center;
  margin: 0 auto;
  width: 400px;
  font-size: medium;
}
.entry a {
  padding: 10px 50px 10px 50px;
  margin: 20px 15px 5px 20px;
}
/*flex-direction: column;
display:flex;*/
.second {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.second img {
  align-items: center;
  margin: 60px 0px 50px 0px;
  padding-bottom: 0px;
}

.npm-promotion-header {
  display: flex;
  align-items: center;
  height: 25px;
  font-size: 26px;
  transform: skew(-15deg);
  font-weight: medium;
  font-weight: 600;
}
.container {
  display: flex;
  padding: 0px 20px 0px 20px;
  width: fit-content;
  content: " ";
  transform: skew(15deg);
  background: rgb(255, 243, 178);
}
.main-cont {
  justify-content: center;
  display: flex;
}
.npm-promotion {
  margin: 30px 0px 60px 0px;
  width: 465px;
  align-self: center;
  line-height: 16px;
}

.second article {
  text-align: center;
}
.four-attributes {
  justify-content: center;
  display: flex;
  display: row;
}
.attribute {
  display: flex;
  width: fit-content;
  flex-direction: column;
  margin: 40px;
}
.attr-img {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  height: 2.4em;
}
.attr-desc {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 150px;
  line-height: 15px;
}
.inner-heading {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 150px;
  color: red;
  font-weight: 700;
  font-size: 1.2em;
}

.create-org {
  text-align: center;
  font-size: 1.4em;
  font-weight: bold;
  color: white;
  text-decoration: none;
  box-shadow: 4px 4px 0px 0px rgba(218, 218, 218, 0.889);
  background-color: rgb(0, 0, 0);
  padding: 10px 100px 10px 100px;
  margin-bottom: 50px;
  margin-top: 30px;
}
.last {
  text-align: center;
}

.magnifying-glass {
  z-index: 100;
  top: 28.5%;
  left: 1.6%;
  height: 15px;
  opacity: 60%;
  position: relative;
  margin: 0px;
}