@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

.blackHeart {
  width: 20px;
  margin-right: 1rem;
}

.nav-bar-ul{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch;
	vertical-align: middle;
}

.npm-logo {
  width: 50px;
  margin-right: 1rem;
}

.magnifying-glass {
  width: 35px;
  margin-right: 1rem;
  vertical-align: middle;
}

form {
  width: 800px;
  height: 40px;
  background-color: rgba(0,0,0,.05);
  border: none;
}
    
input {
  background-color: rgba(0,0,0,.05);
  font-family: 'Poppins';
  border: none;
}

button {
  text-align: left;
  background-color: #fb3e44;
  height: 40px;
  border: none;
  font-family: 'Poppins';
  color: white;
}

#Build{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
	height: 600px;
	text-align: center;
	background-color: rgba(232,217,217,0.3)
}

#plans {
   background-color: #FB3B49;
   box-shadow: 8px 8px 0 rgba(251,59,73, 0.2);
   color: white;
}

#free {
    background-color: #f5f5f5;
    color: black;
}

#Bring{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
	text-align: center;
}

h2 {
  background-color: rgba(255,204,53,0.4);
  text-align: center;
  width: 600px;
}

#text{
  width: 200px;
}

#shapes > div {
  padding: 0 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid lightgray;
}

h3{
  color: red;
}

.rectange-and-arrow {
  width: 20px;
}

.connected {
  width: 20px;
}

.rectangles-and-scale {
  width: 20px;
}

.binoculars {
  width: 20px;
}

#create {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  color: white;
  box-shadow: 8px 8px rgba(128, 83, 35, 0.2);
  width: 200px;
}


