@import url('https://fonts.googleapis.com/css?family=Poppins');

/*
label color: rgba(0,0,0,.05)
input color: rgba(0,0,0,.05)
button background color: #fb3e44
button letters color: white
*/

body {
  font-family: 'Poppins';
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }

  .logo {
    width: 90px;
    padding: 20px 5px;
  }

  .searchBar{
    display: flex;
    justify-content: center;
  }

  .searchTry {
    display: flex;
    align-items: center;
    background-color: #eeeeee;
    padding: 2px 15px;
    width:43em;
    height:40px;
  }

  .searchTry img {
    height: 24px;
  }

  .searchTry input {
    border: none;
    width: 375px;
    margin-left: 8px;
    background: none;
  }

  .searchBtn {
    background-color: #fb3e44;
    color: white;
    border: #fb3e44;
    padding: 2px 15px;
  }

  div > a {
    text-decoration: none;
    color: black;
  }

  .joinBtn{
    border: 1px solid grey;
    padding: 8px 20px;
    margin: 20px;
    color:black;
   }

#section-top {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 600px;
    background-color: rgba(232,217,217,.3);
}

h1 {
    font-size: 100px;
    text-align: center;
    width: 560px;
    margin: 0 auto;
}