@import url("https://fonts.googleapis.com/css?family=Poppins");

html,
body {
  font-family: "Poppins";
}

header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

.blackHeart {
  width: 20px;
  margin-right: 1rem;
}

.npmlogo {
  margin-top: 10;
  width: 60px;
}

.emojilupa {
  width: 15px;
  position: absolute;
  width: 16px;
  right: 0;
  left: 135;
  top: 98;
}

.searchbar {
  width: 1000px;
  height: 38px;
  background: rgba(0, 0, 0, 0.05);
  border: none;
  font-size: 10pt;
  float: left;
  padding-left: 25px;
  color: rgba(0, 0, 0, 0.05);
  margin-top: 22;
}

.searchb {
  background-color: #fa3b49;
  color: white;
  padding: 11px 20px;
  border: 1px solid;
  margin-top: 20;
}

.joinbottom {
  color: black;
  text-decoration: none;
  background-color: none;
  text-align: left;
  padding: 0px 25px;
  border: 1px solid grey;
}

.loginbottom {
  color: black;
  text-decoration: none;
  text-align: center;
  background-color: none;
  padding: 2px 15px;
  border: 0 solid grey;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.titulo {
  margin: 0 25px;
}

.seccionuno {
  height: 600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgba(232, 217, 217, 0.3);
  margin: 0 25px;
}
.seeplans {
  color: white;
  text-decoration: none;
  background-color: #fa3b49;
  font-weight: bolder;
  margin: 10px 20px;
  padding: 10px 40px;
  border: 1px solid none;
  box-shadow: 5px 6px #fbd0d2;
}

.joinfree {
  font-weight: bolder;
  text-decoration: none;
  color: black;
  border-color: none;
  background-color: white;
  border-width: 100px;
  padding: 10px 40px;
}

.tittle {
  font-weight: bolder;
  font-family: "poppins";
  font-size: 100;
  font-weight: bold;
}

.descripcion {
  font-weight: bolder;
  height: 150px;
  width: 430;
  text-align: center;
  justify-content: center;
}

.secciondos {
  height: 1200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 200px 50px 175px 50px;
}

.exagono {
  height: 550px;
}

.bring {
  background-color: rgba(255, 204, 53, 0.4);
  font-size: 40px;
  transform: skew(15deg, 0deg);
  font-style: italic;
  font-weight: bolder;
  padding: 0px 30px;
}

.nmpdescripcion {
  white-space: pre-line;
  width: 780px;
  text-align: center;
  padding: 10px 50px 175px 50px;
}

.secciontres {
  height: 900px;
  display: flex;
  font-style: bolder;
  padding: 20px;
}

.secciontres > div > h4 {
  color: #ed1c24;
}

.secciontres > div {
  width: 250px;
  margin: 0px 10px;
}

.secciontres > div > svg {
  width: 40px;
  height: 30px;
}

.cao {
  background-color: black;
  text-decoration: none;
  color: white;
  padding: 12px 100px;
  box-shadow: 5px 6px #fbd0d2;
  margin: 200px 500px;

  justify-content: center;
}

.divfinal {
  padding: 0px 0px 320px 0px;
  justify-content: center;
}
