
main{
  margin-top: 30px;
  width: 90%;
  margin-left: 5%;
}
body{
  font-family: 'Poppins', sans-serif;
}
#header{
  display: flex;
}
.npm-heart{
  width:50%;
}
.nav-bar{
  width: 50%;
}
.heart{
  width: 20px;
  margin-right: 1rem;
}
nav ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-top: 0px;
  align-items: center;
}
.bar-search{
  display: flex;
}
.logo{
  width: 5%;
  height: 16px;
  margin-top: 1%;
  margin-right: 1%;
}
.search{
  width: 166%;
  
}
.search-bar{
  background-image: url(https://raw.githubusercontent.com/ironhack-labs/lab-html-exercise/master/images/magnifying-glass.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20px 20px;
  background-color:rgb(230,230,230);
  width: 84%;
  height: 40px;
  border: none;
  text-align: center;
}
.button-search{
  background-color:#fb3b49;
  color: white;
  border: none;
  width: 12%;
  height: 42px;
  margin-left: -1%;
}

.links{
  width: 28%;
  display: flex;
}
.join{
  background-color: white;
  width: 50%;
  height: 35px;
  margin-top: 3px;
}
.log{
  border: none;
  background-color: white;
  width: 50%;
}
#build{
  text-align: center;
  background-color: rgba(232, 217, 217, .3);
  height: 600px;
  padding-top: 100px;
 
}
h1{
  font-size: 50px;
}
p{
  font-size: 15px;
}
.plans{
  background-color: #fb3b49;
  color: white;
  box-shadow: 8px 8px 0 rgba(251,59,73,.2);
  width: 18%;
  height: 39px;
  border:none;
}
.free{
  background-color: rgba(232, 217, 217, .3);
  border: none;
  width: 13%;
}
#bring{
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
}
.triangle{
  width: 20%;
  padding-top: 10%;
}
h2{
  font-size: 25px;
  background-color: rgba(255, 204, 53, .4);
  transform: skew(9deg,0deg);
  font-style: italic;
}
#zero{
  display: flex;
  justify-content: space-between;
  padding-top: 15%;
  padding-left: 10%;
}
#zero img{
  width: 30px;
}
#zero div{
  width: 25%;
}
h3{
  color: #ed1c24;
}
.create{
  background-color: black;
  color: white;
  font-size: 1.1em;
  box-shadow: 8px 8px 0 rgba(128,83,35,.2);
  text-align: center;
  padding: 20px 100px;
  margin-top: 10%;
  margin-left: 35%;
}
