@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins', sans-serif;
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    margin-left: 10px;
    margin-right: 10px
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }
  
  
  .logo {
      height: 25px;
      margin-left: 30px
  }

  .magnifying-glass {
    height: 20px;
    background-color: rgba(0,0,0,.05);
    padding: 11px;
    margin-left: 1px
}

.bottom-line-header {
    padding: 10px
}

#search-bar-input {
    width: 900px;
    height: 40px;
    background-color: rgba(0,0,0,.05);
    color: rgba(0,0,0,.05);
    border: none;
    font-size: 14px;
    margin-left: -33px
}


.search-bar button {
    position: absolute;
    font-family: Poppins;
    font-size: 1em;
    color: white;
    background-color: #fb3e44;
    border-style: none;
    height: 42px;
    width: 80px
}

.join-button {
    text-decoration: none;
    color: black;
    border: 2px solid rgb(109, 101, 101, .75);
    padding: 2px 20px;
    margin-left: 80px
}

.login-button {
    text-decoration: none;
    color: rgb(109, 101, 101);
    margin-right: 30px
}

#section-top {
    height: 400px;
    background-color: rgba(232,217,217,.3);
    display: flex;
    justify-content: center;
    flex-direction: column;
	align-items: center;
    margin-left: 10px;
    margin-right: 10px
}

h1 {
    font-size: 4.8em;
    font-weight: 700;
}

#section-top p {
    display: flex;
    flex-wrap: wrap;
    margin-top: -20px;
    width: 520px;
    font-size: 1.2em;
    text-align: center;
}

.top-section-buttons {
    background-color: rgba(232,217,217,.3);;
    display: flex;
    justify-content: center;
    height: 200px;
    margin-left: 10px;
    margin-right: 10px
}

#seeplans-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 50px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    background-color: #FB3B49;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
    margin-right: 20px;
    margin-bottom: 140px;
}

#joinfree-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 50px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    text-decoration: none;
    border-style: none;  
    margin-left: 20px;
    margin-bottom: 140px
}

#section-middle {
    height: 600px;
    background-color: white;
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

.hexagon {
    width: 40%;
    height: 40%;
    margin-bottom: 40px;
    margin-top: 60px
}

h2 {
    font-size: 2.2em;
    background-color: rgba(255,204,53,.4);
    transform: skew(9deg,0deg);
    font-style: italic;
}

#section-middle p {
    text-align: center;
    width: 55%;
    margin-bottom: 40px
}

#section-bottom > div {
    margin-top: 40px;
    margin-left: 60px;
    display: flex;
    flex-direction: row;
	justify-content: center;
}

.service-box {
    margin-top: 60px;
    width: 300px;
    font-size: 17px
}

h3 {
    color: #ED1C24;
    font-weight: bold
}

.service-box p {
    width: 260px;
    margin-top: 40px
}

.service-box img {
    width: 40px;
  }

  .createorg-button {
    display: flex;
    width: 400px;
    height: 50px;
    font-size: 1.2em;
    font-weight: 700;
    color: white;
    background-color: black;
    text-decoration: none;
    border-style: none;   
    margin-bottom: 60px;
    margin-left: 500px;
    margin-top: 75px;
    justify-content: center;
    align-items: center;
    box-shadow: 8px 8px 0 rgba(128,83,35,.2)
  }