@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

nav {
    width: 600px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: black;
}

.blackHeart {
    width: 20px;
    margin-right: 1rem;
}

form {
    display: flex;
    align-items: center;
    width: 100%;
}

form input {
    background-color: rgba(0,0,0,.05);
    border: none;
    padding: 8px;
    width: 90%;
}

form button {
    background-color: #fb3e44;
    color: white;
    border: none;
    padding: 10px;
    font-size: 10px;
}

.npmLogo {
    width: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.lupa {
    width: 20px;
    padding: 5.5px;
    background-color: rgba(0,0,0,.05);
}

.link-join button {
    text-decoration: none;
    color: black;
    font-size: 10px;
    padding: 4px;
}

.link-join {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.link-join-join {
    background-color: white;
    border-width: 0.2px;
    padding: 0 15px;
    margin-right: 10px;
}

.link-join-log {
    background-color: white;
    border: none;
    padding: 0 15px;
}

#paymentPlans {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px;
    background-color: rgba(232,217,217,.3);
}

#paymentPlans h1 {
    font-size: 60px;
    display: flex;
    font-weight: bold;
}

#paymentPlans article {
    display: flex;
    text-align: center;
    width: 25%;
    padding-bottom: 60px;
}

#paymentPlans button {
    padding: 10px 40px;
}

#paymentPlans div {
    display: flex;
    justify-content: space-between;
}

.button-plans {
    color: white;
    border: none;
    background-color: #FB3B49;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
    margin-right: 15px;
    font-weight: bold;
}

.button-join {
    color: black;
    border: none;
    background-color: white;
    margin-left: 15px;
    font-weight: bold;
}

#description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
}

#description h4 {
    background-color: rgba(255,204,53,.4);
    transform: skew(9deg,0deg);
    font-style: italic;
    font-size: 30px;
    margin-bottom: 20px;
    padding: 0 30px;
}

#description img {
    width: 200px;
    margin-bottom: 5px;
}

#description article {
    display: flex;
    text-align: center;
    width: 35%;
    font-size: 15px;
}

#advantages {
    height: 500px;
    margin-top: 60px;
}

#advantages .geral {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 40px 40px 5px;
}

.advantagesSection {
    width: 35px;
}

#advantages h4 {
    color: #ED1C24;
    font-size: 20px;
    margin-bottom: 15px;
    margin-top: 15px;
}

#advantages > div > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    font-size: 15px;
}

#advantages .button-advantages {
    box-shadow: 8px 8px 0 rgba(128,83,35,.2);
    border: none;
    color: white;
    background-color: black;
    padding: 10px 70px;
    font-size: 15px;
    text-align: center;
}

#advantages .button-createorg {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}