@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: 'Poppins';
}

header>div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

nav {
    width: 600px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
}

nav a {
    text-decoration: none;
    color: black;
}

.black-heart {
    width: 20px;
    margin-right: 1rem;
}

.penguin {
    white-space: nowrap;
}

.npm-logo {
    width: 60px;
    margin-right: 0.8em;
}

.header-buttons {
    white-space: nowrap;
    padding: 8px;
}

.header-buttons a {
    background-color: white;
    color: black;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin-right: 1em;
}

.join-button {
    border: solid 1px #eee;
}

.search-button {
    background-color: #fb3e44;
    color: white;
    padding: 15px 25px;
    font-size: 1em;
    margin-right: 1em;
}

.search-form {
    display: flex;
    position: relative;
    flex-grow: 1;
    padding: 10px 0;
}

.search-bar {
    padding: 15px 40px;
    background: none;
    font-size: 1em;
    position: relative;
    flex-grow: 1;
    border-style: none;
    background-color: rgba(0, 0, 0, .05);
}

.magnifying-glass {
    width: 20px;
    position: absolute;
    top: 25px;
    left: 15px;
}

.first-container {
    width: 100%;
    margin: 0 auto 15px;
    padding: 70px 0;
}

.second-container {
    width: 100%;
    margin: 0 auto 10px;
    padding: 75px 0;
}

.introduction {
    background-color: rgba(232, 217, 217, .3);
}

.align-center {
    text-align: center;
}

h1 {
    font-size: 3.75em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.spacing {
    width: 40%;
    margin: 0 auto;
}

.triangle-hexagon {
    height: 180px;
    margin-bottom: 30px;
}

h3 {
    font-size: 35px;
    font-style: italic;
    margin-top: 5em;
    margin-bottom: 3em;
}

.background {
    background-color: rgba(255, 204, 53, .4);
    transform: skew(9deg, 0deg);
    width: 60%;
    margin: 0 auto;
}

.spacing2 {
    width: 50%;
    margin: 0 auto;
}

.link-btn {
    text-align: center;
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.red-plan-btn {
    background-color: #fb3e44;
    color: white;
    font-size: 16px;
    padding: 15px 40px;
    text-decoration: none;
    box-shadow: 8px 8px 0 rgba(251, 59, 73, .2);
    margin: 0px 50px 0px 0px;
    display: inline-block;
}

.join-free-btn {
    text-decoration: none;
    color: black;
    background-color: white;
    font-size: 16px;
    padding: 15px 40px;
    display: inline-block;

}

.features h4 {
    color: #ED1C24;
}

.features img {
    width: 30px;
}

.features {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 0 auto;
    width: 80%;
}

.feature-card {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: left;
    padding: 10px;
    margin: 10px;
    width: 20%;
}

.org-button {
    background-color: black;
    color: white;
    font-size: 16px1em;
    padding: 15px 40px;
    text-decoration: none;
    box-shadow: 8px 8px 0 rgba(128, 83, 35, .2);
    display: inline-block;
}