@import url("https://fonts.googleapis.com/css?family=Poppins");

body,
button {
  font-family: "Poppins";
}

header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}

button:hover {
  cursor: pointer;
}

.black-heart {
  width: 20px;
  margin-right: 1rem;
}
.npm-logo {
  height: 20px;
}

.magnifying-glass {
  position: absolute;
  padding: 0 5px;
  height: 20px;
}
.search-bar {
  height: 50px;
}

.search-bar form {
  display: flex;
  align-items: center;
  max-width: 1150px;
}

.search-input,
.search-label {
  border: none;
  background-color: rgba(0, 0, 0, 0.05);
  height: 40px;
}

.search-input {
  width: 850px;
}

.search-bar label {
  padding: 0 15px;
}
.search-btn {
  background-color: #fb3e44;
  border: none;
  height: 40px;
  color: white;
}

.register-log-in {
  display: flex;
  align-items: center;
  height: 40px;
}
.register-btn,
.log-in-btn {
  padding: 3px 15px;
  background-color: white;
}

.register-btn {
  box-shadow: inset -11px 11px 4px -14px rgba(0, 0, 0, 1),
    inset 11px -11px 4px -14px rgba(0, 0, 0, 1);
  border: 1px solid;
  border-color: rgb(0, 0, 0, 0.3);
}

.log-in-btn {
  border: none;
}

.intro-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
  background-color: rgba(232, 217, 217, 0.3);
  box-shadow: inset 0px 11px 7px -14px rgba(0, 0, 0, 1);
}

.intro-section h1 {
  font-size: 75px;
  font-weight: bold;
  margin-bottom: 15px;
}

.intro-section article {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 425px;
  text-align: center;
}

.intro-section-btns {
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 425px;
}

.see-plans-btn {
  padding: 15px 35px;
  width: 200px;
  border: none;
  color: white;
  background-color: #fb3b49;
  box-shadow: 8px 8px 0 rgba(251, 59, 73, 0.2);
  font-weight: bolder;
}

.join-for-free-btn {
  width: 200px;
  background-color: white;
  padding: 15px 35px;
  border: none;
  font-weight: bolder;
}

.middle-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.middle-section img {
  width: 200px;
  margin: 50px 0;
}

.middle-section h1 {
  background-color: rgba(255, 204, 53, 0.4);
  transform: skew(9deg, 0deg);
  font-style: italic;
  padding: 0 15px;
  margin-top: 0;
  font-weight: bolder;
}

.middle-section p {
  max-width: 775px;
  text-align: center;
}

.bottom-section {
  display: flex;
  margin-top: 125px;
}

.bottom-section > div > img {
  width: 50px;
}

.bottom-section > div > h3 {
  color: #ed1c24;
  font-weight: bolder;
}

.bottom-section > div {
  margin: 50px;
}
.create-an-org-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 0;
}
.create-an-org-btn {
  box-shadow: 8px 8px 0 rgba(128, 83, 35, 0.2);
  width: 375px;
  padding: 15px 35px;
  background-color: black;
  color: white;
  border: none;
}
