@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;700&display=swap');
html,
body{
  margin: 0;
  padding: 0;
  font-family: Poppins, arial, sans-serif;
}
hr{
    height: 1px;
        background-color: #ccc;
        border: none;
}
.container{
    max-width: 1200px;
    margin: auto;
    padding-bottom: 60px;
}

p{
    color: #424141;
}

.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.center-items{
    align-items: center;
}
.space-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}



.blackHeart {
    height: 20px;
    margin-top: 18px;

}
.right-top-navbar ul{
    display: flex;
    padding: 6px 10px;
}
.right-top-navbar ul > li{
    list-style: none;
    margin-left: 22px;
}
.right-top-navbar li > a{
    text-decoration: none;
    color: #424141;
}
.npm-logo{
    width: 60px;
}
.bottom-navbar{
    padding: 12px;
}
.search-form{
    position: static;
    margin: 0px;
    padding: 0px 20px;
    display: flex;
    flex: 1;
}
.mglass{
    width: 20px;
    height: 20px;
    position: relative;
    margin-top: 12px;
    
    
}
.search-input{
    font-family: poppins;
    border: 0;
    background-color: #F2F2F2;
    color: #222222;
    padding: 12px 32px;
    margin-left: -32px;
    width: 90%;
   
    
}
.search-button{
    font-family: poppins;
    background-color: #F8414A;
    color: #ffffff;
    padding: 12px 32px;
    border: 0;
}

.bottom-actions{
    padding: 6px 12px;
    text-decoration: none;
    color: #424242;
}
.join-button{
    border: 1px solid #424242;
}


.plans{
    background-color: #F8F4F4;
    text-align: center;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    

}
.plans h1{
    font-size: 4rem;
}
.plans p{
    width: 60%;
    margin: auto;
}
.plans-buttons-container{
    padding: 40px;
}
.see-button{
    font-family: poppins;
    font-size: 1.1rem;
    margin: 20px;
    padding: 12px 32px;
    width: 240px;
    background-color: #F8414A;
    color: #ffffff;
    border: none;
    font-weight: 700;
    text-decoration: none;
    filter: drop-shadow(10px 10px 0 #FACED0);
}
.plans .join-button{
    font-family: poppins;
    font-size: 1.1rem;
    margin: 20px;
    padding: 12px 32px;
    width: 240px;
    background-color: #ffffff;
    color: #424141;
    border: none;
    font-weight: 700;
    text-decoration: none;
    box-shadow: 4px #f1c2c4;
}

.parrafo{
    text-align: center;
    padding: 80px 10px;
    text-align: center;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.parrafo h2{
    font-size: 2rem;
    background-color: #FEEBB8;
    padding: 4px 32px;
}
.reset-skew{
    transform: skew(0);
}

.parrafo p{
    width: 60%;
}
.hexagon{
    width: 240px;
}


.iconos{
    
    height: 40px;
    width: 40px;
}
.padding20{
    padding: 20px;
}

.feature h3{
    color:  #F8414A;
    margin-bottom: 40px;
}

.create-button{
    font-family: poppins;
    font-size: 1.1rem;
    margin: 20px;
    padding: 12px 32px;
    width: 440px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    font-weight: 700;
    filter: drop-shadow(10px 10px 0 #FACED0);
    
}