@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: 'Poppins';
    font-size: 14px;
}

header>div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

nav {
    width: 600px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: black;
}

.blackHeart {
    width: 20px;
    margin-right: 1rem;
}

.npm-logo {
    width: 75px;
    margin: 10px 1rem 10px 0;
}

.magnifying-glass {
    width: 20px;
    height: 20px;
    padding: 7.6px 5px;
    background-color: rgba(0, 0, 0, .05);
}

.search-bar {
    display: flex;
    justify-content: flex-start;
}

.search-bar input {
    border-style: none;
    width: 1000px;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, .05);
}

.search-bar button {
    border-style: none;
    background-color: #fb3e44;
    color: white;
    padding: 10px 32px;
}

#login {
    display: flex;
    justify-items: flex-end;
    align-items: center;
}

#login a {
    text-decoration: none;
    color: black;
    margin-left: 20px;
}

#login .join-btn {
    border: 1px solid black;
    padding: 10px 32px;
}

#general-information {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(232, 217, 217, .3)
}

.container h1 {
    font-size: 5em;
}

.container article {
    width: 35%;
    font-size: 1.5em;
    text-align: center;
}

.buttons {
    width: 35%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons a {
    text-decoration: none;
    font-size: 1.5em;
    text-align: center;
    color: black;
    height: 50px;
    width: 40%;
    padding-top: 15px;
}

#plans-btn {
    background-color: #FB3B49;
    box-shadow: 8px 8px 0 rgba(251, 59, 73, .2);
    color: white;
}

#why-npm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#why-npm img {
    height: 250px;
    width: 250px;
    margin-top: 10px;
    margin-bottom: 15px;
}

#why-npm h3 {
    width: 50%;
    text-align: center;
    font-size: 1.8em;
    background-color: rgba(255,204,53,.4);
    transform: skew(9deg,0deg);
    font-style: italic;
    margin-bottom: 15px;
    
}

.article {
    width: 45%;
    text-align: center;
    margin-bottom: 15px;
}

#features img {
    width: 40px;
    height: 40px;
}

.info-site {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.info-site div {
    box-sizing: border-box;
    padding: 20px;
}
.info-site h3 {
    color: #ED1C24;
}

#create {
    display: flex;
    justify-content: center;
   
}

#create a {
    text-decoration: none;
    color: white;
    background-color: black;
    box-shadow: 8px 8px 0 rgba(128,83,35,.2);
    box-sizing: border-box;
    padding: 10px 50px;
    margin: 20px 0;
}

