@import url('https://fonts.googleapis.com/css?family=Poppins');

html {
    font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
}

.header {
    font-size: 1.4rem;
}

.header .top-header {
    padding: 0 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.nickname .black-heart {
    width: 20px;
    margin-right: 1rem;
}

.nav-bar {
    width: 600px;
}

.nav-bar-ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar-ul a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.header .bottom-header {
    padding: 0 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid lightgray;
}

.bottom-header .npm-logo {
    width: 70px;
    padding-top: 4px;
}

.search-bar {
    position: relative;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar label {
    position: absolute;
    left: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar label img {
    width: 1.4rem;
    height: 1.4rem;
}

.search-bar input {
    width: 100%;
    padding: 10px 10px 10px 3.2rem;
    font-size: 1.4rem;
    margin: 0;
    background-color: #f2f2f2;
    border: none;
}

.search-bar button {
    font-size: 1.4rem;
    font-family: 'Poppins', sans-serif;
    background-color: #fb3e44;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}

.register-button {
    border: 1px solid black;   
    text-decoration: none;
    color: black;
    padding: 4px 16px;
}

.no-border {
    border: none;
}

#plans {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 600px;
    background-color: rgba(232, 217, 217, 0.3);
}

#plans h1 {
    width: 736px;
    font-size: 7rem;
    font-weight: bold;
    margin: 0 0 4.4rem;
}

#plans article {
    font-size: 1.4rem;
    width: 380px;
}

#plans div {
    width: 380px;
    margin: 4.4rem 0 0;
    display: flex;
    justify-content: space-between;
}

#plans .plans-button {
    text-decoration: none;
    color: black;
    padding: 1.2rem 4rem;
    font-weight: bold;
}

#plans #more-plans {
    background-color: #fb3b49;
    box-shadow: 8px 8px 0 rgba(251, 59, 73, 0.2);
    color: white;
}

#info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 500px;
}

#info #triangle-hexagon {
    width: 160px;
    margin: 0 0 6rem;
}

#info h2 {
    font-size: 2.8rem;
    font-style: italic;
    font-weight: bold;
    width: 736px;
    margin: 0 0 4.4rem;
    background-color: rgba(255, 204, 53, 0.4);
    transform: skew(9deg, 0deg);
}

#info article {
    font-size: 1.3rem;
    width: 640px;
}

#features {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}

#features .features-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 4rem;
}

.card {
    width: 200px;
    padding: 20px;
}

.card img {
    height: 35px;
}

.card h3 {
    color: #ed1c24;
}

.card p {
    font-size: 1.4rem;
}

#features > a {
    font-size: 1.4rem;
    padding: 8px 72px;
    text-decoration: none;
    background-color: black;
    box-shadow: 8px 8px 0 rgba(128, 83, 35, 0.2);
    color: white;
}