@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgrey;
}

nav {
    width: 600px;
}

nav ul {
    list-style: none;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: black;
}

.blackHeart {
    width: 20px;
    margin-right: 1rem;
}

header div form a {
    background-color: #fb3e44;
    text-decoration: none;
    color: white;
    padding: 10px 10px 12px 10px;
    margin: 0 auto;

}

.join {
    color: black;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid lightgrey;
    padding: 3px 15px;
}

.login {
    color: black;
    font-weight: bold;
    text-decoration: none;
    margin: 0 0 0 10px;

}

header div form label {
    color: rgba(0,0,0,0.05);
}

header div form input {
    color: rgba(0,0,0,0.05);
    width: 600px;
    height: 32px;
}



.logo {
    width: 70px;
    padding: 20px 10px;
}

.magnifying-glass {
    width: 22px;
}

/*Section-1 practice*/

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#section-1 {

    height: 600px;
    background-color: rgba(232,217,217,0.3)
}

#section-1 div ,#section-1 div h1, .container a {
    display: flex;
    justify-content: center;
}

#section-1 div h1 {
    font-family: "Poppins";
    font-size: 75px;
    font-weight: 900;
    width: 830px;
    text-align: center;
}
#section-1 article {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -25px;;
}
#section-1 article p {
    text-align: center;
    width: 450px;
    font-weight: 700;

}

.container {
    display: flex;
    flex-direction: row;
    height: 50px;
    padding: 5px 10px;
    margin-top: 50px;
    align-items: center;
}

.see-plans-btn, .join-btn{
    text-decoration: none;
    color: white;
}

.see-plans-btn {
    color: black;
    background-color: #FB3B49;
    text-decoration: none;
    color: white;
    padding: 10px 45px;
    margin-right: 15px;
    box-shadow: 8px 8px 0 rgba(251,59,73,0.2);
}

.join-btn{
    background-color: white;
    text-decoration: none;
    color: black;
    padding: 10px 45px;
    margin-left: 15px;
    font-weight: 900;
}
/*Section-2 practice*/

#section-2{
    height: 450px;
    flex-direction: column;
    margin-top: 0px;
}

#section-2 img {
    margin-top: 20px;
    width: 180px;
}

#section-2 h4 {
    font-size: 30px;
    font-weight: 600;
    background-color: rgba(255,204,53,0.4);
    padding: 0 25px;
}

#section-2 article p {
    text-align: center;
    font-weight: bold;
    font-style:normal;
    width: 650px;
    height: 100px;
}


#section-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.section-3-images {
    width: 35px;
    margin-left: 0px;
    margin-top: 10px;
}
.container1 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 80px 80px;
}

#section-3 .div-1, .div-2, .div-3, .div-4 {
    height: 300px;
    width: 300px;
    justify-content: left;

}
#section-3 div p {
    text-align: left;
    text-align-last: left;
}

#section-3 div h4 {
    margin-left: 0px;
    text-align: left;
    color: red;
}

#section-3 button{
    color: white;
    text-decoration-color: white;
    background-color: black;
    border: 15px solid rgb(0, 0, 0);
    font-weight: bold;
    font-size: medium;
    width: 350px;
    box-shadow : 8px 8px 0 rgba(128,83,35,0.2);
    margin-bottom: 75px;
}

#section-3 button a{
    color: white;
    text-decoration: none;
}