@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }

  .search-form {
    background-color: rgb(240, 240, 240);
    width: 85%;
    margin: 10px;
    display: flex;
    justify-content: space-between;
}
.logo {
    width: 5%;
    margin-right: 1rem;
}
.magnifying-glass {
    width: 20px;
}

.search-form input {
    color: rgba(0, 0, 0, 0.5);
    border: none;
    background-color: rgb(240, 240, 240);
    font-family: 'Poppins';
    width: 90%;
}

.search-form button {
    background-color: #fb3e44;
    color: white;
    border: none;
    padding: 10px;
    font-family: 'Poppins';
}

.search-form label {
    display: flex;
    align-self: center;
    margin-left: 10px;
}

.header-buttons {
    width: 10%;
    display: flex;
    justify-content: space-around;
}

.header-buttons button {
    border: none;
    background-color: white;
    padding: 5px;
    width: 60%;
}

.header-buttons a {
    color: black;
    text-decoration: none;
    font-family: 'Poppins';
}

#join-button {
    border: 1px solid black;
    font-weight: 700;
}