@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}
html, body {
    margin: 0;
    padding: 0;
}
header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }

.headerEnd {
    display: flex;
    height: 50px;
}

.npm-logo {
    width: 80px;
    padding: 5px;
}

.form {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.form input{
    background-image: url("./images/magnifying-glass.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
    color: rgba(0,0,0,.05);
    padding: 9px;
    border: 0px;
    background-color: rgba(0,0,0,.05);
    width: 850px;
}

form input::placeholder {
    padding: 30px;
  }

  .form button {
    background-color: #fb3e44;
    color: white;
    border: 0;
    padding: 9px;
    font-size: 1em;
  }

  .btt {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3px 10px;
  }

  .joinbtt {
    border: 0.5px solid black;
    padding: 5px 10px;
    font-size: 1em;
    background-color: white;
    color: black
  
  }

  .logbtt {
    text-decoration: none;
    color:black;
    font-size: 1em;
    padding: 0px 0px 0px 40px;
  
  }

  .s1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-color:rgba(232,217,217,.3)
}
h1 {
  font-size: 4em;
  font-weight:bolder
}

.article {
    width: 30%;
    text-align: center;
    display: flex;
    position: relative;
  }

.seebtt {
  background-color: #FB3B49;
  box-shadow: 8px 8px 0 rgba(251,59,73,.2);
  padding: 3% 9.5%;
  color: white;
  font-size: 1em;
  border: 0;
}

.freebtt {
  background-color: white;
  padding: 3% 9.5%;
  color: rgb (0, 0, 0);
  font-size: 1em;
  border: 0;
  font-weight: bold;
}

.links {
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 4%;
}

#s2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-color:white;
}

#s2 img {
  display: flex;
  position: relative;
  width: 20%;
  margin-top: 30px;
  margin-bottom: 15px;
}

#s2 h2 {
  
    background-color: rgba(255,204,53,.4);
    transform: skew(9deg,0deg);
    font-style: italic;
    padding: 5px 15px;
    width: 45%;
    font-weight: heavy;
  }

#s2 article {
  display: flex;
  position: relative;
  width: 50%;
  text-align: center;
  margin-bottom: 15px;
  padding: 0px 100px;
  font-size: 15px;
}

#s3 h3 {
    color: #ED1C24;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin: 40px 60px;
  
  }
  
  #s3 img {
    width: 35px;
  }
  
  .box {
    padding: 60px 40px;
  }
  .orgbtt {
    display: flex;
    justify-content: center;
    margin: 4%;
  }
  
  #s3 button {
      box-shadow: 8px 8px 0 rgba(128,83,35,.2);
      color: white;
      background-color: black;
      text-align: center;
      font-size: 15px;
      padding: 15px 80px;
  }






  
  
  

  
  
