@import url('https://fonts.googleapis.com/css?family=Poppins');


html{
    margin: 0, 0;
    padding: 0, 0;
}

body {
    font-family: 'Poppins';
  }

  header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }

  .logoandbuttons{
      display: flex;
      padding:0 0;
      justify-content: space-around;
      margin: 10px 0 10px 0;
      padding-bottom: 10px;
  }

  .npmlogo{
    justify-content: center;
    align-items: center;
    width: 60px;
    margin-left: 5px;
    margin-right: 10px;
  }

  .searchbar{
      display: flex;
      width: 100%;
  }

  .magnifying{
      padding-left: 5px;
      padding-top: 5px;
      width : 30px;
  }

  .searchbar{
    background-color:rgba(0,0,0,.05);
      display: flex;
      margin: 0 0;
  }

  .inputsize{
      width: 100%
  }
.searchbarandbutton{ 
    
    padding: 0 10px;
    width: 100%;
    display: flex;
    }

.searchbarbox{
    box-sizing: border-box;
    font-size: 1rem;
      width: 100%;
      height: 40px;
      color: black;
      border-style: none;
      background-color: transparent;
}

.searchbutton{
    
    background-color: #fb3e44;
    border: none;
    width: 75px;
    height: 40px;
    color: white;
}

.SandJbuttons{
    justify-content: center;
    text-align: center;
    width: 200px;
    display: flex;
    justify-content: space-around;
}

.joinbutton{
    justify-content: center;
    text-align: center;
    width: 60px;
    background-color: transparent;
    border-style: solid;
    border-color: rgb(192, 189, 189);
    height: 35px;
    color: black;
}

.signinbutton{
    justify-content: center;
    text-align: center;
    margin-right: 40px;
    background-color: transparent;
    width: 75px;
    height: 35px;
    border: none;
    color: black;
}


.section1{
    height: 500px;
    background-color: rgba(232,217,217,.3);
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.buildA{
    margin: 10px 0;
    text-align: center;
    font-size: 4rem;
    }

.essential{
    margin: 10px 0;
    text-align: center;
    width: 40%;
}

.buttonsMiddle{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 40%
}

.buttonSee{
    border-radius: 0;
    background-color: #FB3B49;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
    border: none;
    width: 175px;
    height: 60px;
}

.buttonJoin{
    background-color: transparent;
    border: none;
    width: 175px;
    height: 60px;
   
}

.planstext{
    font-size: 1rem;
    color: white;
    text-decoration:none;
}

.jointext{
    font-size: 1rem;
    color: black;
    text-decoration: none;
}

.section2{
height: 500px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.imghexagon{
    margin-top: 5px;;
    width:180px;
}

.textsection2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.bringbest{
    width: 100%;
    background-color: rgba(255,204,53,.4) ;
    transform: skew(9deg,0deg);
    text-align: center;
    font-size: 2rem;
    font-style: italic;
    margin: 25px 0;
}

.paragraph2{
    text-align: center;
    width: 90%;
}

.section3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.footers{
    display: flex;
    align-items: center;
    justify-content:space-around;
    width: 80%;
    margin: 15px;
}

.footers div{
    margin: 0 10px;
    padding: 0 10px;
}

.footers div img{
    width: 30px;
}

.footers div h4{
    color: red;
    font-weight: 1500;
}

.buttonCreate{
    margin: 30px 0 50px 0;
    border-radius: 0;
    background-color: black;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
    border: none;
    width: 400px;
    height: 60px;
}
