@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgrey;
}

nav {
    width: 600px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: black;
}

.blackHeart {
    width: 20px;
    margin-right: 1rem;
}

header div form a {
    background-color: #fb3e44;
    text-decoration: none;
    color: white;
    padding: 10px 10px 12px 10px;
    margin: 0 auto;
     
}

.join {
    color: black;
    text-decoration: none;
    border: 1px solid lightgrey;
    padding: 3px 15px;
}

.login {
    color: black;
    text-decoration: none;
    margin: 0 0 0 10px;

}

header div form label {
    color: rgba(0,0,0,.05);
}

header div form input {
    color: rgba(0,0,0,.05);
    width: 600px;
    height: 32px;
}



.logo {
    width: 70px;
    padding: 20px 10px;
}

.magnifying-glass {
    width: 22px;
}

/*Section 1*/

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#section1 {
    
    height: 600px;
    background-color: rgba(232,217,217,.3)
}

#section1 div ,#section1 div h1, .container a {
    display: flex;
    justify-content: center;
}

#section1 div h1 {
    font-family: "Poppins";
    font-size: 75px;
    font-weight: 700;
    width: 830px;
    text-align: center;
}
#section1 article {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -25px;;
}
#section1 article p {
    text-align: center;
    width: 450px;
    font-weight: 700;

}

.container {
    display: flex;
    flex-direction: row;
    height: 50px;
    padding: 5px 10px;
    margin-top: 50px;
    align-items: center;
}

.see-plans-btn, .join-btn{
    text-decoration: none;
    color: white;
}

.see-plans-btn {
    color: black;
    background-color: #FB3B49;
    text-decoration: none;
    color: white;
    padding: 10px 45px;
    margin-right: 15px;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
}

.join-btn{
    background-color: white;
    text-decoration: none;
    color: black;
    padding: 10px 45px;
    margin-left: 15px;
    font-weight: 900;
}
/*Section 2*/

#section2{
    height: 450px;
    flex-direction: column;
    margin-top: 0px;
}

#section2 img {
    margin-top: 20px;
    width: 180px;
}

#section2 h4 {
    font-size: 30px;
    font-weight: 600;
    transform:skew(9deg,0deg);
    background-color: rgba(255,204,53,.4);
    padding: 0 25px;
}

#section2 article p {
    text-align: center;
    width: 650px;
    height: 100px;
}
/*Section 3*/

#section3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    border: 2px solid blue;
}

.section3-images {
    width: 25px;
    margin-left: 25px;
}
.container1 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 30px 10px;
}

#section3 .div1, .div2, .div3, .div4 {
    border: 8px solid#FB3B49;
    height: 300px;
    justify-content: center;
}
#section3 div p {
    text-align: center;
}

#section3 div h4 {
    margin-left: 25px;
    color: red;
}

.create-an-org{
    border: 1px solid red;
    display: flex;
    align-self: flex-end;
    width: 285px;
    background-color: black;
}
.boton{
    
    background-color: black;
    text-decoration: none;
    color: white;
    padding: 10px 70px;
    margin-right: 15px;
    box-shadow: 8px 8px 0 rgba(128,83,35,.2);
}