@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header > div {
    padding: 0 25px;
    display: flex;
    /* justify-content: space-between;
    align-items: center; */
    border-bottom: 1px solid lightgray;
  }

  #penguin{
    justify-content: space-between;
    align-items: center;}

  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }
  
  nav {
    width: 600px;
  }
  
   .mainMenu ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }

  .searchBar{
    height: 70px;
    /* background-color: darkgreen; */
    align-items: baseline;
    margin:0 10px;
    display: flex;
  }

  #search button{
    color: white;
    background-color:  #fb3e44;
  }


 .npmBar{
width: 100%;
/* background-color: blueviolet; */
justify-content: space-between;
display: flex;
 }

 .npmBar form{
   width: 100%;
    display: flex;
    margin: 0 auto;
    position: relative;
    margin-left: 30px;
  }

 .npmBar form input{
   width:100% ;
   margin: 0 auto;
   height: 30px;
   padding: 0 20px;
   font-size: 1rem;
   border: 1px solid #d0cfce;
   outline: none;
   padding-left: 30px;
 }

 .searchGlass {
  position: absolute;
  left: 5px;
}

 .joinLog {
 min-width: 140px;
 display: flex;
 flex-grow: 1;
 /* background-color: coral; */
 }

 .joinLog ul{
   list-style: none;
   display: flex;
   justify-content:flex-end;
 }

 .joinLog li{
 padding-left: 40px;
}

.borderJoin{
  border: solid 1px;
  padding-right: 40px;
}

  .npmLogo {
  height: 22px;
  }
  
  .searchGlass {
   height: 22px;
  top:5px;
  }

  input {
background-color:rgba(232,217,217,.3);

;

  }

/* ---------------- Section 1 & 2 -------------------- */

#search input {
min-width: 200px;
}

.buildAmazing{
  height: 600px;
  background-color:  rgba(232,217,217,.3);
}

.bringBest {
  height: 400px;
  padding-bottom: 50px;
}

.team{
 height: 600px;
}

h1{
  text-align: center;
}

.amazing{
  font-size: 50px;
  margin: 0;
  padding: 100px 0 40px 0;
}
 
article {
  margin: auto;
  width: 30%;
  padding: 10px;
 text-align: center; 
 min-height: 80px;
 min-width: 70px;
}

.hexagon{
  height: 170px;
  padding: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.bringBest h1{
  background-color: #FFFF00;
}

#seePlanJoin{
  display: flex;
  justify-content: space-around;
  width: 300px;
  margin: auto;
  height: 40px;
  flex-wrap: wrap;
  padding-top: 30px;
}

#seePlanJoin a{
  text-decoration: none;
  color: black;
}

.seePlan {
background-color: white;
}

.seePlan :hover{
  background-color: #FB3B49;
  box-shadow: 8px 8px 0 rgba(251,59,73,.2);
  }

.joinFree {
  background-color: white;
  }

.joinFree :hover{
    background-color: #FB3B49;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
    }
  
/* ------------Section 3 ------------ */

.teamOrg{
  display: flex;
  margin: 0 200px;
  padding-top: 100px;
  justify-content:space-between;
  
}

.teamOrg img{
  height: 20px;
  display: block;
  
}

#conf , #team , #feat , #auditing{
  padding: 20px;
 height: 300px;
  min-width: 200px;
}

.teamOrg span{
  color: #ED1C24;
}

.Org{
  display: block;
  margin: auto;
  height: 40px;
  width: 250px;
  padding-top: 20px;
  text-align: center;
  background-color: black;
  color: white;
  box-shadow: 8px 8px 0 rgba(128,83,35,.2);
  margin-bottom: 60px;
}
