@import url("https://fonts.googleapis.com/css?family=Poppins");

header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

.blackHeart {
  width: 20px;
  margin-right: 1rem;
}

.lupa {
  width: 20px;
  margin-right: 1rem;
}

form > input {
  color: rgba(0, 0, 0, 0.05);
}
.logo {
  width: 80px;
  margin-right: 1rem;
}

body {
  font-family: "Poppins";
}
