@import url('https://fonts.googleapis.com/css?family=Poppins');

body{
    font-family: 'Poppins';
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

header > div > form{
    width: 80%;
    padding: 12px;
}

nav {
    width: 600px;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: black;
}

.blackHeart{
    width: 20px;
    margin-right: 1rem;
}

.npmLogo{
    width: 70px;
    margin-right: 1rem;
}

#myInput{
    background-image: url(images/magnifying-glass.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-color: lightgrey;
    background-size: 20px;
    font-size: 16px;
    padding: 12px 12px 12px 40px;
    width: 80%;
    border: none; 
}

#botones{
    background-color: #FB3B49;
    color: white;
    border: none;
    padding: 12px 12px 12px 12px;
    text-align: center;
}

.firstBoton {
    background-color: white;
    color: black;
    border: solid black 2px;
    padding: 5px 20px;
    text-decoration: none;
}

.secondBoton {
    background-color: white;
    color: black;
    text-decoration: none;
}

.diva{
    height: 60px;
}

#firstSection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 600px;
    background-color: rgba(232, 217, 217, 3);
}

.firstTitle{
    font-size: 5em;
    margin: 10px;
}

#textBox1 {
    background-color: #FB3B49;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
    color: white;
    text-decoration: none;
    padding: 7px 50px;
    margin: 12px;
}

#textBox2 {
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 7px 40px; 
    margin: 12px;

}

#secondSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 600px;
}

#secondSection > h2 {
    background-color: rgba(255,204,53,.4);
    transform: skew(9deg,0deg);
    padding: 1px 30px;
    font-style: italic;
    margin: 60px;
}

#thirdSection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    padding: 100px;
}

#thirdSection > article > h3 {
    color: #ed1c24;
}

#creation {
    background-color: black;
    color: white;
    text-decoration: none;
    box-shadow: 8px 8px 0 rgb(128, 83, 35, .2);
    padding: 10px 90px;
    position: absolute; 
    left: 650px;
    top: 240%
}

