@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}
header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

.blackHeart {
  width: 20px;
  margin-right: 1rem;
}

.logo{
  width: 150px;
  padding: 8px;
}

#searchbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

form.searchtry{
  display: flex;
  align-items: center;
  background-color: #eeeeee;
  padding: 8px;
  width:43em;
  height:40px;
}
form img {
  height: 24px;
}

form input{
  border: none;
  width: 375px;
  margin-left: 8px;
  background: none;
}

form input:focus{
  outline:none;
}

.search-button{
  label-color: rgba(0,0,0,.05);
  input-color: rgba(0,0,0,.05);
  background-color: #fb3e44;
  color: white;
  padding: 20px;
}

div > a{
  text-decoration: none;
  color: black;
  
}

.join-button{
 border: 1px solid grey;
 align-text:center;
 padding: 5px 10px;
 margin: 20px;
 color:black;
}


#content-top{
  display: block;
  justify-content: center;
  align-content: center;
  height: 600px;
  background-color: rgba(232,217,217,.3);  
  
}

h1{
  font-size: 100px; 
  text-align: center;
  margin: 0 auto;
  padding: 50px;
}


#text{
  text-align: center;
  justify-content: center;
  align-text: center;
  word-wrap: break-word;
  font-size: 20px;
  width: 560px;
  content-align:center;
  margin: 0 auto;
}

.button-see-plan{
color: white;
text-decoration: none;
font-size: 20px;
font-weight: bold;
box-shadow: 8px 8px 0 rgba(251,59,73,.2);
background-color: #FB3B49;
padding: 16px 32px;  
}

.button-join-free{
  color: black;
  font-size: 20px;
  font-weight: bold;
  margin-left:40px;
  background-color: white;
  padding: 16px 32px;
}

.plan-join{
  display:flex;
  justify-content: center;
  margin-top: 70px; 
}

#content-middle{
  text-align: center;
  justify-content: center;
  align-text: center;
  margin-bottom: 130px;
  margin-top: 80px;
}

#image {
  width: 300px; 
  height: 300px;
  display:block;
  margin: auto;
  
}

#head{
  background-color: rgba(255,204,53,.4);
  display:inline-block;
  transform: skew(9deg,0deg);
  font-style: italic;
  align-content: center;
  text-align:center;
  font-weight: bold;
  font-size: 30px;
  padding: 0px 20px;
}

#content-middle article{
  width: 500px;
  font-size: 16px;
  margin: 0 auto;
}

article{
  margin-top: 50px;
}

#content-bottom{
  text-align: center;
  justify-content: center;
  align-text: center;
}

h3{
  color:#ED1C24;
}

#content-bottom{
  display: flex;
  justify-content: space-between;
  text-align: left;
  margin-top: 180px;
  margin-left: 180px;
  margin-right: 180px;
}

#content-bottom div{
  padding:16px;
}
#content-bottom img{
  height: 24px;
}

#content-bottom p{  
  word-wrap: break-word;    
}

.button-org{
color: white;
text-decoration: none;
font-size: 20px;
font-weight: bold;
box-shadow: 8px 8px 0 rgba(128,83,35,.2);
background-color: black;
padding: 16px 32px;
  
}

#button-position{
  padding: 0px 100px;
  text-align: center;
  margin-bottom: 112px;
  margin-top: 50px;
}

@media screen and (min-width: 800px){
 
  #searchbar{
    width:auto;
    margin-left: auto;
    margin-right: auto; 
    }
  .searchtry{
    width:auto;
    
  }
}

@media screen and (min-width: 30em) {
  .searchtry {
    display: -ms-flexbox;
    display: flex;
  }

@media screen and (min-width: 30em) {
    .searchtry {
     padding-top: 8px;
      -ms-flex-positive: 0;
          flex-grow: 0;
    }
}
@media screen and (min-width: 30em) {
      .searchtry {
        padding-left: 50px;
      }
    }
@media screen and (min-width: 60em) {
        .searchtry {
          min-height: 16px;
        }
}

@media screen and (min-width: 30em) {
  ._5052cb2e {
    line-height: 30px;
  }
}
@media screen and (min-width: 30em) {
  .searchtry {
    /* max-width: 420px; */
  }
}
@media screen and (min-width: 30em) {
  .searchtry {
    width: 100%;
    padding-left: 180px;
  }
}
@media (min-width: 1200px) {
  .searchtry {
    width: 1160px;
  }
}