@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
nav {
    width: 600px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: black;

}

.blackHeart {
    width: 20px;
    margin-right: 1rem;
}

.npmLogo {
    width: 60px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.searchIcon {
    width: 15px;
    padding: 10px;
    background-color: rgba(0,0,0,.05);

}

.secondHeader div {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
}

.searchBar div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    width: 200px;
    height: 36px;
    padding: 8px;

    box-sizing: border-box;
}

.searchBar input[type="text"] {
    font-family: 'Poppins';
    font-size: 0.6em;
    font-weight: 600;
    width: 700px;
    padding: 10px;
    text-decoration: none;
    background-color: rgba(0,0,0,.05);
    color: rgba(68, 65, 65, 0.866);
    border-color: transparent;

}

.searchBar input[type="submit"] {
    font-family: 'Poppins';
    font-size: 0.9em;
    font-weight: 600;
    padding: 8px;
    text-decoration: none;
    background-color: #fb3e44;
    color: white;
    border: white;
}

.actionButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.actionButtons a {
    color: black;
    text-decoration: none;
    margin-left: 20px;
}

#firstSection {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    text-align: center;

    height: 600px;
    background-color: rgba(232,217,217,.3);
}

#firstSection h1 {
    font-size: 60px;
    font-weight: 900;
}

#firstSection article {
    width: 400px;
    text-align: center;
    margin: 0 auto;
}

.actionButtons2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    box-sizing: border-box;

    margin: 30px;
}

.seePlans {
    padding: 10px 50px 10px 50px;
    text-decoration: none;
    font-weight: bold;
    background-color: #fb3b49;
    color: white;
    border: white;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
}

.joinFree {
    padding: 10px 50px 10px 50px;
    font-size: 1em;
    font-weight: 800;
    color: black;
    text-decoration: none;
    background-color: white;
}

#secondSection {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    text-align: center;

    height: 650px;
    background-color: white;
}

.hexagon {
    width: 300px;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
}

#secondSection h1 {
    font-size: 30px;
    font-weight: 600;
    font-style: italic;
    background-color: rgba(255,204,53,.4);
    transform: skew(9deg,0deg);
    line-height: 1.2em;
    padding: 0 24px;
    margin: 50px 0 40px;
}

#secondSection article {
    width: 750px;
    font-size: 15px;
    text-align: center;
    margin: 0 auto;
}

#thirdSection {
    height: 650px;
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 80px auto;

    gap: 80px;
}

.fourTopics {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: flex-start;
    margin-left: 90px;
    margin-right: 90px;
}

.fourTopics img {
    width: 35px;
}

.fourTopics h2 {
    color: #ED1C24;
    font-size: 15px;
    font-weight: 1000;
}

.fourTopics p {
    font-size: 13px;
    width: 200px;
}

.buttonOrg a {
    width: 40%;
    margin: 40px;
    padding: 10px 50px 10px 50px;
    
    font-size: 1em;
    text-decoration: none;
    background-color: black;
    color: white;
    border: white;
    box-shadow: 8px 8px 0 rgba(128,83,35,.2);
    text-align: center;
    
    display: flex;
    align-items: center;
}
