@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: 'Poppins';
}

body a {
    text-decoration: none;
}

.header-top {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}
  
nav {
    width: 600px;
}
 
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
nav a {
    text-decoration: none;
    color: black;
}
  
.blackHeart {
    width: 20px;
    margin-right: 1rem;
}

.header-bottom {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 30px;
    margin: 0 20px 0 0;
}

.logo-search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}

form {
    display: flex;
    flex-direction: row;
}

form label {
    background-color: rgba(0,0,0,.05);
    padding: 10px;
    border: none;
    display: flex;
    
}

form label img {
    height: 25px;
}

form input {
    background-color: rgba(0,0,0,.05);
    width:1000px;
    padding: 10px;
    border: none;
}

form button {
    border-style: none;
    background-color: #fb3e44;
    color: white;
    padding: 10px;
}

.login a {
    color: rgb(100,100,100);
    text-decoration: none;
    padding: 10px 20px;
}

#joinbtn {
    color: rgb(50,50,50);
    border: solid 1px rgb(100,100,100);
}

.header-bottom > div {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

#section-1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 600px;
    background-color: rgba(232,217,217,.3);
}

#section-1 h1 {
    font-size: 4em;
    font-weight: bolder;
    margin: 0;
}

.s1-text {
    width: 27%;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}

.s1-links {
    display: flex;
    width: 27%;
    justify-content: space-between;
}

.s1-link1 {
    color: white;
    background-color: #FB3B49;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
    padding: 10px 50px;
}

.s1-link2 {
    color: black;
    padding: 10px 50px;
}

#section-2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 600px;
}

.triangle-hex {
    height: 200px;
    margin: 40px;
}

#section-2 h2 {
    font-size: 2em;
    background-color: rgba(255,204,53,.4);
    transform: skew(9deg,0deg);
    font-style: italic;
    padding: 0 40px;
}

.s2-text {
    width: 52%;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}

#section-3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 400px;
    margin-bottom: 70px;
}

.s3-container-group {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.s3-container {
    width: 250px;
    margin: 0 30px;
}

.s3-container img {
    width: 20%;
}

.s3-container p {
    font-size: 0.9em;
}

.s3-container h3 {
    color: #ED1C24;
}

.s3-link {
    color: white;
    background-color: black;
    box-shadow: 8px 8px 0 rgba(128,83,35,.2);
    margin-top: 50px;
    padding: 20px 150px;
}