@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }

  form {
    display: flex;
    justify-content: center;
    width: 75%;
    padding: 0;
    margin: 0;
  }

  form input {
    background-color: rgba(0, 0, 0, 0.05);
    height: 40px;
    font-size: 1em;
    width: 85%;
    border: none;
  }

  form img {
    height: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.05);
  }

  .btn-head {
    height: 0.8em;
    margin: 0 10px;
    padding: 0px;
  }

  .btn-head-border {
    border: 1px solid black;
    padding: 5px 20px;
  }

  .header-search {
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
  }

  #logo {
    width: 70px;
  }

  #first-container {
    height: 600px;
    background-color: rgba(232, 217, 217, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #first-container h1 {
    font-size: 6.5em;
    margin: 10px 0;
  }

  #first-container article {
    width: 40%;
    text-align: center;
    font-size: 1.7em;
  }

  #btn-div {
    width: 40%;
    text-align: center;
    font-size: 1em;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 80px;
  }

  #second-container {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #second-container h2 {
    background-color: rgba(255, 204, 53, 0.4);
    transform: skew(9deg, 0deg);
    font-style: italic;
    font-size: 2.3em;
    padding: 0 20px 0 20px;
  }

  #second-container article {
    width: 45%;
    text-align: center;
    font-size: 0.96em;
  }

  #second-container img {
    width: 256px;
  }

  #features-container {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #features-container > div {
    display: flex;
    justify-content: space-around;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 90%;
  }

  #features-container img {
    height: 32px;
    margin: 0px;
  }

  .create-button {
    text-align: center;
    margin: 30px;
    box-shadow: 8px 8px 0 rgba(128, 83, 35, 0.2);
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 15px;
    width: 30px;
  }

  .feature-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0 10px 0 10px;
    padding: 0 3.2em 2em 3.2em;
    width: 100%;
  }

  .feature-card h3 {
    color: #ed1c24;
    font-size: 1.2em;
    margin: 0;
  }

  .btn-red {
    background-color: #fb3e44;
    color: white;
    border: none;
    font-size: 1em;
    padding: 0 20px;
  }

  .btn-red-shadow {
    box-shadow: 8px 8px 0 rgba(251, 59, 73, 0.2);
  }

  buttun {
    padding: 0;
  }

  .btn {
    width: 50%;
    padding: 10px 0;
    margin: 0 20px;
    font-size: 1.4em;
    font-weight: 100;
  }

  .btn-white {
    background-color: white;
  }