@import url('https://fonts.googleapis.com/css?family=Poppins');

 html,
 body {
     margin: 0;
     padding: 0;;
 }
 body {
   font-family: 'Poppins';
   font-size: 10px;
   line-height: 3.5em;
   font-weight: 300;
 }
 span{
     font-size: 1.2em;
 }
 a{
     font-size: 1.3em;
 }
 h1{
     font-size: 50px;
     text-align: center;
     font-weight: 600;
 }
 h2{
     font-size: 30px;
     text-align: center;
     font-weight: 600;
 }


 header > div {
     padding: 0 25px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     border-bottom: 1px solid lightgray;
 }
 nav  {
     width: 600px;
 }
 nav ul {
     list-style: none;
     display: flex;
     justify-content: space-between;
     align-items: center;
 } 
 nav a {
     text-decoration: none;
     color: black;
 } 
 .black-heart {
     width: 20px;
     margin-right: 1rem;
 }

 .npm-logo{
     width: 100px;
     margin-right: 1em;
 }
 .input {
     box-sizing: border-box;
     padding: 15px 15px 15px 35px;
     width: 75em;
     background-color:rgba(0,0,0,.05);
 }
 .find-lupa {
     position: absolute;
     width: 20px;
     height: 20px;
     left: 150px;
     top: 82px;
     transform: translateY(-50%);
 }
 
 .header-second{
     height: 5em;
 }
 .search-button{
     background-color: #fb3e44;
     padding: 10px 35px 15px 35px;
     font-size: 1.5em ;
     font-weight: bold;
     width: 10em;
     color: white;
     font-family: 'Poppins';
     text-decoration: none;
 }
 .link-button{
     color: black;
     letter-spacing: 0.5px;
     font-size: 1.5em;
     text-align: center;
     text-decoration: none;
     padding: 5px 30px;
     font-weight: bold;
 }
 .link-button:hover{
     border: 1px solid black;
 }

 #general-information {
     background-color: rgba(232,217,217,.3);
     width: 100%;
     height: 40em ;
     padding: 40px;
 }
 .content {
     width: 386px;
     margin: 0 auto;
     padding: 10px 0;
     text-align: center;
 }
 .textsection2 {
     font-size: 1.5em;
     font-weight: 100;
     text-align: center;
     margin-top: 30px;
     margin-bottom: 30px;
 }

 .section2{
     width: 100%;
     height: 55em ;
     padding: 40px;
     margin: 70px 0;
 }
 .section2 img{
     width: 50%;
     height: 50%;
     margin-bottom: 45px;
 }
 .section2 h2{
     background-color:  rgba(255,204,53,.4);
     transform: skew(9deg,0deg);
     font-style: italic;
 }
 .content2 {
     width: 733px;
     margin: 0 auto;
     padding: 10px 0;
     text-align: center;
 }


 .services {
     font-size: 1.7em;
     text-align: center;
     margin: 50px;
     padding: 20px;
     width: 40%;
 }
 .service-box img {
     width: 100px;
 }
 #structure{
   padding: 100px 0;
   margin: 0 auto;
   display: flex;
   justify-content: space-evenly;
   flex-direction: column;
 }
 #structure > div > article {
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
 }
 #structure div{
     display: flex;
     justify-content: space-around;
 }
 #structure h4{
     color:#ED1C24 ;
 }
 .boton{
     box-shadow: 8px 8px 0 rgba(128,83,35,.2);
     letter-spacing: 0.5px;
     font-size: 1.5em;
     text-align: center;
     text-decoration: none;
     padding: 10px 10em;
     font-weight: bold;
     color: white;
     background-color: black;