@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
} 
nav {
    width: 600px;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}
div a {
    text-decoration: none;
    color: black;
}
.blackheart {
    width: 20px;
    margin-right: 1rem;
}

.logo {
    width: 50px;
    margin-right: 1rem;
}
.form {
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, .05);
    width: 100%;
    padding: 0px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.form > input {
    background-color: rgba(0, 0, 0, .005);
    border: none;
    width: 100%;
}
.form > button {
    background-color: #fb3e44;
    border: none;
    color: white;
    padding: 10px;
}
.glass {
    width: 12px;
    padding: 7.5px;
}
.nav-button {
    display: flex;
    justify-content: space-between;
    margin: 2px;
}
.join {
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: none; 
    background-color: white;
}
.login {
    padding: 5px 10px;
    border: none;
    background-color: white;
}

#section-one {
    height: 600px;
    background-color: rgba(232,217,217,.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    font-size: 120px;
    margin-bottom: 0;
}

article {
    width: 28%;
    font-size: 20px;
    text-align: center;
}
#section-one > div {
    padding: 50px;
    
}
.see-plans {
    background-color: #FB3B49;
    color: white;
    font-size: 20px;
    padding: 20px 60px;
    border: none;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
}
.joinforfree {
    background-color: rgba(232,217,217,.03);
    border: none;
    font-size: 20px;
    padding: 20px 60px;
}

#section-two {
    height: 600px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#section-two img {
    width: 250px;
}
h2 {
    background-color: rgba(255,204,53,.4);
    transform: skew(9deg,0deg);
    padding:  0 30px;
    font-style: italic;
}
#section-two > article {
    width: 40%;
    font-size: 15px;
}
h3 {
    color:#ED1C24;
    text-align: left;
}
#section-three {
    display: flex;
    flex-direction: column;
    align-items: center;

}
#section-three > div {
    width: 80%;
    display: flex;
    justify-content: space-between;

}

#section-three div > div {
    padding: 50px;
}

#section-three p {
    text-align: left;
}

#section-three img {
    width: 30px;
}
#section-three button {
    background-color: black;
    font-size: 16px;
    color: white;
    border: none;
    margin-bottom: 40px;
    margin-top: none;
    padding: 15px 120px;
    box-shadow: 8px 8px 0 rgba(128,83,35,.2); 
}
