@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body {
  font-family: "Poppins";
}

header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.divheader {
  display: flex;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

.companyname {
}

.blackHeart {
  height: 15px;
  margin-right: 1rem;
}

.logoimg {
  width: 80px;
  margin-right: 5px;
}

.button-left {
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  width: 60px;
  height: 20px;
}

.button-right {
  background-color: white;
  border: none;
  width: 80px;
  height: 20px;
}

.search-div {
  display: flex;
}
.search-div-div {
  display: flex;
  background-color: rgba(0, 0, 0, 0.05);
}

.mag-glass {
  height: 30px;
  background-color: rgba(0, 0, 0, 0.05);
}
.button-search {
  background-color: red;
  color: white;
  width: 110px;
  height: 30px;
  border: none;
  padding: 0px;
  margin: 0px;
}

.search-bar {
  height: 30px;
  padding: 0px;
  margin: 0px;
  width: 1400px;
  background-color: rgba(0, 0, 0, 0.05);
  border: none;
}

#section1 {
  background-color: rgba(232, 217, 217, 0.3);
  height: 600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-items: center;
}

#section1 article {
  display: flex;
  align-self: center;
  width: 500px;
  height: auto;
  text-align: center;
}

#section1 button {
  display: flex;
  align-self: center;
  flex-direction: row;
  padding: 15px;
  margin: 10px;
  border: none;
  width: 200px;
  justify-content: center;
}

.s1-button-left {
  background-color: #fb3b49;
  box-shadow: 8px 8px 0 rgba(251, 59, 73, 0.2);
  color: white;
  font-size: 20px;
  font-weight: 700;
}

.s1-button-right {
  background-color: white;
  color: black;
  font-weight: 700;
  font-size: 20px;
}

#section1 div {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

#section2 {
  height: 600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-items: center;
}

#section2 article {
  display: flex;
  align-self: center;
  width: 700px;
  height: auto;
  text-align: center;
}

.hexaimg {
  width: 200px;
  height: 200px;
  display: flex;
  align-self: center;
}

#section3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 200px;
  margin-right: 200px;
}

#section3 img {
  width: 40px;
  height: 40px;
  align-self: flex-start;
}

#section3 p {
  width: 250px;
}

#section4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.buttonorg {
  background-color: black;
  color: white;
  box-shadow: 8px 8px 0 rgba(128, 83, 35, 0.2);
  width: 500px;
  height: 50px;
  margin-top: 100px;
  margin-bottom: 100px;
  font-weight: 600;
  font-size: 25px;
}

h1 {
  font-size: 60px;
  text-align: center;
  font-weight: 700;
}

h2 {
  text-align: center;
}

h3 {
  background-color: rgba(255, 204, 53, 0.4);
  width: 750px;
  display: flex;
  align-self: center;
  font-size: 30px;
  transform: skew(9deg, 0deg);
  font-style: italic;
  padding-left: 25px;
  font-weight: 700;
}

h4 {
  color: #ed1c24;
}
