@import url("https://fonts.googleapis.com/css?family=Poppins");

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins";
}

.header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

#black-heart {
  width: 30px;
  margin-right: 1rem;
}

#npm-logo {
  width: 100px;
  margin: 1rem;
}

#mag-glass {
  width: 15px;
}

#search {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.section-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  background-color: rgba(232, 217, 217, 0.3);
  padding-bottom: 100px;
}

#title-1 {
  font-size: 80px;
}

#article-1 {
  text-align: center;
  width: 500px;
  height: 150px;
  padding-bottom: 40px;
  font-size: 20px;
}

#plans-btn {
  background-color: #fb3b49;
  box-shadow: 8px 8px 0 rgba(251, 59, 73, 0.2);
  width: 250px;
  height: 50px;
  border-width: 0;
}

#plans-btn a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

#join-btn {
  background-color: white;
  box-shadow: 8px 8px 0 rgba(251, 59, 73, 0.2);
  width: 250px;
  height: 50px;
  border-width: 0;
}

#join-btn a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

.section-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
}

#triangle-hex {
  width: 300px;
  margin-top: 300px;
  padding-bottom: 50px;
}

#title-2 {
  font-size: 40px;
  background-color: rgba(255, 204, 53, 0.4);
  font-style: italic;
}

#article-2 {
  text-align: center;
  width: 40%;
  padding-bottom: 40px;
  font-size: 16px;
}

.section-3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 600px;
  margin-top: 100px;
}

.section-3 img {
  width: 50px;
}

.section-3 h4 {
  color: #ed1c24;
  font-size: 20px;
}

.section-3 p {
  font-size: 16px;
  width: 75%;
  text-align: center;
}

.section-3 div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
}

#create-org-btn {
  background-color: black;
  box-shadow: 8px 8px 0 rgba(128, 83, 35, 0.2);
  width: 400px;
  height: 50px;
  border-width: 0;
  margin-bottom: 150px;
}

#create-org-btn a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.org-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
}
