@import url('https://fonts.googleapis.com/css?family=Poppins');

body{
  font-family: 'Poppins';
}
/*HEADER*/
header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}


.blackHeart {
  width: 20px;
  margin-right: 1rem;
}

.npm-logo{
width: 50px;
padding-right: 0%;
margin: 9px;
}

#button-search{
	background-color: #fb3e44;
	color: white;
	padding: 10px;
	border: none;
}

.search{
	background-color: rgba(0,0,0,.05);
}

.input{
	background-color: rgba(0,0,0,.05);
	border: none;
	padding-left: 0%;
width: 800px;
}

#button-join{
	background-color:white;
width: 110px;
height: 35px;
}

.login{
	text-decoration: none;
	color: black;
}

.join{
	text-decoration: none;
	color: black;
}



/*SECCION1*/
.build{
top:10px;
text-align: center;
height: 600px;
}

.h1build{
font-size: 100px
}

.heading1{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

#article1{
width: 40%;
text-align:center;
margin-bottom: 40px;
}

#seeplans{
background-color: #fb3b49;
box-shadow: 8px 8px 0 rgba(251, 59, 73, .2);
height: 60px;
width: 150px;
justify-content: space-around;
margin-right: 24px;
border: none;
}

.seeplans{
	color: white;
	letter-spacing: 2px;
	text-decoration: none;
}

#joinforfree{
background-color: rgb(255, 255, 255);
letter-spacing: 2px;
height: 60px;
width:150px ;
color: black;
text-decoration: none;
border: none;
}




/*SECCION 2*/
.section-2{
display: flex;
flex-direction:column ;
justify-content: center;
align-items: center;
height: 600px;
}

.lorem-section-2{
display: flex;
justify-content: center;
align-items: center;
width: 50%;
}

.triangle{
width: 200px;
}

.bring{
	display: flex;
	justify-content: center;
background-color: rgba(255, 2045, 53, .4);
}

/*FINAL*/

.final{
	
	height: 60px;
	width: 60px;
	
}

.final-section{
	padding-left: 10%;
	display: flex;
	align-items: center;
justify-content: center;
flex-direction: row;
}

.final-section div{

width: 80%;
}


#lorem{
width: 50%;
}

.h1{
color:red;
}

/*FOOTER*/
#footer{
	text-align: center;
	color: white;
}


.create{
	background-color: black;
	color: white;
border: none;
padding-left: 50px;
padding-right: 50px;
}

.black-heart{
	margin: 2em;
	width: 2em;
	margin-bottom: 1em;
}