@import url('https://fonts.googleapis.com/css?family=Poppins');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Poppins';
}   

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

nav{
    width: 600px;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: black;
}
.blackHeart{
    width: 20px;
    margin-right: 1rem;
}

.logo{
    width: 75px;
 
}

.head2{
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-evenly;
}

.lupa{
    width: 20px;
    align-items: center;
    margin-top: 3px;
}

.bar{
    margin-left: 1.5em; 
    padding: 7px;
    display: flex;
    align-items: center;
}

.bar label, input{
    color: rgba(0,0,0,.05);
}

label{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E9E7E7;
    height: 40px;
    width: 40px;
}

#search-bar{
    width: 60vw;
    height: 40px;
    background-color: #E9E7E7;
    border-style: none;
    font-size: 20px;
}

.bar button{
    background-color: #fb3e44;
    color: white;
    padding: 10px;
    margin: 0px;
    border-style: none;
    border-width: 0;
    height: 40px;
}

.link1{
    
    list-style: none;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 5px 20px;
}

.link2{
   
    list-style: none;
    text-decoration: none;
    color: black;
}

#intro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px;
    background-color: rgba(232,217,217,.3);
}

h1{
    font-size: 75px;
}

.intro-text{
    width: 27%;
    text-align: center;
}

.space{
    margin: 70px;
}

.linked1{
    background: #FB3B49;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
    text-decoration: none;
    color: white;
    padding: 10px 50px;
    margin-right:100px;
}

.linked2{
    text-decoration: none;
    color: black;
    font-weight: 500    ;
}

#info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
}

.hexagon{
    width: 10%;
    
}

.info-text{
    text-align: center;
    width: 55%; 
}

h2{
    background-color: rgba(255,204,53,.4);
    transform: skew(9deg,0deg);
    font-style: italic;
}

.fim{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#features{
    display: flex;
    margin-top: 100px;
    margin-bottom: 50px;  
    justify-content: center;
}

.square{
    width: 300px;
}

.icon{
    width: 35px;
    height: 35px;
}

h3{
    color: #ED1C24;
    background-size: 10px;
}

.words{
    width: 80%;
}

.last{
    margin-bottom: 100px;
    text-decoration: none;
    color: white;
    background-color: black;
    box-shadow: 8px 8px 0 rgba(128,83,35,.2);
    font-size: 20px;
    padding: 5px;
    width: 250px;
    text-align: center;
}

