@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

.blackHeart {
  width: 20px;
  margin-right: 1rem;
} 

.logo {
  width: 100px;
  padding: 8px;
}

.searchBar {
  display: flex;
  align-items: center;
  background-color: #eeeeee;
  margin: 8px;
}

.searchLogo {
  height: 25px
}

form input{
  color: rgba(0,0,0,0.5);
  background-color: #eeeeee;
  border: none;
  width: 900px;
}

form button {
  background-color: #fb3e44;
  color: white;
  height: 50px;
  padding: 15px;
}

.joinLogIn a{
  text-decoration: none;
  color: #000000;
}

.join-button{
  border: 1px solid grey;
  padding: 8px;
  margin: 10px;
}

#section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
  background-color: rgba(232,217,217,.3)
}

h1 {
  font-size: 75px;
  text-align: center;
  margin-top: 0 auto;
}

#section1 > article {
  text-align: center;
  content-align: center;
  width: 400px;
  margin: 0 auto;
}

.plansJoin {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 400px;
}

.seePlans-button {
  color: white;
  text-decoration: none;
  padding: 15px 50px;
  border: 1px solid;
  background-color: #FB3B49;
  box-shadow: 8px 8px 0 rgba(251,59,73,.2);
}

.joinFree-button {
  text-decoration: none;
  color: black;
}

#section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
}

#section2 img {
  width: 300px; 
  height: 300px;
  display: flex;
  margin: 15px auto;
}

h2 {
  background-color: rgba(255, 204, 53, 0.4);
  transform: skew(9deg,0deg);
  font-style: italic;
  text-align: center;
  font-size: 35px;
  padding: 0 20px;
}

#section2 > article {
  text-align: center;
  content-align: center;
  width: 780px;
  margin: 0 auto;
}