

  .blackHeart, .logo {


    width: 3vw;
  }

  /* Basic styling */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  body {
    font-family: sans-serif;
    background: #fff;
  }
  nav {
    background: #fff;
    padding: 0px !important
  }
  ul {
    list-style-type: none;
  }
  a {
    color: black;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  .logo a:hover {
    text-decoration: none;
  }
  .menu li {
    font-size: 16px;
    padding: 15px 5px;
    white-space: nowrap;
  }
  .logo a,
  .toggle a {
    font-size: 20px;
  }
  .button.secondary {
    border-bottom: 1px #444 solid;
  }
  /* Mobile menu */
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .toggle {
    order: 1;
  }
  .item.button {
    order: 2;
  }
  .item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
  }
  .item.active {
    display: block;
  }


  /* Tablet menu */
  @media all and (min-width: 600px) {
    .menu {
      justify-content: center;
    }
    .logo {
      flex: 1;
    }
    .toggle {
      flex: 1;
      text-align: right;
    }
    .item.button {
      width: auto;
      order: 1;
      display: block;
    }
    .toggle {
      order: 2;
    }
    .button.secondary {
      border: 0;
    }
    .button a {
      padding: 7.5px 15px;
      background: teal;
      border: 1px #006d6d solid;
    }
    .button.secondary a {
      background: transparent;
    }
    .button a:hover {
      text-decoration: none;
    }
    .button:not(.secondary) a:hover {
      background: #006d6d;
      border-color: #005959;
    }
    .button.secondary a:hover {
      color: #ddd;
    }
  }
  /* Desktop menu */
  @media all and (min-width: 900px) {
    .item {
      display: block;
      width: auto;
    }
    .toggle {
      display: none;
    }
    .logo {
      order: 0;
    }
    .item {
      order: 1;
    }
    .button {
      order: 2;
    }
    .menu li {
      padding: 15px 10px;
    }
    .menu li.button {
      padding-right: 0;
    }
  }

  /* top navrbar styles */
  .topnavbar{

    background-color: #fff;


  }


  .search {

    padding: 15px;
    width: 1100px;


  }

  .btn-search{

    padding: 15px;
    background-color: red;
    color: white;
  }


  .slider{

    background-color: #fcf0f2;
    height: 60vh;
    text-align: center;
    padding: 10vh 25px 25px 25px;
    height: 500px;


  }

  .slider > h1  {

    font-size: 70px;
  }
  .slider > h4 {
      font-weight: 500;
  }

  .button {

    padding: 20px 45px 20px 45px;
    background-color: red;
    color: white;
  }

  #links {
      margin-top: 10%;
  }


  .second-div{
    margin-top: 15vh;
   padding: 50px 20px 20px;
   height: 500px;
  }

  .highlight {
    background-color: #fff2ac;
    background-image: linear-gradient(to right, #ffe359 0%, #fff2ac 100%);
   
}

.bloques {
  display: flex;
  justify-content: space-around;
  margin: 0px 100px;

}

.unBloque{

  padding: 30px;
  text-align: left;

  
}

.unBloque > h3 {
  margin: 4vh 0vh;
}

.unBloque > p {
  font-weight: 300;
}

.btn-black {

  padding: 15px;
  background-color: black;
  color: white;
  width: 30%;
  border: none;
  font-size: 18px;
  margin: 5vh 0vh;
}

