@import url('https://fonts.googleapis.com/css?family=Poppins');

html , body {
  font-family: 'Poppins';
}
header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  nav {
    width: 600px;
  }
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav a {
    text-decoration: none;
    color: black;
  }
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }
  .npm-logo {
      width: 50px;
      margin-right: 1rem;
  }
  .search-bar .loop {
    width: 20px;
}
form {
    
    background-color: lightgray;
    padding: 0.1rem ;
}
label,
input[type='search'] {
    color: black;
    border-style: none;
    background-color: lightgray;
    
    border-style: none;
}
button{
    background-color: #fb3e44;
    padding: 0.5rem 2rem;
    color: white;
  }
  header .-links >a {
    text-decoration: none;
    color: black;
    margin: 1rem;
  }
  
#section-1 {
    height: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(232,217,217,.3);

}
#section-1 p {
    width: 35%;
    margin: 20px auto;
    text-align: center;

}


#section-1 div {
    box-sizing: border-box;
    height: 50px;
    width: 350px;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

#section-1 .join-us {
    text-decoration: none;
    color: black;
    background-color: white;
    font-weight: bold;
    padding: 1rem 2rem;
}
#section-1  .see-plans {
    text-decoration: none;
    border: #fb3e44;
    color: white;
    font-weight: bold;
    background-color: #FB3B49;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
    padding: 1rem 2rem;
}
.h1-sec1 {
    font-size: 6rem;
    line-height: 1.25;
    box-sizing: border-box;
    margin: .67em 0;
}
#section-2 {
    height: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#section-2 .triangle-logo {
    box-sizing: border-box;
    padding:  1rem;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2rem;
    width: 250px;
}
#section-2 h1 {
    background-color: rgba(255,204,53,.4);
    transform: skew(9deg,0deg);
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;
    width: 70%;
    text-align: center;
}
#section-2 > article{
    box-sizing: border-box;
    text-align: center;
    width: 60%;
    margin-bottom: 100px;
}
#section-3 {
    padding: 75px 0;
    margin: 0 auto;
}
#section-3 > div {
    display: flex;
    justify-content: space-evenly;

}
#section-3 img {
    width: 50px;
}
#section-3 >div >article {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 17%;
}
#section-3 h4 {
    color: #ED1C24;
}
#section-3  >.org>a {
    box-sizing: border-box;
    box-shadow: 8px 8px 0 rgba(128,83,35,.2);
    background-color: black;
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    justify-content: center;
    width: 25%;
    padding: 1.5rem;
    margin-top: 3rem;

}
}
