@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    font-size: 16px;
}

body {
    width: 95%;
    margin: auto;
}

h1 {
    font-size: 5em;
    text-align: center;
}

header {
    box-shadow: 0px 5px 0 rgba(211, 211, 211, .15);
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

nav {
    width: 600px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
}

nav a {
    color: black;
}

.blackHeart {
    width: 20px;
    margin-right: 1rem;
}

#npm-logo {
    width: 60px;
}

#search-icon {
    width: 15px;
    vertical-align: middle;
}

#search-bar {
    display: flex;
    align-items: stretch;
    width: 85%;
    margin: 10px auto;
}

#search-bar * {
    font-size: inherit;
    font-family: inherit;
}

#search-bar label {
    background-color: rgba(0,0,0,.05);
    padding: 10px;
}

#search-text {
    background-color: rgba(0,0,0,.05);
    width: 100%;
    height: 45px;
    border: none;
    font-weight: 600;
}

#search-text:focus {
    outline-width: 0;
}

#search-button {
    background-color: #fb3e44;
    color: #fff;
    border: none;
    height: 45px;
    width: 90px;
}

#user-access {
    display: flex;
    justify-content: space-evenly;
    width: 10%;
    
}

#user-access a {
    color: #000;
    padding: 5px 15px;
}

#user-access #header-join {
    border: 1px solid #000;
}

.column-section {
    height: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.column-section article {
    margin: 40px auto;
}

.beige-bg {
    background-color: rgba(232, 217, 217, .3);
}

#join h1 {
    width: 50%;
    margin: 0 auto;
}

#join article {
    width: 23%;
}

#join div {
    margin: 40px auto;
    width: 23%;
    display: flex;
    justify-content: space-between;
}

#join a {
    width: 45%;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #000;
}

#join #see-plans {
    background-color: #fb3b49;
    color: #fff;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
}

#join #join-free {
    background-color: #fff;
}

#description img {
    width: 180px;
    margin: 0 auto 50px auto;
}

#description article {
    width: 30%;
}

#description h2 {
    width: 35%;
    margin: 0 auto;
    transform: skew(9deg, 0deg);
    font-style: italic;
    background-color: rgba(255, 204, 53, .4);
}



#features {
    text-align: center;
    height: 400px;
}

#features-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.feature-box {
    width: 20%;
    padding: 10px 50px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.feature-box img {
    width: 30px;
}

.feature-title {
    color: #ed1c24;
}

#features a {
    color: #fff;
    background-color: #000;
    box-shadow: 8px 8px 0 rgba(128, 83, 35, .2);
    padding-top: 15px;
    padding-bottom: 15px;
    width: 20%;
    margin: auto;
    
}