@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';

body {
  font-family: 'Poppins';
  margin: 0;
  padding: 0;
  }
  
  /* HEADER-NAV */
  
  header > div {
      padding: 0 25px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid lightgray;
  }
  
  nav {
      width: 600px;
      margin: 10px 10px;
  }
  
  nav ul {
      list-style: none;
      display: flex;
      justify-content: space-around;
      align-items: center;
  }
  
  nav a {
      text-decoration: none;
      color: black;
  }
  
  .blackheart {
      width: 20px;
      margin-right: 1rem;
  }
  
  .logo {
      width: 80px;
      margin: 10px 0;
  }
  
  .container {
      margin: 10 30 0 0;
      padding-top: 10px;
      width: 100%;
  }
  
  .form {
      display: flex;
      flex-direction: row-reverse;
  }
  
  .search-field {
      width: 900px;
      padding: 10px 15px 10px 35px;
      border: none;
      border-radius: 100px;
      outline: none;
      background-color: rgba(0,0,0,.05);
    }
  
  .search-button {
      background: transparent;
      border: none;
      outline: none;
      margin-right: -33px;
  }
  
  .search-button img {
      width: 20px;
      height: 20px;
      object-fit: cover;
  }
  
  .search-click {
      background-color: #fb3e44;
      color: white;
      padding: 5px;
      border: none;
      outline: none;
      margin-left: -55px;
  }
  
  .join {
    border: 2px solid rgba(0,0,0,.1);
    color: black;
    background-color: white;
    padding: 2 17 2 17;
    text-decoration: none;
    margin-top: -17;
  }
  
  .log {
    border: none;
    color: black;
    background-color: white;
    padding: 2 17 2 17;
    text-decoration: none;
    margin-top: -17;
  }
  
  /* SECTION 1 */
  
  #first {
      background-color: rgba(232,217,217,.3);
      height: 600px;
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      text-align: center;
      justify-content: space-evenly;
  }
  
  #first h1 {
      font-size: 65px;
      font-weight: 400;
  }
  
  #first p {
      margin-top: -90;
      padding: 0px;
      display: flex;
      justify-items: center;
      width: 400px;
  }
  .first a {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
  }
  .seeplans {
      background-color: #FB3B49;
      color: white;
      padding: 5 20 5 20;
      box-shadow: 5px 5px 0 rgba(251,59,73,.2);
      text-decoration: none;
      margin-right: 30px;
  }
  .joinfree {
    border: none;
    color: black;
    background-color: transparent;
    padding: 2 17 2 17;
    text-decoration: none;
    margin-top: -17;
    margin-left: 30px;
  }
  
  
}
