@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
nav {
    width: 600px;
  }
  
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
  
nav a {
    text-decoration: none;
    color: black;
  }
  
.blackHeart {
    width: 20px;
    margin-right: 1rem;
}

.header-bottom {
    height: 56px;
}

.npm-logo {
    width: 70px;
    padding-right: 10px;
}

form {
    background-color: rgba(0, 0, 0, 0.05);
}

input {
    background-color: rgba(0, 0, 0, 0.005);
    font-size: 14px;
    letter-spacing: 0px;
    border: none;
    height: 40px;
    padding-left: 10px;
    width: 1000px;
}

button {
    font-family: 'Poppins';
    background-color: #fb3b44;
    color: white;
    letter-spacing: 0.3px;
    border-style: none;
    border-width: 0;
    height: 48.5px;
    width: 80px;
    padding: 0;
}

.user-button {
    padding: 4px 0 0 16px;
}

.join-button {
    text-decoration: none;
    padding: 4px 16px;
    border: 1px solid #9a9a9a;
    border-radius: 0;
    margin-right: 16px;
}

.login-button {
    text-decoration: none;
    padding: 4px;
}

.magnifying-glass {
    width: 15px;
    height: 15px;
    padding: 14px 4px 0 16px;
}

h1 {
    font-size: 4.3em;
    margin: 0 0 20px 0;
}

h2 {
    font-size: 2em;
}

h3 {
    color: #ed1c24
}

#top {
    background-color: rgba(232, 217, 217, 0.3);
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    height: 500px;
    justify-content: center;
}

.top-article {
    width: 400px;
    text-align: center;
    margin-bottom: 20px;
    border: 10px;
}

.top-buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 400px;
    margin-top: 20px;
}

.top-buttons > a {
    font-size: 1.25em;
}

.plans {
    padding-top: 35px;
    padding-bottom: 10px;
    width: 200px;
    background-color: #FB3B49;
    color: white;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
    text-align: center;
    text-decoration: none;
}

.join {
    padding: 40px;
    width: 120px;
    height: 20px;
    text-align: center;
    text-decoration: none;
}

#middle {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    height: 500px;
    justify-content: center;
}

#middle > img {
    height: 200px;
    width: 200px;
}

#middle > h2 {
    background-color: rgba(255, 204, 53, 0.4);
    width: 800px;
    text-align: center;
    transform: skew(9deg,0deg);
    font-style: italic;
}

.mid-article {
    text-align: center;
    font-size: 0.75em;
    width: 575px; 
}

#bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.div-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 32px 32px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.benefit-box {
    height: 200px;
    width: 250px;
    padding: 80px 32px 0 32px;
}

.benefit-box > img {
    height: 30px;
    width: 30px;
}

.create-org {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
    margin-bottom: 128px; 
}

.create-org > a {
    background-color: black;
    box-shadow: 8px 8px 0 rgba(128,83,350,0.2);
    text-align: center;
    vertical-align: center;
    color: white;
    text-decoration: none;
    width: 360px;
    font-size: 1.5em;
    padding-top: 10px;
    padding-bottom: 10px; 
}