@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: 'Poppins';
}

html, body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 5em;
    text-align: center;
}

h2 {
    font-size: 2em;
    font-style: italic;
    text-align: center;
    background-color: rgba(255, 204, 53, .4);
    transform: skew(9deg, 0deg);
}

h3 {
    font-size: 1em;
    text-align: left;
    color: #ED1C24;
}

header>div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

nav {
    width: 600px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: black;
}


.blackHeart {
    width: 20px;
    margin-right: 1rem;
}

.logo {
    width: 85px;
    padding: 8px 0px 0px;
    margin: 8px 16px 8px 0px;
}

.search-bar {
   display: flex;
   justify-content: flex-start;
   align-items: center;
}

.form-label {
    width: 20px;
    background-color: rgba(0, 0, 0, .05);
    padding: 10px 5px 10px 10px;
    margin: 5px 0px 0px 0px;
}

.form-input {
    width: 600px;
    background-color: rgba(0, 0, 0, .05);
    padding: 10px 10px 10px 5px;
    border: none;
    margin: 0px 0px 10px 0px;
}

.form-button {
    width: 60px;
    height: 20px;
    background-color: #fb3e44; 
    color: white;
    text-align: center;
    border: none;
    padding: 10px 10px 25px 10px;
    margin: 5px 0px 0px 0px; 
}

.join-btn {
    width: 60px;
    height: 20px;
    background-color: white;
    text-align: center;
    text-decoration: none;
    padding: 5px 10px;
    margin: 5px;
    border: 1px solid black;
}

.login-btn {
    width: 60px;
    height: 20px;
    background-color: white;
    text-align: center;
    text-decoration: none;
    padding: 5px 10px;
    margin: 5px;
    border: none;
}


/*---------SECTIONS:---------*/

/*modified for flexbox*/
#intro {
    height: 600px;
    background-color: rgba(232, 217, 217, .3);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#intro .section-text {
    text-align: center;
    margin: 0px 0px 40px 0px;
}

.see-plans-btn {
    width: 130px;
    height: 30px;
    background-color: #FB3B49;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px 30px;
    margin: 20px 10px 0px 0px;
    box-shadow: 8px 8px 0 rgba(251, 59, 73, .2);
}

.join-for-free-btn {
  width: 130px;
  height: 30px;
  background-color: white;
  text-align: center;
  text-decoration: none;
  padding: 10px 30px;
  margin: 20px 0px 0px 10px;
}

/*modified for flexbox*/
#open-source {
    height: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.triangle-hexagon {
width: 200px;
padding: 10px;
margin: 20px;
}

#open-source .section-text {
    text-align: center; 
    margin: 20px 0px 20px 0px;
}

/*modified for flexbox*/
#features {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 10px 100px 10px 100px;
}

.zero-configuration {
    width: 80px;
}

.team-management {
    width: 80px;
}

.familiar-features {
    width: 80px;
}

.npm-audit {
    width: 80px;
}

#features .text {
    text-align: left;
    padding: 0px 0px 0px 0px;
    margin: 0px 10px 0px 0px;
}

.create-org-btn {
    width: 160px;
    height: 30px;
    background-color: black;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px 30px;
    margin: 20px 10px 0px 0px;
    box-shadow: 8px 8px 0 rgba(128, 83, 35, .2);    
}

