@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header > div {
    padding: 2 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }


nav{
    width: 600px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

span{
    padding: 5px 5px;
}

nav a {
    text-decoration: none;
    color: black;
  }

.black-heart{
    width: 20px;
    margin-right: 1rem;
}


#second-header{
    height: 50px;
}

.npm-logo{
    width: 50px;
    margin-right: 1rem;
}

.magnifying-glass{
    width: 20px;
    padding: 20px;
}

div > form {
    background-color: rgba(0,0,0,.05) ;
    width : 75%;
    height: 75%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
}

#second-header form > div {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

#second-header input{
    position: absolute;
    background-color: transparent;
    border-style: none;
    padding : 8px 50% 8px 65px;
    margin-left:0;
}

#second-header button{
    background-color: #fb3e44;
    color : white;
    border-style: none;
    padding: 10px;
    position: relative;
    font-family: 'Poppins';
}

.hLinks {
    text-decoration: none;
    color: rgba(0,0,0,.7); 
}

.join{
    text-decoration: none;
    color : black;
    border : 1px solid lightgray;
    padding: 3px 17px;
    margin : 1px;
}

.log-in{
    text-decoration: none;
    color : gray;
    padding: 3px 5px;
    margin : 1px;
}




#sec1{
    height: 600px;
    background-color: rgba(232,217,217,.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

h1{
    font-size : 5em;
    text-align : center;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 40px;
  }

#sec1 p{
    width : 450px;
    text-align: center;
    padding-bottom: 5px;
    margin-top: 0;
    margin-bottom:50px;
}

.plans{
    width : 450px;
    text-align: center;
    text-decoration : none; 
    letter-spacing : 0.7px;
    font-weight: bold;
    background-color: #FB3B49;
    color : white;
    border-style: none;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
    padding: 20px 68px;
    margin-right: 10px;
}

.joinnow{
    width : 450px;
    font-weight: bold;
    text-align: center;
    text-decoration : none; 
    letter-spacing : 0.5px;
    background-color: white;
    color : black;
    border-style: none;
    padding: 20px 68px;
    margin-left: 10px;
}


  

#sec2{
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.triangle-hexagon{
      width: 300px;
      padding: 50px;
      margin-top : 250px;
      margin-bottom: 20px;
}

h3{
    font-size : 2em;
    font-style: italic;
    text-align : center;
    margin-top: 0;
    background-color:rgba(255,204,53,.4);
    transform: skew(9deg,0deg);
    padding: 0px 40px 0px 40px;
    margin: 0px 30px 10px 30px;
}

#sec2 p{
    width : 800px;
    text-align: center;
    padding-bottom: 50px;
    margin-top: 20px;
    margin-bottom:300px;  
}



#sec3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.red-box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin-top: 30px;
}

#sec3 > div > div{
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    padding: 0px 30px 30px 30px;
}


.zero-configuration{
    width : 60px;
} 
.team-management{
    width : 50px;
}

.familiar-features{
    width : 60px;
}

.npm-audit{
    width : 60px;
}

h4{
    font-size : 1.5em;
    color: #ED1C24;
    letter-spacing : 0.4px;
    line-height : 1em;   
    margin-bottom: 15px;
  }

#sec3 > a{
    width : 250px;
    text-align: center;
    text-decoration : none; 
    letter-spacing : 0.7px;
    font-weight: bold;
    background-color: black;
    color : white;
    border-style: none;
    box-shadow: 8px 8px 0 rgba(128,83,35,.2);
    padding: 20px 70px;
    margin: 70px 0px;
}
#footer{
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}