@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }

.logo{
    width: 50px;
    margin-right: 1rem
}

.magnifying{
    width: 20px

}

.div-1{
    display: flex;
 
}

h1 {
        font-size: 4em;
        text-align: center;

}
#section1 {
    background-color: rgba(232,217,217,.3);
    height: 600px;
    display: flex;
    justify-content: center;
    flex-direction:column;
    text-align: center;

}

#section2 {
    height: 600px;
    display: flex;
    justify-content: center;
    flex-direction:column;
    text-align: center;
    margin-left: 80px;
    margin-right: 80px;

}

.hexagon{
    width: 400px;
    height: 385px;
    align-self: center;

}
h2{
    background-color: rgba(255,204,53,.4);
    transform: skew(9deg,0deg);
    font-style: italic;
}

.familiar,
.audit,
.config,
.management {
    width: 40px;
    height: 40px
}

h3{
    color: #ED1C24
}
#section3{
    height: 600px
}
.div2 {
    display: flex;
    justify-content: center;
    flex-direction:row;
    text-align: center;
    margin-left: 80px;
    margin-right: 80px;
}

#buttoncreateorg{
    width: 200px;
    height: 60px;
    background-color: black;
    box-shadow:  8px 8px 0 rgba(128,83,35,.2);
    color: white;
    margin-left: 500px;
    margin-right: 500px;

}


