@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: "Poppins";

}
header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
    
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }
  
 #build-sec{
    display:flex;
    justify-content:center;
    height :600px;
    flex-direction:column;
    align-items: center;
    background-color:rgba(232,217,217,.3);

  }
  #build-sec .link-see{
      background-color: #FB3B49;
      box-shadow: 8px 8px 0 rgba(251,59,73,.2);
      color: white;
  }

#build-sec .link-join{
    background-color: white;
    color: black;
}  
 #build-sec .link-build a{
    text-decoration: none;
    font-size: 1em;
  letter-spacing: 0.5px;
  text-align: center;
  text-decoration: none;
  padding: 10px 30px;
}
.text-one{
    font-size: 1em;
    font-weight: 100;
    text-align:center;
     width: 40%;
     margin-left: auto;
    margin-right: auto;
    
}
  h1{
  
        font-size: 4em;
        text-align: center;
  }
  
      
  
  .logonpm img{
    width: 50px;
    height: auto;
  }
 
  #divBusca .textBusca{
      width: 70em;
      background-color: transparent;
      border: none;
      font-family: "Poppins";

  }
  #divBusca .btnBusca{
    background-color: #fb3e44;
    color: white;
    border: none;
    height: 2em;
    font-weight: bold;
    font-family: "Poppins";
  }
  .links a{
      text-decoration: none;
      color:black;
      margin: -1px;
      border: gray solid 0.2px;
      
      }
      h3{
        background-color: rgba(255,204,53,.4);
        transform: skew(9deg,0deg);
        text-align: center;
        width: 50%;
        margin-left: auto;
    margin-right: auto;
    font-style: italic;
    }

      #bring-sec svg{
       width: 250px;
       display: block;
       margin: auto;


      }
      #create-sec svg{
        width: 25px;
      }
      .how-happen{
        display:flex;
        justify-content:center;
       flex-direction:row;
        align-items: center;
        
      }
      .text-two{
        text-align: center;
        width: 70%;
        display: block;
        align-items:center;
       
       
      }
 #create-sec .how-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:auto;
    height: auto;
    padding:0;
    margin: 0px;
  }
  h5{
      color: #ED1C24;
  }
  footer{
      background-color: black;
      text-align: center;
      width: 15%;
      margin-left: auto;
      margin-right: auto;
      color: white;
      box-shadow: 8px 8px 0 rgba(128,83,35,.2);
      height: 2em;
  }