@import url('https://fonts.googleapis.com/css?family=Poppins');


//-------------------------------- Global styles
body {
  font-family: 'Poppins';


.flex {
    display: flex;
}

//-------------------------------- Start Upper Heading  
    header > div {
        padding: 0 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid lightgray;
    }
  
    nav {
        width: 600px;
    }
  
    nav ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    nav a {
        text-decoration: none;
        color: black;
    }
    
    #heart {
        width: 20px;
        margin-right: 1rem;
    }

    // ------------------------ Start Lower Heading
    #logo {
        width: 100px;
        margin: 2rem 4rem 2rem 2rem;
    }

    #glass {
        width: 40px;
        margin-right: 1rem;
    }

    #inputOuter {
        justify-content: flex-start;
    }

    #input-form {
        width: 900px;
        align-items: center;
        // justify-content: flex-start;
    

    #searchbar{
            background-color: rgba(0,0,0,.05);
            display: inherit;
            width: 800px;

            #s-inner{
                background: none;
                border: none;
                font-size: 15px;
            }
        }

        #searchButton {
            border: none;
            color: white;
            background: #fb3e44;
            height: 50%;
            width: 15%;
            font-size: 20px;
        } 
    }
 
    #register-buttons a{
        margin: 1rem;
        border: 1px grey;
        font-size: 20px;
        text-decoration: none;
        color: black;
    }

    //-------------------------- Start Main
    //-------------------------- Start Sec 1
}