@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: 'Poopins';
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

nav {
    width: 600px;
}
nav a {
    text-decoration: none;
    color: black;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blackHeart {
    width: 20px;
    margin-right: 1rem;
}
.logo {
    width: 150px;
    padding: 8px;
}
#searchbar{
    display: flex;
    flex-direction: row;
    align-items: center;
}
form.searchtry{
    display: flex;
    align-items: center;
    background-color: #eeeeee;
    padding: 8px 8px 8px;
    width:43em;
    height:40px;
  }
form img {
    height: 24px;
  }
form input{
    border: none;
    width: 375px;
    margin-left: 8px;
    background: none;
    outline: none;
}
  .search-button{
    background-color: #fb3e44;
    color: white;
    padding: 10px 20px 10px;
  }

  div >a{
      text-decoration: none;
      color: black;
  }
.joinbutton{
    border: 1px solid grey;
    text-align: center;
    padding: 5px 10px;
    margin: 10px;
    color: black;
}
.login{
    border: 1px solid grey;
    text-align: center;
    padding: 5px 10px;
    margin: 10px;
    color: black;
}
#top-section{
    display: block;
    justify-content: center;
    align-content: center;
    height: 400px;
    background-color: rgba(232,217,217,.3);
}
h1{
    font-size: 100px;
    text-align: center;
    margin: 0 auto;
    padding: 50px
}
#text{
    text-align: center;
    justify-content: center;
    text-align: center;
    word-wrap: break-word;
    font-size: 20px;
    width: 560px;
    align-content:center;
    margin: 0 auto;
}
.button-seeplans{
    color:white;
    text-decoration: none;
    font-size: 20px;
    Font-weight: bold;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
    background-color: #FB3B49;
    padding: 16px 32px;
}
.button-joinfree{
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin-left: 40px;
    background-color:white;
    padding: 16px 32px;
}
.see-join{
    display:flex;
    justify-content: center;
    margin-top: 70px; 
}
#middle-section{
    text-align: center;
    justify-content: center;
    margin-bottom: 130px;
    margin-top: 80px;
}
#image {
    width: 300px;
    height: 300px;
    display: block;
    margin: auto;
}
#top-quote{
    background-color: rgba(255,204,53,.4);
    display: inline-blocks;
    transform: skew(9deg,0deg);
    font-style: italic;
    align-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    padding: 0px 20px;
}
#middle-section article {
  width: 500px;
  font-size: 16px;
  margin: 50px auto 0;
}
#bottom-section{
    text-align: center;
    justify-content: center;
    display: flex;
    text-align: left;
    margin-top: 180px;
    margin-left: 180px;
    margin-right: 180px;
}
h3{
    color:#ED1C24;
}
#botom-section div{
    padding: 16px;
}
#bottom-section img{
    height: 24px;
}
#bottom-section p{
    word-wrap: break-word;
}
.button-org{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 8px 8px 0 rgba(128,83,35,.2);
    background-color: black;
    padding: 16px 32px; 
    }
#button-org-position{
        padding: 0px 100px;
        text-align: center;
        margin-bottom: 112px;
        margin-top: 50px;
    }