@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: 'Poppins';
}

header>div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

nav {
    width: 500px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 70px;
    text-align: center;
    font-weight: bolder;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 50px;
}

h2 {
    background-color: yellow;
}


form {
    background-color: rgba(0, 0, 0, .05);
}

input {
    background-color: rgba(0, 0, 0, .05) ;
    padding: 5px 250px 5px;
}


#article-1 {
    text-align: center;
    padding: 5px 400px 60px;
}

.logo { 
    width: 90px;
    padding: 5px 5px 5px;
}

.red-button {
    background-color: #fb3e44;
    color: white;
    padding: 10px 50px 10px;
    text-decoration: none;
}

.white-button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px 50px 10px;
    text-decoration: none;
    font-weight: 500;
}

#debut {
    color :rgba(0, 0, 0, .1)
}

#part-1 {
    background-color: rgba(232, 217, 217, .3);
    height: 500px;
    text-align: center;
}


#part-2 {
    text-align: center;
    margin: 10px 300px 10px;
}

.blackHeart {
    width: 20px;
    margin-right: 1rem;
}

.triangle {
    width: 200px;
}

.icones {
    width: 50px;
}