@import url('https://fonts.googleapis.com/css?family=Poppins');

.navBar{
  background-color: grey;
  width: 999px;
  height: 100px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.horizontalOne{
  background-color: pink;
  width: 920px;
  height: 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 2px;
  margin-right: 2px;
}

.horizontalTwo{
  background-color: green;
  width: 920px;
  height: 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 2px;
  margin-right: 2px;
}

.left{
  background-color: yellow;
  height: 20px;
  width: 200px;
}

.right{
  background-color: yellow;
  height: 20px;
  width: 200px;
}

.picsize{
  height: 35px;
  width: 35px;
}

#Eingabe {
  width: 600px;
}

body {
  font-family: 'Poppins';
}

.picsize{
  height: 35px;
  width: 35px;
}

h3 {
  font-size: 50px;
  text-align: center;
  font-style: italic;
  padding-top: 50px;
}

h4 {
  color: #ED1C24;
}

.Pairof2Buttons{
  margin-bottom: 50px;
}

.Textbox1{
  height: 150px;
  width: 350px;
  margin: auto;
}

.Textbox2{
  height: 250px;
  width: 450px;
  margin: auto;
}

.Block3 > div {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.service-box {
  font-size: 0.7em;
  text-align: center;
  border: 2px solid #EEE;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px 0 #EEE;
  margin: 10px 5% 0 5%;
  padding: 20px;
  width: 40%;
}

img {
  width: 250px;
  height; 250px;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.Pairof2Buttons{
  padding-top: 30px;
}

div {
  text-align: center;
  padding-top: 30px;
}

.Block1 {
  background-color: rgb(210,180,140);
  color: black;
  height: 600px;
  width: 960px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Block2  {
  background-color: rgb(232,217,217,.3);
  color: black;
  height: 900px;
  width: 960px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Block3 {
  background-color: white;
  color: black;
  height: 1200px;
  width: 960px;
}

.Block3 > div {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.bar{
  height: 50px;
  width: 50px;
}

#BlackButton{
  background-color: black;
  margin: auto;
}

#RedButton{
  background-color: red;
}
