@import url('https://fonts.googleapis.com/css?family=Poppins');
/*BODY STYLE*/
body {
  font-family: 'Poppins';
}

/*NAVWRAPPER AND EVERYTHING INSIDE */
#navwrapper {
    padding: 0 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  .nav-bar {
    width: 600px;
  }
  
  .nav-bar ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-bar-item {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }

/*SEARCH-WRAPPER*/

.second-wrapper{
    padding: 0 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    
}

#npm-logo{
    width:70px;
  
}


.div2{
  height: 35px;

}
 
.glass-img{
    height: 35px;
    padding-left: 5px;
    width: 18px;
    height: 18px;
    


}

.search-bar{
  width: 800px;
  height: 35px;
  background-color: rgba(0,0,0,.05);
  border-style: none;
  padding-left: 10px;
}

#search-button{
    background-color: #fb3e44;
    color:white;
    width: 70px;  
    height:35px ; 
    border-style: none;
}

.div3 a{
  color:black;
  text-decoration: none;
  

}

#div3-sub1{
  border: solid 1px black;
  padding: 5px 20px;
  margin:5px 10px;
  
}
#div3-sub2{
  
  padding: 5px 20px;
  margin:5px 10px;
  
}

/*SECTION 1*/

#section-1{
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color:rgba(232,217,217,.3);
  

}

#heading-sec1{
  font-size: 2.5em;
  font-weight:bolder;
  font-style: normal;
  text-align: center;
}

#article-sec1{
  margin: 0px 30%  ;
  text-align: center;
  
}

#links-sec1{
  width: 350px;
  padding: 0px 30px;
  margin: 20px 0px 40px 0px;
  display:flex;
  justify-content: space-between;
}


#link1-sec1{
  padding: 5px 40px;
  background-color:#FB3B49 ;
  color: white;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 8px 8px 0 rgba(251,59,73,.2);
}

#link2-sec1{
  padding: 5px 40px;
  background-color:white ;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

/*SECTION 2 */

#section-2{
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


 
}
.central-img{
  width:200px;height:200px;
}


#heading-sec2 h1{
  background-color: rgba(255,204,53,.4);
  transform: skew(9deg,0deg);
  font-style: italic;
  font-weight: bolder;
  padding: 0 15px;
  width: 100%;
  text-align: center;
}
#article-sec2{
  
  text-align: center;
  margin:0 30%;
  font-size: 12px;
  
}

/*SECTION 3*/

#section-3{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.s3aparts{
  display:flex;
  flex-direction: row;
  justify-content:center;
  align-content: center;
  padding: 20px 20px;
  font-size: 12px;

}

#section-3 img{
  width: 30px;
  height: 30px;
}

.sec-3-apart{
  padding: 0 15px;
}
.sec-3-apart h3{
color:#ED1C24;
font-weight: bold;
}


#last-button a{
  text-decoration: none;
  color:white;
  font-size: 12px;
  width: 250px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;

  
}

#last-button{
  background-color: black;
  width: 250px;
  height: 35px;
  text-align: center;
  box-shadow: 8px 8px 0 rgba(128,83,35,.2);
  margin: 30px 0 25px;
}
