@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: 'Poppins';
}

header>div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

nav {
    width: 600px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: black;
}

.blackHeart {
    width: 20px;
    margin-right: 1rem;
}

.npm-logo {
    display: flex;
    width: 70px;
    height: auto;
    padding-top: 12px;
    margin-right: 1px;
}

.magnif {
    width: 20px;
    height: auto;
    position: relative;
    left: 40px;
    top: 7px;
    margin: 0px;
    padding-top: 16px;
}

.search-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0 px;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
}

.navigation {
    margin-bottom: 0;
    margin-top: 0;
}

.text-bar {
    width: 1000px;
    height: 25px;
    margin-right: 0;
    margin-left: 0;
    background-color: rgba(0, 0, 0, .05);
    font-size: 0.5em;
}

input::placeholder {
    color: gray;
    padding-left: 40px;
    font-size: 2em;
    justify-items: center;
}

.search-btn {
    height: 35px;
    width: 80px;
    color: white;
    margin-left: 0;
    border-style: none;
    background-color: #fb3e44;
    font-size: 1em;
}

.log-btn button {
    height: 48px;
    width: 60px;
    margin-top: 13px;
    margin-right: 5px;
    border-style: none;
    background-color: white;
    font-size: 1em;
}

#join-btn {
    border: 1px solid grey;
    height: 30px;
    width: 70px;
    color: black;
}

#introduction {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(232, 217, 217, .3);
    margin-top: -10px;
}

#introduction h1 {
    font-size: 5em;
    font-weight: 5000;
    text-align: center;
    letter-spacing: -5px;
}

#introduction p {
    text-align: center;
    font-size: 1.2em;
    width: 40%;
    margin: -20px auto 0 auto;
}

.plans-join {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.plans-join button {
    border-style: none;
    height: 50px;
    width: 180px;
    margin: 25px;
    font-size: 1em;
}

#see-plans {
    background-color: #FB3B49;
    color: white;
    font-weight: bold;
    box-shadow: 8px 8px 0 rgba(251, 59, 73, .2);
}

#join {
    background-color: white;
    font-weight: bold;
}

#mid-section img {
    height: 250px;
    width: auto;
    padding-bottom: 15px;
}

#mid-section {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#mid-section h1 {
    text-align: center;
    font-size: 2.3em;
    font-weight: bold;
    letter-spacing: -3px;
    background-color: rgba(255, 204, 53, .4);
    transform: skew(9deg, 0deg);
    font-style: italic;
    padding: 0 35px;
    margin: 50px 0;
}

#mid-section p {
    text-align: center;
    font-size: 0.9em;
    width: 50%;
    margin-top: -8px;
}

#final-section img {
    height: 50px;
    width: auto;
}

#final-section {
    height: 600px;
    padding: 35px;
    margin-top: 35px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0px 0 25px;
    padding-left: 75px;
    width: 100%;
}

.container p {
    width: 80%;
}

.container h2 {
    font-size: 20px;
    color: #ED1C24;
}

.create-org {
    background-color: black;
    box-shadow: 8px 8px 0 rgba(128, 83, 35, .2);
    color: white;
    width: 300px;
    height: 50px;
    margin-top: 70px;
    font-size: 1.1em;
    border-style: none;
}

.create-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
