@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}
  
nav {
    width: 600px;
}
  
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
nav a {
    text-decoration: none;
    color: black;
}
  
.blackHeart {
    width: 20px;
    margin-right: 1rem;
}

.logo {
    width: 4rem;
    padding: 0.5rem;
    margin: .5rem;
}

.search-bar {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.button-links {
    color: black;
    padding: .5rem;
    text-decoration: none;
}

form input {
    background-image: url("./images/magnifying-glass.png");
    background-size: 1.2rem;
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 25px;
    color: rgba(0,0,0,.05);
    width: 100%
}

form button {
    background-color: #fb3e44;
    color: white;
    border: none;
    padding: .75rem;
}

#first-section {
    background-color: rgba(232,217,217,.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px;
}

#first-section h1 {
    font-size: 4rem;
    margin: 0;
}

#first-section p {
    font-size: 1.2rem;
    padding: 0 18rem 0 18rem;
    text-align: center;
}

.first-section-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 18rem 0 18rem;
}

.join-free-btn {
    color: black;
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 5px;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}

.see-plans-btn {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    background-color: #FB3B49;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
    border-right: 50px solid #FB3B49;
    border-left: 50px solid #FB3B49;
    border-top: 15px solid #FB3B49;
    border-bottom: 15px solid #FB3B49;
}

#second-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px;
}

#second-section h2 {
    background-color: rgba(255,204,53,.4);
    transform: skew(9deg,0deg);
    font-style: italic;
}

#second-section img {
    width: 15%;
    padding: 10px;
}

#second-section p {
    font-size: .8rem;
    text-align: center;
    justify-content: center;
    margin: auto;
    padding: 0 17rem 0 17rem;
}

#third-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.flex-items {
    flex: 1;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 40px 0 40px;
}

#third-section h4 {
    color: #ED1C24;
}

#third-section img {
    width: 10%;
    padding: 10px;
}

.org-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 40px;
}

.org-link {
    color: white;
    background-color: black;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0;
    margin: 10px 0 10px 0;
    box-shadow: 8px 8px 0 rgba(128,83,35,.2);
    border-top: 20px solid black;
    border-right: 100px solid black;
    border-bottom: 20px solid black;
    border-left: 100px solid black;
    justify-content: center;
    align-items: center;
}