@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }

  .logo {
    width: 3%;
  }

  .magnefying-glass {
    width: 20px;
  }

  .searchButton {
    background-color: #fb3e44;
    color: white;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 7px;
    padding-left: 7px;
  }

  #search {
    background-color: rgba(0,0,0,.05);
    border-color: rgba(0,0,0,.05);
    width: 500px;
  }

  .labelImg {
    background-color:rgba(0,0,0,.05);
  }

  .joinLink {
    border: 1px black solid;
    text-decoration: none;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 7px;
    padding-left: 7px;
  }

  .logInLink {
    border: 1px black solid;
    text-decoration: none;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 7px;
    padding-left: 7px;
  }

  #buildAmazingThings {
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    background-color: rgba(232,217,217,.3);
    height: 600px;
    font-size: x-large;
  }

  h1 {
    font-size:300%;
  }

  .essentialJava {
    margin-left: 800px;
    margin-right: 800px;
    text-align: center;
  }

  .seePlansLink {
    background-color: #fb3e44;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 25px;
    padding-left: 25px;
    text-decoration: none;
    box-shadow: 5px 5px pink;
  }

  .joinForFreeLink {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }

  #section2 {
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    height: 600px;
    font-size: x-large;
  }

  .triangleHex {
    width: 10%;
  }

  h3 {
    background-color: rgba(255,204,53,.4);
    transform: skew(9deg,0deg);
    font-style: italic;
    width: 750px;
    text-align: center;
  }

  .npmTool {
    margin-left: 950px;
    margin-right: 950px;
    text-align:center;
    font-size:medium;
  }

  .zeroC {
    width: 15%;
  }

  .teamM {
    width: 10%;
  }

  .familiarFeat {
    width: 15%;
  }

  .npmAudit {
    width: 11%;
  }

  #section3 {
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    height: 600px;
    font-size: x-large;
  }

  #section3 > div {
    padding: 0% 25%;
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  h5{
    color: #ED1C24;
  }

  .createOrgButton {
    background-color: black;
    color: white;
    padding: 10px 70px 10px 70px;
    font-family: poppins;
    box-shadow: 8px 8px 0 rgba(128,83,35,.2);
    cursor: pointer;
  }

  .seePlanAndJoin {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }