@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: "Poppins";
}

h1, h2, h3 {
    font-family: "Poppins";
    font-weight: 800;
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}
  
nav {
    width: 600px;
}
  
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
nav a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.blackHeart {
    width: 20px;
    margin-right: 1rem;
}

.npm-logo {
    width: 80px;
    margin-right: 1rem;
}

.search-nav {
    background-color: rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    margin: 5px;
}

.glass-icon {
    justify-content: flex-start;
    padding: 0 5px;
    height: 20px;
}

.search-bar {
    background-color: transparent;
    font-family: monospace;
    border: none;
    width: 90%;
    height: 45px;
}

.search-btn {
    background-color: #fb3e44;
    color: white;
    border: none;
    height: 45px;
    padding: 0 15px;
    font-size: 1em;
}  

.register-form-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.join-btn {
    background-color: white;
    display: flex;
    align-items: center;
    height: 35px;
    border: 1px solid;
    border-color: black;
    padding: 0 20px;
    font-size: 1em;
}

.log-in-btn {
    background-color: white;
    border: none;
    margin-left: 20px;
    font-size: 1em;
}

#npm-build {
    background-color: rgba(232,217,217,.3);
    margin-bottom: 30px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 5em;
    margin: 0;
}

#npm-build > article > p {
    font-size: 1.2em;
    text-align: center;
    max-width: 530px;
}

.section-one-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    margin: 30px 0;
}
  
.plans-btn {
    background-color: #FB3B49;
    color: white;
    border: none;
    width: 200px;
    padding: 15px 35px;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
    font-size: 1em;
    font-weight: bolder;
    text-align: center;
}

.join-for-free-btn {
    background-color: white;
    width: 200px;
    padding: 15px 35px;
    border: none;
    font-size: 1em;
    font-weight: bolder;
    text-align: center;
}

.img-triangle {
    width: 200px;
    margin: 50px 0;
}

#npm-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#npm-about h2 {
    background-color: rgba(255, 204, 53, 0.4);
    font-size: 2em;
    text-align: center;
    padding: 0 15px;
}
  
#npm-about p {
    text-align: center;
    max-width: 770px;
}

#npm-services {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    align-content: center;
    padding: 0 60px;
    margin-top: 150px;
    margin-bottom: 50px;
}

#npm-services > div > img {
    width: 50px;
}

#npm-services > div {
    margin: 0 30px;
}

h3 {
    color:red;
    font-size: 1em;
}

h3 > p {
    font-size: 1em;
    text-align: justify;
}

.create-org {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.org-btn {
    background-color: black;
    color: white;
    border: none;
    box-shadow: 8px 8px 0 rgba(128, 83, 35, 0.2);
    width: 375px;
    padding: 15px 35px;
    font-size: 1em;
    font-weight: bolder;
}