
/* I apologize for about what are you going to see here... I tried so many weird stuff.. sorry*/
@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}
header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }
  .npm-logo{
      width: 50px;
      margin: 1rem;
      padding:1px 1px
  }
  .mag{
      width: 20px;
  }
  button{
        flex-grow: 1;
        background-color:#fb3e44;
        color: white;
        font-size: 1em;
        letter-spacing: 0.6px;
        text-align: center;
        text-decoration: none;
      }
.join{
color: black;
text-decoration: none;
border: solid;
padding: 0 10px 0 10px;
margin-left: 10px;
}
.login{
    color: black;
    text-decoration: none;
    padding: 0 10px 0 10px;
}
      form{
          flex-grow: 1;
          height: 30px;
          color: rgba(0,0,0,.05);
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        align-content: stretch;
        
    }
    input{
        width:80%;    /* not happy with this thing... but looks almost like...*/
        background: url(/Users/georgekutsia/Desktop/final-assestment/lab-html-exercise/images/magnifying-glass.png) left no-repeat;
        background-size: 20px;
        padding-left: 25px;
        height: 30px;
    }
     /*section 1*/
    .section1{
        background-color: rgba(232,217,217,.3) ;
        height: 400px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap:wrap;
        align-content: stretch;
    }
    h1{
        text-align: center;
        align-items: stretch;
        font-size: 4.5em;
        font-style: bold;
        margin: 30px 0 5px 0;
    }
    .art1{
padding-left: 400px; /*so this is like this so the see plans and join free appear below... its just a mess sorry im new */
padding-right: 400px;
display: inline-block;
margin-bottom: 20px;
flex-basis: 60%;
display: inline-block;
margin-right: 20px;
width: 440px;
text-align: center;
    }
    
    .seeplans{
background-color:#FB3B49 ;
color:white;;
text-decoration: none; /*Dont know why there is an underline for some of them...*/
font-size: 1.7em;
text-align: stretch;
border: 2px solid #EEE;
box-sizing: border-box;
box-shadow: 8px 8px 0 rgba(251,59,73,.2);
padding: 10px 70px 10px 70px;
width: 304px;
    }
    .joinfree{
        font-size: 1.7em;
        background-color: white;
        color:black;
        text-decoration: none;
        text-align: center;
        border: 2px solid #EEE;
        box-sizing: border-box;
        box-shadow: 2px 2px 10px 0 #EEE;
        padding: 10px 70px 10px 70px;
        width: 40%;
        margin-left: 20px;
    }
    /*section 2*/
    .section2{
        height: 400px;
        display: flex;
        justify-content: center;
        flex-wrap:wrap;
        align-items: center;
        flex-direction: stretch;
        align-items: center;
        font-size: 1.7em;
        text-align: center;
        padding: 20px
    }
    .hexalogo{
        position: relative;      /*not really happy how i solved this positioning, probably there is a better way*/
        left: 10px;
        width: 170px;
        margin-bottom: 1rem;
        padding:1px 1px;
        align-items: flex-start;
        margin: 1px 0px 1px 0px;
    }/* */
    h2{
        font-size: 40px;
        background-color: rgba(255,204,53,.4) ;   /* Not shure how to make it exactly like in the image... like some letters hanging below the background*/
        transform: skew(9deg,0deg);
        font-style: italic;
        padding-left: 20px;
        padding-right: 20px;
    }
    .art2{
     font-size: 17px;
        display: inline-block;
        margin-bottom: 20px;
        flex-basis: 60%;
        display: inline-block;
        margin-right: 20px;
        width: 200px;
        text-align: center;
    }

    /*section 3*/

    .section3{
        display:flex;
        width: 80%;
        margin-left: 150px;

      }
      .pictures{
          width: 40px;
      }
      .imges{
          width: 20px;
          align-items: left;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: stretch;
        font-size: 1em;
        text-align:left;
        box-sizing: border-box;
        padding: 20px;
        width: 100%;
      }
      h3{
          color:#ED1C24;
      }
 /*section 4*/
      .last{
          text-align: center;
          align-items: center;
          font-size: 20px;
          background-color: black;
          box-sizing: border-box;
          background-size: 50px 20px 20px 20px;
          box-shadow:8px 8px 0 rgba(128,83,35,.2) ;
          color: white;
          text-decoration: none;
          padding: 10px 120px 10px 120px;
          width: fit-content;
          margin-left: 36%; /*cant believe this can be done like this. For shure not the best way */
      }


