@import url("https://fonts.googleapis.com/css?family=Poppins");

body {
  font-family: "Poppins";
}

h1 {
  font-size: 3.5em;
  margin: 0 0 0.3em 0;
}

h2 {
  font-size: 2.5em;
  margin: 0;
}

h3 {
  font-size: 2em;
  margin: 0;
}

header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

.blackHeart {
  width: 20px;
  margin-right: 1rem;
}

#bottom-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 25px;
  border-top: 1px solid lightgray;
}

#bottom-div > img {
  display: flex;
  align-items: center;
  width: 19px;
}

#search-form-magnifying-glass {
  width: 1em;
  padding: 0.5em 0 0.5em 0.5em;
}

#search-form {
  display: flex;
  align-items: center;
  width: 100%;
  height: 2em;
}

#search-form-div {
  display: flex;
  align-items: center;
  margin: 0 0 0 1em;
  background-color: rgba(0, 0, 0, 0.05);
  width: 100%;
  height: 2em;
}

#search-form-input {
  border: none;
  background-color: transparent;
  padding: 0.5rem;
  width: 100%;
}

#search-form-button {
  border: none;
  padding: 0.6rem 1.5em;
  background-color: #fb3e44;
  color: white;
}

#search-form-button:hover {
  background-color: #ff5b5f;
}

.header-img {
  display: flex;
  align-items: center;
  width: 3em;
}

#join-and-signin {
  display: flex;
  align-items: center;
  margin-left: 1em;
}

#join-and-signin a {
  text-decoration: none;
  color: black;
  margin-left: 1em;
  padding: 0.5px 1em 0 1em;
}

#button-join {
  color: white;
  border: 1px solid lightgray;
}

#button-signin {
  width: 50px;
}

#section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 25px 0 25px;
  border-bottom: 1px solid lightgray;
  height: 500px;
  background-color: rgba(232, 217, 217, 0.3);
}

#section1-div {
  display: flex;
  flex-direction: column;
  width: 40%;
}

#section1-div div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2em 0;
}

#section1-div div a {
  text-decoration: none;
  padding: 0.5em 2.5em;
}

#section1-see-plan-button {
  border: none;
  background-color: #fb3e44;
  color: white;
  box-shadow: 8px 8px 0 rgba(251, 59, 73, 0.2);
}

#section1-see-plan-button:hover {
  background-color: #ff5b5f;
}
