@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.npmLogo {
  width: 75px;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

.blackHeart {
  width: 20px;
  margin-right: 1rem;
}

.searchbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  text-align: space-evenly;
}

.input {
  background-image: url("https://github.com/ironhack-labs/lab-html-exercise/blob/master/images/magnifying-glass.png?raw=true");
  background-position: left;
  background-size: 30px;
  background-repeat: no-repeat;
  height: 30px;
  background-color: rgba(232, 232, 232, 1);
  color: grey;
  border: none;
  letter-spacing: 1px;
  width: 600px;
  margin-right: -5px;
  height: 32px;
  margin-left: -730px;
}

#sch-button {
  background-color: #fb3e44;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 10px 15px;
  border: 0px;
  letter-spacing: 1px;
  height: 35px;
}

#join-button {
  background-color: white;
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 3px 20px;
  margin: 10px 10px 8px 10px;
  box-shadow: 0px 2px 3px 2px rgba(232, 236, 241, 1);
  border-top: 2px solid grey;
  border-left:1px solid grey;
}

#LogIn-button{
  background-color: white;
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 3px 20px;
}

#section-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 600px;
  background-color: rgba(232, 217, 217, 0.3);
  box-shadow: inset 0px 7px 8px -3px #bdb6bd;
}

h1 {
  font-size: 75px;
  margin-bottom: 20px;
}

#section-1 article {
  padding: 0px 0px 40px 0px;
}

#Plans {
  background-color: #FB3B49;
  color: white;
  box-shadow: 8px 8px 0 rgba(251, 59, 73, 0.2);
  text-align: center;
  text-decoration: none;
  padding: 10px 30px;
  font-weight: bold;
}

#Join {
  font-weight: bold;
  background-color: white;
  color: black;
  text-align: center;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 30px;
}

#section-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 600px;
}

#Hexagon {
  padding: 100px 0px 50px 0px;
}

h2 {
  background-color: rgba(255, 204, 53, 0.4);
  transform: skew(15deg,0deg);
  font-style: italic;
  font-size: 2em;
  width: 800px;
  height: 100px;
  text-align: center;
  font-weight: bolder;
}

#section-2 article p {
  padding-bottom: 100px;
  font-size: 0.85em;
  text-align: center;
}

#section-3 {
  height: 600px;
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
  }

#section-3 h3 {
  color: #ED1C24;
}

#section-3 div {
  display: flex;
  align-items: space-evenly;
  margin-bottom: 100px;
}

.last-images {
  width: 10%;
  height: 10%;
  display: flex;
}

.articles {
  margin: 0px 40px;
  text-align: left;
}

#Org {
  background-color: black;
  color: white;
  box-shadow: 8px 8px 0 rgba(128, 83, 35, 0.2);
  text-decoration: none;
  padding: 10px 100px; 
}
