@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
  padding: 0;
  margin: 0;
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    height: 55px;
  }
nav {
    width: 600px;
  }
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
nav a {
    text-decoration: none;
    color: black;
  }
.black-heart {
    width: 20px;
    margin-right: 1rem;
  }
.shadow-border{
  box-shadow: -1px 3px 5px 0px lightgrey;
}
form{
  padding: 0;
  margin: 0 2rem 0 1rem;
  border: 0;
  flex-basis: 75%;
  flex-grow: 1;
}
form input{
 background-color: rgba(0,0,0,.05);
 border-style: none;
 height: 40px;
 padding: 0;
 margin: 0;
 border: 0;
 flex-basis: 100%;
 font-family: 'Courier New', Courier, monospace;
 font-size: 1em;
}
form button{
  background-color: #fb3e44;
  color: white;
  border-style: none;
  margin: 0;
  padding: 5px 20px;
}
form button:hover{
background-color:  #fd5358;
}
.npm-logo{
  width: 70px;
  margin: 0 rem 0 0;
  padding: 0;
  border: 0;
  flex-shrink: 0;
}
.magnifying-glass{
  width: 20px;
  background-color: rgba(0,0,0,.05);
  padding: 10px;
  margin:0;
  border: 0;
}
.search-bar{
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  flex-flow: row nowrap;
  border: 0;
}
.header-links{
  flex-shrink: 0;
}
.header-links a{
 color: darkslategrey;
 border: 0;
 text-decoration: none;
 padding: 3px 1rem;
 flex-wrap: nowrap;
}
.header-links .joinlink{
  border: 1px solid rgb(192, 192, 192);
}
.header-links .loginlink{
  padding-right:0;
  margin-right: 0;
}
#join {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 600px;
    background-color: rgba(232,217,217,.3);
  }
  #join h1{
    font-size: 6em;
    font-weight: bold;
    padding: 0;
    margin: 0;
    border: 0;
    text-align: center;
  }
  #join article{
    width: 40%;
    text-align: center;
    border: 0;
    padding: .5rem;
    font-size: 1.5em;
    margin: 2rem 0;
  }
  #join .join_links{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    border: 0;
    margin:0;
  }
  #join a{
    text-decoration: none;
    font-weight: bold;
    padding: 1rem 5.5rem;
    font-size: 1.25em;
    margin: 1rem;
  }
  #join .plans-link {
    background-color: #FB3B49;
    color:white;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
  }
  #join .joinfree-link{
    background-color: white;
    color: black;
  }
  #info-npm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 600px;
    border: 0;
  }
  #info-npm h2{
    font-size: 2em;
    margin: 3.5rem 0 2rem 0;
    background-color: rgba(255,204,53,.4);
    transform: skew(9deg,0deg);
    font-style: italic;
    padding: 0 2rem;
    border: 0;
  }
  #info-npm article{
    width: 47%;
    text-align: center;
    margin-bottom: 1rem;
  }
  .hexagon{
   width: 250px;
  }
  #features{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    min-height: 600px;
    border: 0;
  }
  #features>div{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 80%;
    border: 0;
  }
  .features-img{
   height: 40px;
  }
  #features h3{
    color: #ED1C24;
    margin-top: 5px;
  }
  #features>div>div{
    flex-basis: 20%;
  }
  #features a{
    box-shadow: 8px 8px 0 rgba(128,83,35,.2);
    color: white;
    background-color: black;
    padding: 1rem 8rem;
    margin-bottom: 6rem;
    text-decoration: none;
  }