@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
  margin: 0;
  padding: 0;
}
/* **HEADER** - Nav Bar*/
header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid lightgray;
}
/*nav bar */
nav {
    width: 600px;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: black;
}
/*logo*/
.blackheart {
    width: 20px;
    margin-right: 1rem;
}


/* **HEADER** - Search Bar*/
.npm-logo {
    width: 70px;
    margin: 1% 1rem 1% 0px;    
}
.glass-logo {
    height: 30px;
    background-color: rgba(0, 0, 0, .05);
    padding: 8px;
}
/* sarch bar */
.search-div {
    width: 80%;
    margin-right: 10px;
    height: 64px;
}
.form-search {
    height: 44px;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 10px 0px;
}
.form-search input{
    color: rgba(0, 0, 0);
    width: 90%;
    height: 100%;
    background-color: rgba(0, 0, 0, .05);
    border: 0px;
    font-size: 17px;
    letter-spacing: 2px;
    padding-left: 5px;
    outline: none; 
}
.form-search button {
    background-color: #fb3e44;
    color: white;
    height: 100%;
    width: 114px;
    border: 0;
    font-size: 17px;
    letter-spacing: 2px;
    font-weight: lighter;    
}
/* buttons */
.buttons-div {
    width: 200px;
    height: 64px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header-join-btn {
    border: 1px solid rgb(230,230,230);
    text-decoration: none;
    width: 100px;
    height: 45px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;        
}
.header-login-btn{
    text-decoration: none;
    width: 100px;
    height: 45px;    
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*hover on header elements*/
nav > ul > li:hover,
.blackheart:hover,
.header-join-btn:hover,
.header-login-btn:hover {
    opacity: 0.6;
    transition: 0.3s;
}
/* PRESENTATION SECTION */
#presentation {
    min-height: 600px;
    background-color: rgba(232,217,217,.3);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
#presentation h1 {
    font-size: 70px;    
    font-weight: bold;
    text-align: center;
    margin: 0px;
}
#presentation article{
    font-size: 20px;
    width: 480px;
    box-sizing: border-box; 
    text-align: center;
    margin: 3% 2%;
}
#presentation > div {
    width: 490px;
    display: flex;
    justify-content: space-around;
}
#presentation > div > a {
    font-size: 20px;
}
/*presentation buttons*/
.plans-btn {
    background-color: #FB3B49;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
    text-decoration: none;
    color: white;
    padding: 15px 65px;
    margin-right: 3%;
}
.join-4free-btn {
    background-color: white;
    text-decoration: none;    
    color: black;
    font-weight: bold;
    padding: 15px 65px;
}
/* DESCRIPTION SECTION */
.triangle-hexagon-logo {
    height: 200px;
    margin: 2% 0%;  
}
#description {
    min-height: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
#description h3 {
    font-size: 40px;
    width: 55%;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    background-color: rgba(255, 204, 53, .4);
    transform: skew(9deg,0deg);
    margin: 2% 0%;
}
#description article {
    font-size: 15px;
    max-width: 740px;
    box-sizing: border-box;
    text-align: center;
    margin: 0% 2%;

}
/* FEATURES SECTION */
.features-icon {
    width: 36px;
}
#features {
    min-height: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding: 95px 0%;
}
.features-box {
    height: 35%;
    max-width: 1500px;
    display: flex;
    flex-flow: row wrap; 
    justify-content: center;   
    padding-bottom: 40px;
}
.features-box > div{
    height: 35%;
    min-width: 228px;
    max-width: 228px;
    padding: 0px 30px;
    width: 25%;
}
.create-org-btn {
    background-color: black;
    box-shadow: 8px 8px 0 rgba(128,83,35,.2);
    color: white;
    padding: 15px 150px;
}
.features-titles {
    color: #ED1C24;
    font-size: 15px;
    font-weight: bolder;
}




