@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
  margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    padding: 8px;
}

  
nav {
    width: 600px;
}
  
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
nav a {
    text-decoration: none;
    color: black;
}
  
.blackHeart {
    width: 20px;
    margin-right: 1rem;
}

.npmLogo {
      width: 80px;
}

header > div > form {
      background-color: rgba(0,0,0,.05);
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-grow: 1;
      height: 40px;
      margin: 0 20px;
}

header {
    box-shadow: 0px 4px 6px rgba(0,0,0,.05);
}

header input, button {
      border-width: 0;
      background-color: rgb(0,0,0,0);
      font-family: inherit;
}

header button {
      background-color: #fb3e44;  
      color: white;
      width: 100px;
      height: 100%;
}

header input {
      flex-grow: 1;
}

.headerButtons {
      display: flex;
      justify-content:space-between;
      align-items: center;
      width: 200px;
      height: 40px;

  }

.headerButtons a {
    margin-left: 10px;
    text-align: center;
    flex-grow: 1;
    padding: 4px;
}

header #join {
    border: 1px solid black;
}

#magnifyingGlass {
    width: 20px;
    padding: 10px;
}

#intro {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
    background-color: rgba(232,217,217,.3);
}

#intro h1 {
    font-size: 60px;
    padding: 0 80px;
    margin: 0;
    font-weight: 900;

}

#intro p {
    font-size: 20px;
    padding: 0 200px;
}

#intro a {
    width: 160px;
    padding: 15px 30px;
    margin: 10px;
    font-family: inherit;
    font-style: inherit;

}

#intro #seePlans {
    background-color: #FB3B49;
    color: white;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
}

#intro #joinForFree {
    background-color: white;
    color: black;
}

#intro > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#description {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 80px;
}

#description img {
    width: 150px;
}

#description h1 {
    font-size: 30px;
    background-color:rgba(255,204,53,.4);
    transform: skew(9deg,0deg);
    font-style: italic;
    padding: 0px 20px;
}

#description p {
    font-size: 15px;
}

#benefits {
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
}

#benefits img {
    width: 30px;
}

#benefits div {
    padding: 20px;
    width: 220px;
}

#benefits h2 {
    font-size: 16px;
    color: red;
}

#createOrg {
    display: flex;
    justify-content: center;
    margin: 50px;
}

#createOrg a {
    background-color: black;
    padding: 15px 80px;
    color: white;
    box-shadow: 8px 8px 0 rgba(128,83,35,.2);
}