@import url("https://fonts.googleapis.com/css?family=Poppins");

body {
  font-family: "Poppins";
}

header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

.blackHeart {
  width: 20px;
  margin-right: 1rem;
}
.npm {
  padding: 10px;
}
.npmLogo {
  width: 80px;
  margin-right: 1rem;
}

form {
  color: rgba(0, 0, 0, 0.05);
  width: 100%;
  margin: auto;
}
input {
  color: rgba(0, 0, 0, 0.05);
  padding: 4px 10px;
  border: 0;
  font-size: 16px;
  background-color: rgb(220, 219, 219);
}
.overlayContent {
  position: relative;
  text-align: center;
  margin-top: 30px;
  margin: auto;
}
.searchPackages {
  background-color: rgb(220, 219, 219);
  display: flex;
  align-items: center;
}
.searchComplete {
    position: relative;
}
.magnifyingGlass {
  width: 15px;
  height: 15px;
  padding-left: 10px;
}
.search {
  width: 75%;
  position: relative;
}

.submit {
  background-color: #fb3e44;
  color: white;
  width: 70px;
}

.mainSection {
  height: 600px;
  background-color: rgba(232, 217, 217, 0.3);
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.mainSection a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

h1 {
  margin: 0.67em 0;
  font-weight: bold;
  display: block;
  justify-content: space-between;
  text-align: center;
  flex-direction: column;
  display: block;
  font-size: 5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  line-height: 1.2;
}


article {
  display: block;
  text-align: center;
  font-size: 20px;
  line-height: 1.5;
}

a {
  color: black;
  font-size: 16px;
  text-decoration: none;
}

.secondSection {
  height: 400px;
  padding: 20px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.heading2 {
  display: flex;
  height: 30px;
  background-color: rgba(255, 204, 53, 0.4);
  transform: skew(9deg,0deg);
  align-items: center;
  justify-content: center;
}

.secondSection article {
  padding-top: 40px;
  padding-bottom: 40px;
}

h2 {
  font-weight: 600;
  text-align: center;

}
.containerButtons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}
.seePlans a {
  background-color: red;
  color: rgb(245, 241, 241);
  box-shadow: 8px 8px 0 rgba(222, 146, 192, 0.2);
  border: 1px solid rgb(237, 9, 9);
  width: 200px;
  height: 40px;
  align-items: center;
  margin: auto;
  display: flex;
  justify-content: center;
  font-weight: 800;
}

.join a {
  background-color: white;
  color: rgb(10, 10, 10);
  width: 200px;
  height: 40px;
  align-items: center;
  margin: auto;
  display: flex;
  justify-content: center;
  font-weight: 800;
}
.imgHexagon {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  padding-top: 20px;
}
.triangleHexagon {
  width: 200px;
}

.container h3 {
  color: red;
}
.container img {
  width: 50px;
}

.thirdSection {

}
.containers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 40px;
}

.container {
  border-radius: 0;
  box-sizing: border-box;
  display: grid;
  width: 300px;
  grid-template-rows: repeat(1, 1fr);
  padding: 40px;
}

.npm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;5
  padding: 10px;
}

.searchButton {
  font-size: 16px;
  letter-spacing: 0px;
  box-sizing: border-box;
  width: 100px;
  border-radius: 0;
}

#search {
  background-color: rgb(231, 229, 229);
  outline: unset;
  height: 40px;
  padding-left: 10px;
  padding-right: 100px;
}

.thirdSection .orgLink {
padding: 30px;
display: flex;
justify-content: center;
align-items: center;

}
.orgLink a {
  background-color: black;
  color: white;
  box-shadow: 8px 8px 0 rgba(128, 83, 35, 0.2);
  border: 1px solid black;
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
