@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
	font-family: 'Poppins';
}

header > div {
	padding: 0 25px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid lightgray;
}
nav {
	width: 600px;
}
nav ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
nav a {
	text-decoration: none;
	color: black;
}

.blackheart {
	width: 20px;
	margin-right: 1rem;
}

form {
	display: flex;
	width: 100%;
	align-items: center;
	padding-left: 10px;
	justify-content: space-between;
}
input {
	border: none;
	line-height: 2em;
	width: 94%;
	background-color: rgba(0, 0, 0, 0.005);
	font-size: 16px;
}
#searchbar {
	display: flex;
	justify-content: space-between;
	flex: 1;
	background-color: rgba(0, 0, 0, 0.05);
}
#searchbar img {
	width: 25px;
	height: 25px;
	background-color: rgba(0, 0, 0, 0.005);
}

form button {
	background-color: #fb3e44;
	outline: none;
	color: white;
	font-size: 16px;
	padding: 10px 20px;
}
.search-bar-container {
	width: 97%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	gap: 2em;
	padding: 5px 20px;
}
img#npm-logo {
	width: 5em;
}

.search-bar-container a {
	text-decoration: none;
	color: black;
}

a#join {
	border: 1px solid black;
	padding: 5px 20px;
}

#build-things {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 600px;
	background-color: rgba(232, 217, 217, 0.3);
	gap: 2rem;
}

#build-things a {
	text-decoration: none;
	color: black;
	padding: 1rem 3rem;
}

a#plans {
	color: white;
	background-color: #fb3b49;
	box-shadow: 8px 8px 0 rgba(251, 59, 73, 0.2);
}

#build-things article {
	width: 25rem;
	text-align: center;
}
#build-things h1 {
	font-weight: 900;
	font-size: 64px;
	margin: 0;
}

#build-things > div {
	display: flex;
	width: 25rem;
	flex-direction: row;
	justify-content: space-evenly;
}
