@import url('https://fonts.googleapis.com/css?family=Poppins');

body{
    font-family: 'Poppins', Arial, sans-serif;
}

header > div{
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    margin: 0 10px;
}

nav{
    width: 600px;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: black;
}

.blackHeart{
    width: 20px;
    margin-right: 1rem;
}

.npm-logo{
    width: 80px;
    padding: 20px 0;
    margin: 0;
}

.magnifying-glass{
    width: 20px;
    padding: 10px 10px;
    background-color: rgba(0,0,0,.05);
    border: 1px solid rgba(0,0,0,.05);
}

input#search-bar{
    width: 1000px;
    height: 40px;
    background-color: rgba(0,0,0,.05);
    border: 1px solid rgba(0,0,0,.05);
    margin: 0;
    padding: 0 10px;
    font-family: 'Poppins', Arial, sans-serif;
}

form button{
    background-color: #fb3e44;
    font-family: 'Poppins', Arial, sans-serif;
    color: white;
    border: 1px solid #fb3e44;
    padding: 10px 20px;
}

#join{
    text-decoration: none;
    color: black;
    border: 1px solid black;
    box-shadow: 0 1px black;
    padding: 5px 20px;
}

#log-in{
    text-decoration: none;
    color: grey;
}

section{
    height: 600px;
    margin: 0 10px;
}

#plans{
    background-color: rgba(232,217,217,.3);
}

.first-aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

#plans h1{
    font-size: 80px;
    height: 80px;
}

#plans p{
    width: 430px;
}

#buttons{
    display: flex;
    flex-direction: row;
}

#see-plans{
    width: 200px;
    height: 50px;
    margin: 30px;   
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 16px;
    background-color: #FB3B49;
    border: 1px solid #FB3B49;
    color: white;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
}

#join-for-free{
    width: 200px;
    height: 50px;
    margin: 30px;
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 16px;
    background-color: white;
    border: 1px solid white;
}

.second-aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 80px;
}

#mid svg{
    height: 200px;
}

#mid h2{
    background-color: rgba(255,204,53,.4);
    transform: skew(9deg,0deg);
    font-style: italic;
    margin: 50px auto;
    padding: 0 30px;
}

#mid p{
    width: 780px;
}

#creator{
    margin: 50px;
    padding: 0 80px;
}

#articles{
    display: flex;
    justify-content: center;
    padding: 80px 0;
}

.container{
    padding: 0 20px;
}

#creator svg{
    height: 40px;
}

#creator h3{
    color: #ED1C24;
}

#create-org{
    display: flex;
    justify-content: center;
}

#creator button{
    background-color: black;
    color: white;
    font-family: 'Poppins', Arial, sans-serif;
    box-shadow: 8px 8px 0 rgba(128,83,35,.2);
    font-size: 20px;
    margin: 30px;
    padding: 20px 150px;
}

