@import url('https://fonts.googleapis.com/css?family=Poppins');


//-------------------------------- Global styles
body {
  font-family: 'Poppins';


.flex {
    display: flex;
}

//-------------------------------- Start Upper Heading  
    header > div {
        padding: 0 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid lightgray;
    }
  
    nav {
        width: 600px;
    }
  
    nav ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    nav a {
        text-decoration: none;
        color: black;
    }
    
    #heart {
        width: 20px;
        margin-right: 1rem;
    }

    // ------------------------ Start Lower Heading
    #logo {
        width: 100px;
        margin: 2rem 4rem 2rem 2rem;
    }

    #glass {
        width: 40px;
        margin-right: 1rem;
    }

    #inputOuter {
        justify-content: flex-start;
    }

    #input-form {
        width: 900px;
        align-items: center;
        // justify-content: flex-start;
    

    #searchbar{
            background-color: rgba(0,0,0,.05);
            display: inherit;
            width: 800px;

            #s-inner{
                background: none;
                border: none;
                font-size: 15px;
            }
        }

        #searchButton {
            border: none;
            color: white;
            background: #fb3e44;
            height: 50%;
            width: 15%;
            font-size: 20px;
        } 
    }
 
    #register-buttons a{
        margin: 1rem;
        border: 1px grey;
        font-size: 20px;
        text-decoration: none;
        color: black;
    }

    //-------------------------- Start Main
    main {
        background-color: rgba(232,217,217,.3);
    //-------------------------- Start Sec 1
    #landing {
        height: 600px;
   

        h1 {
            margin: unset;
            text-align: center;
            font-size: 5rem;
            padding: 120px 0px 20px 0px;
        }

        article {
            text-align: center;
            font-size: 1.5rem;
            margin: 0px 27%;
        }

        div {
            margin-top: 2rem;
            display: flex;
            justify-content: center;

            button {
                border: none;
                margin: 10px;
                font-size: 2rem;
                background-color: inherit;

                a {
                    text-decoration: none;
                    padding: 20px 40px;
                }

                #a1 {
                    background-color: red;
                    color: #fff;
                    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
                }

                #a2 {
                    background-color: #fff;
                    color: black;
                }

            }
        }

    }
    //------------------------------------------start sec 2
    #desc {
        background-color: white;
        display: flex;
        flex-direction: column;


        img {
            margin-left: auto;
            margin-right: auto;
            margin: 15vh auto 5vh auto;
            width: 25%;
        }

        h2 {
            background-color: rgba(255,204,53,.4);
            text-align: center;
            margin: 0 auto 5vh auto;
            padding: 5px;
            transform: skew(9deg,0deg);
            font-style: italic;
            font-size: 2rem;
        }

        article {
            text-align: center;
            font-size: 1rem;
            margin: auto 40vh 20vh 40vh;
        }
    }

    //-------------------------------- Start of Sec 3 
}

}