@import url("https://fonts.googleapis.com/css?family=Poppins");

body {
  font-family: "Poppins";
}

header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

.blackHeart {
  width: 20px;
  margin-right: 1rem;
}

/* Start CS */

.npm-logo {
  width: 60px;
}
form {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 40px;
  width: 80%;
  color: rgba(0, 0, 0, 0.05);
  background-color: rgba(0, 0, 0, 0.05);
}

form img {
  height: 20px;
  margin-left: 10px;
  margin-top: 10px;
}

label {
  color: rgba(0, 0, 0, 0.05);
}

.search-button {
  color: white;
  background-color: #fb3e44;
  height: 40px;
  width: 80px;
  margin-left: -100px;
}
.join {
  color: black;
  text-decoration: none;
  margin-right: 10px;
  border: 1px solid;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.login {
  text-decoration: none;
  color: black;
}

/* ####################
Top section 
#######################*/

.top-section {
  height: 600px;
  text-align: center;
  background-color: rgba(232, 217, 217, 0.3);
}
.top-section h1 {
  font-size: 80px;
  font-weight: bolder;
}
.top-section article {
  margin-left: 35%;
  margin-bottom: 50px;
  margin-right: 35%;
}
.top-section .see-plan {
  text-decoration: none;
  font-size: larger;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #fb3e49;
  color: white;
  box-shadow: 8px 8px 0 rgba(251, 59, 73, 0.2);
}
.top-section .join-for-free {
  text-decoration: none;
  padding: 50px;
  margin-left: 50px;
  color: black;
}
/* ####################
Medium section 
#######################*/

.medium-section {
  margin: 100px;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 100px;
  text-align: center;
}
.medium-section img {
  height: 120px;
}
.medium-section h2 {
  background-color: rgba(255, 204, 53, 0.4);
}
.medium-section article {
  padding-left: 100px;
  padding-right: 100px;
}
/* Bottom Section */
.bottom-section {
  text-align: center;
}
.bottom-big {
  width: 90%;
  display: flex;
  text-align: center;
}
.bottom-section div {
  padding-left: 5%;
}
.bottom-section img {
  height: 30px;
}

.bottom-section h3 {
  color: #ed1c24;
}

.bottom-section button {
  font-size: large;
  margin-top: 50px;
  margin: 20px;
  line-height: 40px;
  height: 50px;
  width: 250px;
  color: white;
  background-color: black;
  box-shadow: 8px 8px 0 rgba(128, 83, 35, 0.2);
}
