@import url('https://fonts.googleapis.com/css?family=Poppins');
body {
    font-family: 'Poppins';
}

p {
    font-size: 1.0rem;
}


/*HEADER */

header>div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

nav {
    width: 600px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: black;
}

.blackHeart {
    width: 20px;
    margin-right: 1rem;
}

.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.logo {
    height: 25px;
}

.magnifying {
    height: 30px;
    background-color: rgba(0, 0, 0, .05);
    padding: 1px 10px;
}

.search {
    background-color: rgba(0, 0, 0, .05);
    display: flex;
    align-items: center;
    padding: 1px 100px;
}

.search-1 {
    display: flex;
    align-items: center;
    width: 200px;
}

.search-1 {
    background-color: rgba(0, 0, 0, .05);
    padding: 2.5px;
    width: 600px;
    height: 30px;
    border: none;
    padding: 0 10px;
}

.bottom-1 {
    background-color: #fb3e44;
    color: white;
    border: 1px solid black;
    padding: 10px 15px;
}

.bottom2 {
    background-color: transparent;
    color: black;
    padding: 1px, 18px;
    border: 1px solid black;
    text-decoration: none;
    position: relative;
}

.login {
    text-decoration: none;
    color: black;
}


/*HEADER ENDS */


/*FIRST SECTION*/

.first {
    height: 600px;
    background-color: rgba(232, 217, 217, .3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px auto;
}

h1 {
    text-align: center;
}

.seeplans {
    background-color: #FB3B49;
    box-shadow: 8px 8px 0 rgba(251, 59, 73, .2);
    text-decoration: none;
    color: black;
    padding: 7px 40px;
    border: none;
}

.joinforfree {
    text-decoration: none;
    color: black;
    padding: 30px 55px;
}


/*FIRST SECTION ENDS*/


/* SECOND SECTION*/

h2 {
    text-align: center;
    background-color: rgba(255, 204, 53, .4);
    font-style: italic;
    transform: skew(9deg, 0deg);
}

.text2 {
    text-align: center;
}

.second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 700px;
}

.second img {
    height: 300px;
    margin: 20px auto;
}


/*SECOND SECTION ENDS*/


/*THIRD SECTION */

h3 {
    color: #ED1C24;
}

#third {
    padding: 50px 0;
}

#third {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    height: 300px;
    margin: 0 auto;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 25%;
    height: 100%;
    padding: 10px;
}

.box img {
    height: 30px;
}

.btn-black {
    background-color: black;
    color: white;
    box-shadow: 8px 8px 0 rgba(128, 83, 35, .2);
    font-size: 1.0rem;
    text-decoration: none;
    border: none;
    flex-direction: column;
}

.create {
    display: flex;
    justify-content: center;
    align-items: center
}