/*
form label color: rgba(0,0,0,.05)
form input color: rgba(0,0,0,.05)
form button background color: #fb3e44
form button letters color: white
*/

@import url('https://fonts.googleapis.com/css?family=Poppins');
body {
    font-family: 'Poppins';
}

.nav {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

nav {
    width: 600px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: black;
}

.blackHeart {
    width: 20px;
    margin-right: 1rem;
}

.form img {
    height: 25px;
}

.form>form {
    font-size: 50px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    background-color: rgb(238, 235, 235);
    
}

.form button {
    background-color: red;
    color: white;
    padding: 10px 10px;
    border-width: 0px;

}

.form input {
    padding: 10px 1000px 5px 10px;
    border-width: 0px;
    background: none;
    outline:none;
}

.form {
    display: flex;
    align-items: center;
    margin : 7px 20px;
    
}

.login {
    position: absolute;
    right: 30px;
    margin: 10px;
}

.rejoindre {
    border: 1px solid black;
    padding: 5px 20px;
    margin: 10px;
}

.login a {
    text-decoration: none;
}

/*presentation*/

#presentation {
    display: flex;
    flex-direction: column;
    height: 600px;
    justify-content: center;
    background-color: rgba(232, 217, 217, .3);
}

.red-button {
    background-color: #FB3B49;
    box-shadow: 8px 8px 0 rgba(251, 59, 73, .2);
    font-size: 25px;
    color: white;
    padding: 5px 30px;
}

.join {
    color: black;
    font-size: 25px;
    background-color: white;
    padding: 5px 30px;
    font-weight: bold;
}

.links {
    display: flex;
    justify-content: space-between;
    margin: 25px 33%;
    padding-bottom: 49.8px;
}

.links>a {
    text-decoration: none;
}

#presentation>h1 {
    font-size: 60px;
    text-align: center;
}

#presentation>article {
    margin: 0 33%;
    text-align: center;
}

/*description*/

#description {
    margin: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#description article {
    margin: 0 25%;
}

h2 {
    background-color: rgba(255, 204, 53, .4);
    transform: skew(9deg, 0deg);
    font-style: italic;
}

#description img {
    width: 200px;
}

#features img {
    width: 20px;
}

#features>div {
    flex-direction: row;
    justify-content: center;
    display: flex;
}

#features {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature {
    width: 200px;
    padding: 10px;
}

h3 {
    color: #FB3B49;
}

.black-button {
    box-shadow: 8px 8px 0 rgba(128, 83, 35, .2);
    color: white;
    background-color: black;
    width: 180px;
    text-align: center;
    height: 30px;
    padding: 10px 80px 5px 80px;
    text-decoration: none;
    margin: 20px 0 80px 0;
}