@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
  margin:0;
  padding:0;
  font-size:15px;
  font-weight:300;
}

h1{
    font-size: 5em;
    text-align: center;
    font-weight: bold;
    line-height: 1em;
}

h2{
  font-size:2em;
  text-align: center;
  font-weight: bold;
  background-color: rgba(255,204,53,.4);
  transform: skew(9deg,0deg);
  font-style: italic;
  padding: 0px 30px;

}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }
  
  .npm-logo{
    width:80px;
    margin-right:1rem;
  }




#search-bar input {
  background-color: rgba(232,217,217,.3);
  border: none;
  background-image: url(images/magnifying-glass.png);
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 20px 20px;
  padding-left: 35px;
  height:50px;
  margin:10px;
}

.search{
  background-color: #fb3e44;
  border: none;
  color: white;
  padding: 16px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  }

.join{
  text-decoration: none;
  color: black;
  margin: 10px;
  border: 1px solid #17212e;
  padding: 8px 15px;

}
.login{
  text-decoration: none;
  color: black;
  padding: 8px 15px;
}

#Build-amazing-things{
  height:600px;
  background-color: rgba(232,217,217,.3);
  margin:0px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  #Build-amazing-things p{
    display: inline-block;
    width: 400px;
    text-align: center;
  }

  #Build-amazing-things .container{
    display: flex;
    flex-direction:row;
    align-items:center;
  }

  #Build-amazing-things .see-plans{
    color:white;
    text-align:center;
    font-weight: 600;
    text-decoration: none;
    padding-top:20px;
    padding-bottom: 20px;
    padding-left:80px;
    padding-right:80px;
    background-color: #fb3b49;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
    margin: 50px 25px 50px 25px;
  }

  #Build-amazing-things .join-free{
    color:black;
    text-align:center;
    font-weight: 600;
    text-decoration: none;
    padding-top:20px;
    padding-bottom: 20px;
    padding-left:80px;
    padding-right:80px;
    background-color: white;
    margin: 50px 25px 50px 25px;
  }

  #the-best{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #the-best p{
      display: inline-block;
      width: 612px;
      text-align: center;
      font-size:small;
  }

  .hexa-triangle{
    width: 250px;
    margin-top: 80px;
    margin-bottom: 60px;
  }

#benefits{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:600px;
}

.features{
  padding-top: 100px;
  display: flex;
  flex-direction:row;
  align-items:center;
  margin: 0px 120px;
}

.features div{
text-align: left;
width:300px;
margin: 0px 10px 0px 10px;
}

.features div img{
  height: 25px;
}

.features div h3 {
  color: #ED1C24;
}

.blackbutton{
  font-weight: 600;
  padding: 20px 100px;
  text-decoration: none;
  box-shadow:8px 8px 0 rgba(128,83,35,.2);
  background-color: black;
  color: white;
  margin: 80px 0px;
}