@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }

  .nav2 {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-between;
  }
  
  .npm-logo {
      width: 80px;
      margin-left: 1rem;
      float: left;
  }

  .search {
    width: 600px;
    background-image: url(lab-html-exercise/images/magnifying-glass.png);
  }

  .mg {
      width: 10px;
  }

  .submit {
    background-color: #fb3e44;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    border: none;
    font-size: 11px;
  }

  .buttonnj {
    background-color: white;
    color: black;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    border: black;
    border-width: 1px;
    font-size: 11px;
  }

  .buttonnl {
    border: none;
    background-color: white;
    color: black;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    font-size: 11px;
  }


  /* finish nav bar */
  
  .s1 {
      height: 600px;
      background-color: rgba(232,217,217,.3);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

  }

  .h1 {
      font-size: 4.5em;
      font-weight: 900;
      font-weight: bolder;
  }

  .acontainer {
      height: 120px;
      width: 400px;
      text-align: center;
  }

  .s1links {
      width: 400px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-bottom: 50px;
  }

  .buttonp {
      background-color: #FB3B49;
      box-shadow: 8px 8px 0 rgba(251,59,73,.2);
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
  }

  .buttonj {
    border: none;
    background-color: white;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .s2 {
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .triangle-hexagon {
      width: 200px;
  }

  .h3 {
      background-color: rgba(255,204,53,.4);
      transform: skew(9deg,0deg);
      font-style: italic;
      font-weight: bolder;
      font-size: 2em;
      margin-top: 50px;
  }

  .acontainer2 {
    height: 120px;
    width: 700px;
    text-align: center;
    margin-top: 10px;
}

.s3 {
    height: 600px;
    margin-left: 130px;
    margin-right: 130px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }

  .h4 {
      color: #ED1C24;
  }

  .svg {
      width: 40px;
  }

  .create {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: flex-start;
      border: none;
      background-color: black;
      color: white;
      padding: 15px 120px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      box-shadow: 8px 8px 0 rgba(128,83,35,.2);
  }

  .a3 {
      width: 250px;
      padding: 0px, 20px, 0px, 20px;
  }

  .break {
    flex-basis: 100%;
    height: 0;
  }