@import url("https://fonts.googleapis.com/css?family=Poppins");

body {
  font-family: "Poppins";
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }
  .search-bar {
    padding: 10px 2rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
  }
.logo-image {
  width: 50px;
  margin-right: 1rem;
  padding:1px 1px
}
.search-packages-image {
    background: url("./images/magnifying-glass.png") no-repeat left;
    background-position: 15px;
    background-color: rgb(245, 245, 245);
    background-size: contain;
    height: 40px;
    text-indent: 50px;
    font-size: 16px;
    flex-grow: 1;
  }

.search-button {
  background-color: #fb3e44;
  color: white;
  padding: 13px 20px 13px 20px;
  border: none;
  font-size: 16px;
}

.join {
  padding: 5px 20px 5px 20px;
  margin: 0 30px 0 30px;
  text-decoration: none;
  color: black;
  border-style: solid;
  border-color: #708090;
  border-width: 1.5px;
  box-shadow: 1.5px 1.5px 1.5px #c0c0c0;
}

.login {
  text-decoration: none;
  color: black;
}
#general-information .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background-color-section-1 {
  background-color: rgba(232, 217, 217, 0.3);
  height: 500px;
}

#general-information h1 {
  font-size: 50px;
  font-weight: bolder;
  padding: 30px 0 0 0;
}

#general-information p {
  text-align: center;
  max-width: 400px;
  font-size: 16px;
}

.hyperlinks-container {
  text-decoration: none;
  text-align: center;
  padding-top: 50px;
}
.see-plans {
  margin: 0 15px;
  font-size: 16px;
  padding: 10px 50px 10px 50px;
  text-decoration: none;
  color: white;
  background-color: #fb3e44;
  box-shadow: 5px 5px rgba(251, 62, 68, 0.3);
}

.join-for-free {
  margin: 0 15px;
  font-size: 16px;
  padding: 10px 40px 10px 40px;
  text-decoration: none;
  font-weight: bold;
  color: black;
  background-color: white;
}
#team .container {
	display:flex;
	flex-direction: column;
  	align-items: center;
}

#team h2 {
    background-color: rgba(255,204,53,.4);
		font-style: italic;
		text-align: center;
		transform: skew(9deg,0deg);
		margin: 40px 0 30px 0;
		font-size: 30px;

}

#team p {
    text-align: center;
    font-size: 13px;
    width: 630px;
    padding: 0 0 50px 0;
}

.triangle-hexagon-image {
    width: 150px;
    margin: 40px 0 0 0;
}


