@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap");

body {
  font-family: "Poppins";
}

header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

.blackHeart {
  width: 20px;
  margin-right: 1rem;
}

.npm-bar {
  display: flex;
  justify-content: space-between;
}

.nav-bar-wrapper {
  padding: 15px;
}

.nav-bar-items {
  font-weight: 500;
}

.npmLogo {
  width: 70px;
  padding-left: 1em;
}

.magnifiying-glass {
  width: auto;
  height: 1em;
  padding-right: 7px;
}

.search-wrapper {
  margin: 10px 0;
  padding-left: 15px;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.05);
}

.search-window {
  width: 800px;
  height: 33px;
  background-color: transparent;
  border: none;
}

.red-button {
  color: white;
  background-color: #fb3e44;
  border-style: none;
  padding: 10px 15px;
}

.join-login-list {
  display: flex;
}

.white-button {
  text-decoration: none;
  color: black;
  background-color: white;
  border: 1px solid black;
  padding: 4px 19px;
}

.login-link {
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 5px 20px;
}

.main-section {
  background-color: rgba(232, 217, 217, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 50px 75px 50px;
}

.main-heading {
  font-size: 5em;
  font-weight: 600;
  text-align: center;
  padding-bottom: 50px;
}

.paragraph {
  max-width: 550px;
  line-height: 1.6em;
  font-size: 1.2em;
  text-align: center;
}

.main-buttons-list {
  display: flex;
  flex-direction: row;
  gap: 2em;
  padding: 50px;
}

.red-button-shadowed {
  text-decoration: none;
  color: white;
  background-color: #fb3e44;
  border-style: none;
  padding: 10px 25px;
  box-shadow: 8px 8px 0px 0px #ffc9ca;
}

.white-button-borderless {
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 10px 25px;
}

.introduction-section {
  padding: 100px 50px 75px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.triangle-hexagon {
  max-height: 200px;
  padding-bottom: 50px;
}

.secondary-heading {
  font-size: 2.2em;
  font-weight: 600;
  text-align: center;
  padding-bottom: 40px;
}

.secondary-paragraph {
  max-width: 800px;
  line-height: 1.6em;
  font-size: 1em;
  text-align: center;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px 40px;
}

.service-card {
  flex-basis: 100%;
  padding: 10px 30px;
}

.service-image {
  max-height: 30px;
  padding-bottom: 15px;
}

.service-heading {
  color: #ed1c24;
  font-size: 1em;
  font-weight: 700;
  padding-bottom: 25px;
}

.service-paragraph {
  line-height: 1.6em;
  font-size: 0.9em;
  text-align: left;
}

.create-org-button {
  text-decoration: none;
  color: white;
  background-color: black;
  padding: 20px 120px;
  margin: 40px 0 80px;
  box-shadow: 8px 8px 0 rgba(128, 83, 35, 0.2);
}
