@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    font-family: 'Poppins';
    padding: 0 10px 0 10px ;
    margin-bottom: 50px;
}

.top-bar {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}
nav {
    width: 600px; 
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: black;
}

.blackHeart {
    width: 20px;
    margin-right: 1rem;
}

.bottom-bar {
    display: flex;
    align-items: center;
    margin: 0 25px 0 25px;
}

.bottom-bar > img {
    width: 70px;
}

.search-bar img {
    width: 18px;
    height: 18px;
    padding: 0 15px 0 15px;   
}

.search-bar {
    display: flex;
    justify-content:space-between;
    align-items: center;
    box-sizing: content-box;
    width: 100%;
    height: 30px;
    background-color: rgba(0,0,0,.05);
    margin: 8px;
}

.search-bar form {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.search-bar input {
    width: 100%;
    height: 28px;
    border-style: none;  
    background-color: rgba(0,0,0,.0);
}

input:focus {
    outline:0px;
    }

.search-bar button {
    border-style: none; 
    background-color: #fb3e44; 
    height: 30px;
    color: white;
    padding: 0 10px 0 10px;
}

#join-button {
    border: 1px solid gray;
    padding: 0 10px 0 10px;
    margin: 0 10px 0 30px;
    text-decoration-line: none;
    color: black;
}

#login-button {
    text-decoration-line: none;
    color: black; 
}

#first-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(232,217,217,.3);
    height: 600px;
}

#first-section h1 {
    font-size: 4.5em;
    font-weight:700;
    
}

#first-section p {
    font-size: 1.4em;
    text-align: center;
    padding: 0 400px 100px 400px;
}

#plans-button {
    color: white;
    text-decoration: none;
    background-color:  #FB3B49;
    padding: 10px 50px 10px 50px;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
    margin-right: 25px;
}

#join-for-free-button {
    color: black;
    text-decoration: none;
    background-color: white;
    padding: 10px 50px 10px 50px;
    margin-right: 25px;
}

#second-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px 0 100px 0;
}

#second-section img {
    align-items: center;
    height: 300px;
    margin-bottom: 70px;
}


#second-section h2 {
    font-size: 2.5em;
    font-weight:700; 
    font-style: italic;
    padding: 0 40px 0 40px;
    background-color: rgba(255,204,53,.4);
    transform: skew(9deg,0deg);
    height: 48px;
}

#second-section p {
    font-size: 1.3em;
    text-align: center;
    padding: 0 220px 0 220px;
}

#third-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:150px;
}

#third-section img {
    height: 30px;
}

#third-section h3 {
    color: #ED1C24;
}

.info-panels {
    display: flex;
    margin-bottom: 50px;
}

.info-panels article {
    width: 250px;
    margin: 15px;
}

#create-an-org-button {
    display: flex;
    background-color: black;
    color: white;
    text-decoration: none;
    width: 330px;
    height: 50px;
    align-items: center; 
    justify-content: center;   
    box-shadow: 8px 8px 0 rgba(128,83,35,.2);
}


