@import url('https://fonts.googleapis.com/css?family=Poppins');
*{
    margin: 0px;

}

body {
  font-family: 'Poppins';
}
header > div {
    margin-top:10px;
    margin-bottom:0px;
    padding: 5px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
   span a {
    text-decoration: none;
    color: black;
  }
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .black-heart {
    width: 20px;
    margin-right: 1rem;
  }
  .npm-logo{
    width: 50px;
    margin-right: 1rem;
  }
  .magnifying-glass{
    width: 20px;
    height:20px;

  }
  .search-bar{
 display: flex;
  background-color:lightgray;
  justify-content: space-evenly;
  align-items: center;
  width: 85%;
  height: 100%;
 
  }
  #form{
    display:flex;
    background-color:lightgray;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

  }
  form input{
    flex:1;
    border: none;
    outline: none;
    background-color:lightgray;    
  }
 button{
    display:inline-block;
    background-color: #fb3e44;
    color: white;
    border: none;
    outline:none;
    text-align: center;
    padding: 10px 20px;
    cursor: pointer;
    letter-spacing: 1px;
    
 }
 #lower-div-header{
    margin-top: 0px;
 }
 .join-login{
    
    display: flex;
    font-size: small;
    justify-content: space-around;
    width: 100px;
    
   

 }
 .join-login a{
    text-decoration: none;
    color:black;
    text-shadow: 2px;
    font-weight: bold;
    
 }
 #join-box{
    border: 1px solid black;
    box-shadow: 0px 1px gray;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 2px;
   
 }
 #login{
    border: 1px solid white;
    padding: 5px;
 }

 /*--SECTION 1*/

 #first-section{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(232,217,217,.3);
    height:600px;
    
 }
 #first-section h1{
    font-size: 90px;
    text-align: center;
    font-weight: bold;
 }
 #first-section article{
    font-size: 20px;
    text-align: center;
    text-align: center;

 }
 .plans{
    display:flex;
    justify-content: space-between;
    flex:2;
   
 }
 .plans a{
font-size: 20px;
font-weight: bold;
border: 1px solid black;



border-radius: 2px;
text-decoration: none;

 }
 #seeplans{
    background-color: #FB3B49;
    color:white;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
    margin-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
 }
  #joinforfree{
    background-color: white ;
    color:black;
    margin-left: 30px;
    border:none;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: bolder;
  }

/*SECOND Section*/
#second-section{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height:600px;
  

}
.triangle-hexagon{
    width: 340px;
    height:340px;
}

.section2 h1{
    font-style: italic;
    font-weight: bold;
    background-color: rgba(255,204,53,.4);
    font-size: 25px;
    padding: 9px;
    transform: skew(9deg,0deg);

}
.sec2article{
    text-align: center;
    font-weight: bold;
    width: 50%;
}

/*THIRD Section*/
#third-section {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:600px;
}
.section3 img{
    width: 40px;
    height:40px;
}
.service-box{
    font-size: 1em;
    text-align: left;
   
    box-sizing: border-box;
    
    margin-top: 50px;
    margin-bottom: 0;
    margin-right: 5%;
    margin-left: 5%;
   
    padding: 20px;
}
#third-section > div {
display: flex;
flex-direction: row;
justify-content: space-evenly;
}


#third-section a{
font-size: 20px;
font-weight: bold;
border: 1px solid black;
background-color: black;
color:white;
border-radius: 2px;
text-decoration: none;
box-shadow: 8px 8px 0 rgba(128,83,35,.2);
padding: 10px 25px;
width:30%;
text-align: center;
margin-top: 30px;
margin-bottom: 10px;

}
#third-section h3{
    font-size: 16px;
    color: #ED1C24;
    margin-top: 10px;
    margin-bottom: 10px;
}



