@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: 'Poppins';
}

header > div {
    padding: 0.25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

nav {
    width: 600px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a   {
    color: black;
    text-decoration: none;
}

.blackHeart {
    width: 20px;
    margin-right: 1rem;
}

.Search > img {
    width: 60px;
    margin-right: 1rem;
}

form {
    background-color: rgba(0, 0, 0, 0.1);
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
}

form img {
    width: 20px;
}

form label {
    padding: 10px;
    display: flex;
    align-items: center;
}

form input {
    background-color: rgba(0, 0, 0, 0.0);
    border: none;
    color: rgba(0, 0, 0, 0.5);
    height: 40px;
    font-size: 17px;
    width: 85%;
}

form button {
    background-color: #fb3e44;
    color: white;
    font-size: 17px;
    height: 40px;
    width: 90px;
    border: 1px solid lightgray;
}

.Search div {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 30px;
}

#Join {
    width: 60px;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
}

#Join:hover {
    border: 2px solid #fb3e44;
}

form button:hover {
    background-color: pink;
}

header a:hover {
    font-weight: bold;
}



