@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}



header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }

  .container1 {
    padding: 0 25px;
    display: flex;
    

  }

.flex-item1 {
  flex-grow: 1;
  display: flex;
  justify-content: left;
  align-items: center;
}

.flex-item2 {
  flex-grow: 1;
}

.flex-item3 {
  flex-grow: 5;
}

.flex-item4 {
  flex-grow: 1;
  justify-content: end;
}

.npm-logo {
    width: 30px;
    
}

.search-logo {
  width: 30px;
}

.search-bar {
  width: 100%;
}

.button-search {
    background-color: #fb3e44;
    color: white;
    border: none;
}




.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(232, 217, 217, 0.3);
  height: 600px;
}

h1 {
  font-size: 55px;
  font-weight: bold;
  margin: 0;
  
}

.article-intro {
  padding: 30px;
  text-align: center;
}

.button1 {
  list-style-type: none;
  background-color: #FB3B49;
  padding: 15px;
  border: none;
  box-shadow: 8px 8px 0 rgba(251,59,73,.2);
  width: 210px;

}

.button1 a {
  color: white;
  text-decoration: none;
}

.button2 {
  list-style-type: none;
  background-color: transparent;
  padding: 15px;
  border: none;
  color: black;
  width: 210px;

}

.button2 a {
  color: black;
  text-decoration: none;
}

.company {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px;
}

.company article {
  text-align:center;
}
.hexagon {
  width: 15%;
}

h3 {
  background-color: rgba(255,204,53,.4);
  transform: skew(9deg,0deg);
  font-style: italic;
  padding: 5px;
  margin: 30px;

}

.benefits {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 600px;
    align-content: center;
}

.benefits div {
  justify-content: center;
  align-items: flex-start;
}
.benefits p {
  padding: 25px;
  margin: 0;
}

.benefits h5 {
  padding-left: 25px;
  margin-top: 0;
}

.break {
  height: 0;
  width: 100%;
}

.botton3 {
    list-style-type: none;
    background-color: black;
    padding: 15px;
    border: none;
    color: white;
    width: 300px;
    margin: 30px;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
}

.benefits img {
  width: 20px;
  padding-left:25px;

}