@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

body {
  background-image: https://s3-eu-west-1.amazonaws.com/ih-materials/uploads/ironhack-skydive-background.jpg
}
.nav-bar {
  background-color: black;
  margin: auto;
}
.nav-bar a {
  background-color: black;
  color: white;
  text-decoration: none;
  font-size: 2em;
}

#structure {
background-color: white;
}

header {
  background-image: url(https://s3-eu-west-1.amazonaws.com/ih-materials/uploads/ironhack-skydive-background.jpg);
  background-position: 0,0;
  background-repeat: no-repeat;
  background-size: cover
}

header {
  height: 650px;
  font-size: 2.5em;
  }

h2 {
  font-variant: small-caps;  
}

h2 {
   text-shadow: #020819 8px -20px 9px;
}

h2 {
  color: white;
}

h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
table,tr,td,th {

  border:1px solid black;
  border-collapse: collapse;
}
ul.my-row {
  display: table;
  width: 100%;
  text-align: center;
}

ul.my-row > li {
  display: table-cell;
  width: 33%;
  margin: 0%;
}