@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: 'Poppins';
}

a   {
    color: black;
    text-decoration: none;
}

h1 {
    font-size: 60px;
    font-weight: bolder;
    margin: 5px;
}

h2 {
    font-size: 32px;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    width: 800px;
    margin: 5px;
    background-color: rgba(255, 204, 53, .4);
    transform: skew(9deg,0deg);
}

h3 {
    font-size: 16px;
    color: #ED1C24;
    margin: 10px 25px 0;
}

header > div {
    padding: 0.25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

nav {
    width: 600px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blackHeart {
    width: 20px;
    margin-right: 1rem;
}

.Search > img {
    width: 60px;
    margin-right: 1rem;
}

form {
    background-color: rgba(0, 0, 0, 0.1);
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
}

form img {
    width: 20px;
}

form label {
    padding: 10px;
    display: flex;
    align-items: center;
}

form input {
    background-color: rgba(0, 0, 0, 0.0);
    border: none;
    color: rgba(0, 0, 0, 0.5);
    height: 40px;
    font-size: 17px;
    width: 85%;
}

form button {
    background-color: #fb3e44;
    color: white;
    font-size: 17px;
    height: 40px;
    width: 90px;
    border: 1px solid lightgray;
}

.Search div {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 30px;
}

#Join {
    width: 60px;
    border: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
}

#Join:hover {
    border: 2px solid #fb3e44;
}

form button:hover {
    background-color: pink;
}

header a:hover {
    font-weight: bold;
}

.Page-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    background-color: rgba(232, 217, 217, .3);
}

.Page-header p {
    width: 400px;
    padding: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0;
}

.Page-header section {
    height: 100px;
    width: 420px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#See-plans, #Join4Free {
    padding: 10px;
    width: 180px;
    text-align: center;
}

#See-plans {
    background-color: #fb3b49;
    color: white;
    border: none;
    box-shadow: 8px 8px 0 rgba(251, 59, 73, .2);
}

.mid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 550px;
}

.mid img {
    width: 250px;
    margin: 0 0 40px 0;
}

.mid p {
    width: 700px;
    font-size: 14.5px;
    padding: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 15px;
}

.services {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services div {
    display: flex;
}

.services img {
    width: 40px;
    margin-left: 25px;
}

.benefits {
    width: 275px;
    height: 200px;
    margin: 30px 0;
}

.benefits p {
    font-size: 14.5px;
    margin: 10px 25px;
}

#Create {
    width: 400px;
    height: 50px;
    margin-top: 20px;
    background-color: black;
    color: white;
    font-weight: bold;
    box-shadow: 8px 8px 0 rgba(128, 83, 35, .2);
    display: flex;
    align-items: center;
    justify-content: center;
}