@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
  margin-left: 25px;
  margin-right: 25px;
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }

  article {
    text-align: center;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  a {
    font-size: 16px;
    text-align: center;
    text-decoration: none;
  }

  a:visited {
    color: black;
  }

  h1 {
      padding-top: 68px;
      text-align: center;
      font-size: 70px;
      font-weight: 900;
  }

  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }

  .npmLogo{
    width: 40px;
    margin-right: 1rem;
  }

  .magnifyingGlass {
    width: 17px;
    height: 17px;
    align-self: center;
    padding: 6px;
  }

  .flex-container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
  align-content: center;
  overflow: hidden; 
  
  }

  .nested-flex-container{
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
  align-content: center;
  background-color: #f2f2f2;
  overflow: hidden; 
  }

  #srchcontainer { 
    border: transparent;
    width: fit-content;
    }

  #section-one {
    /*padding: 0 25px;*/
    height: 600px;
    align-content: center;
    background-color: rgba(232,217,217,.3);
    text-align: center;
    align-self: center;
    align-items: center;
  }

  #section-two {
    padding: 0 25px;
    height: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
  }

  #section-three-top-div{
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;
      align-content: center;
      height: 600px;
  }

  #section-three{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
      align-items: flex-start;
      align-content: stretch;
    }

    .section-three-article{
      width: 250px;
      margin: 30px;
    }

    .section-three-h{
      color: #ED1C24;
    }
  

  #srchcontainer {
    width: 650px;
    color: rgba(0,0,0,.05);
    background-color: #f2f2f2;
    height: 26px;
    padding-top: 5px;
}

  #searchButton{
    font-size: 10px;
    background-color: #fb3e44;
    border: none;
    color: white;
    display: inline-block;
    width: 56px;
    height: 36px;
    align-items: center;
  align-content: center;
    
  }

  #createAnOrgButton{
    margin-top: 55px;
    text-align: center;
    background-color: black;
    border: none;
    color: white;
    align-self: center;
    display: inline-block;
    width: 280px;
    height: 40px;
    box-shadow: 8px 8px 0 rgba(128,83,35,.2);
    padding-top: 12px;
  }

  #createAnOrgButton a {
    color: white;
    align-self: center;
  }

  #joinButton {
    font-size: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    display: inline-block;
    align-content: center;
    text-align: center;
    height: 20px;
    width: 40px;
    padding-top: 6px;
    margin-top: 8px;

  }

#heading-section2{
  /*background-color: rgba(255,204,53,.4);*/
  font-size: 25px;
  align-self: center;
  text-align: center;
  font-weight: bold;
  transform: translateY(130%);
}

#heading-section2-div{
  align-self: center;
  text-align: center;
  /*padding: 5px 10px;*/
  margin-top: 40px;
  display: inline-block;
  
}

#heading-section2-div:after {
  content: " ";
  position: inherit;
  display: inline-block;
  width: 900px;
  height: 30px;
  top: 0;
  left: 0;
  z-index: 10;
  background: rgba(255,204,53,.4);
  /*transform-origin: bottom left;*/
  -ms-transform: skew(20deg);
  -webkit-transform: skew(20deg);
  transform: skew(20deg);
}

  #loginButton {
    font-size: 10px;
    padding: 15px 32px;
    display: inline-block;
    align-content: center;
    padding-top: 6px;
  }

  #sectionOneButtons {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
    align-content: center;
    margin-top: 42px;
  } 

  #sectionOneArticle {
      margin-top: 5px;
      text-align: center;
      width: 440px;
      display: inline-block;
  }

  #sectionTwoArticle {
    margin-top: 40px;
    text-align: center;
    width: 780px;
    align-self: center;
}

  #seePlansButton{
    background-color: #FB3B49;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
    color: white;
  }

  #joinForFreeButton{
    background-color: white;
    color: black;
    padding: 15px 32px;
  }

  #seePlansButton, #joinForFreeButton{
    text-align: center;
    margin: 9px;
    width: 160px;
    align-content: center;
    border: none;
    padding: 15px 32px;
  }

  #seePlansButton a:visited{
    color: white;
  }

  #hexagonImg{
      align-self: center;
      text-align: center;
      margin-top: 55px;
      width: 150px;
  }

  .smallIcon {
      width: 20px;
  }

  #joinLoginButtons{
    width: 100px;
    margin-left: 1rem;
  }



