@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
}

 ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navBarItem {
  text-decoration: none;
  color: black;
}

.blackHeartImage {
  width: 20px;
  margin-right: 1rem;
}

.npmLogo{
    height:20px;
    width:60px;
    margin-left: 10px;
  }

.searchContainer{
    display: flex;
    justify-content: space-around;
    align-items:center ;
    flex-direction: row;
    padding: 8px 0px;
  }

.searchBox{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 90%;
      align-items: baseline;
  }
.searchBar{ 
    display: flex;
    flex-direction: row;
    margin-top: 3px;
    width: 1000px;
    padding-left: 5px;
}

.searchFormatting {
    background-color:rgba(0,0,0,.05);
    height: 35px;
    border: none;
    width: 90%;
  }

.searchButton{
  background-color: #FB3B49;
  color:white;
  height: 35px;
  width: 100px;

}

.joinButtonLink{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 35px;
    width: 13%;
}
.joinButton{
    height:25px ;
    width:60px ;
     background-color: white;
}


#heroSection{
  display: flex;
  justify-content: center;
  align-items:center ;
  flex-direction: column;
  height: 600px;
  background-color: rgba(232,217,217,.3);
  font-family: 'Poppins';
} 

h1{
  font-size: 65px;
  font-weight: bolder;
  text-align: center;
  font-family: 'Poppins';
}

.description1{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: space-between;
    width: 35%;
    margin-bottom: 0px;
    height: 30%;

}
.joinButtonsContainer {
	display: flex;
	flex-direction: row;;
	justify-content: space-between;
	align-content: center;
    margin-top: 50px;
}

.button3{
     padding: 15px 15px;
     background-color: #FB3B49;
     box-shadow: 4px 4px 0 rgba(251,59,73,.2);
     width: 45%;
     font-size: 18px;
     text-align: center; 

}

.a1{
   text-decoration: none;
  color: white; 
}

.free{
  background-color: white;
  padding: 15px 15px;
  text-align: center;  
  text-decoration: none;
  color: black;
  width: 40%;
}


#supportingInfoSection{
  display: flex;
  justify-content: center;
  align-items:center ;
  flex-direction: column;
  height: 600px;
  background-color: white;
  margin: 0 auto; 
}

.hexagonImage{
    width: 20%;
    margin-right: 1rem;
}

.description2 {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
  margin:0 auto;
  width: 100%;
  text-align: center;
}

.h3-title{
    transform: skew(-9deg,0deg);
    font-weight: bolder;
  }
  
.h3{
    transform: skew(9deg,0deg);
    background-color: rgba(255,204,53, .4);
    width: 72%;
    font-size: 25px;
    letter-spacing: 3px;
    word-spacing: 3px;
  }

  .article{
    width:58%;
  }



#useCasesSection{ 
  display: flex;
  justify-content: center;
  align-items:center ;
  flex-direction: column;
  height: 450px;
  background-color: white;
  margin: 0 auto; 
}

.description3 {
    display: flex;
    flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start; 
    height: 350px;
    width: 90%;
}

h4{
  color: #ED1C24;
}

.button1{
  margin:0 auto;
  background-color: #FB3B49;
}

.container{ 
  width:21%;
  height:200px;
}

.createAnOrgButton{
  text-decoration: none;
  text-align: center;
  margin-bottom:0px;
  padding: 12px;
  width:20% ;
  background-color: black;
  color: white;
  box-shadow: 8px 8px 0 rgba(128,83,35,.2); 
}

.npmAudit{
    width: 40px;
    margin-right: 1rem;
}

.familiarFeatures{
    width: 40px;
    margin-right: 1rem;
}

.teamManagement{
    width: 40px;
    margin-right: 1rem;
}

.zeroConfiguration{
    width: 40px;
    margin-right: 1rem;
}