@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}
  
nav {
    width: 600px;
}
  
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
nav a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}
  
.blackHeart {
    width: 20px;
    margin-right: 1rem;
}

.form {
    display: flex;
    flex-direction: row-reverse;
}

h1 {
    font-size: 5rem;
    font-weight: 900;
    letter-spacing: -6;
    text-shadow: 2.5px 0 currentColor;
    padding-top: 12px;
    margin-bottom: 43px;
}

#essential {
    width: 550px;
    font-size: 1.2307em;
    font-weight: 700;
    margin-bottom: 15px;
}

.action {
    display: flex;
    flex-direction: row;
    height: 50px;
    padding-bottom: 110px;
    margin-top: 50px;
    align-items: center;
}

.action a {
    margin: 50px 20px;
    font-weight: bolder;
    font-size: 1.2;
    text-align: center;
    align-items: center;
    padding-top: 14px;
    text-decoration: none;
    padding-left: 26px;
    padding-right: 26px;
}

#see-plans {
    display: block;
    background-color: #fb3e44;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
    color: white;
    width: 160px;
    height: 40px;
    text-align: center;  
}

#join-free {
    display: block;
    background-color: white;
    width: 160px;
    height: 40px;
    text-align: center;
    color: black;      
}

.search-field {
    width: 100%;
    padding: 10px 35px 10px 15px;
    border: none;
    border-radius: 100px;
    outline: none;
}

.details img {
    width: 125px;
}

.details {
    text-align: left;
    box-sizing: border-box;
    margin: 0 3.7% ;
    font-size: 14.5px;
    font-weight: 500;
}

.details img {
    width: 35px;
}

#value-add > div {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 1120px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}


#best {
    padding-top: 40px
}

#best img {
    width: 240px;;
    padding-top: 40px;
}

#search-bar {
    height: 60px;
}

#search-bar img {
    padding: 15px 8px 10px 10px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: left;
}

#search-bar form {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-right: 15px;
}

.search-field {
    background-color: rgba(128, 128, 128, 0.123);;
    height: 45px;
    font-size: 13px;
    background-image: url(images/magnifying-glass.png);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: left center;
    background-position-x: 8px;
    padding-left: 30px;
    border: none;
    box-shadow: none;
    border-radius: 0;
}

#search-button {
    background-color: #fb3e44;
    color: white;
    border: none;
    padding-left: 17px;
    padding-right: 17px;
    margin-left: 5px;
    margin-right: 5px;
}

#join-or-log {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 10%;
}

#join-or-log > a {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 2px;
    margin-right: 2px;
    height: 26px;
    width: 62px;
    font-size: 13px;
    text-align: center;
    align-items: center;  
    padding-top: 5px;  
}

#intro {
    background-color: rgba(232,217,217,.3);
}

.two-sections {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    text-align: center;
}

#bring {
    font-size: 2em;
    font-weight: bold;
    text-shadow: 1px 0 currentColor;
    background-color: rgba(255,204,53,.4);
    transform: skew(9deg,0deg);
    font-style: italic;
    padding: 0 35px;
    margin-top: 60px;
    margin-bottom: 40px;
}

#get-more {
    width: 750px;
    font-size: 14.5px;
    font-weight: 500;
    padding-bottom: 75px;
}

#join {
    border: 1px solid black;
}

#create {
    display: block;
    background-color: black;
    box-shadow: 8px 8px 0 rgba(128,83,35,.2);
    color: white;
    font-size: 16px;
    font-weight: bold;
    width: 375px;
    height: 40px;
    text-align: center; 
    margin-bottom: 20px; 
    padding-top: 18px;
}

h4 {
    color: #ED1C24;
    font-weight: 900;
    text-shadow: .3px 0 currentColor;
}


