@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

html,
body {
  margin: 0px;
  padding: 0px;
}
body {
  font-family:"Roboto";
  font-size: 10px;
  line-height: 3.5em;
  weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6 {
font-family: "Roboto Condensed";
}

h1 {
  font-size:9em;
  text-align:center;
  transform: uppercase;
}
h2 {
  font-size:5em;
  text-align:center;
  transform: uppercase;
  line-height:4em;
}
h3 {
  font-size:4.2em;
  text-align:center;
  line-height:1em;
}
h4 {
  margin-bottom:15px;
  font-size:1.5em;
  letter-spacing:0.4px;
  line-height:1em;
}
h5 {
  margin-top:0px;
  margin-bottom:0px;
  font-size:1.2em;
  line-height:1em;
}
.nav-bar {
  color:rgb(0,0,0);
  background-color: rgb(25,33,41);
  padding-top:0px;
  padding-bottom:0px;
}

.nav-bar a {
  color:white;
  text-decoration:none;
  font-size:2em;
}
.nav-bar-ul{
  display:flex;
  justify-content:space-evenly;
  width:1200px;
  margin:0px;
  list-style-type: none;
  text-align:center;
}
.header {
  position:relative;
  height:650px;
  padding-top:50px;
}
.header-img{
  background-image:url("https://s3-eu-west-1.amazonaws.com/ih-materials/uploads/ironhack-skydive-background.jpg");
  background-position:0 0;
  background-repeat: no-repeat;
  background-size:cover;
}
.h2-header {
  color:white;
  text-shadow:#020819 8px -20px 9px;
}

.quote{
  font-size:2.5em;
  position:absolute;
  left:10%;
  bottom:100px;
}
#general-information{
  display:flex;
  justify-content:space-evenly;
}
.dark-background{
  background-color: rgb(25,33,41);
  color: white;
}
#general-information .container{
  display:flex;
  flex-direction:column;
  align-items:center;
  width:370px;
}
.container{
  width:1200px;
  margin:0 auto;
  padding:75px 0;
}
.text{
  font-size:2em;
  font-weight:100;
  text-align:center;
  margin:20px 0px 20px 0px;
}
.link-btn{
  padding:10px 30px 10px 30px;
  background-color:rgb(67,163,230);
  color:white;
  font-family:"Roboto Condensed";
  font-size:2em;
  letter-spacing:0.5px;
  text-align:center;
  text-decoration:none;
}
#structure div {
  display:flex;
  justify-content:space-between;
  flex-direction:row;
  flex-wrap:wrap;
}

.service-box{
  border:2px solid #eee;
  border-radius:20px;
  box-sizing:border-box;
  box-shadow:2px 2px 10px 0 #eee;
  margin:50px 5% 0px 5%;
  padding:20px;
  width:40%;
  font-size:1.7em;
  text-align:center;
}
.service-box img {
 width:125px;
}
#team{
  padding: 40px 0;
}
#team p{
  width:60%;
  margin:10px auto;
}
#team hr{
  margin:20px auto 30px auto;
  width:40%;
}
#team .section-text{
  margin:0 auto;
  padding:20px 0;
  font-size:1.9em;
  text-align:center;
}
#team .member-name{
  font-size:1.5em;
  font-weight:700;
}
#team img{
  width:250px;
  height:180px;
}

#team div{
  display:flex;
  justify-content:space-evenly;
}
#team > div > article {
  display:flex;
  justify-content:center;
  flex-direction:column;
  align-items:center;
}
.slot-form-container{
  width:40%;
  margin:18px auto 0 auto;
  font-size:1.5em;
  text-align:center;
}
.slot-form-container label{
  line-height:15px;
  margin:5px;
}
.slot-form-container input, 
select{
  height:25px;
  outline:none;
  padding:3px;
  width:100%;
}
.slot-form-container > button{
  border:1px solid black;
  color:black;
  background-color:white;
  padding:9px;
  margin-top:15px;
}
.schedule-table{
  margin:0px auto 40px auto;
  font-size:1.5em;
}
.schedule-table th,
td {
  border-bottom: 1px solid black;
  padding:5px 10px 5px 10px;
  text-align:center;
}

.footer{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:40px 100px 40px 100px;
  margin-bottom:25px;
  text-align:center;
  font-size:1.9em;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.address{
  margin-bottom: 30px;
  font-style:normal;
  font-size:0.8em;
  
}
.footer a{
  color:rgb(67,163,230);
  text-decoration:none;
  
}
.footer ul{
  list-style-type: none;
  padding:0;
}
.map-frame{
  height:375px;
  width:60%;
}