@import url('https://fonts.googleapis.com/css?family=Poppins');

html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Poppins';
}

header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

.blackheart {
  width: 20px;
  margin-right: 1rem;
}

.logo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.Join-log {
  padding: 10px;
  margin: auto;
}

.Join-log ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
}

.Join-log li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  padding: 5px;
}

.Join-log a {
  text-decoration: none;
  color: black;
}

.Logo {
  width: 60px;
  margin-right: 1rem;
}
.Search-icon {
  width: 30px;
}

#search-bar {
  width: 100%;
  padding: 11px;
  background-color: beige;
  border: transparent;
  font-size: 1em;
}

.searchbtn {
  background-color: red;
  color: white;
  text-decoration: none;
  text-align: center;
  border-radius: 5%;
  padding: 10px;
  font-size: 1em;
  width: max-content;
  margin-left: 10px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 240px;
}

.Triangle {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.union {
  display: flex;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  width: 77%;
}
.union #search-bar {
  padding-left: 50px;
}
.union .Search-icon {
  position: absolute;
  top: 15%;
  margin-left: 10px;
  z-index: 1;
}

h1 {
  font-size: 100px;
  font-weight: 1200;
}

.container {
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  width: 50%;
}

.plan-btn {
  display: flex;
  width: 25%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.plan-btn a {
  text-decoration: none;
}

.plan-btn button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  padding: 30px;
  width: 45%;
  border: none;
  font-size: 20px;
  font-weight: 700;
}

.plan-btn button:first-child {
  background-color: red;
  color: white;
  box-shadow: 5px 5px rgba(241, 142, 142, 0.689);
}
.plan-btn button:last-child {
  background-color: white;
  color: black;
  border-color: lightgray;
}

.plan-btn button:first-child a {
  color: white;
}

.plan-btn button:last-child a {
  color: black;
}

#second-section {
  padding-top: 20px;
}
