@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700");

html,body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto";
  font-size: 10px;
  line-height: 3.5em;
  font-weight: 300;
}
/* CSS multiselector example */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Condensed";
}

h1 {
  font-size: 9em;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-size: 5em;
  text-align: center;
  text-transform: uppercase;
  line-height: 4em;
  color: white;
  text-shadow: #020819 8px -20px 9px;
}

h3 {
  font-size: 4.2em;
  text-align: center;
  line-height: 1em;
}

h4 {
  font-size: 1.5em;
  letter-spacing: 0.4px;
  margin-bottom: 15px;
  line-height: 1em;
}

h5 {
  font-size: 1.2em;
  line-height: 1em;
  margin-top: 0px;
  margin-bottom: 0px;
}

/** nav-bar **/

.nav-bar {
  background-color: rgb(25, 33, 41);
  padding-top: 14px;
  padding-bottom: 14px;
}

.nav-bar a {
  color: white;
  text-decoration: none;
  font-size: 2em;
}

.nav-bar-ul {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}

.nav-bar-ul li {
  list-style-type: none;
  text-align: center;
}

/** header **/

.header {
  background-image: url("https://s3-eu-west-1.amazonaws.com/ih-materials/uploads/ironhack-skydive-background.jpg");
  position: relative;
  background-repeat: no-repeat;
  size: cover;
  height: 650px;
  padding-top: 50px;
}

.quote {
  font-size: 2.5em;
  posiotion: absolute;
  left: 10%;
  bottom: 100px;
}

/* section 1 */
#general-information {
  display: flex;
  justify-content: space-evenly;
}
#general-information .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 370px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 75px 0;
}
.dark-background {
  background-color: rgb(25, 33, 41);
  color: white;
}

.text {
  font-size: 2em;
  font-weight: 100;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.link-btn {
  background-color: rgb(67, 163, 230);
  color: white;
  font-family: "Roboto Condensed";
  font-size: 2em;
  letter-spacing: 0.5px;
  text-align: center;
  text-decoration: none;
  padding: 10px 30px;
}
/* section 2 */
#structure div {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.service-box {
  font-size: 1.7em;
  text-align: center;
  border: 2px solid #eee;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px 0 #eee;
  margin-top: 50px;
  margin-right: 5%;
  margin-bottom: 0;
  margin-left: 5%;
  padding: 20px;
  width: 40%;
}

.service-box img {
  width: 125px;
}

/* section 3 */
#team {
  width: 60;
  margin: 10px auto;
}

#team > div {
  display: flex;
  justify-content: space-evenly;
}
#team > div > article {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#team p {
  width: 60%;
  margin: 10px auto;
}
#team hr {
  margin: 20px auto 30px auto;
  width: 40%;
}

#team .section-text {
  font-size: 1.9em;
  text-align: center;
}

#team .member-name {
  font-size: 1.5em;
  font-weight: 700;
}
#team img {
  width: 250px;
  height: 180px;
}

/** section- 4 **/

.schedule-table {
  margin: 0 auto 40px auto;
  font-size: 1.5em;
}

.schedule-table th, td {
  border-bottom: 1px solid black;
  padding: 5px 10px;
  text-align: center;
}

/* footer */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.9em;
  text-align: center;
  padding: 40px 100px;
  margin-bottom: 25px;
}

.adress {
  font-style: normal;
  font-size: 0.8em;
  margin-bottom: 30px;
}

.footer a {
  color: rgb(67, 163, 230);
  text-decoration: none;
}

.footer ul {
  list-styling: none;
  padding: 0;
}

footer h5 {
  margin-top: 0;
  margin-bottom: 0;
}

.map-frame {
  height: 375px;
  width: 60%;
}

.slot-form-container {
  width: 40%;
  margin: 18px auto 0 auto;
  font-size: 1.5em;
  text-align: center;
}

.slot-form-container label {
  line-height: 15px;
  margin: 5px;
}

.slot-form-container input, select {
  height: 20px;
  outline: none;
  padding: 3px;
  width: 100%;
}

.slot-form-container button {
  border: 1px solid black;
  color: black;
  background-color: white;
  padding: 15px;
  margin-top: 15px;
}