@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

h1 {
    font-size: 70px;
    margin-bottom: 50px;

}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

nav {
    width: 600px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: black;
}

.blackHeart {
    width: 20px;
    margin-right: 1rem;
}

.second-line {
    padding: 0 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.logo {
    width: 50px;
    margin-right: 1rem;
    margin: none;
}

.magnifying-glass {
    width: 18px;
    background-color: lightgray;
    border: none;
    padding: 8px;
    margin: none;
}

.search {
    background-color: lightgray;
    width: 900px;
    height: 18px;
    border: none;
}

.join-login-style {
    text-decoration: none;
}

.search-button {
    background-color: #FB3B49;
    border: none;
    padding: 10px 20px;
    color: white;
    margin-right: 50px;
}

#join-button {
    border-color: gray;
    border-style: solid;
    border-width: .01px;
    padding: 0 15px;
    color: black;
    margin-right: 20px;
}

#login-button {
    color: black;
}

#form {
    padding: 8px;
}

#build-amazing {
    height: 500px;
    background-color: rgba(232,217,217,.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.see-plans {
    background-color: #FB3B49;
    border: none;
    text-decoration: none;
    color: white;
    margin-right: 50px;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
    padding: 10px 60px;
}

.join-for-free {
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 10px 60px;
}

article {
    text-align: center;
}

h2 {
    display: inline-block;
    background-color: rgba(255,204,53,.4);
    transform: skew(9deg,0deg);
    font-style: italic;
}

.triangle-hexagon {
    width: 200px;
    display: block;
    margin-top: 75px;
    margin-bottom: 75px;
    margin-left: auto;
    margin-right: auto;
}

.paragraph {
    width: 800px;
    text-align: center;
    margin: 0 auto;
}

.build-paragraph {
    width: 400px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 50px;
}

#general-info img {
    width: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h3 {
    color: #ED1C24;
}

#general-info {
    padding: 100px 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}


.button {
    display: block;
    margin: 0 auto;
    background-color: black;
    color: white;
    height: 50px;
    width: 300px;
    box-shadow: 8px 8px 0 rgba(128,83,35,.2);
    margin-bottom: 50px;
    font-size: 15px;
}
