@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}
form.example button {
  background-color: #ED1C24
}
form.example input[type=text]{
    font-size: 17px;
}
#third-content {
  padding-top: 10%;
  width: 800px;
  box-sizing: border-box;
  margin-left: 150px;
  }

.column {
  float: left;
  width: 30%;
  padding: 10px;
  height: 300px; 
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.logo{
  width: 35px;
}
.row{
  display: flex;
  justify-content: center
}
.last-button{
  background-color: black;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position:relative;
  left: 200px;
  margin-top: 100px;
}
.column h3{
  color:#ED1C24;
  border-style: solid;
    border-width: 1px;
}
#second-content h2{
font-size: 2em;
text-align: center; font-style: italic;
width: 800px;
margin: 10px auto;
transform: skew(9deg,0deg);
background-color:  rgba(255,204,53,.4)
}
#second-content .part-text2{
text-align: center;
margin: 10px auto;
width: 75%;
height: 100px;
}
.hexsa{
  width: 30%;
  position: relative;
  left: 400px;
}
header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

.blackHeart {
  width: 20px;
  margin-right: 1rem;
}
.npmlogo{
  width: 50px;
  position: static;
}
.glass{
  width: 35px;
  
}
#main-content{
  height: 600px;
  background-color: rgba(232,217,217,.3)
}
#main-content h1{
  padding-top: 20%;
  font-size: 3em;
  text-align: center;
}
#main-content .part-text{
text-align: center;
margin: 10px auto;
width: 35%;
height: 200px
}
.buttons{
 display: flex;
  justify-content: center;
}
.see-plans {
background-color: #FB3B49;
 box-shadow: 8px 8px 0 rgba(251,59,73,.2);


}
.join-free{
box-shadow: 8px 8px 0 rgba((255,255,255)
margin-left: 2px;
}
#second-content{
  height: 600px;
  background-color: rgba(232,217,217,.3)
}


#second-content h2{
font-size: 2em;
text-align: center; font-style: italic;
width: 800px;
margin: 10px auto;
transform: skew(9deg,0deg);
background-color:  rgba(255,204,53,.4)
}
#second-content .part-text2{
text-align: center;
margin: 10px auto;
width: 75%;
height: 100px;
}
.hexsa{
  width: 30%;
  position: relative;
  left: 400px;
}
.search-bar input {
     height: 30px;
     width: 50px;
}
#container .search-button{
  background-color: #fb3e44
}