@import url("https://fonts.googleapis.com/css?family=Poppins");

body {
    font-family: "Poppins";
    padding: 10px 15px;
    margin: 0;
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

nav {
    width: 600px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: black;
}

.blackHeart {
    width: 20px;
    margin-right: 1rem;
    vertical-align: middle;
}

.headerMenu {
    font-weight: bold;
    vertical-align: middle;
}

.headerSearchJoinLogin img {
    width: 65px;
    height: 20px;
}

.headerSearchJoinLogin form {
    display: flex;
    justify-content: space-between;
    width: 900px;
}

.searchBoxInput {
    padding: 1px 2px 1px 30px;
    background: url("./images/magnifying-glass.png") no-repeat left rgba(0, 0, 0, 0.05);
    background-position-x: 10px;
    background-size: 20px;
    border: none;
    padding: 16px 40px;
    margin: 10px 0;
    font-size: 15px;
    text-align: left;
    width: 800px;
}

.searchBarForm img {
    width: 15px;
    height: 15px;
}

.searchButton {
    background-color: #fb3e44;
    color: white;
    padding: 16px 40px;
    margin: 10px 0;
    font-size: 15px;
    border: none;
}

.joinLoginButtons a {
    text-decoration: none;
    background-color: white;
    font-weight: bold;
    color: black;
    padding: 10px 30px;
    margin: 10px 0;
    font-size: 15px;
}

#joinButton {
    border: 1px solid black;
    border-color: black;
}

#loginButton {
    border: none;
}

#presentation {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 600px;
    background-color: rgba(232, 217, 217, 0.3);
}

h1 {
    font-size: 80px;
    margin: 0;
}

#presentation article {
    text-align: center;
    color: black;
    font-size: 25px;
    width: 700px;
}

#presentation a {
    text-decoration: none;
}

#seePlansButton {
    background-color: #fb3b49;
    font-weight: bold;
    box-shadow: 8px 8px 0 rgba(251, 59, 73, 0.2);
    color: white;
    border: none;
    padding: 16px 50px;
    margin: 10px;
}

#joinForFreeButton {
    background-color: white;
    font-weight: bold;
    color: black;
    border: none;
    padding: 16px 50px;
    margin: 10px;
}

#about {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 600px;
}

#about img {
    width: 250px;
    height: 180px;
}

h2 {
    font-size: 40px;
    margin: 0;
    padding: 0 35px;
    background-color: rgba(255, 204, 53, 0.4);
    transform: skew(9deg, 0deg);
    font-style: italic;
}

#about article {
    text-align: center;
    color: black;
    font-size: 18px;
    width: 900px;
}

#structure img {
    width: 25px;
    height: 25px;
}

#createOrgButton {
    background-color: black;
    font-weight: bold;
    box-shadow: 8px 8px 0 rgba(128, 83, 35, 0.2);
    color: white;
    border: none;
    padding: 16px 100px;
    margin: 10px;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
}

.CreateOrgButtonAlign {
    text-align: center;
    margin: 50px;
}
.serviceBox {
    display: flex;
    justify-content: space-evenly;
    font-size: 11px;
    padding: 50px 150px;
    margin: 0 50px;
}

.serviceBox p,
h3,
img {
    margin: 5px 20px;
    text-align: left;
}

.serviceBoxContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

h3 {
    color: #ed1c24;
}
