@import url('https://fonts.googleapis.com/css?family=Poppins');


html {
    margin: 0 20px;
}

body {
  font-family: 'Poppins';
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }
  
  #logo {
      width: 80px;
      margin-bottom: 10px;
      margin-top: 5px;
  }

  #glass {
      width: 20px;
      margin-bottom: 10px;
      margin-top: 5px
      position: absolute;
      right: 50px;
     
  }

  #search-button {
      background-color: #fb3e44;
      color: white;
      height: 40px;
      border-style: none;
      margin-bottom: 5px;
      width: 100px;
  }

  #search-input {
    background-color:rgba(0,0,0,.05);
    width: 1400px;
    height: 40px;
    margin-bottom: 5px;
    border-style: none;
    padding-left: 40px;
    background-image: url("./images/magnifying-glass.png");
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: 5px center;
  }

  .join {
    border-style: solid;
    text-decoration: none;
    color: black;
    padding: 3px 18px;;
    margin-bottom: 10px;
    margin-top: 5px;
    height: 40px;
    border-width: 1px;
  }

  .login {
    text-decoration: none;
    color: black;
  }

  .joinlogin {
    height: 35px;
    margin-top: 5px;
  }

  .nav2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

#amazing {
    height: 600px;
    background-color: rgba(232,217,217,.3);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

h2 {
    font-size: 110px;;
    font-weight: bolder;
    margin: 0 auto 0 auto;
}

#art1 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 40px;
    padding: auto 50 30 50;
    text-align: center;
}

#seeplans {
    background-color: #FB3B49;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
    color: white;
    padding: 15px 70px;
    text-decoration: none;
    font-size: 20px;
}

#join {
    padding: 15px 70px;
    color: black;
    text-decoration: none;
    background-color: white;
    margin-left: 20px;
    font-weight: bold;
    font-size: 20px;
}


#best {
    height: 600px;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

#triangle {
    width: 290px;
}

h3 {
    font-size: 40px;;
    background-color: rgba(255,204,53,.4);
    transform: skew(9deg,0deg);
    font-style: italic;
    padding-left: 35px;
    padding-right: 35px;
}

#art2 {
    text-align: center;
    font-size: 17px;
}

#features img {
    width: 45px;
}


.stuff {
    display: flex;
    justify-content:space-evenly;
    flex-direction: row;
    
}


h4 {
    color: #ED1C24;
    font-weight: bold;
    font-size: 18px;;

}


#create {
    box-shadow: 8px 8px 0 rgba(128,83,35,.2);
    color: white;
    background-color: black;
    text-decoration: none;
}



