@import url('https://fonts.googleapis.com/css?family=Poppins');

*{
  font-family: 'Poppins';
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 800px;
    font-size:14px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  img#blackHeart {
    width: 3%;
    margin-right: 1rem;
  }

  img#npm {
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .logo{
    width:5%;
    margin-left:2%;
  }

  img#glass {
    height: 20px;
    margin-right:10px;
    margin-left:10px;
  
  }
 
  .searchNav{
    height: 50px;
    width: 100vw;
    padding: 5px;
    background-color: white;
  }

  .container{
    width: 70%;
    padding:10px 10px 10px 0px;
    height:80%;

  }

  .search-Bar {
   
    width: 100%;
    height:100%;
    background-color: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: none;

  }

  .search-Bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    font-size: 20px;
    color: #8B7777;
  }
  
  .submit{
    background-color: #FB3E44;
    color: white;
    border: none;
    height:80%;
    margin-left:-5%;
    padding:10px 20px;
  }

  .top-bar{
    height:50px;
    display:flex;
    justify-content:center;
  }

  ::placeholder{
    font-size:14px;
  }

.joinus{
  width:5%;
  background-color:white;
  font-size:14px;
  padding:10px;
  padding-left:40px;
}

.login{
  width:5%;
  font-size:14px;
  margin-right:10px;
}

a{
  text-decoration: none;
  color:black;
}

.joinus button{
  background-color: white;
  border:solid 1px black;
  padding:5px 15px;
}

h1{
  font-size:80px;
  font-weight:800;
  margin:0;

 
}

.hero{
  height:80vh;
  background-color: #F7F4F4;
  padding-top:10%;
  
}

.hero p{
  align-items: center;
  text-align: center;
  font-size:20px;
  width:40%;
}

.seeplans{
  padding:10px 50px;
  font-size:20px;
  background-color:#FA3E44;
  box-shadow: 8px 8px 0 rgba(251,59,73,0.2);
  border:none;
  
}

.seeplans a{
  color:white;
}

.joinfree{
  padding:10px 50px;
  font-size:20px;
  color:black;
  border:none;
  background-color: white;

}

.buttons{
  width:100%;
  grid-auto-flow:column;
  grid-column-gap:40px;
  display:flex;
  align-items: center;
  justify-content:center ;
}

.headertext{
  display:flex;
  align-items: center;
  justify-content:center ;
}
.description{
  display:flex;
  align-items: center;
  justify-content:center ;
  padding-bottom:3%;
}

.featurediving{
    display:flex;
    align-items: center;
    justify-content:center ;
    padding-bottom:3%;
  }

img#featureimage{
  width:15%;
  margin: 30px;
}

h2{
  font-size:36px;
  background-color: rgba(255,204,53,.4);
  transform: skew(9deg,0deg);
  font-style: italic;

}


.featureTitle{
    display:flex;
    align-items: center;
    justify-content:center ;
  }
  
.featureDesc{
    display:flex;
    align-items: center;
    justify-content:center;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%; 
  }

  img#zeroConfiguration{
    width:15%;
  }

  img#teamManagement{
    width:15%;
  }

  img#familiarFeatures{
    width:15%;
  }

  img#npmAudit{
    width:15%;
  }

  .featureCol{
    
    grid-auto-flow:column;
    grid-column-gap:5px;
    display:flex;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
  }

  h4{font-size: 16px;
    color: red;
    
  }

  .featuresDesc{
    font-size:16px;
    width:80%;
  }

  .Features{
    min-height: 200px;
  }

  .featureButton{
    width:100%;
    grid-auto-flow:column;
    grid-column-gap:40px;
    display:flex;
    align-items: center;
    justify-content:center ;
  }

  .buttonsFeat{
    padding:20px 80px;
    font-size:20px;
    color:white;
    border:none;
    background-color: black;
    box-shadow: 8px 8px 0 rgba(128,83,35,.2);
  }

  .buttonsFeat a
  { 
    color:white;
  }

  .featureCol{
    margin-bottom: 60px;
  }

  .feature{min-height: 1000px;
  }