@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

html,
body {
  font-family: "Roboto";
  size: 10px;
  line-height: 3.5em;
  weight: 300;
}

/* CSS multiselector example */

h1 {font-size: 6em;
text-align: center;
text-transform: uppercase;
font-family: "Roboto Condensed";}

h2 {font-size: 4em;
text-align: center;
text-transform: uppercase;
line-height: 4em;  
color: white;
text-shadow: #020819 8px -20px 9px;
font-family: "Roboto Condensed";}

h3 {font-size: 4.2em;
text-align: center;
line-height: 1em; 
font-family: "Roboto Condensed";}

h4 {font-size: 1.5em;
letter-spacing: 0.4px;
line-height: 1em;
margin-bottom: 15px;  
font-family: "Roboto Condensed";}

h5 {font-size: 1.2em;
 line-height: 1em;
 margin: 0 auto, 0 auto;
font-family: "Roboto Condensed"; 
}

.nav-bar {background-color: rgb(25,33,41);
  padding: 14px;
}

.nav-bar-ul {width: 1200px;
margin: 0 auto;
display: flex;
justify-content: space-evenly;
}

.nav-bar-ul li {list-style-type: none;
text-align: center;}

.nav-bar a {color: white;
text-decoration: none;
font-size: 1.5em;}

.header {background-image: url("https://s3-eu-west-1.amazonaws.com/ih-materials/uploads/ironhack-skydive-background.jpg");
background-position:0 0;
background-repeat: no-repeat;
background-size: cover;
height: 750px;
padding-top: 50px;
}

.container {width: 1200px;
margin: 0 auto;
align-items: center;
padding: 75px 0px;
font-size: 10px;
display: block;
}

.quote {
  left: 10%;
  font-size: 1.2em;
  position: absolute;
  bottom: 5px;
  line-height: 1.5em;
}

.dark-background {background-color: rgb(25, 33, 41);
color: white;}

.text {text-align: center;
font-size: 2em;
font-weight: 100;
margin: 15px 0px;}


#general-information {
font-size: 1em;
font-weight: 100;
display: flex;
text-align: center;
}

.link-btn {
  background-color: rgb(67, 163, 230);
  color: white;
  font-family: "Roboto Condensed";
  font-size: 2em;
  letter-spacing: 0.5px;
  text-align: center;
  text-decoration: none;
  padding: 1px 20px;
}

#general-information .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 370px;
}

.service-box {font-size: 1.1em;
text-align: center;
border: 2px solid #eee;
border-radius: 20px;
box-sizing: border-box;
box-shadow: 2px 2px 10px 0 #eee;
margin: 50px 5%; 0; 5%;
padding: 20px;
width: 40%;
}

.service-box img {
  width: 125px; 
}

#structure > div {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

#team {padding: 75px 0;
  margin: 0 auto;
}

#team .section-text {font-size: 1em;
text-align: center;
}

#team .member-name {font-size: 1em;
  font-weight: 700;
  text-align: center;
}

#team img {width: 250px;
  height: 180px;
}

#team hr {margin: 20px, 0 auto, 30px, 0 auto;
  width: 40%;
}

#team > div{
  display: flex;
  justify-content: space-evenly;
}

.schedule-table {
  margin: 0 auto 40px auto;
  font-size: 1.5em;
}

.schedule-table th,td {
  border-bottom: 1px solid black;
  padding: 5px 10px;
  text-align: center;
}

.slot-form-container {
  width: 40%;
  margin: 12px auto 0 auto;
  font-size: 1.5em;
  text-align: center;
  line-height: 2.5em;
}

.slot-form-container label {
  line-height: 15px;
  margin: 1px;
  padding-bottom: 10px;
}

.slot-form-container input, select {
height: 20px;
outline: none;
padding: 3px on all sides;
width: 100%;
}

.slot-form-container button {
 border: 1px solid black;
 color: black;
 background-color: white;
 padding: 9px;
 margin-top: 15px;
 margin-bottom: 25px;
}

.footer {font-size: 1.9em;
text-align: center;
  padding: 40px, 100px;
  margin: 0, 0, 25px, 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.address {font-style: normal;
font-size: 0.8em;
font-weight: normal;
margin-bottom: 30px;
line-height: 2.5em;}

.footer a {color: rgb(67,163,230);
    text-decoration: none;
    font-weight: normal;}

.footer ul {
  list-style: none;
  padding: 0;
  line-height: 2.5em;
}

.map-frame {
  height: 375px;
  width: 60%;}