
@import url('https://fonts.googleapis.com/css?family=Poppins');

html, body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
.nav-bar {
    width: 600px;
  }
  
.nav-bar ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
.nav-bar a {
    text-decoration: none;
    color: black;
  }
  
.blackHeart {
    width: 20px;
    margin-right: 1rem;
  }

#search-bar-1 {
    height: 70px;
  }

.npm-logo {
    width: 80px;
    padding-left: 20px;
}

.search-form {
    position: relative;
    width: 70%;
   
}

.lupe {
    height: 25px;
    position: absolute;
    left: 10px;
    top: 12px;
}

input {
    padding: 15px 0;
    font-size: 0.9em;
    border: none;
    outline: none;
    background-color: rgb(238, 238, 238);
}

.search-placeholder {
    text-indent: 40px;
}

.s-element-1 {
    display: table-cell;
    box-sizing: border-box;
}

.textfield {
    width: 100%;
}

.textfield > input {
    width:100%;
  }


.btn-sub {
    background-color: #FB3B49;
    color: white;
    width: 100px;
}

#search-bar-1 a {
    text-decoration: none;
    color:#000;
    padding: 10px 20px;
    position: relative;
}

#search-bar-1 a:hover {
    border: 1px solid gray;
}


#cover {
    height: 550px;
    background-color: rgba(232,217,217,.3);
    padding-top: 100px;
}

#cover article {
    width: 35%;
    text-align: center;
    margin: 0 auto;
}

h1 {
    font-size: 4em;
    text-align: center;
}

.cover-btn {
    text-align: center;
    margin: 0 auto;
    width: 380px;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}

.plans-btn {
    background-color: #FB3B49;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    padding: 10px 30px;
}

.join-btn {
    color: rgb(0, 0, 0);
    font-size: 1.2em;
    text-decoration: none;
    padding: 10px 30px;
}

#description {
    height:550px;
    padding-top: 100px;
    margin: 0 auto;
    text-align: center;
}

#description img {
    width: 270px;
    padding-bottom: 40px;
}

#description article {
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

h2 {
    font-size: 2em;
    line-height: 1.2em;
    text-align: center;
    background-color: rgba(255,204,53,.4);
    transform: skew(9deg,0deg);
    font-style: italic;
    margin: 10px 23%;
}

#end {
    height: 500px;
}

.boxes {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
}

.service-box {
    font-size: 0.8em;
    text-align: left;
    margin: 0px 20px;
    width: 200px;
}

.service-box h3 {
    color: #ED1C24;
    font-size: 1em;
    border: 1px solid #ED1C24;
    padding:5px;
}

.service-box img {
    width: 40px;
    text-align: left;
    padding: 15px 0;
}

.link {
    padding-top: 100px;
    text-align: center;
}

.create-btn {
    box-shadow: 8px 8px 0 rgba(128,83,35,.2);
    background-color: #000;
    text-decoration: none;
    color: white;
    padding: 10px 100px;
}