@import url("https://fonts.googleapis.com/css?family=Poppins");

body {
  font-family: "Poppins";
}
header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

#header-bot {
  box-shadow: 0px 5px 5px -5px gray;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

.blackHeart {
  width: 20px;
  margin-right: 1rem;
}

form label {
  color: rgba(0, 0, 0, 0.05);
}

form input {
  color: rgba(0, 0, 0, 0.05);
}

form button {
  background-color: #fb3e44;
  color: white;
}

#npm-logo {
  width: 60px;
}

#search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
}

#search-icon {
  width: 15px;
  position: relative;
  left: 30px;
}

#search-button {
  background-color: red;
  border: none;
  position: relative;
  height: 32px;
  color: white;
  width: 75px;
}

#search {
  background-color: #ddd;
  border: none;
  width: 90%;
  height: 30px;
  margin: 7px 0;
  padding-left: 40px;
}

#jl {
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#join-button {
  background-color: white;
  border: 1px solid black;
  position: relative;
  height: 32px;
  color: black;
  width: 60px;
}
#login-button {
  background-color: white;
  border: none;
  position: relative;
  height: 32px;
  color: black;
  width: 60px;
}

#sec1 {
  height: 600px;
  background-color: rgba(232, 217, 217, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    text-align: center;
    font-size: 70px;
    margin: 10px 0;
  }
  h2 {
    width: 40%;
    text-align: center;
    font-size: 20px;
    font-weight: normal;
  }
  #sec1-buttons {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    height: 50px;
  }

  button {
    border: none;
    width: 40%;
    font-weight: bold;
  }

  button:first-child {
    background-color: #fb3b49;
    box-shadow: 8px 8px 0 rgba(251, 59, 73, 0.2);
  }
}

#sec2 {
  height: 600px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  #triangle-hexagon {
    width: 250px;
    margin-bottom: 50px;
  }
  h2 {
    font-size: 30px;
    background-color: rgba(255, 204, 53, 0.4);
    transform: skew(9deg, 0deg);
    font-style: italic;
    padding: 0 20px;
  }
  p {
    width: 45%;
    text-align: center;
    font-size: 13px;
  }
}

#sec3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 400px;
  article {
    width: 15%;
    height: 150px;
    img {
      width: 25px;
    }
    h3 {
      color: #ed1c24;
    }
    p {
      font-size: 13px;
    }
  }
  button {
    box-shadow: 8px 8px 0 rgba(128, 83, 35, 0.2);
    background-color: black;
    color: white;
    width: 400px;
    height: 50px;
    margin-bottom: 50px;
    font-weight: bold;
  }
}

#sec3-articles {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
