@import  url('https://fonts.googleapis.com/css?family=Poppins');

body {
   font-family : Poppins;
}

/*Header*/

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }


.headerDos{
  padding: 0 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}
.logoNpm {
  display:flex;
  width: 70px;
  margin-right: 1rem;
}


  .searchBar{ /*padre*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    
    
  }
/*lupa de la barra buscadoras gris*/
  .magnifyingGlass{ /*hijo de searchBar*/
      display: flex; 
      width: 30px;
      height: 30px;
      background: rgba(0,0,0,.05); 
      align-items: center;
      padding: 11px;
    }
/*barra de busqueda gris con lupa*/

  .lettersSearch{/*hijo de searchBar*/
      display: flex;
      border:none;
      width: 100%;
      height: 50px;
      font-size: 1em;
      background: rgba(0,0,0,.05);
      margin:5px 0;
      align-content: center;
  }

/*boton rojo Search*/
  .searchButton{/*hijo de serachBar*/
      display: flex;
      font-size: 19px;
      font-weight: 100;
      text-align: center;
      border: rgba(0,0,0,.05) solid 1px;
      background-color: #fb3e44;
      padding: 15px 25px;
      margin: 5px 30px 5px 0;
      color: white;
      width:auto;
      height:50px;
      align-items: center;
  }
/*botones finales del header*/
.buttons{
    display:flex;

    justify-content: center;
    text-align: center;
    font-size: 17px;
    margin: 5px 5px;
}
  .buttonJoin{
     text-decoration: none;
     font-weight: 900;
     color: rgb(61, 59, 59);
     border:rgb(109, 98, 98) 1px solid;
     margin:5px;
     padding:7px 4px;
     background-color: white; 
     width:70px;
     align-items: flex-end;
  }

  .buttonLogIn{ 
    text-decoration: none;
    font-weight: 700;
    color: rgb(76, 82, 81);
    margin:5px;
    padding:5px 15px;
    background-color: white; 
    width:80px; 
    align-items: center;
  }

  .flexNavBar{

  }

.searchBar{

}

.magnifying-glass{

}

/*Section 1(buildAmazing*/

h1{

}

/*Section 2 (Hexagon)*/
h3{

}

/*Section 3 (Plans)*/

h4{

}