@import url("https://fonts.googleapis.com/css?family=Poppins");

body {
  font-family: "Poppins";
}

header .header-top {
  border-bottom: 1px solid lightgray;
  padding: 0 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a {
  color: black;
  text-decoration: none;
}

.blackHeart {
  margin-right: 1rem;
  width: 20px;
}

header .header-bottom {
  padding: 20px 25px;
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.npm-logo {
  margin: 20px;
  width: 70px;
  display: flex;
  justify-content: start;
}

.search-bar {
  display: flex;
}

.search-bar-container {
  color: rgba(0, 0, 0, 0.05);
  background: url(images/magnifying-glass.png) no-repeat;
  background-size: 20px;
  background-position: 12px 18px;
  outline: none;
  display: flex;
}

.search-bar-container input {
  background-color: rgba(0, 0, 0, 0.05);
  border: none;
  font-size: 16px;
  margin: 0 auto;
  padding: 20px 20px 20px 42px;
  width: 1300px;
}

.header-bottom .search-button {
  background-color: #fb3e44;
  border: 1px solid rgba(0, 0, 0, 0.05);
  color: white;
  cursor: pointer;
  font-size: 20px;
  padding: 10px 30px;
  display: flex;
}

.header-bottom .join-btn {
  border: 1px solid slategrey;
  color: black;
  margin: 10px 10px 10px 35px;
  padding: 10px 20px;
  text-decoration: none;
}

.header-bottom .login-btn {
  color: black;
  text-decoration: none;
}

#introduction1 {
  background-color: rgba(232, 217, 217, 0.3);
  height: 600px;
}

#introduction1 > h1 {
  font-size: 90px;
  font-weight: 900;
  margin: 0 auto;
  padding: 90px 0 10px 0;
  text-align: center;
}

#introduction1 > article {
  font-size: 20px;
  margin: 0 auto;
  padding: 10px 30px;
  text-align: center;
  width: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#introduction1 > div {
  margin: 0 auto;
  padding: 20px;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#introduction1 .plans {
  background-color: #fb3b49;
  box-shadow: 8px 8px 0 rgba(251, 59, 73, 0.2);
  color: white;
  padding: 20px 70px;
  text-decoration: none;
}

#introduction1 .join {
  background-color: white;
  color: black;
  font-weight: 900;
  padding: 20px 70px;
  text-decoration: none;
}

#introduction2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#introduction2 .triangle-hexagon {
  margin: 90px 50px 50px 50px;
  width: 300px;
}

#introduction2 > article {
  font-size: 20px;
  margin: 0 auto;
  text-align: center;
  width: 1000px;
}

#introduction2 h2 {
  background-color: rgba(255, 204, 53, 0.4);
  transform: skew(9deg, 0deg);
  font-size: 40px;
  font-style: italic;
  font-weight: bold;
  padding: 1px 40px;
}

#features {
  margin-top: 100px;
}

#features > div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 30px 100px 30px;
}

#features .feature-box {
  height: 225px;
  padding: 40px;
  width: 250px;
}

#features .feature-icon {
  height: 50px;
  width: 45px;
}

#features h4 {
  color: #ed1c24;
  font-size: 1.5em;
  font-weight: bold;
  margin: 5px 0;
}

#features .org-button {
  background-color: black;
  box-shadow: 8px 8px 0 rgba(251, 59, 73, 0.2);
  color: white;
  font-weight: bold;
  margin: 50px auto;
  padding: 20px 50px;
  text-decoration: none;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
