@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bolder;
 }

  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart-img {
    width: 20px;
    margin-right: 1rem;
  }

  #secondheader{ 
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
   align-items: center;
  }

  .npm-logo {
    width: 130px;
    height: 30px;
    margin: 15px 0;  
  }
  .magnifyingglass{
    width: 30px;
    height: 30px;
    margin: 15px 5px;
  }


  
  .searchbar {
    width: 1000px;
    height: 40px;
}
  
  form{
    position: relative;
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .05rem;
    padding-bottom: .05rem;
  }

  input{
    width: 1000px;
    background: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center; 
  }

  .submit {
    background-color: #FB3B49;
    color: white;
    font-weight: bold;
    font-size: .875x;
    letter-spacing: 0.3px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: .7rem;
    padding-bottom: .7rem;
    border: none;
  }
  

  .join{
    text-decoration: none;
    text-align: center; 
    flex-direction: column;
    padding: 11px 28px;
    font-size: .875rem;
    margin-right: 1rem;
    line-height: 1.5;
    border: 1px;
    background-color: white;
    border: 1px solid lightgray;
    width:80px;
    height: 20px;
    color: black;
  }

  .login{
    text-decoration: none;
    letter-spacing: 0.5px;
    flex-direction: column;
    padding: 11px 28px;
    font-size: .875rem;
    margin-right: 1rem;
    line-height: 1.5;
    color: black;

  }

  #build-amazing{
    justify-content: center;
    display: flex;
    height: 600px;
    background-color: rgba(232,217,217,.3);
  }

  .section1{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding-left: 1rem;
    padding-left: 1rem;
    padding-bottom: 4rem;
    padding-top: 4rem;
  }

  .amazing{
    font-size: 5rem;
    margin: 0.67em 0;
  }

  .info{
    line-height: 1.6;
    text-align: center;
    margin-bottom: 5rem;
    font-weight: bold;
  }

  .plans{
    flex-direction: column;
    background-color: #FB3B49;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
    text-decoration: none;
    color: white;
    margin-right: 1rem;
    margin-left: auto;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-weight: bolder;
  }

  .searchbar{
    text-decoration: none;
    border: none;

  }

  .free{
    flex-direction: row;
    text-decoration: none;
    color: black;
    margin-right: auto;
    margin-left: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-weight: bolder;
    background-color: white;
  }

  #description{
    height: 500px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: white;
  }

  .company{
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .bring-best{
    background-color:rgba(255,204,53,.4);
    transform:skew(9deg,0deg);
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.25rem;
    margin-left: 200px;
    margin-right: 200px;
  }

  .company-info{
    align-items: center;
    text-align: center;
  }


  .hex-img{
    width: 15em;
    margin-left: 42.5%;
    padding-bottom: 1em;
  }

  #products .section3{
    align-items: left;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
    line-height: 1.5;
  }

  #products{
    display: flex;
    justify-content: space-evenly;
    font-weight: bolder;
    
}

  #products h3{
    color: #ED1C24;
  }

  #products img{
    width: 50px;
    height: 50px;
    margin-right: 20px;
  }

  .org a{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 450px;
    margin-left: 450px;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 15px 20px;
   box-shadow: 8px 8px 0 rgba(128,83,35,.2);
   background-color: black;
   color: white;
   text-decoration-color: none;
   font-weight: 600;
   text-decoration: none;
   justify-content: center;
   width: 370px;
}

