@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

/* Header and NavBar Styles */
header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    border-bottom: 1px solid lightgray;
}

header > div > div {
    display: flex;
    align-items: center;
    align-content: center;
}
  
nav {
    width: 600px;
}
  
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
nav a {
    text-decoration: none;
    color: black;
}
  
.blackHeart {
    width: 20px;
    margin-right: 1rem;
}

/* Logo, Search-Bar and Buttons Styles */
.logo-container {
    display: flex;
    justify-content: space-between;
	align-items: center;
	align-content: center;
    height: 30px;
    padding: 10px;
}

header div form {
    display: flex;
	align-items: center;
	align-content: center; 
    padding-top: 1rem;
    width: 1000px;
}

header div form input {
    display: flex;
    background-color: rgba(0,0,0,.05);
    border-style: none;
    flex-wrap: wrap;
    width: 100%;
    height: 36px;

}

header div form button {
    display: flex;
    background-color: #fb3e44;
    text-decoration: none;
    color: white;
    padding: 10px 10px 12px 10px;
    margin: 0 auto;
    border-style: none;
    float: right;
    overflow: visible;
}

.join {
    display: flex;
    color: black;
    text-decoration: none;
    border: 1px solid lightgrey;
    padding: 3px 15px;
    position: inherit;
    overflow: visible;
}

.login {
    display: flex;
    color: black;
    text-decoration: none;
    margin: 0 0 0 10px;
    position: inherit;
    overflow: visible;
}

header div img {
    width: 70px;
    padding: 20px 10px;
}

.search-img {
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 8px;
    background-color: rgba(0,0,0,.05);
}

/* Main Section Styles */
#main-section {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: center;
    height: 500px;
    background-color: rgba(232,217,217,.3);
}

#main-section > h1 {
    font-size: 4.5em;
    text-align: center;
    line-height: 1em;
    font-weight: bolder;
    margin: 0 auto;
}

#main-section > article {
    display: flex;
    width: 450px;
    text-align: center;
    font-size: 1.1em;
    font-weight: 600;
}

.buttons {
    display: flex;
}

.plans-btn {
    display: flex;
    background-color: #FB3B49;
    color: white;
    width: 200px;
    justify-content: center;
    text-decoration: none;
    border: 1px solid lightgrey;
    padding: 10px 10px 12px 10px;
    position: inherit;
    overflow: visible;
    margin-right: 15px;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
    font-weight: bolder;
}

.join-btn {
    display: flex;
    background-color: rgba(255, 255, 255, 0.651);
    color: black;
    text-decoration: none;
    width: 200px;
    justify-content: center;
    border: 1px solid lightgrey;
    padding: 10px 10px 12px 10px;
    position: inherit;
    overflow: visible;
    margin-left: 15px;
    border: none;
    font-weight: bolder;
}





/* Org Section Styles*/

/* Features Section Styles */