@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

html,
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:"Roboto Condensed";
}
h1{
  font-size: 9em;
  text-align: center;
  text-transform: uppercase;
}

h2{
  font-size: 5em;
  text-align: center;
  text-transform: uppercase;
}
h3{
  font-size: 4.2em;
  text-align: center;
  line-height: 1em;
}

h4{
  font-size: 1.5em;
  letter-spacing: 0.4px;
  line-height: 1em;  
}

h5{
  font-size: 1.2em;
  line-height: 1em;
}

.nav-bar{
  background-color: rgb(25, 33, 41);
  padding: 14px;
}

.nav-bar-ul{
  width: 1200px;
  margin: 0 auto
}

.nav-bar-ul-li{
  list-style-type: none;
  text-align: center;
}

.nav-bar a{
  color: white;
  text-decoration: none;
  font-size: 2em;
}

.header {
  background-image: url("https://s3-eu-west-1.amazonaws.com/ih-materials/uploads/ironhack-skydive-background.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;  
  height: 650px;
  padding-top: 50px;
}
.header h2{
  color: white;
  text-shadow: #020819 8px -20px 9px;
}

.container{
  width: 1200px;
  margin: 0 auto;
  padding: 75px 0;
}

.quote{
  font-size: 2.5em
}

.dark-background{
  background-color: rgb(25, 33, 41);
  color: white;  
}

.text{
  font-size: 2em;
  font-weight: 100;
  text-align: center;
  margin: 20px 0;
}

.link-btn{
  background-color: rgb(67, 163, 230);
  color: white;
  font-family: "Roboto Condensed";
  font-size: 2em;
  letter-spacing: 0.5px;
  text-align: center;
  text-decoration: none;
}

.service-box {
  font-size: 1.7em;
  text-align: center;
  border: 2px solid #eee;
  border-radius: 20px;
  box-shadow: 2px 2px 10px 0 #eee;
  margin: 50px 5% 0 5%;
  padding: 20px;
  width: 40%;
 
  
  
}

.service-box img {
  width: 125px;
}

#team {
  padding: 75px 0;
  margin: 0 auto;
}

#team p{
  width: 60%;
  margin: 10px auto;
}

#team .section-text {
  font-size: 1.9em;
  text-align: center;
}

#team .member-name {
  font-size: 1.5em;
  font-weight: 700;
}

#team img {
  width: 250px;
  height: 180px;
}

hr {
  margin: 20px auto 30px auto;
  width: 40%;
}

.schedule-table{
  margin: 0 auto 40px auto;
  font-size: 1.5em;
}

.schedule-table th, td{
  border: solid 1px black;
  padding: 5px 10px;
  text-align: center; 
}

.footer{
  font-size: 1.9em;
  color: white;
  text-align: center;
  padding: 40px 100px;
  margin-bottom: 25px;
}

.address{
  font-style: normal;
  font-size: 0.8em;
  margin-bottom: 30px;
}

.footer a{
  color: rgb(67, 163, 230);
  text-decoration: none
}

.footer ul{
  list-style: none;
  padding: 0;
}

.footer h5{
  margin: 0 auto;  
}
