@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: 'Poppins';
}

body > section {
    height: 600px;
    flex-direction: column;
}

a {
    color: black;
    text-decoration: none;
}
ul {
    list-style: none;
}

.header > section {
    border-bottom: 1px solid rgb(236, 234, 234);
    padding: 0px 20px;
    height: 50px;
}

.header-sec1 img {
    height: 15px;
    margin-right: 20px;
}

.header-nav-bar ul {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.header-sec2 {
    padding: 10px 20px !important;
}
.header-sec2 img {  /* npm logo */
    height: 20px;
    margin-right: 20px;
}
.search-form {
    width: 95%;
}
.search-field {
    width:100%;
    background-color:rgba(0,0,0,.05);
    border: 0px;
}
.search-field img { /* magnifying glass icon */
    height: 20px;
    padding-left: 20px;
}
.search-field input {
    width: 100%;
    height: 40px;
    border: 0px;
    background-color:rgba(0,0,0,.0);
    font-size: 1em;
}
.search-field button {
    height: 50px;
    background-color: rgb(251, 62, 68);
    color: white;
    border: 0px;
    margin: 0;
    width: 100px;
    font-size: 1em;
}
.header-sec2-links {
    width: 20%;
    gap: 20px;
}
.header-sec2-links div {
    width: 80px;
    height: 40px;
}
.join-link {
    border: 1px solid #000;
}

.section1 {
    background-color:rgba(232,217,217,.3);
}
.section1 h1 {
    font-size: 4.5em;
    text-align: center;
    margin: 0;
}
.section1 article {
    width: 400px;
    text-align: center;
    margin: 50px 0;
}
.section1 .sec1-links {
    gap: 30px;
}
.section1 .sec1-links div {
    height: 50px;
    width: 200px;
}
.sec1-link-plans {
    background-color: rgb(251, 62, 68);
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
}
.sec1-link-plans a {
    color: white;
    font-weight: bold;
}
.sec1-link-join {
    background-color: white;
}
.sec1-link-join a {
    font-weight: bold;
}
.section2 > div {
    text-align: center;
}
.section2 img {
    height: 200px;
}
.section2 > div > h2 {
    background-color: rgba(255,204,53,.4);
    transform: skew(9deg,0deg);
    font-style: italic;
    padding: 10px;
}
.section2 > article {
    width: 60%;
    text-align: center;
}

.section3 {
    justify-content: flex-start !important;
    align-items: center;
    width: 100%;
}
.section3 .boxes {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 80%;
    font-size: 14px;
}
.section3 .boxes > div {
    height: 300px;
    width: 20%;
}
.section3 .boxes > div img {
    height: 30px;
}
.section3 .boxes > div h5 {
    color:#ED1C24;
    font-weight: bold;
}
.section3 .btn > div {
    width: 300px;
    border: 1px solid #000;
    height: 50px;
    background-color: #000;
    box-shadow: 8px 8px 0 rgba(128,83,35,.2)
}
.section3 .btn a {
    color: white;
}

.flex-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}