@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

.header-divup{
    padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav{
    width: 700px;
    display: flex;
    flex-direction: row;
}

nav ul{
    list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a{
    text-decoration: none;
    color: black;
}

.blackHeart{
    width: 20px;
    margin-right: 1rem;
}

.header-divbot{
    padding: 0 25px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
  height: 64px;
}

.logo{
    width: 50px;
    margin-right: 25px;
}

.lupa{
    width: 20px;
    margin-right: 24px;
    background: transparent;
}

.search{
    width: 850px;
    background: transparent;
    border: none;
}

.search:focus{
    outline: none;
}

.search-input{
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 12px;
    width: 100%;
}

.button{
    border: 2px solid #fb3e44;
    background-color: #fb3e44;
    color: white;
    padding: 12px;
}

.header-divbot-div{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}

.ajoin{
    border: 0.5px solid black;
    width: 70px;
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 3px;
}

.alog{
    width: 70px;
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 3px;
}

#sec1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(232, 217, 217, 0.3);
    height: 600px;
}

.sec1-h1{
    font-size: 65px;
    margin-bottom: 80px;
}

article{
    width: 400px;
    text-align: center;
}

.sec1-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 600px;
}

.asee{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 60px;
    background-color: #fb3b49;
    box-shadow: 8px 8px 0 rgba(251, 59, 73, .2);
    color: white;
    text-decoration: none;
}

.afree{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 180px;
    height: 60px; 
    color: black;
    background-color: white;
    text-decoration: none;
}

#sec2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.hexagon{
    width: 200px;
}

.sec2-h2{
    font-size: 30px;
    background-color: rgba(255, 204, 53, .4);
    transform: skew(9deg, 0deg);
    font-style: italic;
    margin-bottom: 40px;
    margin-top: 40px;
}

.sec2-art{
    width: 700px;
}

#sec3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 600px;
}

.sec3-gdiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 1200px;
}

#sec3 div img{
    width: 30px;
}

.sec3-gdiv div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    width: 300px;
}

.sec3-gdiv div h4{
    color: red;
}

.sec3-a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin-top: 100px;
    height: 100px;
    color: white;
    background-color: black;
    box-shadow: 8px 8px 0 rgba(66, 51, 52, 0.2);
    text-decoration: none;
}





