@import url("https://fonts.googleapis.com/css?family=Poppins");

body {
  font-family: "Poppins";
}

header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

.blackHeart {
  width: 20px;
  margin-right: 1rem;
}

.npm-logo {
  margin-right: 1rem;
  width: 60px;
}

.search-form {
  width: 100%;
  margin: 5px auto 5px auto;
  font-size: 1.5em;
  text-align: left;
}

input {
  width: 80%;
  color: rgba(0, 0, 0, 0.05);
  padding: 10px;
  background-color: lightgray;
  border: 1px solid;
}

form button {
  padding: 10px;
  background-color: #fb3e44;
  color: white;
  border: 1px solid;
}

.join {
  border: 1px solid black;
  color: black;
  background-color: white;
}

.login {
  border: none;
  background-color: white;
  color: black;
}

/* SECTION 1 */

#calltoaction {
  display: flex;
  justify-content: center;
  background-color: rgba(232, 217, 217, 0.3);
  height: 600px;
  flex-direction: column;
}

h1 {
  text-align: center;
  font-size: 4rem;
  line-height: 1.25;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 10px;
  margin-top: 5px;
}

.build-text {
  text-align: center;
  line-height: 1.5;
  margin-right: 410px;
  margin-left: 410px;
}

ul {
  display: flex;
  justify-content: space-between;
  align-self: center;
  text-decoration: none;
  list-style: none;
}

#seeplans {
  background-color: #fb3b49;
  box-shadow: 8px 8px 0 rgba(251, 59, 73, 0.2);
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: white;
  text-decoration: none;
}

#joinfree {
  text-decoration: none;
  color: black;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* SECTION 2 */

#general-information {
  display: flex;
  justify-content: center;
  height: 600px;
  flex-direction: column;
}

.triangle-hexagon {
  width: 200px;
  padding-bottom: 20px;
  margin-left: 520px;
}

h3 {
  background-color: rgba(255, 204, 53, 0.4);
  margin-right: 200px;
  margin-left: 200px;
  display: flex;
  justify-content: center;
  transform: skew(9deg, 0deg);
  font-style: italic;
  font-size: 2rem;
}

.javascript-devs > p {
  margin-right: 270px;
  margin-left: 270px;
  display: flex;
  text-align: center;
}

/* SECTION 3 */

#service-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* width: 70%; */
}

.container {
  font-size: 1em;
  text-align: left;
  border: 4px solid #fb3b49;
  box-sizing: border-box;
  padding: 20px;
  width: 25%;
}

.container > img {
  width: 60px;
}

.create-org-button {
  display: flex;
  justify-content: center;
  padding: 40px;
}

.create-org-button > button {
  background-color: black;
  color: white;
  box-shadow: 8px 8px 0 rgba(128, 83, 35, 0.2);
  padding: 15px 70px;
  border: 1px solid black;
}
