@import url("https://fonts.googleapis.com/css?family=Poppins");

body {
  font-family: "Poppins";
}

header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

.blackHeart {
  width: 20px;
  margin-right: 1em;
}

.npmLogo {
  width: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.magnifyingGlass {
  width: 20px;
}

#header-form {
  width: 80%;
}

#header-form input {
  width: 90%;
  background-color: rgba(0, 0, 0, 0.05);
  border-style: hidden;
  line-height: 2em;
}

#header-form button {
  background-color: #fb3e44;
  color: white;
  border-style: hidden;
  line-height: 2em;
}

#header-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.05);
}

.join {
  border: 1px solid rgb(216, 211, 211);
  text-decoration: none;
  color: black;
  font-size: 0.9em;
  padding-left: 10px;
  padding-right: 10px;
}

.log-in {
  text-decoration: none;
  color: black;
  font-size: 0.9em;
}

#first-section {
  height: 600px;
  background-color: rgba(232, 217, 217, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 60px;
  font-weight: bold;
}

#first-section .button {
  background-color: #fb3b49;
  box-shadow: 8px 8px 0 rgba(251, 59, 73, 0.2);
  text-decoration: none;
  color: white;
  padding: 8px 40px;
  margin-right: 60px;
  line-height: 100px;
}

#first-section .joinforfree {
  text-decoration: none;
  color: black;
}

#first-section article {
  text-align: center;
}

#second-section {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-style: italic;
}

#second-section img {
  width: 220px;
  margin-bottom: 40px;
}

h2 {
  background-color: rgba(255, 204, 53, 0.4);
  transform: skew(9deg, 0deg);
  font-size: 28px;
  margin-bottom: 30px;
}

#second-section article {
  text-align: center;
  font-size: 0.8em;
}

#third-section {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#third-section .div-of-flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

#third-section .div-width {
  width: 20%;
  margin-left: 50px;
  margin-right: 50px;
}

#third-section img {
  width: 30px;
}

h5 {
  color: #ed1c24;
  font-size: 1.1em;
}

#third-section p {
  font-size: 0.9em;
}

#third-section .button {
  width: 250px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 0.8em;
  background-color: black;
  box-shadow: 8px 8px 0 rgba(128, 83, 35, 0.2);
  padding: 10px;
}
