@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: 'Poppins';
}

a {
    text-decoration: none;
}


header > div {
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
    nav {
        width: 600px;
    } 
  
    nav ul {
      list-style: none;
      display: flex;
        justify-content: space-between;
        align-items: center;
    }
  
    nav a {
        text-decoration: none;
        color: black;
    }
  
    .blackHeart {
        width: 20px;
        margin-right: 1rem;
    }


/* div search bar */

    .npm-logo {
        width: 80px;
        margin-right: 1rem;
    }

    .form-search-bar {
        display: flex;
        justify-content: center;
        align-items: center;
        padding : 0px 20px 0px 0px;
        flex: 1;
    }

    form input {
        flex: 1;
    }

    .form-search-bar img {
        width: 25px;
        background-color: rgba(0,0,0,.05);
        padding: 10px;
    }
  
    .search-bar {
        background-color: rgba(0,0,0,.05);
        border: none;
        padding: 15px;
    }

    .submit-btn {
        border: none;
        padding: 15px;
        background-color: #fb3e44;
        color: white;
        cursor: pointer;
    }

    .white-btn {
        color: black;
        padding: 5px 15px;
    }

    .btn-border {
        border: 1px solid darkgrey;
    }




/* first-section */

#first-section {
    height: 600px;
    background-color: rgba(232,217,217,.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    h1 {
    font-size: 50px;
    margin: 0px;
    }


    .container {
        width: 400px;
        text-align: center;
    }

    .container > p {
    width: 400px;
    text-align: center;
    padding: 10px
    }

    .link {
     padding: 20px 0;
    }

    .plans-btn {
        background-color: #FB3B49;
        color: white;
        box-shadow: 8px 8px 0 rgba(251,59,73,.2);
        padding: 10px 50px;
    } 

    .join-btn {
        color: black;
        padding: 10px 60px;
    }




/* second-section */

#second-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

#second-section img {
    width: 150px;
    margin: 10px 0;
}

    h2 {
        background-color: rgba(255,204,53,.4);
        font-style: italic;
        transform: skew(9deg,0deg);
        padding: 0 20px;
    }

    .other-container {
        width: 500px;
    }

    .other-container p {
        text-align: center;
        font-size: smaller;
    }






/* third-section */

#third-section {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
}

#third-section img {
    width: 30px;
}

    h3 {
        color: #ED1C24;    
    }

    .details-box {
        margin: 0 auto;
        width: 25%;
    }

    .link-org {
        background-color: black;
        color: white;
        box-shadow:  8px 8px 0 rgba(128,83,35,.2);
        padding: 15px 100px;
        margin: 50px;
    }

