@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }

  /* form label color: rgba(0,0,0,.05)
 */

.search-button {
  background-color: #fb3e44;
  color: white;
}

.input {
  color: rgba(0,0,0,.05);
}

  .npm-logo {
    width: 50px;
    margin-right: 1rem;
  }

.magnifying-glass {
  width: 50px;
}
