@import url('https://fonts.googleapis.com/css?family=Poppins');



body {
  font-family: 'Poppins';
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }
  div > form{
    padding-top: 10px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo{
    height: 24px;
    padding: 27px;
  }

  .lupa{
    height: 33px;
    background-color: #e0dede;
  }

  form > input{
    width: 900px;
    background-color: #e0dede;
    border: none;
    color: #a9a9a9;
    display: flex;
    justify-self: left;
    height: 33px;
    background: url(images/magnifying-glass.png) no-repeat 10px left;
    padding-left: 33px;
  }
  .search{
    background-color: #fb3e44;
    border: none;
    color: white;
    height: 45px;
    width: 70px;
    margin: 28px;
    font-weight: bold;
    box-shadow: 2px 2px 2px #fb3e44;
  }

  .form{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-bottom: 15px;
    box-shadow: 0px 2px 3px rgb(179, 178, 178);
  }
  .join{
    margin-top: 7px;
    border: none;
    box-shadow: 0px 0px 2px black;
    font-weight: bold;
    color: #919191;
    width: 60px;
  }
  .log{
    margin-top: 7px;
    border: none;
    font-weight: bold;
    color: #919191;
    width: 60px;
  }

  .section-1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 600px;
  }

  .section-1 > h1{
    font-size: 70px;
    font-weight: bold;
    color: black;
  }

  .section-1 > article{
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    font-weight: bold;
  }

  .section-1-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  .section-1-buttons > button{
    width: 240px;
    height: 60px;
    font-size: 20px;
  }

  .section-1-buttons > .log{
    color: black;
  }