@import url('https://fonts.googleapis.com/css?family=Poppins');

html, body {
  font-family: 'Poppins';
  margin: 0;
  padding:0;
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
nav {
    width: 600px;
  }
  
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
nav a {
    text-decoration: none;
    color: black;
    transition: color 2s;
  }

.blackHeart {
    width: 20px;
    margin-right: 1rem;
  }

.second-header {
    margin-top:7px;
    padding-bottom: 10px;
}

.search-bar {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    width: calc(70% - 10px);
}

.second-header > img {
    width: 80px;
}

.search-bar img {
    margin: 15px;
    width: 15px;
    height: 15px;
}

form {
    background-color:rgb(195,195,195,0.5);
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-items: center;
    width:100%;
}

.search-bar input {
    background: none;
    font-size: 16px;
    letter-spacing: 0px;
    border: none;
    height: 40px;
    font-family: "Fira Mono", "Andale Mono", "Consolas", monospace;
    width: 100%;
    border: none;
    padding-left: 10px;
    border-radius: 0;
}

.search-bar button {
    background-color: #FB3B49;
    color: white;
    border: none;
}

.login-button {
    border: none;
    background-color: white;
    height: 45px;
    width: 80px;
}

.join-button {
    background-color: white;
    height: 45px;
    width: 80px;
}

h1 {
    text-align: center;
    font-size: 5rem;
    font-weight: bolder;
}

.first-section {
    background-color:rgb(232,217,217,.3);
    height:600px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
}

.first-section article {
    width: 500px;
    text-align: center;
    margin: 0 auto 40px auto;
}

.buttons-div {
    text-align: center;
    height:75px;
}

.see-plans-button {
    background-color: #FB3B49;
    color: white;
    border: none;
    width: 150px;
    height:50px;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
    margin:10px;
    font-weight: 600;
    font-size: 1em;
}

.join-for-free-button {
    font-weight: 600;
    border: none;
    width: 150px;
    height:50px;
    background-color: rgb(232,217,217,.3);
    margin: 10px;
    font-size: 1em;
}

.second-section {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
}

.second-section img {
    height: 200px;
    width: 200px;
    align-self: center;
}

.second-section h2 {
    font-weight: 700;
    font-size: 24px;
    margin:20px 250px;
    background-color: rgba(255,204,53,.4);
    transform: skew(9deg,0deg);
    font-style: italic;
}

.second-section article {
    width:500px;
    margin: 20px auto 20px auto;
}

.third-section {
    margin:70px 70px 20px 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.small-svg svg {
    height : 30px;
    width: 30px;
}

.third-section h4 {
    color:#ED1C24;
    text-align: left;
}

.third-section article {
    text-align: left;
    padding:0 10px 0 0;
}

.container {
    height: 300px;
    width: 200px;
}

.org-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin : 20px auto 100px auto;
    text-align: center;
}

.org-button a {
    text-decoration: none;
    color: white;
    background-color: black;
    width: 400px;
    height:40px;
    padding-top: 20px;
    box-shadow: 8px 8px 0 rgba(128,83,35,.2);
}