@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
  margin: 0px;
}

nav {
  width: 600px;
  margin: 0px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

.blackHeart {
  width: 35px;
  margin-right: 1rem;
}

.search-logo-buttons {
  padding: 5px 0;
}

.npmlogo {
  width: 80px;
  height: 26px;
  margin-left: 8px;
}


.search-bar {
  flex-basis: 50%;
  border: 0;
  background-color: white;
  padding: 10px;

}

.search-icon {
  width: 18px;
  background-color: white;
  padding: 5px;
}

.search-button {
  font-size: 18px;
  color: white;
  background-color: #fb3b49;
  border: 0;
  padding: 10px;
}

.join-button {
  font-size: 18px;
  border: grey;
  padding: 9px 10px;
  border-radius: 1px;
} 

.log-in-button {
  font-size: 18px;
}

#first_section p {
  text-align: center;
}

#first_section {
  height: 300px;
  background-color: rgba(232, 217, 217, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainSection-Text {
  text-align: center;
}

.red-button {
  color: white;
  font-size: 14px;
  background-color: #fb3b49;
  box-shadow: 4px 4px 0 rgba(197, 70, 79, 0.2);
  padding: 10px 25px;
  align-items: center;
}

.join-free-button {
  color: black;
  font-size: 14px;
  align-items: center;
}

#second_section p {
  text-align: center;
}

#second_section {
height: 300px;
display: flex;
flex-direction: column;
align-items: center;
padding: 50px 80px 5px;
}

.triangle-hexagon {
width: 180px;
height: 180px;
align-items: center;
}

#second_section h2 {
  background-color: rgba(255, 204, 53, 0.4);
  margin: 5px;
  transform: skew(9deg, 0deg);
  font-style: italic;

}

#third_section div img {
  width: 50px;
  align-items: center;
}

#third_section div h3 {
color: #ed1c24;
align-items: center;
}

#third_section {
  width: 1200px;
  margin: 20px;
  padding: 50px 20px 10px;
  align-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}


.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
}

.div-button-org {
  text-align: center;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Create2button {
  background-color: black;
  color: white;
  height: 30px;
  box-shadow: rgba(128, 83, 35, 0.2);

}



