@import url('https://fonts.googleapis.com/css?family=Poppins');
body {
  font-family: 'Poppins';
}
header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}
/*arrumar comandos*/
/*
 form label color: rgba(0,0,0,.05) form input color: rgba(0,0,0,.05)*/

input {
  color: rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 0, 0.05);
  border: none;
  padding: 3px;
  margin-bottom: 2px;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

header div a {
  text-decoration: none;
  color: black;
}

.blackHeart {
  width: 20px;
  margin-right: 1rem;
}

.logo {
  width: 40px;
  margin-right: 1rem;
}

.magnifying-glass {
  width: 10px;
  margin-right: 1rem;
}

#button-search {
  background-color: #fb3e44;
  color: white;
  border-color: #fb3e44;
  text-decoration: none;
}

#link-btn {
}
/* --- section 1 --- */

.button-see {
  background-color: red;
  color: white;
  text-decoration: none;
  padding: 5px 15px;
}
.button-join {
  color: black;
  background-color: antiquewhite;
  text-decoration: none;
  padding: 5px 15px;
}
.article1 {
  /**/
  text-align: center;
  width: 60%;
}
.section1-flex {
  background-color: rgba(232, 217, 217, 0.3);
  height: 400px;
  margin-top: 100;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

/* --- section 2 --- */
.triangle-hexagon-logo {
  width: 8%;
}
.section-h2-align {
  height: 350px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
.text-center {
  text-align: center;
  width: 50%;
}
/* --- section 3 --- */
p {
  text-align: left;
  width: 200px;
  margin: 10px;
  font-size: 0.5em;
}

.img-3thrd-sec {
  width: 30px;
  /* pq nao pode ser % ? */
}

.div-section3-align {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.button-create {
  color: white;
  background-color: black;
  text-decoration: none;
  padding: 5px 40px;
  font-size: 0.5em;
}
.section3-flex {
  height: 300px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
