@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  font-size: 16px;
}

body {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  padding: 0 2.3rem;
}

header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

.black-heart {
  width: 20px;
  margin-right: 1rem;
}

img[alt='npm logo'] {
  width: 70px;
  padding: 0;
  margin-right: 1rem;
}

.search-bar {
  padding: 0;
  background-color: rgb(242, 242, 242);
  display: flex;
  flex-grow: 1;
  margin: 0.7rem 1rem;
  margin-right: 2rem;
}

input[name='search-packages'] {
  background: none;
  padding-left: 0.6rem;
  height: 2.5rem;
  width: calc(100% - 0.6rem);
  border: none;
  margin: 0.3rem;
  margin-left: 0;
}

img[alt='magnifying glass'] {
  width: 1.2rem;
  height: 1.2rem;
  margin: 1rem 0.25rem 0.75rem 1.3rem;
}

.search-button {
  border: none;
  color: rgb(255, 255, 255);
  background-color: rgb(251, 62, 68);
  font-weight: 700;
  padding: 0.5rem 2rem;
}

.join-button {
  padding: 0.4rem 1.75rem;
  border: 1px solid rgb(204, 204, 204);
  margin-right: 1rem;
  color: #000;
  text-decoration: none;
}

.login-button {
  text-decoration: none;
  color: #000;
}

section {
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.one {
  background-color: rgba(232, 217, 217, .3);
}

.one > h1 {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 5rem;
  font-weight: 900;
}

.one > article {
  width: 36%;
  margin-bottom: 4rem;
}

.one p {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
}

.one a {
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
  padding: 1rem 4rem;
  margin: 2rem 1rem;
}

.see-plans {
  background-color: #FB3B49;
  color: #fff;
  box-shadow: 8px 8px 0 rgba(251, 59, 73, .2);
}

.join {
  color: #000;
  background-color: #fff;
}

img[alt='translucent cube'] {
  width: 16.5rem;
  margin-bottom: 3rem;
}

.two h2 {
  font-size: 2.2rem;
  font-weight: 700;
  background-color: rgba(255, 204, 53, .4);
  transform: skew(9deg, 0deg);
  font-style: italic;
  padding: 0 4rem;
  padding-top: 0.5rem;
  line-height: 1.9rem;
}

.two article {
  width: 54%;
  text-align: center;
}

.three img {
  width: 2rem;
}

.perks {
  display: flex;
}

.perks h3 {
  color: #ED1C24;
  font-weight: 600;
  margin-top: 0.3rem;
}

.perks > div {
  padding: 0.2rem 1.8rem;
}

.three {
  padding: 0 6rem;
  height: 400px;
}

.three a {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 800;
  color: #fff;
  background-color: #000;
  box-shadow: 8px 8px 0 rgba(128, 83, 35, .2);
  padding: 1rem 9rem;
  margin-top: 4rem;
}