@import url("https://fonts.googleapis.com/css?family=Poppins");

* {
  margin: 0;
  padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}
body {
  font-family: "Poppins";
}

header {
  height: 200px;
}

header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
  height: 80px;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

.blackheart {
  width: 20px;
  margin-right: 1rem;
}

.logo {
  width: 60px;
}

.magglass {
  width: 20px;
  background-image: url(images/magnifying-glass.png);
  background-image: url();
  background-color: rgba(0,0,0,.05);
}

.search {
  padding: 10px;
  margin: 20px;
}

.searchfield {
  width: 600px;
  height: 1.5rem;
  background-color: rgba(0,0,0,.05);
}

#searchbutton{
  color: white;
  background-color: #FB3B49;
  padding: 5px 20px; 
  height: 2rem;
}

.lower {
  display: flex;
  align-items: center;
}
    
#join {
  height: 600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgba(232, 217, 217, 0.3);
}

#join h1{
    font-size: 48px;
    font-weight: 800;
}

#join a{
    padding: 15px 80px 15px 80px;
    margin: 40px;
}

#plan {
  background-color: #FB3B49;
  text-decoration: none;
  box-sizing: border-box;
  box-shadow: 8px 8px 0 rgba(251,59,73,.2);
  color: white;
}

#joinfree{
    background-color: white;
    color: black;
    box-sizing: border-box;
    font-weight: bold;
}

#join div{
    margin: 20px;
    padding: 15px;
    text-align: center;
}

#info{
    margin: 50px 25px 50px 25px;
    padding: 25px;
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    text-align: center;
}
#info img{
    height: 200px;
    padding: 30px;
}

#info h1{
    background-color: rgba(255,204,53,.4);
    transform: skew(9deg,0deg);
    font-style: italic;
}

#features{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    text-align: center;
}

#features h3{
  color:  #ED1C24;
}

#features > div img{
    height: 30px;
}

#features > div > div{
  display: flex;
  flex-direction: column;
}

.org{
  background-color:black;
  color: white;
  padding: 8px;
  height: 30px; 
  box-shadow: 8px 8px 0 rgba(128,83,35,.2);
}

