@import url("https://fonts.googleapis.com/css?family=Poppins");

body {
	font-family: "Poppins";
}

header > div {
	padding: 0 25px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid lightgray;
}

nav {
	width: 600px;
}

nav ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav a {
	text-decoration: none;
	color: black;
}

.black-heart {
	width: 20px;
	margin-right: 1rem;
}

.npm-logo {
	width: 60px;
}

#search-bar {
	color: rgba(0, 0, 0, 0.05);
	width: 800px;
	height: 40px;
}

form > button {
	background-color: #fb3e44;
	color: white;
	border-color: 0.5px grey;
	height: 40px;
	width: 80px;
}

form > img {
	width: 15px;
	background-color: rgba(0, 0, 0, 0.05);
}

.header-button a {
	text-decoration: none;
	margin: 10px;
	color: black;
}

#search-bar {
	background-color: rgba(0, 0, 0, 0.05);
	width: 400px;
	border: none;
}

#first-section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 600px;
	background-color: rgba(232, 217, 217, 0.3);
}

#first-section h3 {
	font-size: 80px;
}

#first-section article {
	font-size: 25px;
	width: 600px;
	display: flex;
	text-align: center;
	padding-bottom: 60px;
}

#first-section div {
	display: flex;
	justify-content: space-between;
	font-size: 20px;
}

.button {
	margin: 40px 80px 40px 80px;
	padding: 20px 80px 20px 80px;
	color: black;
	text-decoration: none;
}

#button-plans {
	background-color: #fb3b49;
	box-shadow: 8px 8px 0 rgba(251, 59, 73, 0.2);
	color: white;
}

#second-section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 600px;
	background-color: rgba(232, 217, 217, 0.3);
}

#second-section img {
	width: 230px;
	height: 230px;
}

#second-section h3 {
	background-color: rgba(255, 204, 53, 0.4);
	transform: skew(9deg, 0deg);
	font-style: italic;
	padding: 0 30px 0 30px;
	font-size: 30px;
}

#second-section article {
	width: 600px;
	font-size: 15px;
	text-align: center;
}

#section-three > div {
	display: flex;
	flex-wrap: wrap;
	margin: 50px 5% 0 5%;
	padding: 20px;
	width: 30%;
	box-sizing: border-box;
	border-radius: 20px;
	height: 100px;
}

#section-three img {
	width: 20px;
	height: 20px;
}

#section-three {
	width: auto;
	height: 450px;
	align-content: space-around;
	display: flex;
	margin-bottom: 30px;
}

#section-three h1 {
	color: #ed1c24;
	font-size: 18px;
}

#create {
	text-align: center;
}

#create a {
	text-decoration: none;
	box-shadow: 8px 8px 0 rgba(128, 83, 35, 0.2);
	background-color: black;
	text-align: center;
	padding: 10px 120px 10px 120px;
	color: white;
}

#join {
	border-width: 0.5px;
	border-style: solid;
	border-color: lightgray;
	text-decoration: none;
	padding: 3px 10px 3px 10px;
}
