@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

html, body {
    margin: 0;
    padding: 0;
  }

body {
    font-family: 'Poppins';
  }


  h1, h2, h3 {
    font-family: 'Poppins';
  }

  h1 {
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
  }

  h2 {
    font-size: 35px;
    text-align: center;
  }

  h3 {
    font-size: 1em;
    text-align: center;
    line-height: 1em;
  }


  header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }
  
#search-bar {
padding: 3px;
justify-content: space-between;
}

 .logo {
width: 50px;
margin-right: 1rem;
padding: 0;
}


.searchIcon {
height: 20px;
padding: 0;
margin: 0;
flex-direction: end;
justify-content: left;
}

#search-form {
color: rgba(240, 38, 38, 0.05);
display: flex;
flex-wrap: nowrap;
width: 80%;
margin: 0;
padding: 0;
height: 26px;
}


#search-bar-form {
background : white;
color: rgb(246, 243, 243);
font-size: 10px;
justify-content: space-evenly;
}

.searchButton {
  background : #fb3e44;
  border: none;
  color: white;
  padding: 8px;
  font-size: 10px;
  }
  
  #search-form input {
  color: white;
  margin: 0 auto;
  height: 22px;
  padding: 0px 25px;
  border-right:0px;
  }
  
  #search-form label {
   background-color: rgba(0,0,0,.05);
  justify-content: space-between;
  }
  
  
  
  #join-button a {
  text-decoration: none;
  color: black;
  text-size-adjust: 18px;
  }
  
  #joinButton-border {
   border-color: black;
   border-width: 1px;
   border-style: solid;
  margin: 0px 3px;
  padding: 0px 3px;
  }
  
  
  #general-infromation {
    height: 400px;
    background-color: rgba(232,217,217,.3);
    text-align: center;
    display: center;
  }

  #general-information p {
    padding: 20px 20px 20px 20px;
  }

#promoting {
  height: 600px;
  background-color: white;
  text-align: center;
  display: center;
}

#promoting p {
padding: 10px 10px 10px 10px;
font-size: 15px;
}



.hexagon {
  width: 200px;
  padding: 20px 20px 20px 20px;
  align-items: center;
}

#section3 {
  height: 600px;
  background-color: white; 
  display: flex;
  flex-direction: column;
  padding: 10px 10px 10px 10px;

}

#section3 p {
  flex-direction: row;
  padding: 10px 10px 10px 10px;
}


#section3 img {
  width: 20px;
  padding: 20px 20px 20px 20px;  
}

#section3 h3{
  color: #ED1C24;
}

