/*
UTILITIES

Buttons:
Sizes, colors and Styles

Colors:
*/
.primary {
	background-color: #fb3b49;
	color: white;
}

.secondary {
	background-color: black;
	color: white;
}

.light {
	background-color: white;
	color: black;
}

/*Styles*/
.inline {
	border: 1px solid #cccccc;
}

.shadow-p {
	box-shadow: 5px 5px 0px 0px rgba(251, 59, 73, 0.5);
}

.shadow-s {
	box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.5);
}

/*Sizes:*/
.m {
	font-weight: 700;
	font-size: 16px;
	padding: 16px 32px;
	text-align: center;
}

.s {
	padding: 13px 28px;
	font-size: 14px;
	text-align: center;
}

/*
Spacing:

margin left
*/
.ml-xl {
	margin-left: 64px;
}

.ml-l {
	margin-left: 32px;
}

.ml-m {
	margin-left: 16px;
}

.ml-s {
	margin-left: 8px;
}

/*margin right*/
.mr-xl {
	margin-right: 64px;
}

.mr-l {
	margin-right: 32px;
}

.mr-m {
	margin-right: 16px;
}

.mr-s {
	margin-right: 8px;
}

/*margin-top*/
.mt-xl {
	margin-top: 64px;
}

.mt-l {
	margin-top: 32px;
}

.mt-m {
	margin-top: 16px;
}

.mt-s {
	margin-top: 8px;
}

/*margin-bot*/
.mb-xl {
	margin-bottom: 64px;
}

.mb-l {
	margin-bottom: 32px;
}

.mb-m {
	margin-bottom: 16px;
}

.mb-s {
	margin-bottom: 8px;
}

/*
width:
*/

.w-100 {
	width: 100%;
}

.w-50 {
	width: 50%;
}

.w-25 {
	width: 25%;
}


/*
Utilities End
*/