@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

html,
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Roboto Condensed;
  font-size: 10px;
  line-height: 3.5em;
  font-weight: 300;
}
.header {
  height: 650px;
  padding: 50px 0px 0px;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: Roboto Condensed;
}
h1{
  font-size: 9em;
  text-align: center;
  text-transform: uppercase;
}
h2{
  font-size: 5em;
  text-align: center;
  text-transform: uppercase;
  line-height: 4em;
  color: white;
  text-shadow: #020819 8px -20px 9px

}
h3{
  font-size: 4.2em;
  text-align: center;
  line-height: 1em;
}
h4{
  font-size: 1.5em;
  letter-spacing: 0.4px;
  line-height: 1em
}
h5{
  font-size: 1.2em;
  line-height: 1em;
  margin: 0px
}
.nav-bar{
  background-color: rgb(25, 33, 41);
  padding: 14px 0px 14px 0px;
}
.nav-bar a {
  color: rgb(255,255,255);
  text-decoration: none;
  font-size: 2em
}
.nav-bar{
  width: 1600px;
  margin: 0 auto;
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}
.head-background{
  background-image: url("https://s3-eu-west-1.amazonaws.com/ih-materials/uploads/ironhack-skydive-background.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.quote-header {
  font-size: 2.5em;
  position: absolute;
  left: 10%;
    }
#general-information{
  display: flex;
  justify-content: space-evenly
}
.dark-background{
  background-color: rgb(25, 33, 41);
  color: white
}
.text {
  font-size: 2em;
  font-weight: 100;
  text-align: center;
  margin: 20px 0
}
.link-btn a{
  background-color: rgb(67, 163, 230);
  color: white;
  font-family: Roboto Condensed;
  font-size: 2em;
  letter-spacing: 0.5px;
  text-align: center;
  text-decoration: none;
  padding: 10px 30px

}
.service-box {
  font-size: 1..7em;
  text-align: center;
  border: 2px solid #eee;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px 0 #eee;
  margin: 5px 5% 0 5%;
  padding: 20px;
  width: 40%
}
.service-box img {
  width: 125px
}
#structure > div{
  display:flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap
}
#team .section-text{
  font-size: 1.9em;
  text-align: center
}
#team .member-name{
  font-size: 1.5em;
  font-weight: 700;
}
#team img{
  width: 250px;
  height: 180px
}
#team {
  padding: 75px 0;
  margin: 0 auto
}
#team div{
display: flex;
justify-content: space-evenly;
}
#team p{
  margin: 20px auto 30px auto;
  width: 40%
}
#team article{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}
.slot-form{
  width: 40%;
  margin: 18px auto 0 auto;
  font-size: 1.5em;
  text-align: center

}
.slot-form label{
  line-height: 15px;
  margin: 5pc
}
.slot-form input, select{
  height: 20px;
  outline: none;
  padding: 2px;
  width: 100%
}
.slot-form-container{
  border: 1px solid #000000;
  color: black;
  background-color: white;
  padding: 9px;
  margin: 15px


}
.footer{
  font-size: 1.9em;
  text-align: center;
  padding: 40px 100px;
  margin: 0px 0px 25px 0px;
 display: flex;
 justify-content: space-between;
 align-items: center;

}
.address{
  font-style: normal;
  font-size: 0.8em;
  margin: 0px 0px 30px 0px

}
.footer a {
  color: blue;
  text-decoration: none
}
.footer ul{
  list-style: none;
  padding: 0
}
.container{
  display:flex;
  width: 1200px;
  margin: 0 auto;
  padding: 75px 0px;
  flex-direction: column;
  align-items: center;
}
.schedule.table th, td{
  margin: 0 auto 40px auto;
  font-size: 1.5em;
  border-bottom: 1px solid;
  border-color: black;
  padding: 5px 10px;
  text-align: center
}
.map-frame{
  height: 375px;
  width: 60%
} 