@import url('https://fonts.googleapis.com/css?family=Poppins');

/* RESET CSS */ 

body {
  font-family: 'Poppins';
  margin: 0;
  padding: 0;
}

/* HEADER */

.nav-bar {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}  
nav {
    width: 600px;
}  
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}  
nav a {
    text-decoration: none;
    color: black;
}  
.blackHeart {
    width: 20px;
    margin-right: 1rem;
}
.logo img {
    width: auto;
    height: 40px;
    padding: 25px 10px 10px 10px;
    margin: 0 25px 0 25px;
}
.search-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
} 
.search-bar input.field {
    background-color: rgb(236, 236, 236);
    height: 40px;
    width: 1105px;
    border: none;
    padding: 0 0 0 20px;
}
.search-bar input.search {
    background-color: #fb3e44;
    height: 40px;
    width: 80px;
    border: none;
    color: white;
    margin-right: 80px;
}
.search-bar a {
    text-decoration: none;
    color: grey;
    width: 60px;
    height: 30px;
    margin: 10px;
    text-align: center;
}

/* SECTION 1 */

#heading {
    height: 600px;
    background-color: rgba(232,217,217,.3);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
}
#heading h1 {
    font-size: 4.5em;
    text-align: center;
}
#heading p {
    padding: 0 600px 0 600px;
    margin-bottom: 80px;
}
.join-us {
    margin: 20px;
    padding: 0 480px 0 480px;
    width: auto;
    display: flex;
    justify-content: space-between;
    
}
/* I HAVE SOME ISSUES WITH MY BUTTONS HEIGHT & WIDTH I REALLY DON'T KNOW WHY... */
.join-us a {
    text-decoration: none;
    height: auto;
    font-size: 1.5em;
}
.see-plans {
    background-color: #FB3B49;
    color: white;
}
.join-free {
    color: rgb(0, 0, 0);
    background-color: white;
    height: 60px;
}

/* SECTION 2 */

#best-of {
    height: 560px;
    background-color:white; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    margin: 60px 60px 0 60px;
}
#best-of .weird-form img {
    height: 200px;
    width: auto;
    justify-content: center;
}
#best-of h2 {
    font-size: 2em;
    background-color: rgba(255,204,53,.4);
    transform: skew(9deg,0deg);
    margin: 60px 480px 20px 480px;
    font-style: italic;
}
#best-of p {
    padding: 0 480px 0 480px;
    margin-bottom: 80px;
}

/* SECTION 3 */

#create-org div {
    height: auto;
    /* background-color: rgba(232,217,217,.3); */
    display: flex;
    justify-content: space-evenly;
    padding: 80px;
}
#create-org div .container {
    flex-direction: column;
    align-items: center;
    width: 260px;
}
#create-org img {
    width: 30px;
    height: auto;
}
#create-org h3 {
    margin : 5px 0 5px 0;
    color: #ED1C24;
}
#create-org {
    background-color: rgba(232,217,217,.3); 
    height: 550px; 
}
#create-org a {
    display: flex;
    justify-content: space-around;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: rgb(0, 0, 0);
    padding-top: 20px;
    height: 50px;
    width: 460px;
    font-size: 1.3em;
    margin: auto;
}
