@import url('https://fonts.googleapis.com/css?family=Poppins');


body {
  font-family: 'Poppins';
}

header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

.blackHeart {
  width: 20px;
  margin-right: 1rem;
}

.images-forms{
  display:flex;
  justify-content:flex-start;
}

.images-forms #npm{
  width:40px; 
  margin-right:20px;
}

.images-forms  #mag-glass{
  width:20px;
  background-color:rgba(211,211,211,0.3); 
  padding:2.7px;
}

.images-forms #search-pack{
  border:none;
  background-color:rgba(211,211,211,0.3); 
  width:1300px;
  margin-left:0.01px;
  margin-right:20px;
  padding:5px;
}

.images-forms #Search{
  border:none;
  margin:10px 10px 10px -20px;
  padding:10px 12px;
  color:white;
  background-color:#FB3B49;
}

.logo-forms #Join {
  border:1px solid rgba(25,25,112,0.6);
  padding:2px 10px;
  text-decoration:none;
  color:rgb(25,25,112);
  margin-right:6px;
  margin-left:5px;
 
}

.logo-forms #Log-in{
  color:rgb(25,25,112);
  text-decoration:none;
}

.section-one{
  display:flex;
  justify-content:center;
  align-content:flex-end;
  flex-direction:column;
  height:600px;
  background-color:rgba(255,192,203,0.2);
}

.section-one #headline-one{
  font-size:64px;
  text-align:center;
}

.section-one > article{
  align-self:center;
  width:420px;
  text-align:center;
  justify-content:center;
  margin-bottom:30px;
 }

.section-one > nav{
  justify-content:flex-end;
  flex-direction:column;
  align-items:center;
  margin:auto;
  margin-top:30px;
  text-align:center;
  
}

 #see-plans {
  align-self:flex-end;
  padding:10px 20px;
  color:white;
  background-color:#FB3B49;
  box-shadow:8px 8px 0 rgba(251,59,73,.2);
  
}
  
 #join-for-free{
   align-self:flex-end;
  margin-left:10px;
  padding:10px 12px;
}
  
.section-two{
  display:flex;
  height:600px;
  justify-content:center;
  flex-direction:column;
  align-items:flex-start;
}
.section-two > heading{
  font-size:30px;
  background-color:rgba(255,204,53,.4);
  text-transform: skew(9deg,0deg);
  align-self:center;
}  

#npm-article-sectiontwo{
  align-self:center;
  text-align:center;
  width:800px;
  margin-top:10px;
}


#triangle-hexagon{
width:150px;
margin:35px 50px;
align-self:center;

}

.section-three{
  display:flex;
  justify-content:space-between;
  flex-direction:column;
  align-items:flex-start;
}
.section-three > div{
  display:flex;
  align-items:baseline;
  flex-direction:row;
}

.headings-section-three{
  font-size:12px;
  color:#FB3B49;
  margin:10px;
  
}

.articles-section-three{
  display:flex;
  margin:30px;
  
}

#zero-pic-configuration{
  margin-left:10px;
  width:25px;
}

#team-pic-management{
  margin-left:10px;
  width:25px;
}

#familiar-pic-features{
  margin-left:10px;
  width:25px;
}

#npm-pic-audit{
  margin-left:10px;
  width:25px;
}

.section-three #create-an-org{
  display:flex;
  text-decoration:none;
  align-items:center;
  justify-content:center;
  background-color:black;
  color:white;
  width:200px;
  padding:10px 30px;
  margin:auto;
}