@import url('https://fonts.googleapis.com/css?family=Poppins:400,800&display=swap');

body {
  font-family: 'Poppins';
}
header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }
  .logoNpm {
      width: 80px;
  }
  form {
      margin: 1em;
  }
  form > input {
    padding: 0.75em;
    width: 50em;
    background-color: rgba(0,0,0,.05);
    border: 1px solid gainsboro;
    font-size: 15px;letter-spacing: 0.25em;
 }
  form > label {
    color: rgba(0,0,0,.05);
    width: 20px;
  }
  form > button {
    background-color: #fb3e44;
    color: white;
    padding: 0.7em;
    border: #fb3e44;
    font-size: 15px;
    letter-spacing: 0.50;
    font-family: "Poppins";
    margin-left: -13px;
  }
  .join, .login{
      text-decoration: none;
      color: black;
  }
   .join {
    border: 1px solid black;
    background-color: white;
    padding: 0.5em;
    width: 3em;
    text-align: center;
  }
    .build {
        text-align: center;
        height: 600px;
        background-color: rgba(232,217,217,.3);
    }
    .build > h1 {
    font-size: 4em;
    font: weight 800;
    }
    .build > p {
    margin: 0 auto;
    width: 32em;
    font-size: 1.2em;
    letter-spacing: 0.1em;
    }
    #buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 32em;
        margin: 0 auto;
    }
    .see {
        font-size: 1em;
        background-color: #FB3B49;
        box-shadow: 8px 8px 0 rgba(251,59,73,.2);
        font-family: "Poppins";
        border: 1px solid #FB3B49;
        color: white;
        width: 7em;
        padding: 1em;
    }
    .join {
        width: 7em;
        border: 0px;
    }