@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

.logo {
  height: 20px;
  width: 60px;
}

#image {
  height: 24px;
  width: 16px;
}

input[type=text] {
  width: 1300px;
  padding: 8px 8px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: rgba(0,0,0,.05);
}

#search button {
  padding: 8px 8px;
  margin: 8px 0;
  background-color: #fb3e44;
  color: white;
  border: 1px solid #ccc;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

.blackHeart {
  width: 20px;
  margin-right: 1rem;
}

.header button {
  padding: 8px 8px;
  margin: 8px 0;
  border: 1px solid #ccc;
  width: 60px;
}

/* Section1 */

#landing-page {
  display: flex;
  flex-direction: column;
  height: 600px;
  background-color: rgba(232,217,217,.3);
  justify-content: center;
  /* text-align: center; */
  align-items: center;
}

#landing-page h1{
  font-size: 60px;
}

#landing-page p {
  width: 400px;
  text-align: center;
}

#landing-page button{
  width: 200px;;
}

#plans {
  padding: 8px 8px;
  margin: 8px 0;
  border: 1px solid #ccc;
  background-color: #FB3B49 ;
  box-shadow: 8px 8px 0 rgba(251,59,73,.2);
  color: white;
}

#join {
  padding: 8px 8px;
  margin: 8px 0;
  border: 1px solid #ccc;
}

#explanation {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 150px;
  height: 600px;
  justify-content: center;
  align-items: center;
}

#explanation img {
  width: 400px;
  height: 400px;
}

#explanation h1 {
  background-color: rgba(255,204,53,.4);
  font-size: 25px;
  transform: skew(9deg,0deg);
  font-style: italic;
}

#explanation p {
  width: 550px;
  text-align: center;
  font-size: 12px;
}

#skills  {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#boxen {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 1200px;
}

.abilities img {
  width: 40px;
  height: 60px;
  margin-top: 0 ;
}

.abilities {
  height: 300px;
  width: 250px;
}

.abilities h2 {
  color: #ED1C24;
}

#action {
  padding: 10px 10px;
  margin: 20px 0;
  background-color: black;
  box-shadow: 8px 8px 0 rgba(128,83,35,.2);
  color: white;
  border: 1px solid;
  width: 260px;
}