@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;700&display=swap');

body {
  font-family: 'Poppins';
  /* margin: 0 2%; */
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }

  .npmLogo {
      width: 60px;
  }

  .searchBar {
    background-color: rgba(0,0,0,.05);
    display: flex;
    justify-content: flex-end;
  }
  .searchBar ::placeholder {
    /* color: rgba(0,0,0,.05); */
    color: black;
  }

  .searchInput {
    border: 0;
    background-color: rgba(0,0,0,.05);
    width: 1200px;
  }
  .subButton {
    background-color: #fb3e44;
    color: rgba(255, 255, 255, 0.8);
    border: none;
    padding: 8px 10px;
    letter-spacing: 1px;
  }
  .poppins {
    font-family: 'Poppins';
  }

  .access {
    display: flex;
    justify-content: space-between;
  }


  .join {
    background-color: white;
    color: black;
    border: 1px solid;
  }
  .logIn {
    background-color: white;
    color: black;
    border: 0;
  }

  .build {
      font-size: 6em;
      font-weight: 700;
      margin: 0;
  }

  .planText {
    font-size: 1.2em;
    width: 30%;
    text-align: center;
    margin-bottom: 40px;

  }

  #seePlans p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }

  #seePlans {
      height: 600px;
      background-color: rgba(232, 217, 217, .3);
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
  }

  .seePlansButton {
      background-color: #FB3B49;
      color: white;
      box-shadow: 8px 8px 0 rgba(251, 59, 73, .2);
      padding: 15px 60px;
      margin-right: 20px;
      border: none;
      font-weight: bold;
      letter-spacing: 1px;
  }

  .joinButton {
      margin-left: 20px;
      background-color: white;
      color: black;
      padding: 15px 60px;
      border: none;
      font-family: Poppins;
      font-weight: 700;
  }

  #filler {
    height: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  #filler > .bring {
    background-color: rgba(255, 204, 53, .4);
    transform: skew(9deg, 0deg);
    font-style: italic;
    font-size: 2em;
  }

  .triangleHexagon {
      width: 250px;
      margin-bottom: 40px;
  }

  .fillerText {
    text-align: center;
    width: 40%;
    margin-bottom: 60px;
  }


#featuresList {
    margin-left: 40px;
    margin-right: 40px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

/* #featuresList div {
  width: 25%;
} */

#featuresList .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  margin-bottom: 300px;
}

.container text {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 25%;
    align-items: center;
}

  #featuresList h3 {
      color: #ED1C24;
      display: flex;
      align-items: center;
      flex-direction: column;
  }

  #featuresList img {
      width: 35px;
      display: flex;
      flex-direction: column;
  }

#featuresList .createOrg {
    box-shadow: 8px, 8px, 0, rgba(128, 83, 25, .20);
    color: white;
    background-color: black;
    border: 0;
    display: flex;
    align-self: flex-end;
    align-items: center;
  }