@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap");
* {
  box-sizing: border-box;
}
body {
  font-family: "Poppins";
  font-weight: 400;
  max-width: 100vw;
}

a:hover {
  opacity: 0.6;
}

header {
  box-shadow: 1px 1px 10px 1px rgba(127, 127, 127, 0.5);
  & > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  nav {
    width: 600px;
    ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    a {
      text-decoration: none;
      color: black;
      font-weight: 600;
    }
  }
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }
  #searchBar {
    padding: 10px 25px;
    display: flex;
    flex-flow: row nowrap;
    .searchBarLogo {
      width: 10%;
      max-width: 70px;
      display: flex;
      justify-content: center;
      flex-grow: 0;
      img {
        width: 100%;
        height: auto;
      }
    }
    .searchField {
      display: flex;
      flex-flow: row nowrap;
      width: 80%;
      padding: 0 20px;
      .searchFieldInput {
        background-color: rgba(0, 0, 0, 0.05);
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        .magnifyingGlass {
          height: 18px;
          width: 18px;
          margin-left: 0.5rem;
        }
        input {
          border: none;
          background-color: transparent;
          width: 100%;
          padding: 0 10px;
          margin: 0 10px;
        }
      }
      .searchFieldButton {
        border: none;
        margin: 0;
        padding: 0.5rem 2rem;
        width: auto;
        overflow: visible;
        background: #fb3e44;
        color: #fff;
        font: inherit;
        line-height: normal;
      }
    }
    .searchBarLinks {
      width: 10%;
      flex-grow: 0;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: flex-end;
      a {
        text-decoration: none;
        color: #919191;
        padding: 0.5rem 1rem;
        white-space: nowrap;
        font-weight: 600;
        &:first-of-type {
          border: 2px solid #b8b8b8;
        }
        &:last-of-type {
          padding-right: 0;
        }
      }
    }
  }
}
.container {
  flex-flow: column nowrap;
  align-items: center;
  padding: 4rem 4rem 2rem;
  & h1,
  & h2,
  & article {
    text-align: center;
  }
}
#introduction {
  background-color: rgba(232, 217, 217, 0.3);
  display: flex;
  height: 600px;
  h1 {
    font-size: 5rem;
    font-weight: 600;
  }
  article {
    max-width: 550px;
    line-height: 1.4;
    padding-bottom: 50px;
    font-size: 1.2em;
  }
  .introductionButtons {
    a {
      display: inline-block;
      text-decoration: none;
      padding: 1rem 2rem;
      white-space: nowrap;
      font-weight: 600;
      margin: 0 20px;
      width: 180px;
      text-align: center;
      &:first-of-type {
        background-color: #fb3b49;
        color: #fff;
        box-shadow: 8px 8px 0 rgba(251, 59, 73, 0.2);
      }
      &:last-of-type {
        background-color: #fff;
        color: #000;
      }
    }
  }
}
#quote {
  img {
    height: 200px;
    width: auto;
    margin: 0 auto 50px;
    display: block;
  }
  .textSkew {
    background-color: rgba(255, 204, 53, 0.4);
    transform: skew(9deg, 0deg);
    max-width: 850px;
    margin: 0 auto;
  }
  h2 {
    font-size: 2rem;
    transform: skew(-9deg, 0deg);
    padding: 0 20px;
    font-weight: 600;
  }
  article {
    max-width: 800px;
    line-height: 1.4;
    padding-bottom: 50px;
    margin: 0 auto;
  }
}
#benefits {
  .infoWrap {
    display: flex;
    flex-flow: row;
    margin: 0 4rem;
    img {
      width: 50px;
      height: 50px;
      object-fit: contain;
    }
    h3 {
      color: #ed1c24;
    }
    .infoBox {
      width: 25%;
      margin: 0 30px;
    }
  }
  .orgBtn {
    box-shadow: 8px 8px 0px rgba(128, 83, 35, 0.2);
    background-color: #000;
    border: 2px solid #000;
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    display: block;
    text-align: center;
    &:hover {
      background-color: #fff;
      a {
        color: #000;
      }
    }
    a {
      color: #fff;
      text-decoration: none;
      font-weight: 600;
    }
  }
}
