@import url("https://fonts.googleapis.com/css?family=Poppins");




* {
  border: #fb3b49 solid 1px;
  box-sizing: border-box;
  
}

body {
  font-family: "Poppins";
}

h2 {
  font-size: 2.5em;
}

header > div {
  padding: 0px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

.blackHeart {
  width: 20px;
  margin-right: 1rem;
}

.npm-logo {
  width: 4em;
  margin-right: 10px;
}

#sottoheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
#sottoheader .manta {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 2.5em;
}

/* Search button */

.search-form {
  display: flex;
  align-content: flex-start;
  align-items: center;

  justify-content: space-evenly;
  flex-grow: 1;
  
  
}
.search-form .glass {
  width: 1.2em;
  box-sizing: border;
   background-color:rgba(0,0,0,.05);
  padding: 10px;
  box-sizing: content-box;
}

#search {
  flex-grow: 1;
  background-color:rgba(0,0,0,.05);
  height: 20px;
  border: none;
  height: -webkit-fill-available;
}
.search-form .button {
  background-color: rgba(0,0,0,.05);
  box-sizing: border-box;
  height: 10px;
  
}

.button-search {
  background-color: #fb3e44;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 1em;
  padding: 10px;
  width: 100px;
  margin: 0px;
}

.button-right {
  align-items: center;
  padding: 10px;
  justify-content: space-between;
}

.join-button {
  text-decoration: none;
  color: black;
  font-size: 1em;
  border: black solid 1px;
  margin-right: 15px;
  margin-left: 15px;
  padding: 10px 20px 10px 20px;
  
}
.login-button-up {
  text-decoration: none;
  color: black;
  font-size: 1em;
  align-items: center;
  padding: 10px;
}

/* Section 1 */

#section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  background: rgba(232, 217, 217, 0.3);
  flex-direction: column;
  
}

#section1 article {
  width: 400px;
}

#section1 > h2 {
  margin: 0;
  font-weight: bold;

}

#section1 div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#join {
  text-decoration: none;
  color: black;
  font-size: 1em;
  align-items: center;
  margin: 30px;
  background-color:white;
  padding: 10px;
  width: 150px;
  text-align: center;
  

}
.button-see-plan {
  display: inline-block;
  background-color: #fb3b49;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 1em;
  padding: 10px;
  width: 150px;
  margin: 5px;
  box-shadow: 8px 8px 0 rgba(251, 59, 73, 0.2);
  cursor: pointer;
  font-weight: bold;
}

/* Section 2 */

#section2 img {
  width: 150px;
  margin-bottom: 20px;
}

.img-container {
  margin: 0 auto;
  max-width: 16rem;
  
  
}

#section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
}

#section2 > h2 {
  margin: 0;
  background-color: rgba(255, 204, 53, 0.4);
  transform: skew(9deg, 0deg);
  font-style: italic;
  

}

#section2 article {
  width: 600px;
  margin-bottom: 20px;
}

#section2 p {
  text-align: center;
}

/* Section 2 */

.section3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}

.section3  h3 {
  color:#ED1C24; 
}


.section3  img {
  
  height: 2rem;

  
}

.section3 div {
  display: block;
  flex-direction: column;
  width: 300px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 10px;
  

}

#section3 .create-an-org-button{
  display: flex;
  
  
  margin:10px auto;
  justify-content: center;
}

.create-an-org-button {
  display: flex;
  background-color: black;
  box-shadow: 8px 8px 0 rgba(128,83,35,.2);
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 1em;
  padding:1em;
  width: 450px;
  margin: 30px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.boxorgbutton {
  padding: 10px;
}