@import url("https://fonts.googleapis.com/css?family=Poppins");

body {
  font-family: "Poppins";
}

img {
  width: 25px;
}

header > div {
  padding: 0 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgba(232, 217, 217, 0.3);
}

.form {
  flex-grow: 2;
  flex-flow: row nowrap;
}

#search {
  padding: 5px 0;
}

.search-field {
  width: 95%;
  padding: 10px 35px 10px 25px;
  border: none;
  background-image: url(../images/magnifying-glass.png);
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: 0.5% 50%;
  background-color: rgba(232, 217, 217, 0.3);
  color: gray;
}

.search-button {
  color: white;
  background-color: red;
  border: none;
  padding: 10px 15px 10px 15px;
}

.join {
  text-decoration: none;
  border: 1px solid grey;
  padding: 5px 15px 5px 15px;
}

.login {
  text-decoration: none;
  padding: 5px 15px 5px 15px;
}

.npm-logo {
  width: 50px;
  padding-right: 10px;
}

.glasses {
  background-color: rgba(232, 217, 217, 0.3);
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

.blackHeart {
  width: 20px;
  margin-right: 1rem;
}

#section1 {
  background-color: rgba(232, 217, 217, 0.3);
}

.section {
  height: 600px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  box-shadow: 1px;
}

#section1 p {
  width: 28%;
  text-align: center;
}

#section2 img {
  width: 200px;
}

#section2 p {
  width: 35%;
  text-align: center;
}

.button-red {
  background-color: #fb3b49;
  box-shadow: 8px 8px 0 rgba(251, 59, 73, 0.2);
  padding: 10px 50px;
  color: white;
  text-decoration: none;
  margin: 0 20px;
}

.button-white {
  background-color: rgb(255, 255, 255);
  padding: 10px 50px;
  color: black;
  text-decoration: none;
  margin: 0 20px;
  font-weight: 900;
}

h1 {
  font-size: 6em;
  font-weight: bolder;
}

h2 {
  font-size: 2.5em;
  background-color: rgba(255, 204, 53, 0.4);
  transform: skew(10deg, 0deg);
  font-style: italic;
  padding: 0px 20px;
}

h4 {
  color: #ed1c24;
}

#section3 {
  display: flex;
  flex-flow: row nowrap;
  width: 60%;
  margin: 0 auto;
  height: 400px;
  justify-content: space-between;
  align-items: center;
}

#section3 div {
  padding: 0 10px;
}

.button-black {
  background-color: black;
  box-shadow: 8px 8px 0 rgba(128, 83, 35, 0.2);
  padding: 10px 50px;
  color: white;
  text-decoration: none;
  text-align: center;
  display: block;
  margin: 0 auto 50px auto;
  width: 20%;
}
