footer {

    .gradient {
        padding: 8px 0;
        border-width: 10px 0 0;
        border-top-style: solid;
        border-image: linear-gradient(139deg, #fb8817, #ff4b01, #c12127, #e02aff) 3;
    }
}