@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }

  header #logo{
margin-top: 10px;    
width: 70px;
}

header #searchLogo{
  width: 20px;
}


  header form{
    background-color: rgba(0,0,0,.05);
    width:75%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
header form input{
    border: 0;
    background-color: rgba(0,0,0,.0);
    width: 85%;
}

header form input:focus-visible{
    outline: 0;
}

header form button{
    color: #fff;
    background-color: #fb3e44;
    border: 0;
    height: 40px;
    cursor: pointer;
}

header #login{
    display: flex;
    justify-content: space-evenly;
}

#login a{
    text-decoration:none;
    color: black;
    padding: 7px 20px;
}

section {
  padding: 50px 10%;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
/*SECTION 1*/

#section1 {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(232,217,217,.3)
}

#firstTitle {
    margin-top: 0;
    font-size: 72px;
    margin-bottom: 10px;
}

#articleSection1 {
    max-width: 25%;
    text-align: center;
}

#section1 div {
    margin-top: 40px;
}

#section1 a {
    text-decoration: none;
    color: black;
    background-color: white;
    padding:16px 64px;
    margin-left: 14px;
}

#seePlans {
    color: white !important;
    background-color: #FB3B49 !important;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
    padding:16px 32px;
    margin-right: 14px;
}

/*SECTION 2*/

#section2 {
  padding: 50px 10%;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#section2 img{
  width: 250px;
  height: auto;
}

#section2 h2 {
  background-color: rgba(255,204,53,.4);
  font-weight: 700;
  margin-top: 50px;
  font-size: 32px;
  transform: skew(9deg,0deg);
  font-style: italic;
  padding-left: 30px;
  padding-right: 30px;
}

#section2 article {
  width: 60%;
  font-size: 24px;
  text-align: center;
}

/*SECTION 3*/
#section3 {
  flex-flow: row wrap;
}

#section3 img {
  width: 10%;
  height: 10%;
}

#section3 div {
  box-sizing: border-box;
    width: 25%;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-flow: column nowrap;
    align-items:flex-start;
}

#section3 a {
  align-items: center;
}

#section3 h4 {
  color: #FB3B49;
}
#section3 p{
  margin-top: 5px;
}
#section3 button {
  color:white;
    padding: 16px 100px;
    font-weight:700;
    box-shadow: 8px 8px 0 rgba(128,83,35,.2);
    font-size: 15px;
    background-color: black;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    justify-items: center;
    display: flex;
}