@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');
/*GENERAL---------------------------------------------------------------------------------------*/
html, body {
    margin: 0;
    padding: 0;
    font-size: 10px;
    line-height: 3.5em;
    font-weight: 300;
    font-family: Roboto;
}

.dark-background {
    background-color: rgb(25, 33, 41);
    color: white;
}    

h1, h2, h3, h4, h5, h6 {
    font-family: Roboto Condensed;
}

h1 {
    font-size: 9em;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    line-height: 4em;
    font-size: 5em;
    text-align: center;
    text-transform: uppercase;
    color: white;
    text-shadow: #020819 8px -20px 9px;
}

h3 {
    font-size: 4.2em;
    text-align: center;
    line-height: 1em;
}

h4 {
    font-size: 1.5em;
    word-spacing: 0.4px;
    line-height: 1em;
    margin-bottom: 15px;
}

h5 {
    font-size: 1.2em;
    line-height: 1em;
    margin-top: 0;
    margin-bottom: 0;
}

/*NAVBAR---------------------------------------------------------------------------------------*/
.nav-bar {
    background-color: rgb(25, 33, 41);
    padding-top: 14px;
    padding-bottom: 14px;
}

.nav-bar-ul {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

.nav-bar-ul li {
    list-style-type: none;
    text-align: center;
}

.nav-bar a {
    color: white;
    text-decoration: none;
    font-size: 2em;
}

/*HEADER---------------------------------------------------------------------------------------*/
.header {
    height: 650px;
    background-image: url("https://s3-eu-west-1.amazonaws.com/ih-materials/uploads/ironhack-skydive-background.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    padding-top: 50px;
    position: relative;
}
  
.quote {
    font-size: 2.5em;
    position: absolute; 
    left: 10%;
    bottom: 15vh;

}

.header-text {
    font-size: 2.5em;
}

/*SECTIONS---------------------------------------------------------------------------------------*/
#general-information {
    display: flex;
    justify-content: space-evenly;
}

#general-information .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 370px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 75px 0;
}

.text {
    font-size: 2em;
    font-weight: 100;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.link-btn {
    background-color: rgb(67, 163, 230);
    color: white;
    font-family: Roboto Condensed;
    font-size: 2em;
    word-spacing: 0.5px;
    text-align: center;
    text-decoration: none;
    padding: 10px 30px;
}

#structure > div {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.service-box {
    font-size: 1.7em;
    text-align: center;
    border: 2px solid #eee;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px 0 #eee;
    margin: 50px 5% 0 5%;
    padding: 20px;
    width: 40%;
}

.service-box img {
    width: 125px;
}

#team {
    padding: 75px 0;
    margin: 0 auto;
}

#team > div {
    display: flex;
    justify-content: space-evenly;
}

#team > div > article {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#team p {
    width: 60%;
    margin: 10px auto;
}

#team .section-text {
    font-size: 1.9em;
    text-align: center;
}

#team .member-name {
    font-size: 1.5em;
    font-weight: 700;
}

#team img {
    width: 250px;
    height: 180px;
}

hr {
    top: 20px;
    right: auto;
    bottom: 30px;
    left: auto;
    width: 40%;
}

.slot-form-container {
    width: 40%;
    margin: 18px auto 0 auto;
    font-size: 1.5em;
    text-align: center;
}

.slot-form-container label {
    line-height: 15px;
    margin: 5px;
}

.slot-form-container input, select {
    height: 20px;
    outline: none;
    padding: 3px;
    width: 100%;
}

.slot-form-container button {
    border: 1px solid black;
    color: black;
    background-color: white;
    padding: 9px;
    margin-top: 15px;
}

.schedule-table {
    margin: 0 auto 40px auto;
    font-size: 1.5em;
}

.schedule-table th, td {
    border-bottom: solid 1px black;
    padding: 5px 10px;
    text-align: center;
}

/*FOOTER---------------------------------------------------------------------------------------*/
.footer {
    text-align: center;
    font-size: 1.9em;
    padding: 40px 100px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer ul {
    list-style: none;
    list-style-type: none;
}

.address {
    font-style: normal;
    font-size: 0.8em;
    margin-bottom: 30px;
}

.footer a {
    color: rgb(67, 163, 230);
    text-decoration: none;
    padding: 0;
}

.map-frame {
    height: 375px;
    width: 60%;
}