@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }

nav {
    width: 600px;
  }
  
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
nav a {
    text-decoration: none;
    color: black;
  }
  
  
.black-heart {
    width: 20px;
    margin-right: 1rem;
  }

.npm-logo {
    width: 65px;
    margin-right: 0.2rem;
    margin-left: 0.2rem;
  }

.magnifying-img {
    width: 30px;
    margin: 1px;
    position: fixed;
    padding-top: 10px;
    padding-left: 8px;
    padding-right: 10px;
  }

.form {
    background-color: rgba(0,0,0,.05);
    color: rgba(0,0,0,.05);
    width: 1145px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
  }

.search-bar {
  display: flex;
  align-items: flex-start;
  padding: 0 25px;
}

.form input {
    background-color: rgba(0,0,0,.05);
    color: rgba(0,0,0,.05);
    width: 100%;
    position: relative;
    border: none;
    font-size: 1.2em;
    padding-left: 40px;
  }
    
.form button {
    background-color: #fb3e44;
    color: white;
    border: 1px solid white;
    text-decoration: none;
    font-family: 'Poppins';
    font-size: 16px;
    margin: -1.5px auto;
    padding: 13px 18px;
  }

.join-btn {
    border: 1px solid darkgrey;
    color: darkslategrey;
    text-decoration: none;
    padding: 0.4em 1.1em 0.4em 1.1em;
    font-size: auto;
  }

.login-btn {
    color: darkslategrey;
    text-decoration: none;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1.5em;
    padding-right: 0.8em;
    font-size: auto;
  }

.link-btns {
    display: flex;
    justify-content: space-between;
  }

#general-description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: 600px;
    background-color: rgba(232,217,217,.3);
    
  }

.section-1 h1 {
    font-size: 4.5rem;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    margin-top: -40px;
    margin-bottom: 30px;

  }

.section-1 article p {
    margin: 0 500px 60px 500px;
    font-size: 19px;
    text-align: center;
  }

.link-button-container {
    display: flex;
    justify-content: space-between;
    
  }

.link-btn-1 {
    background-color: #FB3B49;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
    padding: 20px 70px;
    border: 1px solid red;
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 18px;
    margin-right: 50px;
  }

.link-btn-2 {
    color: black;
    font-weight: bolder;
    text-decoration: none;
    border: 1px solid white;
    background-color: white;
    padding: 20px 70px;
    font-size: 18px;
  }

#motivation {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: 600px;
    background-color: white;
  }

.hexagon {
  width: 18%
}

  