@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
}
  
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
nav a {
  text-decoration: none;
  color: black;
}
  
  
.black-heart {
  width: 20px;
  margin-right: 1rem;
}

.npm-logo {
  width: 70px;
  margin-right: 10px;
  margin-left: 10px;
} 

.magnifying-img {
  width: 28px;
  margin: 1px;
  position: fixed;
  padding-top: 10px;
  padding-left: 8px;
  padding-right: 12px;
}

.form {
  color: rgba(0,0,0,.05);
  width: 80%;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.search-bar {
  display: flex;
  align-items: baseline;
  padding: 0 25px;
}

.form input {
  background-color: rgba(0,0,0,.05);
  color: rgba(0,0,0,.05);
  width: 100%;
  position: relative;
  border: none;
  font-size: 1.2em;
  padding-left: 40px;
}
    
.form button {
  background-color: #fb3e44;
  color: white;
  border: 1px solid rgba(0,0,0,.05);
  text-decoration: none;
  font-family: 'Poppins';
  font-size: 1em;
  margin: -1.5px auto;
  padding: 13px 18px;
 }

.join-btn {
  border: 1px solid darkgrey;
   color: darkslategrey;
  text-decoration: none;
  padding: 0.4em 1.1em 0.4em 1.1em;
  font-size: auto;
}

.login-btn {
  color: darkslategrey;
  text-decoration: none;
  padding: 8px 12px 8px 20px;
  font-size: auto;
}

.link-btns {
  display: flex;
  justify-content: space-between;
}

#general-description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  height: 600px;
  background-color: rgba(232,217,217,.3)
}

.section-1 h1 {
  font-size: 4.5rem;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  margin-top: -40px;
  margin-bottom: 30px;
}

.section-1 article p {
  margin: 0 500px 60px 500px;
  font-size: 19px;
  text-align: center;
  font-weight: bold;
}

.buttons-2-container {
  display: flex;
  justify-content: space-between;
    
}

.see-plans-btn {
  background-color: #FB3B49;
  box-shadow: 8px 8px 0 rgba(251,59,73,.2);
  padding: 20px 60px;
  border: 1px solid red;
  text-decoration: none;
  color: white;
  font-weight: bolder;
  font-size: 19px;
  margin-right: 50px;
}

.join-free-btn {
  color: black;
  font-weight: bolder;
  text-decoration: none;
  border: 1px solid white;
  background-color: white;
  padding: 20px 60px;
  font-size: 19px;
}

#motivation {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  height: 500px;
  background-color: white;
}

.hexagon {
  width: 18%;
  margin-top: 10px;
  padding-bottom: 20px;
  padding-top: 15px;
}

.section-2 article p {
  margin: 0 350px 60px 350px;
  font-size: 1em;
  text-align: center;
}
  
.section-2 h2 {
  background-color: rgba(255,204,53,.4);
  transform: skew(9deg,0deg);
  font-style: italic;
  font-size: 2.2em;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 20px;
  margin-bottom: 30px;
  padding-right: 1.3em;
  padding-left: 1.3em;
}

#details {
  height: 590px;
}

.departments-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
}

.departments-container div {
  padding-top: 70px;
  padding-bottom: 65px;
  width: 35%;
  padding-right: 30px;
}

.zero-configuration {
  padding-left: 80px;
}

.npm-audit {
  padding-right: 80px;
}

.section-3 h3 {
  color: #ED1C24;
  margin-bottom: 15px;
}

.section-3 img {
  width: 38px;
  margin-right: 1rem;
}

.org-btn {
  background-color: black;
  box-shadow: 8px 8px 0 rgba(128,83,35,.2);
  color: white;
  text-decoration: none;
  font-weight: bolder;
  font-size: 19px;
  padding: 20px 145px;
  margin-left: 35%;
  margin-top: 400px;
}

.departments-container div p {
  text-align: left;
  margin-right: 50px;
  font-weight: bold;
}