@import url('https://fonts.googleapis.com/css?family=Poppins');

body { 
	font-family: Poppins;
}
header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}
nav a:hover{
	color: grey;
	transition: .5s;
}

.blackHeart {
  width: 20px;
  margin-right: 1rem;
}
.search{
  width: 30px;
  height: 32px;
  margin: 0;
  padding: 0;
  background-color: rgba(0,0,0,.05) ;
}
.npm-logo{
  width: 60px;
  margin-right: 2rem;
  margin-left: 2rem;
}

#header-search {
	display: flex;
	flex-direction: row;
	justify-content:space-around;
	/* border: 1px solid green; */
	padding: 0;
}
#search-form {
	display: flex;
	flex-direction: row;
	justify-items: inherit;
	flex-grow: 6;
	/* border: 1px solid green; */
}

#search-form  label{
	color: rgba(0,0,0,.05);

}

#search-form  > input{
	padding: 8px;
	width: 90%;
	border: none;
	background-color: rgba(0,0,0,.05) ;
}
#search-form  > button{
	background-color: #fb3e44;
	color: white;
	padding: 0 15px 0 15px;
	margin: 0;
	border: 0;
}
#list-logout ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
	align-items: center;
	/* border: 1px solid green; */
	margin-right: 20px;
}

#list-logout li{
	/* border: 1px solid green; */
	padding: 3px 15px 3px 15px;
	/* margin: 0 1em 0 1em; */
}
#list-logout li:hover{
	border-radius: 15px;
	background-color: cornflowerblue;
	transition: 1s;

}
#list-logout a{
	text-decoration: none;
	color: grey;
	font-size: 14px;
}
#list-logout a:hover {
	color: white;
	transition: 1s;
}
#join {
	border: 1px solid grey;
	margin-right: .3rem;
}

#login {

	margin-right: .5rem;
}
/* banner */
#banner {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 600px;
	background-color: rgba(232, 217, 217, 3);
}

#banner h1{
	font-size: 5.8rem;
}
#banner article{
	width: 60%;
}