@import url('https://fonts.googleapis.com/css?family=Poppins');

body { 
	font-family: Poppins;
}
header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

.blackHeart {
  width: 20px;
  margin-right: 1rem;
}
.search{
  width: 25px;
  border: 1px solid green;
}
.npm-logo{
  width: 50px;
  margin-right: 1rem;
}

#header-search {
	display: flex;
	flex-direction: row;
	justify-content:space-around;
	border: 1px solid green;
}
#search-form {
	border: 1px solid green;
	flex-grow: 4;
}

#search-form  label{
	color: rgba(0,0,0,.05);
}

#search-form  > input{
	padding: 8px;
	color: rgba(0,0,0,.05);
}
#search-form  > button{
	background-color: #fb3e44;
	color: white;
	padding: 10px;
	border: 0;
	/* font-size: 1rem; */

}