@import url('https://fonts.googleapis.com/css?family=Poppins');

body { 
	font-family: Poppins;
}
header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

.blackHeart {
  width: 20px;
  margin-right: 1rem;
}
.search{
  width: 30px;
  height: 32px;
  margin: 0;
  padding: 0;
  background-color: rgba(0,0,0,.05) ;
}
.npm-logo{
  width: 60px;
  margin-right: 2rem;
  margin-left: 2rem;
}

#header-search {
	display: flex;
	flex-direction: row;
	justify-content:space-around;
	/* border: 1px solid green; */
	padding: 0;
}
#search-form {
	display: flex;
	flex-direction: row;
	justify-items: inherit;
	flex-grow: 6;
	/* border: 1px solid green; */
}

#search-form  label{
	color: rgba(0,0,0,.05);

}

#search-form  > input{
	padding: 8px;
	width: 89.2%;
	border: none;
	background-color: rgba(0,0,0,.05) ;
}
#search-form  > button{
	background-color: #fb3e44;
	color: white;
	padding: 0 15px 0 15px;
	margin: 0;
	border: 0;
}
#list-logout ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
	align-items: center;
	border: 1px solid green;
	margin: 0px;
}

#list-logout li{
	border: 1px solid green;
	margin: 1rem;
}
#list-logout a{
	text-decoration: none;
	color: grey;
	/* color: rgba(0,0,-1); */
	padding: 0;
	font-size: 14px;
}