@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

body{
	margin: 0;
	font-family: roboto;
	font-weight: 300;
	font-size: 10px;

}


/* -------------------------  Menu --------------------------- */

nav{
	background-color: #192129;
	float: left;
	padding-bottom:15px ;
	width: 100%;
}

nav > ul > li > a{
  text-decoration: none;
  color: white;
  font-size: 2em;
}

nav > ul{
  list-style: none;

}

nav > ul > li{
  display: block;
  float: left;
  margin-left: 19%;
  transition: 0.5s;
}
nav > ul > li:hover{
  background-color: #484848;
  border-radius: 5px;
  transition: 0.5s;

}

/* -------------------------  header --------------------------- */


header{
	background-image: url(https://s3-eu-west-1.amazonaws.com/ih-materials/uploads/ironhack-skydive-background.jpg);
	height: 600px;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: cover;
	float: left;
	width: 100%;
}

h1{
	font-size: 9em;
	text-align: center;
	transform: uppercase;
}
h2{
	font-size: 5em;
	text-align: center;
	transform: uppercase;
	color: white;
	text-shadow: #020819 8px -20px 9px;
}

.asideHeader{
	font-size: 2.5em;
}


/* -------------------------  seccion 1 --------------------------- */

.dark-background{
	float: left;
	background-color: #192129;
	height: 350px;
	width: 100%;
}
.dark-background > div{
	width: 84%;
	margin-left: 8%;
}

.dark-background > div > div{
	float: left;
	width: 25%;
	margin-left: 5%;
}

h3{
	font-size: 4.3em;
	text-align: center;
	line-height: 1em;
}
.white{
	color: white;
}
.dark-background > div > div > p{
	font-size: 2em;
	font-weight: 100;
	text-align: center;
	color: white;
}

.dark-background > div > div > button{
	background-color: #4DACE9;
	padding: 20px 40px 20px 40px;
	border-color: #4DACE9;
	color: white;
	font-family: roboto condensed;
	font-size: 2em;
	letter-spacing: 0.5px;
	text-align: center;
	text-decoration: none;
	margin-left: 20%;
	margin-top: 40px;
	transition: 0.5s;
}
.dark-background > div > div > button:hover{
	border-radius: 5px;
	transition: 0.5s;
	background-color: #2e6588;
	border-color: #2e6588;
}

.but{
	margin-left: 26% !important;
}


/* -------------------------  seccion 2 --------------------------- */

.section2{
	float: left;
	width: 100%;
	padding-bottom: 80px;
}
.section2 > h3{
	margin-top: 70px;
}

.sec2div{
	margin-left: 15%;
	width: 70%;
	height: 700px;
}

.sec2div > div{
	border: 3px solid #dfdfdf;
	border-radius: 20px;
	height: 300px;
	width: 45%;
	text-align: center;
	float: left;
	margin-top: 40px;
	transition: 0.5s;
}

.sec2div > div:hover{
	background-color: #ebebeb;
	transition: 0.5s;
}
.sec2div > div > img{
	width: 125px;
	margin-top: 20px;
}
h4{
	font-size: 2.5em;
	letter-spacing: 0.4px;
	line-height: 0em;
}

.sec2div > div > p{
	font-size: 1.7em;
	margin-left: 20px;
	margin-right: 20px;
}

.espacio{
	margin-left: 5%;
}

/* -------------------------  seccion 3 --------------------------- */


.section3{
	float: left;
	width: 100%;
	text-align: center;
	background-color: #192129;
	height: 600px;
}

.section3 > h3{
	color: white;
}
.section3 > p{
	color: white;
	font-size: 1.5em;
}

.separador{
	width: 25%;
	border-bottom: 1px solid white;
	margin-left: 37.5%;

}
.master{
	width: 90%;
	margin-left: 5%;
}

.blockNames{
	width: 33%;
	text-align: center;
	margin-top: 60px;
	float: left;
}

.blockNames > p{
	font-size: 2em;
	color: white;
}


.blockNames > img{
	width: 80%;
}


/* -------------------------  seccion 4 --------------------------- */

.section4{
	float: left;
	width: 100%;
	text-align: center;
	
}
.section4 > form > p{
	font-size: 2em;
	
}

input{
	padding: 5px 400px 5px 0px;
}

.boton{
	padding: 10px 20px 10px 20px !important;
	margin-top: 40px;
	margin-bottom: 100px;
}




/* -------------------------  Footer --------------------------- */

footer{
	float: left;
	width: 100%;
	height: 450px;
	background-color: #192129;
}

.foot1{
	text-align: center;
	width: 40%;
	float: left;
}

.foot1 > h4{
	color: white;
	margin-top: 50px;

}
.foot1 > p{
	color: white;
	margin-top: 10px;
	font-size: 1.5em;

}
.foot1 > p > a{
	text-decoration: none;
	color: #4DACE9;

}

.foot2{
	width: 59%;
	float: left;

}

.foot2 > iframe{
	width: 90%;
	margin-left: 5%;
	height: 350px;
	margin-top: 50px;
}