@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

h1, h2, h3 {
  text-align: center;
  padding: 10px;
}

h1 {
  font-size: 70px;
  font-weight: 500;
  margin-bottom: 40px;
}

h2 {
  font-size: 25px;
  padding: 0;
  display: block;
  background-color: rgba(255,204,53,.4);
  margin: 0px 400px 25px 400px;
}

h3 {
  font-size: 17px;
  color: #ED1C24;
  padding-left: 0px;
}

header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}
  
nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
nav a {
  text-decoration: none;
  color: black;
}
  
.blackHeart {
  width: 20px;
  margin-right: 1rem;
}

.npm-logo {
  width: 100px;
  padding-right: 15px;
  margin: auto 2px auto auto;
}

.search-logo {
  width: 20px;
  align-items: center;
}

#search-button{
  text-decoration: none;
  color: white;
  background-color: #fb3e44;
  padding:10px 32px;
  border:0;
}

#input-search {
  background-color: rgba(0,0,0,.05);
  font-size: 1em;
  border: 0;
  width: 1000px;
  padding: 1px 1px 1px 10px;
}

.search-space {
  color: rgba(0,0,0,.05);
  display: flex;
  padding: 6.5px;
}

.div-header{
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#join-link {
  text-decoration: none;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.502);
  color: black;
  padding: 10px 20px 10px 20px;
}

#login-link {
  text-decoration: none;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.502);
  color: black;
  padding: 10px 20px 10px 20px;
}

#section-1 {
  background-color: rgba(232,217,217,.3);
  text-align: center;
  height: 600px;
}

#article-section1 {
  text-align: center;
  font-size: 15px;
  width: 40%;
  margin: auto auto 50px auto;
}

#see-link {
  border: 0px;
  background-color:  #FB3B49;
  color: white;
  padding: 10px 60px 10px 60px;
  text-align: center;
  text-decoration: none;
  box-shadow: 8px 8px rgba(251, 59, 73, .2);
}

#free-link {
  border: 0px;
  padding: 10px 60px 10px 60px;
  text-align: center;
  text-decoration: none;
  background-color: white;
  color: black;
  margin-left: 20px;
}

#hexagono-logo {
  width: 250px;
  display: block;
  margin: 70px auto 70px auto;
}

#article-section2 {
  text-align: center;
  font-size: 15px;
  width: 53%;
  display: block;
  margin: auto auto 150px auto;
}

#section-3 img{
  width: 60px
}

#section-3 p {
  font-size: 10px;
  display: flex;
  justify-content: flex-start;
}

#section-3 > div {
  display: flex;
  justify-content: space-evenly;
  margin: 0px 120px 50px 120px;
  padding: 20px;
}

#create {
  display: block;
  background-color: black;
  margin: 100px 500px 200px 500px;
  padding: 20px 0 20px 0;
  text-align: center;
  color: white;
  text-decoration: none;
  box-shadow: 8px 8px 0 rgba(128,83,35,.2)
}