* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 80px;
    width: 100%;
}
#spotify-icon{
    height: 100px;
}

.menu{
    margin-right: 10px;
}
.menu a {
    text-decoration: none;
    color: #1A1A1A;
    margin-right: 10px;
    font-size: 18px;
    font-weight: 800;
}
.menu a:active{
    color:#00B172;
    cursor:pointer;
}
#img-logo{
    margin-left: 20px;
}

img {
    height: 40px;
}
.section-1 {
    background-image: url("/images/landing.jpg");
    background-size: cover;
    height: 800px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;
}
.section-1 h2 {
    font-size: 50px;
    color: white;
}
.section-1 p {
    margin-top: 30px;
    text-align: center;
    width: 35%;
    font-weight: 300;
    letter-spacing: 0.5px;
    font-size: 20px;
    color: white;
}
.section-2 h4{
    font-size: 34px;
    padding-top: 20px;
    color: #1A1A1A;
    text-align: center;
    margin: 20px 0px 0px 0px;
}
#section-2-hr{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-2 hr {
    border: solid 2px #00B172;
    width: 300px;
    margin-top: 3px;
}
#icon-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 300px;
    margin: 10px;
    padding: 10px;
}
.div-icon-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px 20px;
    color: #1A1A1A;
}
.div-icon-section p{
    height: 30px;
}
#icon-img{
    height: 100px;
    margin-bottom: 20px;
}
#spotify-app-icon {
    height: 450px;
}

.div-icon-section h5 {
    color: #00B172;
    font-size: 20px;
    margin-bottom: 20px;
}
.div-icon-section p {
    width: 200px;
    text-align: center;
}
.section-3 h4 {
    font-size: 34px;
}

.section-3{
    background-color: #00B172;
    height: 500px;
    color: #FFF;
    padding: 50px;
    margin: 30px;
}
.section-3 h5 {
    font-size: 20px;
    margin: 30px 0px 10px 0px;
}
.section-3 p {
    margin-top: 30px;
    width: 300px;
}
.section-3 hr {
    border: solid 2px #FFF;
    width: 30%;
    margin-top: 5px;
}
 #section-3-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 .js-background{
    background-color: #EB3131 !important;
}
.js-menu a{
    color: #00B172 !important;
}

.javascript-example{
    position: fixed;
    z-index: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
} 