@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}
header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

.blackHeart {
  width: 20px;
  margin-right: 1rem;
}

.logo{
  width: 155px;
  padding: 6px
}

.searchlog {
  label-color: rgba(0,0,0,.05);
  input-color: rgba(0,0,0,.05);
  background color: #fb3e44;
   color: white;
  padding: 10px
}

#searchlog{
  display: flex;
  flex-direction: row;
  align-items: center;
}

form.searchbox{
  display: flex;
  align-items: center;
  background-color: #eeeeee;
   padding: 8px;
  width:45em;
  height:50px;
}

form img{
  height: 25px;
}
form input:focus{
  outline: none;
}
form input{
border: none;
  background: none;
   width: 385px;
  mmargin-left: 8px;
   }
.button-search{
  background-color: rgb(245, 44, 44);
  border: solid black;
  margin-right: 2530px;
  color: white;
  padding: 18px;
  }
.button-join{
 border: solid black;
  margin: 30px;
  margin-right:3000px;
  padding: 10px 20px ;
  align-text: center 
}


#top-section{
  display: block;
  justify-content: center;
  align-content: center;
  height: 600px;
  background-color: rgba(232,217,217,.3);
}

h1{
  font-size: 90px;
  margin: auto;
  text-align: center;
  padding: 20px
}

#description-statement{
font-size: 22px;
  width: 540px;
  content-align:center;
  margin:  auto;
   text-align: center;
  justify-content: center;
  align-text: center;
  word-wrap: break-word;
}

.button-plans{
color: white;
text-decoration: none;
font-size: 20px;
font-weight: bold;
box-shadow: 8px 8px 0 rgba(251,59,73,.2);
background-color: #FB3B49;
padding: 16px 32px;  
}

.button-join-free{
  color: black;
  font-size: 20px;
  font-weight: bold;
  margin-left: 50px;
  background-color: white;
  padding: 16px 32px;
}

.plan-join-hyperlinks {
  display: flex;
  justify-content: center;
  margin-top: 70px;
 
}

#mid-section{
  margin-top: 120px;
  margin-bottom: 70px;
  align-text: center;
  text-align: center;
  justify-text: center;
}
#shape {
  display: block
  height: 200px;
    width: 200px;
  margin: auto;
}
#highlighted{
 background-color: rgba(255,204,53,.4);
 display: block;
transform: skew(9deg,0deg);
  font-style: italic;
   font-weight: bold;
  text-align: center;
  align-content: center;
  font-size: 35px;
  padding: 0px 1px;
}

#mid-section article{
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  margin: auto;
width: 500px;
     
  
}
article{
  margin-top: 50px;
 }

#bottom-section{
  display: flex;
  text-align: left;
 justify-content: space-between;
margin-top: 170px;
  margin-left: 170px;
  margin-right: 170px;
}

}

#bottom-section{
  font-size: 15px;
  width: 600px;
  margin: auto;
}

h3 {
  color: #ED1C24;
}
#bottom-section div{
  padding: 30px;
}
#bottom-section p{
  
  text-align: left;
  word-wrap: break-word;
}
#bottom-section img{
  height: 30px;
  width: 30px;
}
.create-org-button{
  box shadow: 8px 8px 0 rgba(128,83,35,.2);
  background-color: black;
  color: white;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  padding: 20px 40px;
  margin-top: 100px;
  margin-bottom: 100px; 
}
#create-an-org-button {
  float: center;
  text-align: center;
  margin: auto;
}
}
