@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: 'Poppins';
}
header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}
nav {
    width: 600px;
}
nav ul {
    list-style:none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
nav a {
    text-decoration: none;
    color: black;
}
.blackHeart {
    width: 20px;
    margin-right: 1rem;
}
.logoNpm {
    width: 70px;
    margin:0 2rem 0 2rem;
}
.logoSearch {
    width: 20px;
    padding: 8px 8px 8px 8px;
    background-color: #eaecee;
}
.navigation {
    display: flex;
    flex-direction: row;
    align-items:center;
    padding: 5px 0 10px 0;
}
.form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);
}
.links {
    display:flex;
    flex-direction: row;
    text-align: right;
}
.formText {
    width: 100%;
    border: none;
    background-color: #eaecee;
    padding: 10px 0 10px 0;
}
.botonForm {
    background-color: #fb3e44;
    color: white;
    border-color: #808b96;
    width: 50px;
    padding: 12px 70px 12px 30px;
    margin-right: 20px;
    text-align:start;
    border-color:  #f2f4f4;
    cursor: pointer; 
    letter-spacing: 1px;
    font-size:small;
    }
.linkJoin {
    border: grey 1px solid;
    margin-left: 10px;
    padding: 10px 20px 10px 20px;
    color:  #808b96;
}
.linkLogIn {
    box-sizing: content-box;
    width:3em;
    padding: 10px 20px 10px 10px;
    color:  #808b96;
}
.firstPage {
    padding: 100px 25px 0px 25px;
    text-align: center;
}
.heading {
    font-size: 70px
}
.article1 {
    text-align: center;
    font-weight: bold;
    padding: 20px 300px;
}
.links2 {
    padding-top: 50px;
    justify-content: space-around;
}
.linkPlans {
    padding: 10px 50px;
    text-decoration: none;
    background-color:#fb3e44;
    color: white;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
    font-size: larger;
    font-weight: bold;
}
.linkJFree {
    text-decoration: none;
    padding-left: 50px;
    color: black;
    font-weight: bold;
    font-size:larger;
}
.section1 {
    background-color: rgba(232,217,217,.3);
    height: 550px;
}
.triangleImg {
    width: 200px;
    padding: 100px 25px 50px 25px;
}
.section2 {
    height: 600px;
}
.containerImg {
    align-items: center;
    padding-left: 38%;
}
.heading2 {
    font-size: 25px;
    font-weight: bold;
    background-color: rgba(255,204,53,.4);
    font-style: italic;
    padding: 0 20px 0 20px;
    font-size: 2em;
    
}
.headingDiv {
    text-align: center;
    transform: skew(9deg, 0deg);
}
.article2 {
    text-align: center;
    font-weight: bold;
    padding: 20px 300px 20px 300px;
    font-style: italic;
}
.zeroConfigImg,
.familiarImg,
.npmImg {
    width: 60px;
    padding-left: 10px;
}
.containerCaract {
    display: flex;
    flex-direction: row;
    padding: 0 50px 50px 50px;
}
.divButtonOrg {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 25px 0 80px 0;
}
.buttonOrg {
    box-shadow: 8px 8px 0 rgba(128, 83, 35,.2);
    color: white;
    border: none;
    background-color: black;
    padding: 15px 150px 15px 150px;
    font-size: larger;
    font-weight: bold;
    cursor: pointer;
}
.headingCaract1,
.headingCaract2,
.headingCaract3,
.headingCaract4 {
    color: #ED1C24;
    width: 80%;
    display: flex;
    padding-left: 10px;
}
.teamManagImg {
    width: 15%;
    padding-left: 10px;
}
.headingContainer {
    padding: 20px 20px 20px 20px;
}
.paragraph {
    width: 80%;
}
.eachContainer {
    padding: 0 0px 0 0px;
}
.divParagr {
    padding-left: 10px;
}