@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: Poppins;
}
header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}
  
  nav {
    width: 600px;

}
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
  
  nav a {
    text-decoration: none;
    color: black;
}
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
}
  .npm-logo {
    width: 60px;
    margin: 1rem 0px 1rem 0px;
    margin-left: -10px;
}
.contra-bar {
    justify-content: space-between;

}
.magnifying-glass {
    width: 20px;
    position: absolute;
    margin: 9px;
}
.contra-bar {
    align-items: baseline;
    justify-content: space-between;
    height: 55px;
}
.join,
.login {
    text-decoration: none;
    color: rgb(42, 40, 40);
    align-items: flex-end;
}
.join {
    border: solid 1px rgb(189, 189, 189);
    padding: 5px 12px 5px 12px;
    margin-right: 10px;
}
.search {
    background-color: #ED1C24;
    color: white;
    border-color: #ED1C24;
    font-family: Poppins;
    font-size: 15px;
    position: static; 
    padding: 5px 15px 9px 15px;
    margin-left: -7px;
    margin-right: 70px;
}
.form {
    width: 110em;
    height: 35px;
    font-family: Poppins;
    background-color: #e7e7e7a9;
    border-color: #e7e7e7a9;
    border-style:dashed ;
}
.center {
    height: 900px;
    background-color: rgb(232,217,217);
    margin-bottom: 80px;
    margin-top: -1px;

}
.build {
    font-size: 100px;
    text-align: center;
}
.essential {
    font-size: 25px;
    text-align: center;
    margin: 0px 500px 10px 500px;
}
.plansJoin{
    margin-top: 50px;
    margin-bottom: 200px;
    text-decoration: none;
    text-align: center;
}
.seePlans {
    text-decoration: none;
    margin-right: 75px;
    color: white;
    background-color: #ED1C24;
    font-size: 20px;
    padding: 15px 80px 20px 80px;
    box-shadow: 5px 10px rgb(253, 180, 180);
}
.joinForFree {
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bring {
    font-size: 45px;
    font-style: italic;
    text-align: center;
}
.triangle-hexagon {
    width: 550px;   
}
.bring,
.triangle-hexagon{
    display: flex;
    justify-content: center;
}
.bigText {
    margin: 40px 500px 400px 500px;
    text-align: center;
    font-size: 20px;
}
.txt {
    background-color: rgb(249, 231, 183);
    font-size: 35px;
}
.bottom {
    margin-top: -250px;
}
.zero,
.team,
.familiar,
.npm-audit{
    display: flex;
    width: 50px;
}
.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;     
}
.child {
    width: 25%;
    height: 500px;
}
.bottom{
    margin-left: 100px;
    margin-right: 100px;
}
.bottomheading {
    color: #ED1C24;
    font-size: 25px;
}
.bottomtext {
    font-size: 15px;
}
.createOrg {
    text-align: center;
    margin-top: -200px;
}
.org {
    text-decoration: none;
    font-size: 20px;
    color: white;
    background-color: black;
    padding: 30px 150px 30px 150px ;
    box-shadow: 5px 10px rgb(218, 217, 217);
}
