@import url('https://fonts.googleapis.com/css?family=Poppins');
	

	body {
	  font-family: 'Poppins';
	}
	

	header > div {
	    padding: 0 25px;
	    display: flex;
	    justify-content: space-between;
	    align-items: center;
	    border-bottom: 1px solid lightgray;
	  }
	

	  nav {
	    width: 600px;
	  }
	  
	  nav ul {
	    list-style: none;
	    display: flex;
	    justify-content: space-between;
	    align-items: center;
	  }
	  
	  nav a {
	    text-decoration: none;
	    color: black;
	  }
	  
	  
	  .blackHeart {
	    width: 20px;
	    margin-right: 1rem;
	  }
	  
	.searchbar {
	    height: 3rem;
	    font-weight: lighter;
	}
	

	#logo {
	    height: auto;
	    max-width: 5%;
	}
	#button{
	    background-color:rgba(251, 59, 73, .85);
	    color: white;
	    padding: .5rem;
	}
	.searchbar input{
	    width: 40rem;
	    height: 2rem;
	}
	.searchbar .join{
	    border: 1px solid grey;
	    padding: .2em .5em;
	}
	

	

	.groupone h1 {
	    font-weight: 14em;
	    font-size: 3em;
	  }
	

	.groupone article{
	    padding-left: 15em;
	    padding-right: 15em;
	}
	  .groupone {
	      text-align: center;
	      background-color: rgba(232, 217, 217, .3);
	      padding: 10em 20px;
	  }
	

	  .seeplans {
	      color: white;
	      font-weight: bold;
	      padding: .8em 2em;
	      background-color: #fb3b49;
	      box-shadow: 6px 6px 0 rgba(251, 59, 73, .2);
	  }
	  .groupone a {
	      background-color: white;
	      color: black;
	      padding: 1em .5em;
	      font-weight: bold;
	  }
	

	  .pinkhex {
	      text-align: center;
	      padding: 10em 15rem;
	  }
	  .pinkhex h2{
	      background-color: lemonchiffon;
	      font-weight: bolder;
	  }
	  .pinkhex img {
	      max-width: 30%;
	  }
	  .pinkhex article{
	      font-size: .8em;
	  }
	

	

	

	  #features {
	    display: flex;
	    justify-content: center;
	  }
	  
	  .features img {
	    max-width: 20%;
	  }
	

	.features {
	    padding: 2em 2em;
	    text-align: left;
	    font-size: .8em;
	}
	  .features h3 {
	      color:#ED1C24;
	      font-weight: bolder;
	  }
	

	

	  .createOrg {
	      margin: 0 auto;
	      background-color: black;
	      color: white;
	      padding: .4em;
	      text-align: center;
	      width: 12em;
	      box-shadow: 8px 8px 0 rgba(128,83,35,.2);
	  }
