@import url('https://fonts.googleapis.com/css?family=Poppins');
display: flex;

body {
  font-family: 'Poppins';
}

.boxes img{
 width: 100px;
 height: 60px;

	

}


.sect2 img{
	width: 500px;
	height: 250px;
	
	
}

.sect2{
	text-align: center;
	padding-top:400px;
}
  
	
  .middle{
	  background-color: rgba(232,217,217,.3);
  }
  
  

  
  header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

.blackHeart {
  width: 20px;
  margin-right: 1rem;
}

.bar{
	display: flex;
	justify-content: space-evenly;
	align-items: left;
	
}

.bar img{
	width:60px;
	space-between: 0;
}

h2{
	font-size: 1.8em;
	background-color: rgba(255,204,53,.4);
	
}
h1{
	font-size: 5em;
  text-align: center;
  line-height: 4em;
  color: black;
   
}

h3{
	font-size: 1.8em;
}

article{
	
	text-align: center;
}
.logins{
	
	text-align:right;
	position: relative;
	left: 320px;
}

.boxes{
	text-align: center;
	
}
h5{
	
}

.npm-logo{
	position: relative;
	right:90px;
}

.magnifying-glass{
	position:relative;
	right:150px;
}

input[type=text], select {
  width: 50%;
	position:relative;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  right:200px;
}

input[type=button], select{
	
	position:relative;
	right:250px;
}