@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


.external-css-font-file {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}
.external-google-font-declarartion-with-link-inside-html{
    font-family: 'Merriweather', serif;
    font-size: 30px;
    font-weight: 300;
}

.indie-flower-font-file{
    font-family: 'Indie Flower', cursive;
    font-weight: 300;
}
#welcome p span {
    font-size: 60px;
}
