@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  width: 100%;
  height: 100%;
  font-family: 'Poppins';
}
header > div {
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  align-items: center;
  margin-bottom: none;
  margin-left: auto;
  margin-right: auto;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    margin-right: 1rem;
 
    
  }
  .logo {
    width: 60px;
    height: 20px;
    margin-right: 1rem;
   
  }
  .search{
    color: gray;
    background-color: rgb(240, 235, 235);
    border:none;
    width: 10cm;
    height: 1cm;
    position: absolute;
    right: 98%;
  }
  .container-1{
    width: 300px;
    vertical-align: center;
    white-space: nowrap;
    position: absolute;
    border-bottom: none;
    
  }
  .container-1 input#search{
    width: 1275px;
    height: 55px;
    background:whitesmoke;
    border: none;
    font-size: 10pt;
    float: left;
    color: #63717f;
    padding-left: 45px;
    margin-top: 1%;
  }  
  .container-1 .icon{
    position: absolute;
    margin-top: 8%;
    margin-bottom:3%;
    margin-left: 3%;
  }
 .searchbutton{
    text-align-last: center;
    background-color: #FB3B49;
    padding: 12px;
    padding-top: 13%;
    padding-bottom: 11%;
    padding-left: 15%;
    padding-right: 15%;
    width: 170px;
    color: white;
    position: relative;
    left: none;
    border: 1px solid #a1a3a5 ;

  }
  .join{
    position: relative;
    background-color:white;
    left: 30%;
    padding: 12px;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 15%;
    padding-right: 15%;
    margin-bottom:none;
    margin-right: none;
    border: 1px solid #a1a3a5 ;
  
  }
  .login{
    position: relative;
    left: 35%;
  }
h1{
  font-size: 4.2em;
  text-align: center;
  line-height: 1em;
  font-weight: 900;
}
h3{
  font-size: 1.8em;
  text-align: center;
  line-height: 1em;
}
.bringtitle{
  transform: skew(9deg,0deg);
}
.span{
    background-color:rgba(255,204,53,.4);
    padding-left: 5%;
    padding-right: 5%;
    font-style: italic;
}
 h4 {
    font-size: 1.5em;
    letter-spacing: 0.4px;
    margin-bottom: 15px;
    line-height: 1em;
    color: red;
}
.titles{
  background-color: rgba(232,217,217, .3);
  top:65px;
  height: 60%;
  margin-top: 10px;
  box-shadow: 0 -5px 5px -5px #333;
  margin-bottom: 6px;
  padding-top: 8%;
  position: relative;
 }
 .titlebuild{
  padding-bottom: 20px;
}
.buildtext{
  text-align: center;
  column-count: 1;
}

.see-plans{
    display:block;
    margin-left: auto;
    margin-right: none;
    text-align-last: center;
    text-decoration-color: aliceblue;
    background-color:#FB3B49;
    box-shadow:  8px 8px 0 rgba(251,59,73,.2);
    padding: 10px;
    width: 170px;
    position: relative;
    left: 90%;
   }
.join-free{
    font-weight: 900;
    text-align: center;
    display:block;
    background-color: white;
    padding: 10px;
    width: 170px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left:95%
}
.triangle-hexagon{
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 8%;
}
.bring{
  text-align: center;
  margin-top: 10%;
}
.textolargo{
  margin-bottom: 10%;
}
.columnas{
    column-count:4;
    text-align: justify;
    flex-direction: row;
    column-gap: 1em;
    margin-left: 15%;
    margin-right: 10%;
}

.buttonbox{
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    text-align-last: center;
    text-decoration-color: aliceblue;
    color: white;
    background-color:black;
    padding: 10px;
    width: 300px;
    box-shadow:8px 8px 0 rgba(128,83,35,.2);
    position: relative;
    left:90%
   }





