@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: 'Poppins';
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

nav {
    width: 600px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: black;
}

header img {
    width: 20px;
    padding: 0;
    margin: 0;
}

span {
    margin-left: -10px;
    padding-left: 20px;
}

.search {
    margin-bottom: -10px;
    padding-bottom: -10px;
}

.search img {
    width: 50px;
}

.search a {
    text-decoration: none;
    color: #415051
}

.join { 
    border: 2px solid #c2c2c2;
    padding: 5px 10px;
}

.search-bar {
    display: flex;
    height: 30px;
    width: 80%;
    background-color: #f2f2f2;
}

.search-bar textarea {
    height: 25px;
    width: 100%;
    border: none;
    outline: 0;
    resize: none;
    background-color: #f2f2f2;
    font-size: 20px;
    overflow: hidden;
    align-items: center;
}

.search-bar img {
    width: 20px;
    height: 20px;
    padding: 5px;
}

.search-bar button {
    height: 30px;
    background-color: #e84e4c;
    border: none;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
}

.hero {
    padding: -10px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 600px;
    text-align: center;
    background-color: rgba(232,217,217,.3);
    align-items: center;
}

.hero h1 {
    font-size: 60px;
}

.hero p {
    font-weight: 600;
}

.hero a {
    text-decoration: none;
    padding: 0 35px;
    color: black;
}

.hero section {
    display: flex;
    justify-content: center;
}

.hero .plans {
    background-color: #e84e4c;
    color: white;
    padding: 10px 40px;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2)
}

.section-1 {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 50px;
}

.header{
    position: relative;
    transform: skew(9deg, 0deg);
    background-color: rgba(255,204,53,.4);
    font-style: italic;
    padding: 0 5px;
}

.section-1 .tri-hex {
    width: 200px;
    height: 200px;
}

.section-1 p {
    text-align: center;
    width: 300px;
}

.section-2 {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    margin-bottom: 30px;
    padding: 0 40px;
}

.section-2 .articles {
    display: flex;
    flex-direction: row;
    padding: 20px 0;
}

.section-2 article img{
    width: 40px;
    height: 40px;
}

.articles {
    justify-content: space-around;
}

.articles h4 {
    color: #e84e4c;
    border: 1px solid #cabeae;
    width: 180px;
    padding: 0 10px;
}

.section-2 article p {
    font-size: 14px;
}

.section-2 a {
    padding: 10px 50px;
    background-color: black;
    box-shadow: 8px 8px 0 rgba(128,83,35,.2);
    color: white;
    text-decoration: none;
    text-align: center;
}