@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}
/* header*/
header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}
  
nav {
  width: 600px;
}
  
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
nav a {
  text-decoration: none;
  color: black;
}

h1{
  font-weight: 600;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  display: flex;
  padding: 0%;
  margin: 0%;
}

h2{
  transform: skew(9deg,0deg);
  background-color:rgba(255,204,53,.4);
  background-size: 25px 75px;
  justify-content: center;
  align-items: center;
  font-size: 30px; 
  display: flex;
  font-style: italic;
  height: 35px;
  padding: 0px 20px;
  margin: 15px 0px;    
}

h3{
  color:#ED1C24;
  font-size: 0.7em;
  letter-spacing: 0.4px;
  margin-bottom: 15px;
  line-height: 1em;
  font-weight: 600;
}
  
.blackHeart {
  width: 20px;
  margin-right: 1rem;
}

.npmlogo{
  align-items: flex-start;
  width: 40px;
  margin-right: 1px;
  height: 15px;
  width: 40px;  
}

.search-nav{
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

.search-container{
  padding: 0px;
  height: 30px;
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

.glass{
  width: 15px;
  justify-content: left;
  background-color: rgba(143, 143, 143, 0.164);
  height: 15px;
  padding: 7.5px;
}

.search-bar{
  align-items: stretch; 
  background-color: rgba(143, 143, 143, 0.164);
  border: 0px;
  padding: 0%;
  width: 600px;
  height: 30px;
}

.search-button{
  justify-content: flex-end;
  width:80px ;
  height: 30px;
  padding: 0%;
  margin: 0%;
}

.join-container{
  padding: 0px;
  border-radius: 2%;
  border: 1px solid rgb(150, 148, 148);
  background-color: white;
  width: 55px;
  height: 25px;
}

.login-container{
  border: 0px;
  padding: 0px;
  width: 55px;
  height: 25px;
  background-color: white;
}

  /* section1*/
.build{
  background-color: rgba(232,217,217,.3);
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding: 90px 0px 120px 0px;  
}

.section-text{
  flex-wrap: center;
  text-align: center;
  padding: 30px 90px 50px 90px;
  font-size: 15px;
  margin: 0px;   
}

.section-text2{
  flex-wrap: center;
  text-align: center;
  padding-left: 90px;
  padding-right: 90px;
  margin: 0 90px;
  font-size: 12px;
  padding-top: 20px;
  color: rgb(56, 56, 56);   
}

.buttons1{
  align-items: center;
  padding: 0 20px;
  flex-wrap: wrap;
  margin: 0%;
}

.plans-container{
  text-decoration: none;  
  padding: 12px;
  color:white;
  justify-content: center;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 1em;
  font-weight: bolder;
  margin-right: 30px;
}
    
.join-container-free{
  border: 2px;
  border-color: lightslategray;
  text-decoration: none;  
  padding: 12px;
  background-color: white;
  justify-content: center;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 1em;
  font-weight: bolder;
}

  /* section2 */
.box{
  background-color: rgba(255,204,53,.3.4);
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-bottom: 90px;
}

.hexagonlogo{
  height: 170px;
  display: flex;
  padding: 40px;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
}

  /* section3 */
.style3{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    margin: 0px 20px;
}

.division{
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: baseline;
	align-content: center;
  margin: 15px;
}

.menucreate{
  width: 30px;
}

.text-block{
  font-size: 0.7em;
  color: rgb(56, 56, 56);
}

.button-cont{
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: baseline;
	align-content: stretch;
  padding: 20px;
}

.buttonorg{
  box-shadow: 8px 8px 0 rgba(128,83,35,.2);
  background-color: black;
  color:white;
  padding:10px;
  padding-left: 90px;
  padding-right: 90px;
  font-size: 1em;
  font-weight: bolder;
}