@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }
  .npmLogo {
    width: 60px;
    margin-right: 1rem;
    padding-top: 10px;
  }

  .search-section {
    display: flex;
    flex-direction: row;
    padding: 0 25px;
    justify-content: space-evenly;
    align-items: center;
  }
  .search-bar{
    display: flex;
    flex-direction: row;
    padding: 20px 1px 15px 1px;
    justify-content: flex-start;
    align-items: center;
    position: relative;  
}

  input{
    background: rgba(0, 0, 0, 0.055);
    width: 800px;
    height: 34px;
    
    border: 1px solid lightgray;
  }

   .search-bar .magnifyingGlass {
    width: 20px;
    margin-right: 1rem;
    position: absolute;
    left: 10px;
  }

  .search-btn{
    background-color: #fb3e44;
    color: white;
    width: 80px;
    height: 39px;
    padding: auto 25px;
    border: 1px solid lightgray;
  }

  .join-btn {
    border: 1px solid lightgray;
    padding: 0 15px;
    text-decoration: none;
    color:rgba(4, 46, 59, 0.438);
    font-weight: bolder;
  }

  .logIn-btn{
    text-decoration: none;
    color:rgba(4, 46, 59, 0.438);
    font-weight: bolder;
  }

  #section1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    background-color: rgba(232,217,217,.3);
    padding-bottom: 20px;
  }

  #section1 h1 {
    font-size: 5em;
    margin:0;
}
    #section1 p{
        text-align: center;
        font-size: 25px;
    }
  
  .link-btnS {
    background-color: #FB3B49;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
    color: white;
    padding: 10px 25px;
    text-decoration: none;
  }

  .link-btnJ {
      padding: 10px 60px;
      text-decoration: none;
      font-weight: bolder;
      color: black;
  }

  #section2{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    padding: 120px;   
  }
  .triangle-hexagon{
      width: 450px;
      margin-bottom: 30px;
  }
  #section2 h3 {
    font-size: 40px;
    font-weight: bolder;
    margin:20px;
    background: rgba(255,204,53,.4);
    transform: skew(9deg,0deg);
    font-style: italic;
  }
    #section2 p{
        text-align: center;
        font-size: 18px;     
  }

  #section3{
    height: 500px;
    padding: 50px 0; 
    display: flex;
    align-items: center;
    flex-direction: column; 
  }
   .menu{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        margin-bottom: 80px;   
    }

   .container{
       margin: 0 30px;
       display: flex;
       flex-direction: column;
      
   }
  #section3 img {
    width: 40px;
    height: 40px; 
  }
  #section3 h5 {
      font-weight:bolder;
      font-size: 20px;
      color:#ED1C24;
  }

  .link-CraeteAnOrg {
    box-shadow: 8px 8px 0 rgba(128,83,35,.2);
    color: white;
    background: black;
    text-decoration: none;
    padding: 10px 65px;
  }
  
  

  

