
.footer{
    padding: 2rem;
    font-family: $Poppins;
    border-top: 1px solid $border-light;
}

.footer-content{
    flex: 1 1 auto;
}

.footer-container{
    padding-right: 2rem;
    padding-left: 1rem;
    min-width: 16rem;
    justify-content: space-between;
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 1.5rem;
    align-items: flex-start;
}

.logo{
    margin-right: 2rem;
    padding-bottom: 1rem;
}

.footer-container span{
    font-weight: 600;
}

.footer-container li {
    color: rgb(63, 63, 63);
    padding: 0.5rem 0;
}

.footer-container .item{
    padding-bottom: 0.75rem;
}

.footer-container ul{
    padding-top: 0.5rem;
    font-size: 0.75rem;
}

.footer svg{
    margin-bottom: 1rem;
}