.header-container{
    min-width: 280px;
    max-width: 380px;
    cursor: pointer;
    font-weight: 500;
    font-size: 0.7rem;
}

.main-header{
    font-family: "Poppins", sans-serif;
    padding: 1rem;
    border-bottom: 1px solid $border-light;
}

.heart-container{
    font-weight: 400;
    letter-spacing: 0.3px;
}

.heart{
    position: relative;
    left: 12px;
}