.little-banner{
    background-image: linear-gradient(
        270deg, rgba(176, 42, 42, .16) 0%,
        rgba(176, 42, 42, .56) 18.45%,
        rgba(176, 42, 42, .8) 49.67%,
        rgba(176, 42, 42, .56) 82.52%,
        rgba(176, 42, 42, .196364) 99.7%,
        rgba(189, 40, 40, 0) 99.71%,
        rgba(203, 56, 55, 0) 99.72%,
        rgba(203, 56, 55, .16) 99.73%),
        url(https://static.npmjs.com/3dc2ca3d2e53fc894b904d917cf90015.png);

        font-family: $Poppins, sans-serif;
}

.little-content{
    max-width: 32rem;
    padding: 1rem 3rem;
}

.little-title{
    color: white;
    font-size: 2.25rem;
    font-weight: 600;
}

.little-description{
    color: white;
    font-size: 0.75rem;
}