.main-banner{
    background-image: linear-gradient( 270deg, rgba(176, 42, 42, .16) 0%, rgba(176, 42, 42, .56) 18.45%, rgba(176, 42, 42, .8) 49.67%, rgba(176, 42, 42, .56) 82.52%, rgba(176, 42, 42, .196364) 99.7%, rgba(189, 40, 40, 0) 99.71%, rgba(203, 56, 55, 0) 99.72%, rgba(203, 56, 55, .16) 99.73%), url(https://static.npmjs.com/abf53a31b2da4657a1a004ee9358551c.png);
    background-size: cover;
}

.main-container{
    max-width: 700px;
    padding: 5.5rem 1rem;
}

.banner-title{
    font-size: 4rem;
    color: white;
    padding: 1rem 2rem;
    font-family: $Poppins, sans-serif;
    letter-spacing: 1px;
    font-weight: 600;
}

.banner-content{
    color: white;
    padding: 1rem 5rem;
    line-height: 1.4rem;
    font-size: 0.875rem;
    word-spacing: 0;
    font-family: "Arimo", sans-serif;
}

.banner-subtitle{
    color: white;
    font-size: 2.25rem;
    padding: 1rem 3rem;
    font-family: $Poppins, sans-serif;
    font-weight: 600;
    line-height: 2.5rem;
}

.buttons{
    flex: 1 1 auto;
    margin-inline: 2rem;
    padding: 1.75rem 1rem;
}

.sign-free{
    background-color: #FFC329;
    border: none;
    padding: 1rem 1rem;
    border-radius: 50px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
    font-weight: 700;
    font-family: $Poppins, sans-serif;
    flex: 1 1 auto;
    margin-right: 1rem;
    margin-left: 2rem;
    cursor: pointer;
}

.learn-pro{
    padding: 1rem 1rem;
    border-radius: 50px;
    border: 1.5px white solid;
    color: white;
    background-color: #cb3837;
    font-weight: 700;
    font-family: $Poppins, sans-serif;
    flex: 1 1 auto;
    margin-left: 1rem;
    margin-right: 2rem;
    cursor: pointer;
}