
.main-nav{
    width: 100%;
    margin: 0.5rem;
    padding: 0.5rem 2rem;
    flex-wrap: wrap;
}

.button-form{
    height: 100%;
}

form.nav-form{
    background-color: rgb(242, 242, 242);
    flex: 1 1 auto;
}

.form-container{
    flex: 1 1 auto;
}

.nav-logo{
    width: 70px;
    height: auto;
    margin-right: 1.75rem;
}

.submit{
    background-color: black;
    color: whitesmoke;
    padding: 0.75rem 1rem;
    cursor: pointer;
}

.input-search{
    border: none;
    background-color: rgb(242, 242, 242);
    font-family: "Poppins", sans-serif;
    font-size: 0.75rem;
    font-weight: 300;
    letter-spacing: 0.4px;
}

.lupa{
    width: 40px;
    height: auto;
}

.button-container{
    padding-left: 1.75rem;
}

.sing-up{
    padding: 0.75rem 1rem;
    border: rgb(197, 195, 195) solid 1px;
    border-radius: none;
    background-color: white;
    cursor: pointer;
}

.sing-in{
    border: none;
    background-color: white;
    padding: 0.75rem 1rem;
    cursor: pointer;
}

.form-container:focus-within{
    border: 1px solid rgb(0, 0, 0);
}