.flex{
    display: flex;
}

.text-center{
    text-align: center;
}

.flex-down{
    display: flex;
    flex-direction: column;
}

.flex-between{
    display: flex;
    justify-content: space-between;
}

.flex-evenly{
    display: flex;
    justify-content: space-evenly;
}
 
.wrap{
    flex-wrap: wrap;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.m-center{
    margin: auto;
}

.p-1{
    padding: 1rem;
}

.p-2{
    padding: 2rem;
}

.p-3{
    padding: 3rem;
}

.p-4{
    padding: 4rem;
}