
@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }

  #lower_header {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .npm {
    width: 80px;
  }

  .search_button {
    background-color: #FB3B49;
    width: 80px;
    height: 40px;
    color: white;
    font-size: small;
    border: 0px;
  }

  .enter_buttons {
    background-color: whitesmoke;
    width: 40px;
    height: 25px;
    color: black;
    font-size: smaller;
    border: 1px solid grey;
    text-decoration: none;
    padding: 5px 15px;
  }
  

  .magni_glass {
    width: 25px;
  }

  .search_bar {
    background-color: lightyellow;
    width: 700px;
    height: 40px;
    border: 0px solid white;
    margin: 15px;
  }

  #first_section {
    height: 600px;
    background-color: cornsilk;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
  }

  #first_section h1 {
    color: black;
    font-size: 85px;
    font-weight: bold;
    margin: 5px 10px;
  }

  #first_section article {
    width: 450px;
    text-align: center;
    font-weight: bolder;
    font-size: medium;
    margin: 10px 10px;
  }

  #first_section div {
    width: 450px;
    margin: 30px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
  }

  #see_plan_button {
    background-color: #FB3B49;
    width: 200px;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
    box-shadow: 8px 8px rgba(251,59,73,.2);
  }

  #join_for_free_button {
    width: 200px;
    color: black;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
  }

  #second_section {
    height: 600px;
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .hexagon {
    width: 220px;
    margin: 10px 0px;
  }

  h2 {
    transform: skew(9deg,0deg);
    font-style: italic;
    background-color: rgba(255,204,53,.4);
    margin: 35px 0px 20px 0px;
  }

  #second_section article {
    width: 750px;
  }