@import url('https://fonts.googleapis.com/css?family=Poppins');

*{
    box-sizing: border-box;
}

body {
  font-family: 'Poppins';
  max-width: 1240px;
  margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
  }

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

nav {
    width: 600px;
}
  
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
nav a {
    text-decoration: none;
    color: black;
  }
  
.blackHeart {
    width: 20px;
    margin-right: 1rem;
  }
.topbar{
    display: flex;
    border-bottom: none;
    
    
}
.topbar-logo{
    display: flex;
    height: 25px;
    flex-grow: 1;
}
.topbar-find-logo{
    display: flex;
    height: 100%;
    flex-grow: 1;
}
.topbar-find-input{
    display: flex;
    font-size:2rem;
    flex-grow: 1;
}

form {
    display: flex;
    width:100%;
    background:rgba(0,0,0,.05);
    margin:5px 10px;
     
}

input, label {
    background:rgba(0,0,0,.05); 
    height: 30px;
    border:none;
    width:100%;
       
}
input[type="text"]
{
    font-size:1rem;
}
textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

::placeholder{
   font-size: 1rem; 
}

label{
    width:30px;   
}
.topbar-button {
    background:#fb3e44;
    color:#ffff;
    box-shadow: none;
    height: 30px;
    font-size: 1rem; 
    padding:5px 10px;
}
.topbar-login{
    display: flex;
    width:200px;
    justify-content:space-around;
}
.btn{
    padding:0px 15px;
   
}
.border{
    border:1px solid #828282;
    border-radius:5px;
}
.wrapper{
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background:rgba(232,217,217,.3);
    height:600px;
    padding: 0 25px;
}
.wrapper-title{
    font-size: 3.7rem;
    margin:0;
}
.wrapper-description{
    width: 400px;
    text-align: center;
}
.wrapper-actions{
    display: flex;
    justify-content:space-between;
    align-items:center;
    width: 400px;
    margin: 0 auto;
}
.wrapper-btn{
    width: 50%;
    text-align:center;
    padding:5px;
}
.red{
    background:#FB3B49;
    color:#fff;
    box-shadow:8px 8px 0 rgba(251,59,73,.2)
}

.opensource-section{
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin: 35px 0;

}
.opensource-section-img{
    width:100%;
    max-height: 200px;
    
}
.opensource-section-title{
    background:rgba(255,204,53,.4);
    transform: skew(9deg,0deg);
    font-style: italic;
    padding:0 15px;
    margin:0 5px;
    font-size:1.4rem;
}
.opensource-section-description{
    width:100%;
    max-width: 460px;
    text-align: center;
    font-size: 0.6rem;
    
}
.features-section{
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin: 0 auto ;
    min-height: 350px;

}
.features-card-container{
    display: flex;
    justify-self: center;
    margin: 0 auto;
    flex-wrap: wrap;
   
}
.features-card{
    width: 270px;
    padding:5px;
    margin:5px;
}
.card-img{
    width: 30px;
    align-self: start;
}
.card-title{
    color: #ED1C24
}
.card-description{
    font-size:0.9rem
}
.features-btn{
    background: black;
    color:white;
    box-shadow:  8px 8px 0 rgba(128,83,35,.2);
    padding:5px 100px;
    font-size: 0.8rem;
}

