@import url("https://fonts.googleapis.com/css?family=Poppins");

body {
  font-family: "Poppins";
}

/* header styles */
/* header {
    position: fixed;
    width: 100%;
    background-color: white;
} */

header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.blackHeart {
  width: 20px;
  margin-right: 1rem;
}

.header__bottom {
  padding: 10px 25px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.header__bottom > img {
  height: 20px;
  width: 40px;
}

.search__input {
  display: flex;
  justify-content: center;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.05);
  align-items: center;
  padding: 0px 0px 0px 10px;
}

.search__input > img {
  height: 15px;
  width: 15px;
}

.search__input > input {
  width: 100%;
  padding: 10px;
  background-color: transparent;
  border: none;
}

.search__input > button {
  background-color: #fb3e44;
  border: none;
  padding: 10px;
  color: white;
}

.header__bottom__links {
  width: 120px;
  display: flex;
  justify-content: space-between;
}

#join {
  border: 1px solid black;
  padding: 0px 10px;
}

/* banner styles */
.banner__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
  background-color: rgba(232, 217, 217, 0.3);
}


.banner__section > header {
    font-size: 70px;
    font-weight: bolder;
}

.banner__section > article {
    width: 40%;
    margin-top: 40px;
    text-align: center;
}

.banner__section__links {
    margin-top: 40px;
    display: flex;
    width: 40%;
    justify-content: space-between;
}

.banner__section__links a {
    text-decoration: none;
    color: white;
}

#see_plans {
    padding: 15px 50px;
    background-color: #FB3B49;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
}

#free_join {
    color: black;
    padding: 15px 50px;
    background-color: white;
}

/* 2nd section styles */
.info__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.info__section > img {
    height: 200px;
    width: 200px;
}

.info__section header {
    font-weight: bold;
    font-size: larger;
    background-color: rgba(255,204,53,.4);
    transform: skew(9deg,0deg);
    font-style: italic;
    padding: 0px 50px;
    margin: 30px 0px 20px 0px ;
}

.info__section > article {
    width: 40%;
    text-align: center;
    font-size: small;
}

/* 3rd section styles */
.mgt__info__section {
    padding: 0px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info__card img {
    height: 40px;
    width: 40px;
}

.mgt__info {
    display: flex;
    justify-content: space-evenly;
}

.info__card {
    max-width: 20%;
    text-align: justify;
    padding: 20px;
}

.info__card header {
    color: #ED1C24;
    margin: 20px 0px;
    font-weight: bold;
}

.info__card article {
    font-size: small;
}

.mgt__info__section > button {
    width: 300px;
    align-self: center;
    box-shadow:  8px 8px 0 rgba(128,83,35,.2);
    background-color: black;
    color: white;
    padding: 15px 20px;
    margin: 50px 0px;
}