@import url('https://fonts.googleapis.com/css?family=Poppins');


body {
    font-family: 'Poppins';
}

/* Header */

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    height: 50px;
}

nav {
    width: 600px;
}

nav a {
    text-decoration: none;
    color: black;
    text-align: right;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.magnGlass {
    width: 18px;
    height: 18px;
    margin-top: 10px;
}

.search {
    display: flex;
    height: 40px;
}

input {
    width: 900px;
    background-color: #f2f2f2;
    margin-bottom: 6px;
    margin-right: -16px;
}
.topnav {
    overflow: hidden;
    display: flex;
    align-items: space-between;

}
    
.topnav a {
    float: right;
    background-color: white;
    color: black;
   
    text-align: center;
    text-decoration: none;
    font-size: 16px;

    padding: 3px 25px;
    margin: 8px 0;
}

.join_button {
    border-style: solid;
}

.topnav input[type=text] {
    font-size: 16px;

    float: left;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
}

.blackHeart {
    width: 40px;
    margin-right: 1rem;
}

.npm {
    width: 70px;
}

.procura {
    background-color: #D10D0D;
    width: 80px;
    border: none;
    color: white;
}

/*Build Amazing Things*/

.upper {
    background-color: #f8f4f4;
    margin-top: 0;
    padding: 50px 0;
}

.plans {
display: flex;
justify-content: center;
margin-top: 25px;
}

.see {
    text-decoration: none;
    text-align: center;

    background-color: #D10D0D;
    color: white;

    margin-right: 25px;
    width: 125px;
    padding: 5px 0;

    box-shadow: #fbd0d2;
    box-shadow: 5px 5px #fad7d9;
}

.free {
    text-align: center;
    text-decoration: none;

    background-color: white;
    color:  black;

    width: 125px;
    padding: 5px 0;
    margin-left: 20px;
}

.build {
    display: flex;
    justify-content: center;
    font-weight: 800;
    font-size: 75px;
    margin-top: 0;
}

/*Bring the Best of open source to your company*/

.bring {
    display: flex;
    justify-content: center;
    font-weight: 800;
    font-size: 30px;
    background-color: #ffebb5;
    margin: 45px 200px;
}

.hexagonal {
    width: 300px;
    display: block;
    margin: 25px auto;
}

/*4 boxes*/

.foot {
    display: flex;
    flex-direction: row;
justify-content: center;}

.title {
    color: #D10D0D;
    text-align: left;
}

article {
    text-align: center;
    font-size: large;    
   margin: 0 200px;
}

.text {
    font-size: 16px;
    text-align: left;
}

.end { /*images from 4 boxes*/
    width: 50px;
    margin: auto;    
}

.box {
    margin-top: 100px;
    margin-right: 50px;
    width: 225px;
}

.button {
    display: flex;
    justify-content: center; 
}

.create {
    text-decoration: none;
    background-color: black;
    color: white;
    width: 300px;
    text-align: center;
    padding: 5px 0;
    border-radius: 15px;

    margin-top: 25px;

    box-shadow: 5px 5px #888888;
}