/* resetting all default styles from browsers */
@import "./_reset.css";

/* importing font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* establishing root font size */
html {
  font-size: 16px;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0 1.5rem;

}

/* header */
header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

/* header: 1st line */
.header-line-nav {
  padding: 1.4em 1.6em 1em;
}

#slogan img {
  padding: 0 1.6em 0 0;
  width: 1.3em;
}

#slogan span {
  font-size: 0.8em;
}

nav {
  font-size: 0.8em;
  font-weight: 600;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav li {
  padding-left: 1em;
}

nav a {
  text-decoration: none;
  color: black;
}

/* header 2nd line */
.header-line-form {
  padding: 0.4em 1.6em;
}

#logo-and-form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  width: 100%;
}

.logo {
  margin: 0 1.5rem 0 0;
  width: 4rem;
}

header form {
  display: flex;
  justify-content: stretch;
  align-items: center;
  width: 90%;
}

header form label {
  background-color: rgba(0,0,0,.05);
  height: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

header form img {
  padding: 0 0.7rem;
  width: 1.2rem;
}

header form input {
  background-color: rgba(0,0,0,.05);
  border: none;
  font-family: monospace;
  height: 2.2rem;
  width: 100%;
}

header form button {
  background-color: #fb3e44;
  border: none;
  color: white;
  height: 2.4rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

#account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
}

#account a {
  color: black;
  font-size: 0.8em;
  padding-left: 1em;;
  text-decoration: none;
  white-space: nowrap;
}

#account .button-join {
  border: 1px solid black;
  border-radius: 0.1em;
  padding: 0.5em 1em;
}

/* 1st section: CTA */
#cta {
  background-color: rgba(232,217,217,.3);
  box-shadow: inset 0 5px 5px rgba(232,217,217,.3);
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#cta h1 {
  font-size: 4.5em;
  font-weight: 700;
  text-align: center;
}

#cta p {
  font-size: 1.2em;
  line-height: 2rem;
  margin: 3rem 0;
  text-align: center;
  width: 40%;
}

#cta div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}

#cta a {
  font-size: 1.1em;
  font-weight: 600;
  padding: 1em 4em;
  text-decoration: none;
}

.see-plans {
  background-color: #FB3B49;
  box-shadow: .5rem .5rem 0 rgba(251,59,73,.2);
  color: white;
}

.join-for-free {
  background-color: white;
  color: black;
}

/* 2nd section: PRESENTATION */
#presentation {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#presentation img {
  width: 15rem;
}

#presentation h2 {
  background-color: rgba(255,204,53,.4);
  margin: 3rem 0 2rem; /* managing vertical spacing in flex section */
  transform: skew(9deg,0deg);
}

#presentation div {
  font-size: 2em;
  font-weight: 600;
  margin: 0.2rem 2rem 0; /* creating offset for the h2 background color */
  transform: skew(-9deg,0deg); /* reversing skew on font */
}

#presentation p {
  font-size: 0.9em;
  line-height: 1.5rem;
  width: 53%;
}
