@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }

  /* my stuff*/

  .npmLogo {
    width: 60px;
    margin-right: 1rem;
  }

  .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .magnifyingGlass {
    width: 25px;
    background-color: rgba(0,0,0,.05);
    padding: 10px 20px;
    margin: 10px 0px 10px 5px;
  }
  
  .input-search {
    background-color: rgba(0,0,0,.05);
    padding: 15px;
    margin: 15px 0px 15px 0px;
    border: 1px black;
    width: 720px
  }
  
  .search-button {
    border: 1px black;
    color: white;
    background-color: #fb3e44;
    padding: 15px 20px;
    margin: 10px 10px 10px 0px;
    text-decoration: none;
  }

  .joinLogIn {
    display: flex;
    flex-direction: row;
    list-style: none;
    }

  .join {
    border: 1px solid black;
    color: black;
    background-color: white;
    padding: 5px 15px;
    margin-top: 15px;
    text-decoration: none;
  }

  .logIn {
    border: 1px black;
    color: black;
    background-color: white;
    padding: 15px;
    margin-top: 15px;
    text-decoration: none;
  }

  /*section 1*/

#general_information {
    height: 600px;
    background-color: rgba(232,217,217,.3);
    list-style: none;
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    font-size: 3em;
    padding: 0px;
    margin: 0;
}

.text {
    width: 400px;
    padding: 40px;
}
.plans-join {
    display: flex;
    flex-direction: row;
}

.see-plans-button {
    padding: 10px 50px;
    margin: 20px;
    color: white;
    background-color: #FB3B49;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
    text-decoration: none;
}

.join-button {
margin: 20px;
color: black;
text-decoration: none;
}

/*section 2*/

#advertisement {
    list-style: none;
  }

.section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.triangleHexagon {
    width: 20%;
    margin: 30px;
}
.title2 {
    font-size: 1.5em;
    padding: 0px;
    margin: 0;
    text-align: center;
    background-color: rgba(255,204,53,.4);
    transform: skew(9deg,0deg);
}

.text2 {
    width: 570px;
    padding: 40px 0px 40px 0px;
    text-align: center;
    margin: 0 0 50 0;
}

/* section 3 */

#create-an-org {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 80px;
}

.logos {
    width: 35px;
    margin: 0;
}

.sub-heading {
    color: #ED1C24;
}

.text3 {
    width: 250px;
    margin: 10px;
}

.org {
    box-shadow: 8px 8px 0 rgba(128,83,35,.2);
    color: white;
    background-color: black;
    text-decoration: none;
    padding: 10px 90px;
    margin: 50px;
}