@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
  width: 100%;
}

/* Header Upper div  */

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    width: 1450px;
}

  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }


 /* Header bottom div  */

  .nav-bar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    background-color:rgba(0,0,0,.05);
    margin: 8px;
    
    }
  
    .npm-logo{
        width: 70px;
        margin-right: 1rem;
    }
  .nav-bar form{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
  }
  
  .nav-bar input{
    font-family:"poppins";
    border: 1px none rgba(0,0,0,.05);
    background-color: rgba(0,0,0,.00) ;
    position: relative;
    left:20px;
   
  }
  .nav-bar img{
    width:21px;
    position: relative;
    left:10px;
    top:3px;
  
  }
   .nav-bar button{
      color:white;
      border: 1px none #fb3e44;
      background-color:#fb3e44 ;
      padding: 8px 25px;
      font-family:"poppins";
      font-weight: bold;
   
   }
  
   .links-bottom-div a{
       text-decoration: none;
       color:black;
   }
   .link-join{
      border: 1px solid lightgray;
      padding:2px 15px;
      margin-right: 10px;
   }
 

/* Section 1 */

 #section-1{
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
     height: 600px;
     width: 1500px;
     background-color: rgba(232,217,217,.3);   
 }

 h1 {
font-size: 6em;
font-weight: bold;
position: relative;
bottom: 50px;
 }

article {
     display: inline-block;
     width:600px;
     font-size:22px;
     text-align: center;
     font-weight: bold;
     line-height:1.7;
     margin: 30px;
     position: relative;
     bottom: 150px;
 }

 .links-section-1 a{
     text-decoration: none;
     color:black;
     margin: 60px; 
     position: relative; 
     bottom: 130px;
 }

 #plan {
  font-size:22px;
     color:white;
     background-color: #FB3B49;
     box-shadow: 8px 8px 0 rgba(251,59,73,.2);
     padding: 20px 50px;
 }

 #register {
  font-size:22px;
     font-weight: bold;
     background-color:white;
     padding: 20px 50px;
 }

 /* Section 2 */

 #section-2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 600px;
    width: 1500px;   
 }
 
#section-2 img{
  width: 250px;
  position: relative;
  top: 45px;
 }

 #section-2 h2{
font-size: 35px;
font-style: italic;
background-color: rgba(255,204,53,.4) ;
transform: skew(9deg,0deg);
padding:0 70px;
position: relative;
top: 60px;

 }

 #section-2 article{
  font-size: 20px;
  width: 950px;
  text-align:center; 
  position: relative; 
  top:25px 
 }

 /* Section 3 */
#section-3{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 600px;
  width: 1500px;
 
}

#section-3 .container{
height: 600px;
display:flex;
justify-content:center;
flex-direction: row;
}

.box-1{
  font-size: 20px;
  text-align: left;
  width:300px;
  position: relative;
  top:78px;
  margin-right: 50px;

}
.box-2{
  font-size: 20px;
  text-align: left;
  width:280px;
  position: relative;
  top:68px;
  margin-right: 50px;
}

.box-3{
  font-size: 20px;
  text-align: left;
  width:300px;
  position: relative;
  top:80px;
  margin-right: 50px;
}

.box-4{
  font-size: 20px;
  text-align: left;
  width:280px;
  position: relative;
  top:75px;
  margin-right: 50px;
}

.logo{
width: 80px;
}

.title-section-3{
  color: #ED1C24;
  font-size: 24px;
  font-weight: 900;
}

#section-3 a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  background-color: black;
  box-shadow: 8px 8px 0 rgba(128,83,35,.2);
  padding: 15px 150px;
  position: relative;
  bottom: 110px;
}


