@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}
header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

.blackHeart {
  width: 20px;
  margin-right: 1rem;
}

.search-bar{
  display:flex;
  flex-direction:row;
  size:20px;
}

.npmLogo{
  display:flex;
  flex-direction:row;
  width: 50px;
  margin-left: 1rem;
}

.magnifyingGlass{
  display:flex;
  flex-direction:row;
  width: 20px;
  margin-left: 1rem;
}

.search{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color:#fb3e44;
    border:none;
    width:80px;
    height:30px;
    text-align:center;
    color:white;
}

.join{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color:#fb3e44;
  border:none;
  color:white;
  width:80px;
  height:30px;
}

#buildingAmazingThings{
  background-color: rgba(232,217,217,.3);
  height:500px;
}

h1{
  font-size:65px;
  padding-top:60px;
  padding-bottom:20px;
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
}

article{ 
  padding-top:5px;
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;}

  .buttons{
    padding-top:40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: flex-start;
  }

  .joinForFree{
    background-color:grey;
    color:white;
    text-align:center;
    padding-top:30px;
    padding-bottom:30px;
    border:none;
    height:80px;
    width:200px;
    }
  .seePlans{
    background-color:#fb3e44;
    box-shadow:inset;
    color:white;
    border-color:none;
    border:none;
    height:80px;
    width:200px;
   
  }

  #CompanyOpenSource{
    background-color:rgba(232,217,217,.3);
    height:600px;
  }
  .triangleHexagon{
    margin-right:10px;
    margin-left:10px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: stretch;
      align-content: center;
      width:200px;
      height:200x;
    }

 h2{
  height:30px;
  font-size:30px;
  font-weight:lighter;
  background-color:rgba(255,204,53,.4);
  transform: skew(9deg,0deg);
  font-size:35px;
  padding-top:20px;
  padding-bottom:20px;
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
 }

 .tool{
  font-size:20px;
  padding-top:20px;
  padding-bottom:20px;
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
 }
.zero{
  display:inline-block;
  font-size:10px;
  text-align:center;
  width:100px;
  height:100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  }
  .zeroConfiguration{
    width:30px;
    height:30px;
  }
  h3,h4,h5,h6{
    color:#ED1C24;
    font-size:10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;
  }
 .team{
  display:inline-block;
  font-size:10px;
  text-align:center;
  width:100px;
  height:100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: center;
 }
 .teamManagement{
  width:30px;
  height:30px;
 }
.features{
  display:inline-block;
  font-size:10px;
  text-align:center;
  width:100px;
  height:100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: center;
 }
 .features{
  width:30px;
  height:30px;
 }
.audit{
 display:inline-block;
 font-size:10px;
 text-align:center;
 width:100px;
 height:100px;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;
 align-items: stretch;
 align-content: center;
}
.npm-audit{
  width:30px;
  height:30px;
}
