@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins';
}

h1 {
  font-size: 3.5em;
  font-weight: 600;
  text-align: center;
  margin-top: 70px;
}

h2 {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  font-style: italic;
  background-color: rgba(255, 204, 53, 0.4);
  transform: skew(9deg,0deg);
  padding: 0 20px;
}


h3 {
  color: #ED1C24;
  padding: 10px 0 20px 0;
}


/* Header's Part */


.blackHeart {
  width: 20px;
  margin-right: 1rem;
}


header > div {
  display: flex;
  padding: 0px 15px;
  margin: 0px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

nav {
  width: 600px;
}

nav a {
  text-decoration: none;
  color: black;
}

#header {
  display: flex;
  border: none;
  padding : 10px 0 10px 0;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 4em;
  display: flex;
  margin-left: 13px;
}


.searchBar {
  background-color: rgba(0, 0, 0, .05);
  padding: 14px 700px 14px 45px;
  border:none;
  background-image: url("/Users/melisa/Desktop/Ironhack/lab-html-exercise/images/magnifying-glass.png");
  background-size: 23px 23px;
  background-repeat: no-repeat;
  background-position: 10px 10px;
  position: relative;
  right: 10px;
}

.search-btn {
  background: #fb3e44;
  border: 1px lightgray solid;
  font-size: 15px;
  padding: 13px 0;
  width: 90px;
  color: white;
  text-align: center;
  position: relative;
  right: 20px;
  top: 1px;
}

.join-link {
  text-decoration: none;
  color: rgb(25,51,0);
  border: 1px solid gray;
  text-align: center;
  padding: 5px 15px;
  position: relative;
  right: 20px;
}

.logIn-link {
  text-decoration: none;
  color: rgb(25,51,0); 
  padding: 5px 15px;
  position: relative;
  right: 10px;
}

/* end Header's Part */

/* Section 1's Part */

#firstSection {
  background: rgba(232, 217, 217, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seePlans {
  text-decoration: none;
  color: white;
  background: #FB3B49;
  box-shadow: 8px 8px 0 rgba(251,59,73,0.2);
  padding: 7px 40px;
}

.joinForFree {
  text-decoration: none;
  color: black;
  background: white;
  padding: 7px 40px;
}

#firstSection .box {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 70px;
  padding: 25px 0px;

}

#firstSection .text {
  margin-bottom: auto;
  padding: 10px 0;
  position: relative;
  bottom: 50px;
}


.bigBox {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.smallBox {
  padding: 0 15px;
}


/* End Section 1's Part */

/* Section 2's Part */

#secondSection {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.text {
  text-align: center;
  font-size: 15px;
  width:50%;
  margin-left: auto;
  margin-right: auto;
}

.image {
  display: block;
  width: 12.5%;
  padding: 20px 0;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
}


/* End Section 2's Part */



/* Section 3's Part */


#thirdSection img {
  width: 60px;
  height: 50px;
  padding: 5px;
  display: block;
  margin-top: 10%;
}

.box {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  padding: 100px 30px;
}

.item {
  display: block;
  box-sizing: border-box;
  width: 25%;
  padding: 0 20px;
} 


.content {
  text-align: left;
  font-size: 15px;
}

.create-org {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  background-color: black;
  margin-bottom: 90px;
  text-align: center;
  box-shadow: 8px 8px 0 rgba(128, 83, 35, 0.2);
  padding: 15px 20px;
}

.create-org a {
  color: white;
  text-decoration: none;
  text-align: center;
}


/* End Section 3's Part */