
/* @import url('https://fonts.googleapis.com/css?family=Poppins'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800;900&display=swap');

html, body{
  margin: 0;
  padding: 0;
} 

body {
  font-family: 'Poppins';
  
}


h1{
  font-size: 5em;
  margin: 0;
  
}

h3{
  font-size: 2.1em;
  background-color: rgba(255,204,53,.4);
  transform: skew(9deg,0deg);
  font-style: italic;
  padding-left:  50px;
  padding-right:  50px;
}

h4{
  font-size: 1.2em;
  color: red;
}





a{text-decoration: none;}
ul{list-style: none;}
.white-a{color: white}
.black-a{color:black}

header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: black;
}

.blackHeart {
  width: 20px;
  margin-right: 1rem;
}

.bottom-header{
 justify-content: space-between;
 
}

form {
  display: flex;
}
form input,label,button{
  margin:10px auto;
}

form input,label{
background-color: rgba(0,0,0,.05);
border:none;
padding: 5px;
}

.npm-logo{
  height: auto;
  width: 80px;
  
  
}

.mag-glass{
  width: 20px;
  padding: 10px 0 0 15px;

}

form input{
  font-family: inherit;
  width: 69vw;

}

.butt-search{
background-color:#fb3e44;
padding: 10px 20px; 
text-align: center;
border:none;
align-items: center
}
.div-butt{
  display: flex;
  width: auto;
  margin: 0;
}
.butt-bottom{
  background-color: white;
  align-items: center;
  padding: 12px 20px;
}


.join{
  border: 1px solid black;
}

.login{
  border: none
}

/* sections */
.slex{
  display: flex;
  flex-direction: column; 
  height: 600px;
  
}


#section1, #section2 {
  justify-content: space-evenly;
  align-items: center ;
  text-align: center;
  padding: 50px 0;
}

section button{
  margin-top: 20px;
  border: none;
  height: 60px;
  font-size: 1.2em;
  
}

.shadow{
  box-shadow: 8px 8px 0 rgba(128,83,35,.2)
}



#section1{
  background-color: rgba(232,217,217,.3);
  
}

#section1 article{
  font-size: 1.3em;
}

#section1 article,.flex-butts{
  width: 550px;
  
  align-items: center;
}

.flex-butts{
  display: flex;
  justify-content: space-between;
}

.butt-1{
  width: 45%;
  font-size: 1.2em;
}


.butt-plans{
background-color:#FB3B49 ;
}

.butt-join{
background-color: white;
}


#section2 article{
width: 790px;
}

.hexagon{
  width: 200px;
  height: auto;
}


#section3 {
  justify-content: space-evenly;
  align-items: center ;
  margin: 0 5% ;
}

.flex-4{
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  justify-content: space-evenly;
}


.box-3{
width: 20%  

}

.box-3 img{
width: 50px;
height: auto;
}

.box-3{

}


.org-butt{
  width:33%;
  background-color: black;
}

