@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

.blackHeart {
  width: 20px;
  margin-right: 1rem;
}





#search{ 
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.search-bar{
background-color: rgba(87, 83, 83, 0.05) ;
border-color: white;
width: 500px;
height: 30px;
}

.npm{
  width: 50px; 
  margin-right: 1rem;
}

.glass{
  height: 40px;
  margin-left: 1rem;
  background-color: rgba(87, 83, 83, 0.05);
}

.button{
  color: white;
  background-color: red;
  border-color: white;
  width: 65px;
  height: 30px;
}




#first-section{
  height: 600px;
  background-color: rgba(232,217,217,.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
  margin: 0px 0px 100px;
}
#first-section h1{
  font-size: 95px;
  font-weight: bold;
}
#first-section p{
  text-align: center;
  width: 750px;
  font-size: 30px;
}

#build-buttons{
  height: 150px;
}
.see-plans{
  background-color: #FB3B49;
  box-shadow:8px 8px 0 rgba(251,59,73,.2);
  color: white;
  height: 45px;
  width: 150px;
}
.join-free{
  height: 45px;
  width: 150px;
  border-color: white;
}




#second-section{
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
#second-section h2{
  font-size: 40px;
  font-weight: bold;
  height: 60px;
  width: 1100px;
  background-color: rgba(255,204,53,.4);
  text-align: center;
}
#second-section p{
  font-size: 20px;
  font-style: italic;
  width: 900px;
  text-align: center;
}

.triangle{
  height: 270px;
  display: flex; 
  margin-bottom: 50px;
}





#third-section{
  display: flex;
  justify-content: space-around; 
}
#third-section img{
  margin-bottom: -40px;
height: 30px;
}
#third-section h6{
  font-size: 20px;
  color: red;
}
#third-section p{
  width: 250px;
}

#button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.org{
  background-color: rgb(31, 25, 25);
  color: white;
  box-shadow: 8px 8px 0 rgba(128,83,35,.2);
  font-size: 30px;
  font-weight: bold;
  align-items: center;
  height: 80px;
  width: 600px;
  margin-left: 350px;
  margin-top: 100px;

}