@import url('https://fonts.googleapis.com/css?family=Poppins');
body {
  font-family: 'Poppins';
}
header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    font-weight: bold;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
  
   div ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }

  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }

  .npmLogo {
    width: 70px;
    margin-right: 1rem;
  }

  .positionWell {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: baseline;
    align-content: stretch;
}
  .form-style {
    background-image: "C:\Users\840 G3\Desktop\final assessment\lab-html-exercise\images\magnifying-glass.png)";
    background-repeat: no-repeat;
    background-position: right center;
    background-origin: content-box;
    background-color: lightgrey;
    border: 1px solid #f2f2f2;
    border-color:rgba(0,0,0,.05);
    width: 600px;
    display:flex;
    justify-content: space-between;
    letter-spacing: 0.5px;
}

    .input-style {
    color:rgba(0,0,0,.05))
    font-family:Arial;
    line-height:1.15;
    }

    .button {
        background-color: #fb3e44;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
      }

    .link-btn {
        background-color: white;
        border: 3px solid rgba(0,0,0,.05);
        font-size: 14px;
        color: black;
        text-align: center;
        text-decoration: none;
        padding: 10px 30px;}

    .simple-btn {
            font-size: 14px;
            color: black;
            text-align: center;
            text-decoration: none;
            padding: 10px 30px;}
    
#building {
        background-color: rgba(232,217,217,.3);    
        display: flex;
        justify-content: center;
        flex-direction: column;
	    flex-wrap: nowrap;
	    align-items: center;
	    align-content: stretch;
        font-weight: bold;
        height: 600px;
        
              }

.subheadline {
     font-size: 80px;
                color: black;
                font-family: Poppins,sans-serif;}           

.seeplans-btn {
                background-color: #FB3B49;
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 14px;
                font-weight: bold;
                box-shadow: 8px 8px 0 rgba(251,59,73,.2);
                  }

.modify-triangle {
    width: 109px;
    height: 96px;
                }

#bringing {
                    background-color: white;    
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    align-items: center;
                    align-content: flex-start;
                    font-weight: bold;
                    height: 600px;
                    
                          }
            
.subheadline-bringing {
                background-color: rgba(255,204,53,.4);
                font-size: 30px;
                color: black;
                font-family: Poppins,sans-serif;
                transform: skew(9deg,0deg);
                font-style: italic;}           

.subheadline-zero {
                    color:#ED1C24;
                    border: 2px solid #EEE;
                    border-color:rgba(206, 105, 105, 0.05);
                    box-sizing: border-box;
                    margin: 50px 5% 0 5%;
                    padding: 20px;
                    width: 40%;
                  }

.createOrg-btn {
                    background-color: black;
                    border: none;
                    color: white;
                    padding: 15px 32px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    font-size: 14px;
                    font-weight: bold;
                    box-shadow: 8px 8px 0 rgba(128,83,35,.2);
                      }
 
 #zero img {
    width: 60px;
    height: 40px;
 }

 .container {
    width: 600px;
    margin: 3 auto;
    padding: 0px 5;
  }

 #zero > div {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	align-content: center;}

    #zero > div > article {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: stretch;
        align-content: center;
      }
                      
                      
           









 

