@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}
header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }

  .logo {
    width: 30px;
    margin-right: 1rem;
  }
  .searchpicture{
  width: 10px;
}

.pink-background{
background-color:rgb(232, 217, 213)
}

.slot-form-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.join_login{
    float:right;
}

h1{
    text-align:center;
}

.text1{
    text-align:center;
}

.seeplans_login{
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    text-align:center;
}

.text2{
    text-align:center;
}

h3{
    color:red;
}

.hexagon{
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.audit {
    width: 30px;
    margin-right: 1rem;
}

.configuration{
    width: 30px;
    margin-right: 1rem;
}

.management{
width: 30px;
margin-right: 1rem;
}

.familiar{
    width: 30px;
    margin-right: 1rem;
    }
