@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }

  .buttons {
    color:white;
    background-color: #fb3e44;
  }

  #logo {
    width: 40px;
    margin-right: 1rem;
  }

  #magnifyinglass {
    widt: 20px;
  }

  #section1 {
    height: 600px;
    background-color: rgba(232,217,217,.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .seeplans {
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
    background-color: #FB3B49;
    border-color: #fb3b49;
    color: white;
    width: 150px;
    height: 50px;
  }

  .joinfree {
    background-color: rgba(232,217,217,.3);
    width: 150px;
    height: 50px;
    margin-left: 30px;
    border: none;
  }

  #links-build {
    margin-top: 40px;
  }

  #article1 {
    width: 30%;
    text-aligh: center;
  }

  .linkbutton {
    border: 300px;
    text-decoration: none;
    color:black;
    margin-left: 15px;
  }

  #join {
    border: 1px solid black;
  }
  
  #section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px; 
  }

  #bring{
    background-color: rgba(255, 204,53,.4);
    transform: skew(9deg,0deg);
    font-size: 30px;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 50px;
  }

  #article2{
    width: 50%;
    text-align: center;
    font-style: italic;
    font-size: 14px;
  }

  #seccion3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 100px;
    padding-right: 50px;
  }

  #org {
    text-align: center;
    width: 100%;
    margin-bottom:200px;
  }

  #org >a {
    background-color: black;
    text-decoration: none;
    color: white;
    border: black;
    box-shadow: 8px 8px 0 rgba(128,83,35,.2);
    padding: 10px 100px 10px 100px;
  }