@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: 'Poppins';
}

header>div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

nav {
    width: 600px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: black;
}

.blackHeart {
    width: 20px;
    margin-right: 1rem;
}

#search-bar img {
    width: 50px;
    margin-right: 1rem;
}

.searchBtn {
    background-color: #fb3e44;
    border: none;
    color: white;
    display: inline-block;
    padding: 10px 15px;
}


.searchInput {
    overflow: hidden;
    background-color: rgba(0, 0, 0, .05);
    border: none;
    padding: 10px 460px;
}

#search-bar {
    padding: 5px;
}

div .searchInput {
    background-image: url('https://i.imgur.com/Gha40tE.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 1% 50%;
    text-indent: 30px;
    padding-left: 3px;
}

div .searchInput:focus {
    background-image: none;
    text-indent: 0px;
}


.search {
    display: flex;
    align-content: center;
}

.loginBtn {
    border: none;
    background: none;
}

.actionbuttons {
    display: flex;
    flex-wrap: wrap;
}

#general-information>div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 400px;
    background-color: rgba(232, 217, 217, .3);
    align-items: center;
}

#sourcing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    margin: 4em;
    align-items: center;
}

h1 {
    font-size: 4em;
    text-align: center;
    margin-bottom: 3px;
    margin-top: 3em;
}

h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 3px;
    margin-top: 3px;
    font-style: italic;
}

h3 {
    font-size: .8em;
    color: #ED1C24;
    font-weight: bold;
}

article {
    display: flex;
    margin-bottom: 5em;
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
    width: 60%;
    font-size: 1em;
}




.sectiononeaction li {
    list-style: none;
    display: inline-block;
    text-align: center;
    align-items: center;
    margin-top: -100px;
}



.seeplans {
    display: block;
    width: 100px;
    height: 35px;
    background-color: #fb3e44;
    padding-top: 0.5em;
    color: white;
    box-shadow: 8px 8px 0 rgba(251, 59, 73, .2);
    text-decoration: none;
}

.joinforfree {
    display: block;
    width: 100px;
    height: 35px;
    padding-top: 0.5em;
    padding-left: 1.5em;
    color: black;
    text-decoration: none;
}



.sourcing-article {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-left: 4em;
    margin-right: 2em;
    width: 75%;
}

.section2header {
    background-color: rgba(255, 204, 53, .4);
    transform: skew(9deg, 0deg);
    width: 75%;
    margin-left: 2em;
}

#sourcing svg {
    width: 70%;
    height: 70%;
    padding-bottom: 2em;
}



#features {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 900px;
    padding: left;
    margin-left: 13em;
}

#features .container {
    display: flex;
    flex-direction: column;
    width: 150px;
    justify-content: space-evenly;
    align-items: center;

}

p {
    font-size: 10px;
    text-align: left;
}

#features svg {
    width: 1.5em;
    padding-right: 80px;
}

.createOrgBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: white;
    background: black;
    box-shadow: 8px 8px 0 rgba(128, 83, 35, .2);
    width: 15em;
    height: 2em;
    margin-bottom: 4em;
    margin-left: 40em;
}