@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}
header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  width: 600px;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav a {
  text-decoration: none;
  color: black;
}
.blackHeart {
  width: 20px;
  margin-right: 1rem;
}
.logo-npm{
  width: 65px;
}
.fontAwesome {
  font-family: 'Helvetica', FontAwesome, sans-serif;
 }
.form{
  display: flex;
  align-items: center;
  margin: 0px 100px;
  position: relative;
  width: 500px;
}
#search-packages{
  padding: 10px 400px;
  box-sizing: border-box;
  color: #191919;
  padding: 15px 15px 15px 35px;
  width: 100%;
}
.search-packages-icon {
  color: #191919;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

#button-search{
  background-color: #FB3B49;
  color: white;
  solid: none;
  padding: 15px 30px;
  text-align: center;
  text-weight: bold;
  text-decoration: none;
}
.section-b{
  height: 70px;
}
#join-button{
  background-color: white;
  color: black;
  padding: 10px 50px;
  text-align: center;
  border: 1px solid;
  text-decoration: none;
}
#log-in-button{
  background-color: white;
  color: black;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
}
.buttonlog-join{
  display: flex;
  justify-content: flex-end;
}
.section1 {
    text-align: center; 
    background-color: rgba(232,217,217,.3);
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
  font-size: 50px;
  font-weight: bold;
}
#article1 {
  padding: 0px 30px 20px;
  width: 400px; 
}
#button2 {
    text-align: center;
    display: flex;
    justify-content: space-around;
    width: 400px; 
    padding: 10px 30px;
}
#see-plans{
  background-color: #FB3B49;
  color: white;
  padding: 14px 25px;
  text-align: center;
}
#join-for-free{
  background-color: white;
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
}
.section2{
    text-align: center; 
    height: 700px;
}
#hexagon{
  margin: 50px 0px;  
  width: 300px;
}
#heading3{
  background-color: rgba(255,204,53,.4);
  margin: 0px 500px;

}
h3{
  
  font-size: 30px;
  font-weight: bold;
}
#article2{
  margin: auto;
 padding: 0px 30px 20px;
  width: 800px; 
}
.section3{
    margin: 20px 20px;
    padding: 60px 60px;
    text-color: red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    text-align: left;
}
.zero-config{
  margin: 10px 10px;  
  padding: 40px 40px;
  width: 800px;
  height: 200px;
}
.team-manag{
 margin: 15px 15px;  
  padding: 40px 40px;
  width: 500px;
  
}
.familiar-feat{
  margin: 15px 15px;  
  padding: 40px 40px;
  width: 500px;
  
}
.npm-audit{
  margin: 15px 15px;  
  padding: 40px 40px;
  width: 500px;
  
}
.zero-configuration{
  width: 50px;
}
.team-managment{
    width: 50px;
}
.familiar-features{
    width: 50px;
}
.npm-audit{
    width: 50px;
}
h4{
  color: #ED1C24;
  font-weight: bold;
}
.button-org{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
     flex-direction: row;
     

}
#create-org{
  color: white;
  padding: 20px 100px;
  font-weight: bold;
  text-align: center;
  background-color: black;
  
}