@import url('https://fonts.googleapis.com/css?family=Poppins');

html, body{
  margin: 0;
  padding: 0;}

body{
  font-family: Poppins;
}

header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}
h1 {
  font-size: 4em;
  text-align: center;
  font-weight: bolder;
  letter-spacing:inherit;
  word-spacing: inherit;
  
}

h2{
  font-size: 2em;
  text-align: center;
  transform: skew(18deg,0deg);
  font-style:italic;
}

h3{
  font-size: 1.2em;
  text-align: center;
  
}

h4{
  font-size: 1em;
  text-align: center;
  
}

h5{
  padding-left: 40px;
  font-size: 0.9em;
  text-align: left;
  color:#ED1C24;
  font-weight: bolder;
  margin: auto;
 
  
}
h6 {
  font-size: 0.7em;
 
}

.box {
    display:flex;
    flex-direction:row;
    align-items: baseline;
  }

nav {
  width: 400px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content:space-between;
  align-items: center;

}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 12px;
}

.blackheart {
  display:flex;
  justify-content:flex-start;
  width: 25px;
  height:10px;
  margin-right: 1rem;
}
  
 #search-bar {
  padding: 5px 25px;
  display: flex;
  flex-wrap: nowrap; 
}

  .logo {
    width: 85px;
    margin-right: 15px;
 
  }

.lupa {
    display:flex;
    width: 20px;
    left: 135px;
    padding-top:0px;

}

.form {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 260px;
  margin-right: 20px;
  }
  
.search-button {
  flex-shrink: 0;
  width: 60px;
  height: 30px;
  border: none;
  background-color: #FB3E44;
  color: white;
  padding: 0 px;

}
.search-input {
  height: 20px;
  width: 100%;
  padding: 5px 10px 5px 40px;
  color: rgba(0, 0, 0, 0.05);
  bor #der: 0px;
  background: url(https://i.imgur.com/lrQiTER.png) no-repeat 1%;
  background-size: 20px;
  background-color: rgba(0, 0, 0, 0.05);
 }

.join-btn {  
  border: 1px gray solid;
  padding: 5px 15px 5px 15px;
  color:black;
  text-decoration: none;
  
}
.login-btn{
    padding: 5px 15px 5px 15px;
    white-space: nowrap;
    color: black;
    text-decoration:none;
}

#general-information{
  padding: 5px 15px 5px 15px;
  display:flex;
  justify-content: center;
  align-elements: center;
  height: 600px;
  background-color:rgba(232,217,217,.3);
  text-align: center;
  position: relative;
  
  }

#general-information .article{}

 #general-information.form {
   display:flex;
   justify-content: center;
}

    .see-plans-btn {
      background-color: #FB3B49;
      color: white;
      font-weight: bold;
      font-size: 16px;
      box-shadow: 8px 8px 0 rgba(251,59,73,.2);
      width: 200px;
      height: 40px;
      margin-right: 15px;
      padding: 15px 45px;
      color: white;
      text-align: center;
      text-decoration: none;
  }

.join-for-free-btn {
    background-color: white;
    font-size: 16px;
    text-align: center;
    color: black;
    font-weight: bold;
    width: 200px;
    height: 40px;
    margin-left: 15px;
    padding: 15px 45px;
    white-space: nowrap;
    border:none;
}

#characteristics{
  background-color: rgba (255,204,53,.04);
 
    
}

#characteristics {
  high: 800px;
  display:flex;
  test-aligned: center;
  justify-content: center;
  padding:10px;
  margin-top:10px;
 
}

.texttwo{
  display:flex;
  text-align:center;
  align-itemx:center;
  margin-left:150px;
  margin-right:150px;
}
.polygon {
    
    display: flex;
    position: relative;
    width: 200px;
    high: 200px;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    margin-top: 20px;
    margin-left: 350px;
  
}

#structure {
  display:flex;
  justify-content:space-between;
  align-items: baseline;
  margin-left:20px;
  
  
}

#structure p{
  width: 60%;
  margin-left:40px;
}

.zero{
  
    display: flex;
    position: relative;
    width: 40px;
    high: 40px;
    text-align:center;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    margin-bottom: 20px;
  
}
.team {
   display: flex;
    position: relative;
    width: 40px;
    high: 40px;
    text-align:center;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    margin-bottom: 20px;
}

.familiar {
    display: flex;
    position: relative;
    width: 40px;
    high: 40px;
    text-align:center;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    margin-bottom: 20px;
}
.npm-audit{
    display: flex;
    position: relative;
    width: 40px;
    high: 40px;
    text-align:center;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    margin-bottom: 20px;
}

.footer {
  padding: 40px 100px;
  margin-bottom:25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer >a {
      display: flex;
      background-color: black;
      color: white;
      font-weight: bold;
      font-size: 16px;
      box-shadow: 8px 8px 0 rgba(251,59,73,.2);
      width: 500px;
      height: 50px;
      margin-bottom: 20px;
      margin-left: 250px;
      padding: 15px,45px; 
      text-align: center;
      text-decoration: none;
      align-items:center;
      justify-content: center;
  }

#structure>div{
    display: flex;
    flex-direction: colummn;
    justify-content: space-evenly;
    align-items: space-between;
    height: 500px;
}

  
