@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;600&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 300;
}
h1 {
    font-size: 6em;
    font-weight: 2500;  
}
h2 {
    font-size: 3em;
    font-weight: 600;
}
h3 {
    font-size: 2.2em;
    font-weight: 600;
    line-height: 1.2em;
}
p {
    font-size: 1.6em;
    font-weight: 600;
}
header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
    flex-direction: row;
}
nav {
    width: 600px;    
}
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
     
}
nav a {
    text-decoration: none;
    color: black;
}
.text {
    text-align: center;
    width: 700px;
    font-weight: 400;
}
.blackHeart {
    width: 20px;
    margin: 0 1rem;
}
.npmLogo {
    height: 20px;
    padding: 0 20px 0 10px;
    justify-self: left;
}
#search-window {
    background-image: url(../images/magnifying-glass.png);
    background-position: 2px 4px;
    background-size: 16px;
    background-repeat: no-repeat;
    background-color: rgb(223, 223, 223);
    padding: 4px 12px;
    border: 1px solid rgb(223, 223, 223);
    color: darkgrey;
}
#search-button {
    border: 1px solid #fb3e44;
    padding: 4px 12px;
    font-family: Poppins;
    font-weight: 100;
    font-size: 1em;
}
.search-bar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(223, 223, 223);
    padding: 0;
    text-align: center;
    font-size: 1em;
    margin: 10px;
}
.button {
    align-items: flex-start;
    display: flex;
    justify-content: space-around;
}
.join {
    border: 1px solid black;
    padding: 4px 20px;
    font-weight: 300;
    margin: 0 20px;
}
.login {
    padding: 4px 20px;
    font-weight: 300;
    margin: 0 20px;
}
.button a {
    text-decoration: none;
    color: black;
}
form {
    align-items: center;
    width: 70%;
}
form label {
    color: rgba(0,0,0,.05);
}
form input {
    color: rgba(0,0,0,.05);
}
form button {
    background-color: #fb3e44;
    color: white;
}
#intro {
    height: 600px;
    background-color: rgba(232,217,217,.3);
    margin: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#intro > div {
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#intro > article {
    width: 500px;
    text-align: center;
}
.intro-buttons {
    width: 300px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    height: 70px;
    font-size: 0.6em;
    font-weight: 600;
}

#intro a {
    text-decoration: none;
    color: black;
}
#seeplans {
    background-color: #FB3B49;
    padding: 15px 40px;
    margin: 0 4px;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
}
#seeplans a {
    color: white;
}
#hexagon {
    height: 600px;
    margin: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.heading-yellow {
    background-color: rgba(255,204,53,.4);
    transform: skew(11deg,0deg);
    font-style: oblique;
    padding: 10px 50px 0 50px;
    line-height: 0.9em;
}
.hexagon {
    height: 250px;
    padding: 18px;
}
#benefits h3 {
    color: #ED1C24;
    font-size: 1.6em;
    font-weight: 800;
}
#benefits p {
    font-size: 1.4em;
    font-weight: 300;
}
#benefits img {
    height: 40px;
}
#benefits > div {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
}
.container {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 30px;
}
.org {
    font-size: 1.4em;
    display: flex;
    justify-content: center;
    margin: 40px 0;
    
}
.org a {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 25px 90px;
    box-shadow: 8px 8px 0 rgba(232,217,217,.3);
}
