body {
    display: grid;
    outline: solid 1px red;
    grid-template-columns: repeat(3, 475px [col-start]);
    grid-template-rows: repeat(3, 230px [row-start]);
}
.nav {
    height: 900px;
}
.nav #Home{
    list-style-image:url('house-solid.svg');
}
.nav #Search{
    list-style-image:url('magnifying-glass-solid.svg');
}
.nav #Explore{
    list-style-image:url('compass-regular.svg');
}
.nav #Message{
    list-style-image:url('envelope-regular.svg');
}
.nav #Notifications{
    list-style-image:url('heart-regular.svg');
}
.nav #Create{
    list-style-image:url('square-plus-regular.svg');
}
.nav #Profile{
    list-style-image:url('compass-regular.svg');
}
