@import "colors.css";


.btn {
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: var(--color, var(--white));
}

.btn:hover {
    cursor: pointer;
}

.btn.lead {
    font-size: 1.25rem;
    font-weight: 600;
    min-width: 250px;
    padding: 1.25rem var(--p-x, 1.25rem) 1.25rem var(--p-x, 1.25rem);
    background-color: rgba(var(--bg), 1);
    transition: background-color 200ms;
}

.btn.lead:hover {
    background-color: rgba(var(--shade), 1);
    transition: background-color 200ms;
}

.btn.skew-fill {
    box-shadow: 8px 8px 0 rgba(var(--bg), 0.2);
    transition: box-shadow 250ms ease-in-out;
}

.btn.skew-fill:hover {
    box-shadow: none;
    transition: box-shadow 250ms ease-in-out;
}

.btn.wide {
    --p-x: 10rem;
}

.btn.red { 
    --bg: var(--_red);
    --shade: var(--_red-shade);
}

.btn.black { 
    --bg: var(--_black);
    --shade: var(--_black-shade);
}

.btn.white { 
    --color: var(--black);
    --bg: var(--_white);
    --shade: var(--_white-shade);
}