@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
@import "reset.css";
@import "colors.css";
@import "sizes.css";
@import "buttons.css";

body {
    font-family: "Poppins", sans-serif;
}


header {
    width: 100%;

    font-size: 14px;
}

.header-wraper {
    display: flex;
    justify-content: space-around;
    

    width: 100%;
    border-bottom: solid 1px rgba(var(--_black), 0.1);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 93rem;
}



nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
}

.icon-sm {
    width: 0.8rem;
    height: 0.8rem;
}