@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400,500,700&display=swap');
@import "reset.css";
@import "colors.css";
@import "sizes.css";
@import "components.css";

body {
    font-family: "Poppins", sans-serif;
}


header {
    width: 100%;
    font-size: 14px;
}


.header-wraper {
    display: flex;
    justify-content: space-around;
    width: 100%;
}


.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 93rem;
}

.npm-expansions {
    display: inline-flex;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
}

.brand {
    width: 5rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.call-to-action-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

.orgs-panel-wraper {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 96rem;
    padding-bottom: 20rem;
}

.orgs-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.orgs-panel > div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.post-modern-art {
    width: 256px;
}

.headline-highlight {
    display:inline-block;
    background-color: rgba(255,204,53,.4);
    transform: skew(9deg,0deg);
}

.headline-highlight > h2 {
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 2.5rem;
    transform: skew(-9deg,0deg);
}

.org-features {
    justify-content: space-between;
    padding: 0 7%;
}

.org-features > .feature {
    width: 25%;
}

.feature > h5 {
    font-weight: 600;
    color: var(--light-red);
}