section.body__heroSectionCont {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(232,217,217, 0.3);
}
div.body__heroSectionWrap {
  max-width: 64rem;
  margin: auto;
  padding: 4rem 0.5rem;
}
div.body__heroSection__title {

}
div.body__heroSection__title h2 {
  font-size: 5rem;
  margin: .67em 0;
  font-weight: 700;
  text-align: center;
  color: #000;
  -webkit-font-smoothing: antialiased;
}
div.body__heroSection__subtitle {
  margin: 0 auto;
  max-width: 34rem;
  text-align: center;
}
div.body__heroSection__subtitle span {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5;
}
div.body__heroSection__CTAs {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
  padding: 4rem 2rem;
}
div.body__heroSection__CTAs .body__heroSection__CTA1 a,
div.body__heroSection__CTAs .body__heroSection__CTA2 a {
  display: inline-block;
  min-width: 250px;
  padding: 20px;
  text-align: center;
  font-weight: 700;
  font-size: 1.25rem;
  transition: .25s;
  cursor: pointer;

}
div.body__heroSection__CTAs .body__heroSection__CTA1 a {
  background-color: #FB3B49;
  box-shadow: 8px 8px 0 rgba(251,59,73,.2);
  color: #fff;
}
div.body__heroSection__CTAs .body__heroSection__CTA1 a:hover {
  box-shadow: none;
  background-color: #cc0413;
  box-shadow: 0px 0px 0 rgba(251,59,73,.2);
  transition: all .4s ease-in-out;
}
div.body__heroSection__CTAs .body__heroSection__CTA2 a {
  background-color: #fff;
  color: #000;
  border: 1px solid rgba(138,138,138,.06);
}
div.body__heroSection__CTAs .body__heroSection__CTA2 a:hover {
  background-color: #f7f7f7;
  transition: all .4s ease-in-out;
}