:root {
    --_0: 0;
    --_1: 0.2rem;
    --_2: 0.4rem;
    --_3: 0.6rem;
    --_4: 0.8rem;
    --_5: 1rem;
    --_6: 1.2rem;
    --_7: 2rem;
    --_8: 2.8rem;
    --_9: 4rem;
    --_10: 5rem;

}

/**! Margins */

    .mr-0 {
        margin-right: var(--_0);
    }
    .mr-1 {
        margin-right: var(--_1);
    }
    .mr-2 {
        margin-right: var(--_2);
    }
    .mr-3 {
        margin-right: var(--_3);
    }
    .mr-4 {
        margin-right: var(--_4);
    }
    .mr-5 {
        margin-right: var(--_5);
    }
    .mr-6 {
        margin-right: var(--_6);
    }
    .mr-7 {
        margin-right: var(--_7);
    }
    .mr-8 {
        margin-right: var(--_8);
    }
    .mr-9 {
        margin-right: var(--_9);
    }
    .mr-10 {
        margin-right: var(--_10);
    }


    /** Margins Y */


    .my-0 {
        margin-top: var(--_0);
        margin-bottom: var(--_0);
    }
    .my-1 {
        margin-top: var(--_1);
        margin-bottom: var(--_1);
    }
    .my-2 {
        margin-top: var(--_2);
        margin-bottom: var(--_2);
    }
    .my-3 {
        margin-top: var(--_3);
        margin-bottom: var(--_3);
    }
    .my-4 {
        margin-top: var(--_4);
        margin-bottom: var(--_4);
    }
    .my-5 {
        margin-top: var(--_5);
        margin-bottom: var(--_5);
    }
    .my-6 {
        margin-top: var(--_6);
        margin-bottom: var(--_6);
    }
    .my-7 {
        margin-top: var(--_7);
        margin-bottom: var(--_7);
    }
    .my-8 {
        margin-top: var(--_8);
        margin-bottom: var(--_8);
    }
    .my-9 {
        margin-top: var(--_9);
        margin-bottom: var(--_9);
    }
    .my-10 {
        margin-top: var(--_10);
        margin-bottom: var(--_10);
    }

/**! Paddings */

    .pr-0 {
        padding-right: var(--_0);
    }
    .pr-1 {
        padding-right: var(--_1);
    }
    .pr-2 {
        padding-right: var(--_2);
    }
    .pr-3 {
        padding-right: var(--_3);
    }
    .pr-4 {
        padding-right: var(--_4);
    }
    .pr-5 {
        padding-right: var(--_5);
    }
    .pr-6 {
        padding-right: var(--_6);
    }
    .pr-7 {
        padding-right: var(--_7);
    }
    .pr-8 {
        padding-right: var(--_8);
    }
    .pr-9 {
        padding-right: var(--_9);
    }
    .pr-10 {
        padding-right: var(--_10);
    }