/* FONTS */

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700');

/* GENERAL */

body {
    font-family: 'Poppins';
    margin: 0;
    -webkit-font-smoothing: antialiased;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

a,
button {
    text-decoration: none;
}

a {
    color: #000;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.btn {
    letter-spacing: 0.3px;
    font-size: .875rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border: 0 none transparent;
    color: rgba(0, 0, 0, .7);
}

.btn:hover {
    cursor: pointer;
}

.btn.red {
    border-color: #fb3e44;
    background-color: #fb3e44;
    color: #FFF;
}

.btn.bordered {
    border: 1px solid;
}


/* HEADER */

header {
    position: relative;
    box-shadow: 0 4px 13px -3px rgba(0, 0, 0, 0.1);
}

header:before {
    display: block;
    position: absolute;
    top: 0;
    height: 3px;
    width: 100%;
    background: rgb(251, 136, 23);
    background: linear-gradient(90deg, rgba(251, 136, 23, 1) 0%, rgba(255, 75, 1, 1) 33%, rgba(193, 33, 39, 1) 66%, rgba(224, 42, 255, 1) 100%);
    content: "";
}

header>div {
    padding: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

header>div>div>a {
    font-size: 0.85rem;
}

header>div>div>a:hover {
    opacity: .5;
}

header>div:first-child {
    padding-left: 2rem;
    padding-right: 2rem;
}

header>div>div {
    flex: 1 1 auto;
}

nav {
    flex-grow: 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 1rem;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    letter-spacing: .015625em;
    font-size: .875rem;
}

nav a {
    text-decoration: none;
    color: black;
}


/* header nav top */

.blackHeart {
    width: 20px;
    margin-left: 0;
    margin-right: 1rem;
}


/* header > navBar */

.search-navbar {
    padding: .4rem 2rem;
}

.search-navbar .npm-logo {
    margin-right: 1rem;
    margin-top: .8rem;
    flex-grow: 0;
}

.search-navbar .npm-logo img {
    padding-top: 0px;
    width: 70px;
}

.search-navbar .search-form {
    width: 50%;
    background-color: rgba(0, 0, 0, .05);
}

.search-navbar .search-form form,
.search-navbar .search-form form>div {
    display: flex;
}

.search-navbar .search-form form>div {
    flex-grow: 1;
}

.search-navbar .search-form form>div>input {
    font-size: 14px;
    letter-spacing: 0px;
    border: none;
    height: 40px;
    padding-left: 10px;
    border-radius: 0;
    width: calc(100% - 10px);
    -webkit-appearance: none;
    background-color: transparent;
}

.search-navbar .search-form form>div>img {
    width: 15px;
    padding-top: 6px;
    padding-right: 0.55rem;
    padding-left: 1rem;
}

.search-navbar .btn-users-actions {
    flex-grow: 0;
    margin-left: 1.2rem;
}


/* MAIN  */


/* HERO SECTION */

.hero-section {
    background-color: rgba(232, 217, 217, .3);
    display: table;
    padding: 4rem 2rem;
}

.hero-section>article {
    text-align: center;
    vertical-align: middle;
}

.hero-section h1 {
    font-size: 5rem;
    margin: .67em auto;
    font-weight: bold;
    width: 100%;
    max-width: 90%;
}

.hero-section p {
    max-width: 50%;
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin: 2rem auto 0;
    font-weight: 400;
}

.hero-section .buttons {
    padding: 4rem 2rem;
    margin: 0 auto;
    width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.hero-section .buttons .btn {
    transition: .25s;
    display: block;
    min-width: 200px;
    padding: 1.15rem;
    font-weight: 700;
    font-size: 1.25rem;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}

.hero-section .buttons .btn.red {
    background-color: #fb3e44;
    border-color: #fb3e44;
    box-shadow: 8px 8px 0 rgba(251, 59, 73, .2);
    border: 1px solid rgba(138, 138, 138, .06)
}

.hero-section .buttons .btn:hover {
    box-shadow: none;
    background-color: #f7f7f7;
}

.hero-section .buttons .btn.red:hover {
    background-color: #cc0413;
}


/* ORG SECTION */

.org-section {
    background-color: #FFF;
    display: table;
    padding: 2rem 2rem 4rem;
}

.org-section>article {
    text-align: center;
    vertical-align: middle;
}

.org-section img {
    max-width: 250px;
    margin: 2rem auto;
}

.org-section div {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    max-width: 90%;
}

.org-section div h2 {
    font-size: 2.25rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.org-section div:before {
    position: absolute;
    content: "";
    width: 108%;
    height: 100%;
    background-color: rgba(255, 204, 53, .4);
    top: -6%;
    left: -4%;
    z-index: -1;
    transform: skew(9deg, 0deg);
}

.org-section p {
    max-width: 65%;
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 2rem auto 0;
    font-weight: 400;
}


/* TIPS SECTION */


/* TODO: Make this class on reusable mixin .tips-section and .org-section  */

.tips-section {
    background-color: #FFF;
    display: table;
    padding: 2rem 2rem 4rem;
}

.tips-section>div {
    text-align: left;
    max-width: 90%;
    display: flex;
    margin: 0 auto;
    vertical-align: middle;
    justify-content: space-between;
}

.tips-section>div img {
    max-width: 32px;
    margin: 0 auto 0 0;
}

.tips-section>div h5 {
    font-size: 1.25rem;
    color: #ED1C24;
    font-weight: 600;
}

.tips-section>div p {
    max-width: 60%;
}