@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}
.buttons a {
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 15px 20px;
}
header {
  height: 157px;
}
    .top_header {
        height: 42px;
        display: flex;
        padding: 0px 200px;
    }
        .top_header .short_sentence {
            width: 25%;
        }
        .top_header .short_sentence img {
            height: 15px;
            float: left;
            margin: 13px 0px;
        }
        .top_header .short_sentence p {
            float: left;
            display: inline;
            margin: 8px 0px;
        }
        .top_header nav {
            width: 75%;
            display: flex;
            justify-content: right;
        }
            .top_header nav ul {
                list-style-type: none;
                display: flex;
                align-items: center;
            }
                .top_header nav ul li {
                    margin: 0px 20px;
                }
                    .top_header nav ul li a {
                        text-decoration: none;
                        color: black;
                    }

    .bottom_header {
        height: 68px;
        display: flex;
        border-top-style: solid;
        border-top-width: 1px;
        padding: 0px 200px;
    }
        .bottom_header a.logo {
            display: flex;
            width: 5%;
        }
            .bottom_header .logo img { 
                height: 20px;
                margin: 24px 0px;
            }
        .bottom_header form {
            display: flex;
            width: 75%;
            margin: 10px 0px;
        }
            .bottom_header form .search_bar {
                display: block;
                width: 100%;
            }
            .bottom_header form .search_button {
                padding: 0px 20px;
                background-color: red;
                color: white;
                border: none;
            }
        .bottom_header .buttons {
            display: flex;
            justify-content: right;
            width: 20%;
        }
            .bottom_header .buttons a {
                display: flex;
                align-items: center;
                margin: 10px 20px;
            }.bottom_header .buttons :first-child {
                border:solid;
                border-width: 1px;
            }
section{
    padding: 40px 15%;
    text-align: center;
}
    .page_header{
    background-image: linear-gradient(
        270deg, rgba(176, 42, 42, .16) 0%,
        rgba(176, 42, 42, .56) 18.45%,
        rgba(176, 42, 42, .8) 49.67%,
        rgba(176, 42, 42, .56) 82.52%,
        rgba(176, 42, 42, .196364) 99.7%,
        rgba(189, 40, 40, 0) 99.71%,
        rgba(203, 56, 55, 0) 99.72%,
        rgba(203, 56, 55, .16) 99.73%),
        url(https://static.npmjs.com/abf53a31b2da4657a1a004ee9358551c.png);
    background-repeat: no-repeat;
    background-size: cover;
    }
    .page_header h1{
        font-size: 6rem;
        font-weight: 600;
        margin: 15px 0px;
    }
    .page_header p{
        margin: 30px 347px;
    }
    .page_header .buttons{
        margin: 50px 0px;
    }
    .page_header .buttons a{
        background-color: red;
        color: white;
        margin: 0px 30px;
        padding: 15px 50px;
    }
    .page_header .buttons :nth-child(2){
        background-color: white;
        color: black;
        margin: 0px 30px;
        padding: 15px 50px;
    }
    .main img{
        width: 20%;
    }
    .main h2{
        font-size: 2rem;
    }
    .main p{
        margin: 10px 300px;
    }

    .more div{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }
        .more div article{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: baseline;
            width: 20%;
        }
        .more div article img {
            width: 15%;
        }
        .more div article h3 {
            margin: 5px 0px;
            color: red;
        }
        .more div article p {
            text-align: left;
            margin: 5px 0px;
        }
    .more .buttons a {
        background-color: black;
        color: white;
        padding: 15px 200px;
        margin: 30px 0px;
    }