

/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}
/* FONTS */

/* HEADER 1 */
header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}
  
nav {
    width: 600px;
}
  
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
nav a {
    text-decoration: none;
    color: black;
}
  
.blackHeart {
    width: 20px;
    margin-right: 1rem;
  }

/* HEADER 1 */

/* HEADER 2 */

.NPMlogo{
    width: 60px;
    margin-right: 1rem;
    position: relative;
    top: 5px;
}


.magnifying-glass {
    width: 20px;
    margin-right: 0rem;
    position: relative;
    left: 150%;
    top: 5px;
   
}


.formlabel {
  color: rgba(0,0,0,.05);
}

.forminput {
  background-color: rgba(0,0,0,.05);
  color: gray;
  border: 1px solid transparent;
  width:850px;
  padding: 10px 40px;
  margin: 8px 0;
  box-sizing: border-box;
    
}

input {
    width: 100%;
}


.search-button {
    background-color: #fb3e44;
    color: white;
    border: none;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px 0 0 0rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.searchbarpositining {
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: baseline;
}

/* HEADER 2 */

/* JOIN & LOGIN BUTTON */

.join {
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px 0 10px 0rem;
}

.login {
    background-color: white;
    color: black;
    border: 0px solid transparent;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px 0 0 0rem;
}

/* JOIN & LOGIN BUTTON */

/* SECTION 1 */

#section1 {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 600px;
background-color: rgba(232,217,217,.3);
}

h1 {
font-weight: bolder;
font-size:  80px;
margin-bottom: 0px;
margin-top: 0px;
}

.section1p {
    width: 400px;
    text-align: center;
    margin-bottom: 0px;
    font-size: 20px;
}

.seeplansbutton {
    background-color: #FB3B49;
    color: white;
    border: none;
    padding: 10px 48px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px 0 0 2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
}

.joinforfree {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 48px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px 0 0 2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

.buttonsalign {
    display: flex;
    align-items: baseline;
}
/* SECTION 1 */


/* SECTION 2 */
#section2 {
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hexagon {
    width: 220px;
    margin: 80px  20px 25px 20px;
}

h3 {
    font-size: 35px;
    background-color: rgba(255,204,53,.4);
    transform: skew(9deg,0deg);
    font-style: italic;
}

.section2p {
text-align: center;
width: 775px;
}
/* SECTION 2 */



/* SECTION 3 */

#section3 > div > img {
    width: 40px;
    
}

#section3 > div > p {
    
    text-align: justify;
    width: 180px;
}

#section3 {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 80px 0px 30px 0px;
    
}


h4 {
    color:#ED1C24;
    font-weight: bold;
}
/* SECTION 3 */

.create-an-org{
    background-color:  black;
    color: white;
    border: none;
    padding: 15px 120px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px 0 0 0rem;
    position: relative;
   left: 475px;
   box-shadow: 8px 8px 0 rgba(128,83,35,.2)
}
