@import url('https://fonts.googleapis.com/css?family=Poppins');

:root {
    --backsec2: #faf3f3;
    --redletra: #fb3e44;
    --backbring: #ffebb7;
    --backheader: lightgray;
    --black: black;
    --white: white;
    --font: 'Poppins';
}

body {
    font-family: var(--font);
}

/***************************** Header ***************************/
.header > div {
    padding: 0.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--backheader);
}

.nav-bar {
    width: 600px;
}

.nav-bar ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar a {
    text-decoration: none;
    color: var(--black);
}

#black-heart {
    width: 20px;
    margin-right: 1rem;
}

.second-bar {

}

#npm-logo {
    width: 80px;
    margin: 18px 0;
}

#glass {
    width: 20px;
    position: absolute;
    left: 8px;
}

.form {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    align-items: center;
    position: relative;
}

.form input {
    width: 100%;
    height: 30px;
    color: rgba(0,0,0,.05);
    margin: 0 20px 0 0;
    background-color: rgba(122, 122, 122, 0.05);
    border: none;

}

.search {
    padding: 8.5px;
    background-color: var(--redletra);
    color: var(--white);
    border: none;
    position: absolute;
    right: 0;
}

#search::placeholder {
    position: relative;
    left: 30px;
}

.log-in {
    
}

.log-in a {
    text-decoration: none;
    border: 0.2px solid black;
    background-color: white;
    padding: 5px;
    margin-right: 5px;    
}
/***************************** Header ***************************/
