@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }

.main {
margin-bottom: 150px;

}
.main h1 {
    display: flex;
    justify-content: center;  
    font-size: 70px;  

}

.main p {
    display: flex;
    justify-content: center;  
    font-size: 1.2em; 
    margin-bottom: 50px;

}

.plans {

    display: flex;
    justify-content: center;
    
}

a {
    text-decoration: none;
}


.content img {
    height:  200px;
    justify-content: center;
    margin-left: 500px;
    margin-bottom: 50px;
    

}

h2 {
    display: flex;
    justify-content: center;
    
}

.content p{
    display: flex;
    justify-content: center;

}

.content {
    margin-bottom: 100px;
}

.features {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 300px;

}

.features img {
    width: 30px;
    padding-left: 10px;
    
}


.features p {
    font-size: 0.8em;
    padding-left: 10px;
    
}

footer{
    display: flex;
    justify-content: center;
}
