@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
    margin: 0;
    padding: 0;
}

* {
  font-family: 'Poppins';
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-auto {
    flex: 1 1 auto;
    min-width: 0;
    min-height: 0;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.dim:focus, .dim:hover {
    opacity: .5;
}

.dim, .dim:focus, .dim:hover {
    transition: opacity .15s ease-in;
}

.black {
    color: #000;
}

.button {
    border: 0;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
}

.red-button {
    background: #FB3B49;
    color: #fff;
}

.white-button {
    background: #fff;;
    color: #000;
}

.black-button {
    background: #000;;
    color: #fff;
}

.red-shadow {
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
}

.black-shadow {
    box-shadow: 8px 8px 0 rgba(128,83,35,.2);
}

header {
    box-shadow: 0 4px 13px -3px rgb(0 0 0 / 10%);
}

header > div {
    padding: 16px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

header img {
    user-select: none;
}

nav {
    width: 600px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: black;
}

.blackHeart {
    width: 20px;
    margin-right: 1rem;
}

.logo {
    flex-grow: 0;
    padding: 8px 0 0;
    margin: 0 2rem 0 0;
}

.logo img {
    width: 70px;
}

.links {
    flex-grow: 0;
    margin: 0 0 0 2rem;
}

.links a {
    text-decoration: none;
}

.links .button {
    border: 1px solid #ccc;
    margin: 0 15px 0 0;
}

#search {
    margin: 0;
    padding: 0;
}

#search img {
    width: 18px;
    position: absolute;
    top: 18px;
    left: 18px;
}

#search div {
    flex-grow: 1;
    background: rgba(0,0,0,.05);
    position: relative;
    border: 1px solid #f2f2f2;
}

#search div:focus-within {
    border: 1px solid #000;
}

#search input {
    background: none;
    font-size: 16px;
    letter-spacing: 0px;
    border: none;
    outline: unset;
    height: 55px;
    padding-left: 54px;
    border-radius: 0;
    width: 100%;
}

#search button {
    border: 0;
    padding: 10px 15px;
    font-size: 16px;
}

.headline {
    height: 600px;
    background-color: rgba(232,217,217,.3);
}

section .title {
    font-size: 96px;
    text-align: center;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

section .copy {
    margin: 60px 0;
    font-size: 28px;
}

section .content {
    max-width: 800px;
    margin: 0 auto;
}

.headline .buttons {
    gap: 40px;
    font-size: 18px;
}

.presentation {
    height: 900px;
    background-color: #fff;
    text-align: center;
}

.presentation img {
    width: 300px;
}

.presentation .title {
    font-size: 48px;
    text-align: center;
    font-weight: 600;
    margin: 60px 0 0;
    padding: 0 40px;
    transform: skew(9deg,0deg);
    font-style: italic;
    background: rgba(255,204,53,.4);
}

.features {
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 60px 400px;
}

.features .flex {
    gap: 60px;
}

.feature {
    text-align: left;
    flex: 1 1 0;
}

.feature .feature-icon img {
    width: 48px;
}

.feature .feature-name {
    color: #ED1C24;
    font-weight: 700;
    margin: 15px 0 25px;
}

.feature .feature-description {
    text-align: justify;
}

.features .buttons {
    margin: 150px 0 0;
    text-align: center;
}

.features .button {
    padding: 30px 200px;
    font-weight: 600;
    font-size: 20px;
    display: inline-block;
}
