@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  font-family: 'Poppins';
}
header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
}
nav {
    width: 600px;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a {
    color: black;
    text-decoration: none;
}
.search-bar {
    width: 80%;
    height: 45px;
    background-color: rgba(0,0,0,.05);
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.search-bar input {
    border: none;
    background-color: rgba(0,0,0,.0025);
    width: 95%;
    font-family: Poppins;
    height: 40px;
    padding: 0 0 0 10px;
}
.search-bar > button {
    height: 100%;
    font-family: Poppins;
    color: white;
    background-color:#fb3e44;
    border: none;
    width: 8%
}
.login-container {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-container a {
    padding: 5px 20px;
    margin: 3px;
    text-decoration: none;
    color: black;
}
#loginbutton {
    border: none;
}
#registerbutton {
    border: 1px solid black;
}
#blackHeart {
    width: 20px;
    margin-right: 1rem;
}
#npmLogo {
    width: 80px;
    padding: 20px;
}
#magnifyingGlass {
    width: 20px;
    padding: 0 10px;
}

/* Primera seccion */
#first-container {
    display: flex;
    height: 600px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(232,217,217,.3);
}
#first-container h1 {
    font-size: 80px;
    font-weight: bold;
    margin: 10px;
}
#first-container > div {
    width: 40%;
    display: flex;
    justify-content: space-around;
    text-align: center;
}
#first-container p {
    font-size: 20px;
    margin: 30px 20px;
}
#first-container a {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    padding: 20px 70px;
    margin: 20px 0 0 0;
}
#see-plans-button {
    background-color: #FB3B49;
    color: white;
    box-shadow: 8px 8px 0 rgba(251,59,73,.2);
}
#join-for-free-button {
    background-color: white;
    color: black;
}
/*Fin primera seccion*/

/* Segunda seccion */

#second-container {
    display: flex;
    height: 600px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#triangle {
    height: 230px;
    margin: 0 0 40px 0;
}
#second-container > h2 {
    height: 35px;
    line-height: 35px;
    font-size: 35px;
    font-weight: 550;
    background-color: rgba(255,204,53,.4);
    transform: skew(9deg,0deg);
    font-style: italic;
    padding: 0px 35px;
}
#second-container > p {
    width: 55%;
    text-align: center;
}