@mixin hover-button {
    background: linear-gradient(139deg, #fb8817 0%, rgba(255, 75, 1, 1) 32%, #c12127 66%, #e02aff 100%);
    color: white;
}

@mixin hover-search-button {
    background: #fb8817;
    color: black;
}