@mixin hover-button {
    background: linear-gradient(139deg, #fb8817 0%, rgba(255, 75, 1, 1) 32%, rgba(193, 33, 39, 1) 66%, rgba(224, 42, 255, 1) 100%);
    color: white;
}

@mixin hover-search-button {
    background: #fb8817;
    color: black;
}