@import 
url('https://fonts.googleapis.com/css?family=Poppins');

body {

font-family:
'Poppins';

}

header > 
div {

padding:
0 
25px;

display:
flex;

justify-content:
space-between;

align-items:
center;

border-bottom:
1px 
solid lightgray;

}







section1 {display:
flex; 
justify-content:
center;

align-items:
center;

background-color:
rgba(232,217,217,.3);

height:
600px;

}





section1 heading {

font-weight:
bold;

font-size:
60px;

display:
flex;

justify-content:
center;

align-items:
center;

}



section1 article{padding-top:
20px;

margin:
auto;

width:
38%;

display:
flex;

justify-content:
center;

align-items:
center;

}



div_buttons {

padding-top:
20px;

margin:
auto;

width:
38%;

display:
flex;

justify-content:
center;

align-items:
center;

}



.see_plans {border:
none;

color:
white;

padding:
15px 
32px;

text-align:
center;

text-decoration:
none;

display:
inline-block;

font-size:
16px;

margin:
4px 
2px;

cursor:
pointer;

margin-right:
10px;

background-color:
#fb3b49;

box-shadow:
8px 
8px 0
rgba(251,59,73,.2);}



.join_for_free {border:
none;

color:
rgb(0,
0, 
0);

padding:
15px 
32px;

text-align:
center;

text-decoration:
none;

display:
inline-block;

font-size:
16px;

margin:
4px 
2px;

cursor:
pointer;

margin-left:
10px;

background-color:
rgb(255,
255, 
255);}











section2 {display:
flex; 

padding-top:
40px;

justify-content:
center;

align-items:
center;

transform:
skew(9deg,0deg);

font-style:
italic;

}



.tr-hexagon {

align-items:
center;

margin-left:
auto;

margin-right:
auto;

display:
block;

width:
30%;

padding-bottom:
20px;

}



section2 heading {

width:
60%;

font-weight:
bold;

font-size:
30px;

margin:
auto;

display:
flex;

justify-content:
center;

align-items:
center;

background-color:
rgba(255,204,53,.4);

}



section2 article {

padding-top:
20px;

margin:
auto;

width:
40%;

display:
flex;

justify-content:
center;

align-items:
center;

}





section3 {display:
flex; 

padding-top:
40px;

justify-content:
center;

align-items:
center;

}



section3 * {

box-sizing:
border-box;

}


section3 .column {

float:
left;

width:
25%;

padding:
10px;

height:
300px; 

}


section3 .row:after {

content:
"";

display:
table;

clear:
both; 

}



section3 img{

align-items:
center;

width: 
15px;

margin-left:
0px;

display: 
block;

margin-right:
auto;

width: 
25%;


}



section3 heading{

font-size:
larger;

color:
#ED1C24;

}



footer{

display:
flex; 
justify-content:
center;

align-items:
center;

}



.create_org {

border:
none;

color:
white;

background-color:
black;

padding:
15px 
32px;

text-align:
center;

box-shadow:
8px 
8px 0
rgba(128,
83, 
35, .2);

text-decoration:
none;

font-size:
16px;

margin:
4px 
2px;

cursor:
pointer;

}



nav {

width:
600px;

}

nav 
ul {

list-style:
none;

display:
flex;

justify-content:
space-between;

align-items:
left;

}



nav 
a {

text-decoration:
none;

color:
black;

}



.blackHeart {

width:
20px;

margin-right:
1rem;

}

.logo{

align-item: rigth;

width:
40px;

}





.search.bar {

color:
white;

background-color:
#fb3e44;

}

.search {

width:
20px;

align-item: center;

}

.tfheader {

align-item : center;

}





header {

align-items:
center;

}

section {

align-items:
center;

}

nav{

align-items:
center;

display:
flex;

justify-content:
center;

}

ul {

align-items:
center;

}

li{

margin-right:
10px;

margin-left:
10px;


}

div {

align-items:
center;

}

article {

align-items:justified;

text-align:
center;

text-indent:
10px;

}

.log.in {

align-items:justified;

text-align:
center;

}

.see{

align-items:justified;

text-align:
center;

}

.zero{

font-weight:bold;

}

.team{

font-weight:bold;

}

.familiar{

font-weight:bold;

}

.npm2{

font-weight:bold;

}