@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

button {
    font-family: 'Poppins';
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
    font-weight: 500;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }

  .searchsection {
     padding: 10px 0; 
     padding-left: 2rem;
    padding-right: 2rem;
  }
  
  .logo {
    width: 70px;
    padding: ;
  }

  .form {
      color: rgba(0, 0, 0, .05);
  }

  .join {
      background-color: white;
      padding: 13px 28px;
    border: 1px solid #cccccc;
    border-radius: 0;
  }

  div a {
      text-decoration: none;
  color: black;
  padding: 10px;
}

.plans {
background-color: #FB3B49;
color: white;
box-shadow:8px 8px 0 rgba(251,59,73,.1);
letter-spacing: 0.3px;
font-weight: bold;
font-size: .875rem;
padding-left: 3rem;
padding-right: 3rem;
padding-top: 0.5rem;
padding-bottom: 0.5rem;
border: none;
margin-right: 20px;
}

.joinfree {
    background-color: white;
    color: black;
letter-spacing: 0.3px;
font-weight: bold;
font-size: .875rem;
padding-left: 2rem;
padding-right: 2rem;
padding-top: 0.5rem;
padding-bottom: 0.5rem;
border: none;
margin-left: 20px;
}
    }

.search {
    background-color: red;
    border-color: none;
}

.magnifying {
    height: 18px;
    width: 18px;
}

.firstsection{
    height: 600px;
    background-color:rgba(232,217,217,.3);
}

.secondsection {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.bring {
    background-color:rgba(255,204,53,.4) ;
    transform: skew(9deg,0deg);
    font-style: italic;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    margin-left: auto;
    margin-right: auto;
    

}

.options {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        align-content: stretch;
}

.title {
    color: #ED1C24;
}

.org {
box-shadow: 8px 8px 0 rgba(128,83,35,.1);
color: white;
background-color:black;
letter-spacing: 0.3px;
font-weight: bold;
font-size: .875rem;
padding-left: 5rem;
padding-right: 5rem;
padding-top: 0.5rem;
padding-bottom: 0.5rem;
display: flex;
justify-content: center;
align-items: center;
align-content: center;
margin-right: auto;
margin-left: auto;
margin-top: 50px;
border: none;
}

.triangle {
    height: 120px;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 20px;

}

   

.build {
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.25;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}

.essential {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
    text-align: center;
}

.buttons {
margin-top: 4rem;
    display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: stretch;
}

.npm {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    text-align: center;
}

.icon {
    height: 30px;
}