@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }

  header .search-bar .input {
      width:950px;
      padding: 15px 70px;
      border: none;
      background-color: rgb(211, 211, 211);
    
    }
    
    header .search-bar .logo {
        width: 50px
    }
    
    
    header .search-bar .glass {
        width: 30px;
        position: relative;
        left: 80px;
        bottom: 10px
    }

    header .search-bar button{
        background-color: #fb3e44;
        height: 44px;
        width: 88px;
        color:white;
        box-shadow: 8px 8px 0 rgba(128,83,35,.2);
        }
    
    header .search-bar .join {
        border: solid #17212e;
        border-width: 1px 1px 1px 1px;
        padding: 5px;
        width:75px;
    }

    .rose-background {
     background-color: rgba(232,217,217,.3);
     height: 600px;
      }

      #second-sec {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display:flex;
      }

    .rose-background h1 {
        font-size:65px;
        font-weight: bolder;
    }
    
    
    
    
    
    
    .rose-background .button {
        background-color: #fb3e44;
        height: 70px;
        width: 180px;
        padding:15px;
        color:white;
        box shadow: 8px 8px 0 rgba(251,59,73,.2)
        
    }
    
    
      .hexagon{
        width: 320px;
      }

        .hexagon-sec {
            display:flex;
            justify-content: center;
            align-items:center;
            flex-direction: column;
            text-align: center;


        }

        h2 {
            background-color: rgba(255,204,53,.4);
            padding-left: 15px;
            padding-right: 15px;

        }

        .last-section img{
            width:20px;
            
        }

        .last-section{
            display:flex;
            justify-content: space-around;
            align-items:center;
            flex-direction: row;
            text-align: center;
            

        }
       .last-section h3 {
           color: #ED1C24;
        }
       .dark-button {
        position:relative;
        background-color: black;
        width: 240px;
        height:45px;
         box-shadow: 8px 8px 0 rgba(128,83,35,.2);
        left:45%

       }
       .dark-button a {
        padding-left: 60px; 
        padding-right: 30px;  
        color:white;
       
    }
       
    
  