@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
  padding: 0;
  margin: 0;
  width: 100%;
}
/* header */
header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
  padding: 15px 0;
  margin: 0;
  font-size: 0.9em;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

.blackHeart {
  width: 20px;
  margin-right: 1rem;
}

/*form input color: rgba(0,0,0,.05) - MISSING*/

.npm {
    width: 7%;
    height: auto;
    margin:10px 30px 10px 10px; 
  }

.magnifying {
  height: 20px;
  margin: 10px;
 }
  
.col-75 {
  width: 10%;
  display: inline-block;
  vertical-align: top;
  }

.input1 {
  font-family: "Fira Mono", "Andale Mono", "Consolas", monospace;
  font-size: 16px;
  background-color: transparent;
  border: none;
  height: 40px;
  padding-left: 10px;
  width: 100%;
  }

 .elementform {
  width: 100%;
  margin-right: 40px;
  display: flex;
 }

 .button-holder {
  background-color:rgba(0,0,0,.05);
  display: flex;
  white-space: nowrap;
  width: 100%;
 }

 /*.elementspan {
  padding-top: 10px;
  padding-right: .25rem;
  padding-left: 1rem;
  }*/
  
  .search {
  background-color: #fb3e44;
  color: white;
  border: none;
  font-size: 15px;
  height: 40px;
  width: 80px;
  }

  .stylelinks {
    padding-top: .5rem;
    padding-bottom: .5rem;
    position: relative;
    display: flex;
    align-items: center;
    }
    
    .firstLink {
    text-decoration: none;
    font-size: .875rem;
    margin-right: 1rem;
    padding: 5px 20px;
    border: 1px solid #cccccc;
    border-radius: 0;
    color: black;
    }
    
    .secondLink {
    text-decoration: none;
    font-size: .875rem;
    /*padding: .25rem;*/
    color: black;
    width: 41px;
    }

/* section 1:*/
#section-one {
  background-color: rgba(232,217,217,.3);
  display: flex;
  justify-content: center;
  align-items: center;
  }

#section-one h1 {
  font-size: 5em;
  font-weight: 1000;
  }

#section-one p {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  height: 100px;
  width: 490px;
  margin: 20px 200px;
  }

  .section-one {
  display: flex;
	flex-direction: row;
  height: 100px;
  width: 430px;
  margin: 30px 220px;
  margin-bottom: 10%;
	}

.see-plans {
  background-color: #FB3B49;
  box-shadow: 8px 8px 0 rgba(251,59,73,.2);
  border: none;
  color: white;
  padding: 17px 50px;
  font-size: 1em;
  font-weight: bold;
  width: 230px;
  margin: auto;
  margin-right: 2em;
  }
  
.join-for-free {
  background-color: white;
  border: none;
  padding: 17px 20px;
  font-size: 1em;
  font-weight: bold;
  width: 230px;
  margin: auto;
  }

  /* section 2 */
#section-two {
  display: flex;
  margin: 70px 100px;
  flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
  }

  #section-two div {
    text-align: center;
    margin-bottom: 6%;
  }
  
.triangle {
  width: 25%;
  height: auto;
  }

#section-two h2 {
  background-color: rgba(255,204,53,.4);
  transform: skew(9deg,0deg);
  font-style: italic;
  justify-content: center;
  align-items: baseline;
  flex-direction: row;
  font-size: 2em;
  text-align: center;
  }

#section-two p {
  font-size: 1em;
  text-align: center;
  width: 790px;
  margin-bottom: 10px;
  height: 100px;
  
}

/* section 3 */
#section-three {
  display: flex;
  flex-wrap: nowrap;
  height: 300px;
  justify-content: center;
	align-items: center;
  align-content: center;
  width: 100%;
  }

#section-three div {
  margin: 0px 20px;
  max-width: 250px;
}

#section-three h3 {
  color: #ed1c24;
  font-size: 17px;
  font-weight: 900;
}

#section-three p {
  font-size: 16px;
  }

#section-three img {
  display: flex;
  width: 50px;
}

.org {
  font-size: 20px;
  font-weight: bold;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
  box-shadow: 8px 8px 0 rgba(128,83,35,.2);
  width: 350px;
  padding: 15px;
  display: flex;
	justify-content: center;
	}

  .lastbutton {
    display: flex;
    justify-content: center;
    margin: 50px 0px 50px 0px;
    }  
  